<!-- Modal: Full Image -->
<div class="cursor_pointer opac-zero" id="full-screen-image" on-image-load="onFullScreenImageLoad();"
     image-loader="{{photoUrl}}" is-image-full-screen="true"  data-ng-click="cancel();">
</div>
<div ng-if="(msg.message.content | hasPreview) && isIE9" class="ie9-image-rotator cursor_pointer"
     ng-click="onImageRotatorClick($event);">
  <i id="fromModal" class="fa fa-rotate-right"></i>
</div>

<div class="loading_container" data-ng-if="!hasImageLoaded">
  <div class="loading_bar">
    <span class="three-quarters-loader jnd-three-quarters-loader"></span>
  </div>
</div>