<!doctype html>
<!--[if lt IE 7]>      <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title data-ng-bind="'Welcome to JANDI'"></title>
  <link type="image/icon" rel="shortcut icon">

  <meta name="description" content="JANDI Web application">
  <meta name="keywords" content="JANDI, 잔디">
  <meta name="author" content="TossLab">
  <meta name="viewport" content="width=device-width">

  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="app/app.css">
  <!-- injector:css -->
  <link rel="stylesheet" href="app/app.css">
  <link rel="stylesheet" href="app/background/background.css">
  <link rel="stylesheet" href="app/banner/desktop.notification.banner.css">
  <link rel="stylesheet" href="app/center/announcement/announcement.css">
  <link rel="stylesheet" href="app/center/center.css">
  <link rel="stylesheet" href="app/center/center_chat_input_box/center.chat.input.box.css">
  <link rel="stylesheet" href="app/center/help_messages/help.messages.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.comment.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.file.comment.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.file.comment.title.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.file.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.text.attachment.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.text.connect.preview.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.text.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.text.link.preview.css">
  <link rel="stylesheet" href="app/center/messages/services/renderers/templates/center.unread.bookmark.css">
  <link rel="stylesheet" href="app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.css">
  <link rel="stylesheet" href="app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.css">
  <link rel="stylesheet" href="app/center/view_components/center_chat_templates/text-sending/text.sending.css">
  <link rel="stylesheet" href="app/center/view_components/entity_header/entity.header.css">
  <link rel="stylesheet" href="app/center/view_components/entity_header/room-connector/connect-plug/connect.plug.css">
  <link rel="stylesheet" href="app/center/view_components/entity_header/room-connector/room.connector.css">
  <link rel="stylesheet" href="app/center/view_components/entity_header/topic_description/topic.description.css">
  <link rel="stylesheet" href="app/common.css">
  <link rel="stylesheet" href="app/connect/card/jnd.connect.card.css">
  <link rel="stylesheet" href="app/connect/card/jnd.connect.card.plug.css">
  <link rel="stylesheet" href="app/connect/jnd.connect.css">
  <link rel="stylesheet" href="app/connect/submenu/jnd.connect.submenu.css">
  <link rel="stylesheet" href="app/connect/submenu/jnd.connect.submenu.member.css">
  <link rel="stylesheet" href="app/connect/submenu/jnd.connect.submenu.union.css">
  <link rel="stylesheet" href="app/connect/union/common/footer/jnd.connect.union.footer.css">
  <link rel="stylesheet" href="app/connect/union/common/header/jnd.connect.union.header.css">
  <link rel="stylesheet" href="app/connect/union/common/nav/jnd.connect.union.nav.css">
  <link rel="stylesheet" href="app/connect/union/common/selectbox-pending/jnd.connect.union.selectbox.pending.css">
  <link rel="stylesheet" href="app/connect/union/common/selectbox/jnd.connect.union.selectbox.css">
  <link rel="stylesheet" href="app/connect/union/common/selectbox/menu/jnd.connect.union.selectbox.account.menu.css">
  <link rel="stylesheet" href="app/connect/union/common/trash-button/jnd.connect.union.trash.button.css">
  <link rel="stylesheet" href="app/connect/union/dropbox/jnd.connect.dropbox.css">
  <link rel="stylesheet" href="app/connect/union/github/jnd.connect.github.css">
  <link rel="stylesheet" href="app/connect/union/google-calendar/jnd.connect.google.calendar.css">
  <link rel="stylesheet" href="app/connect/union/google-drive/jnd.connect.google.drive.css">
  <link rel="stylesheet" href="app/connect/union/trello/jnd.connect.trello.css">
  <link rel="stylesheet" href="app/connect/union/webhook/jnd.connect.webhook.css">
  <link rel="stylesheet" href="app/disconnect/disconnect.css">
  <link rel="stylesheet" href="app/external_share/external.share.css">
  <link rel="stylesheet" href="app/header/header.css">
  <link rel="stylesheet" href="app/left/left.css">
  <link rel="stylesheet" href="app/left/member/member.css">
  <link rel="stylesheet" href="app/left/messages/messages.css">
  <link rel="stylesheet" href="app/left/topics/dropdown/left.folder.dropdown.layer.css">
  <link rel="stylesheet" href="app/left/topics/folder/topic.folder.css">
  <link rel="stylesheet" href="app/left/topics/topic/topic.css">
  <link rel="stylesheet" href="app/left/topics/topics.css">
  <link rel="stylesheet" href="app/loading/loading.center.css">
  <link rel="stylesheet" href="app/mention/mention.view.css">
  <link rel="stylesheet" href="app/mobile/mobile.catcher.css">
  <link rel="stylesheet" href="app/modal/files/integration/integration.css">
  <link rel="stylesheet" href="app/modal/files/share/share.css">
  <link rel="stylesheet" href="app/modal/images/carousel/bak/image.carousel.css">
  <link rel="stylesheet" href="app/modal/images/carousel/image.carousel.css">
  <link rel="stylesheet" href="app/modal/images/full_image/full.screen.image.css">
  <link rel="stylesheet" href="app/modal/lists/services/renderers/templates/modal.room.list.item.css">
  <link rel="stylesheet" href="app/modal/members/expanding-input/expanding.input.css">
  <link rel="stylesheet" href="app/modal/members/member.profile.css">
  <link rel="stylesheet" href="app/modal/modal.css">
  <link rel="stylesheet" href="app/modal/rooms/quick_launcher/quick.launcher.css">
  <link rel="stylesheet" href="app/modal/settings/notification/setting.notification.css">
  <link rel="stylesheet" href="app/modal/shortcut/modal.shortcut.css">
  <link rel="stylesheet" href="app/modal/teams/team_change/team.change.css">
  <link rel="stylesheet" href="app/modal/teams/team_invite/invite_emails/invite.emails.css">
  <link rel="stylesheet" href="app/modal/teams/team_invite/team.invite.css">
  <link rel="stylesheet" href="app/modal/teams/team_member_list/team.member.list.css">
  <link rel="stylesheet" href="app/modal/terms/terms.css">
  <link rel="stylesheet" href="app/modal/topics/topic_create/topic.create.css">
  <link rel="stylesheet" href="app/modal/topics/topic_invite/topic.invite.css">
  <link rel="stylesheet" href="app/modal/topics/topic_join/topic.join.css">
  <link rel="stylesheet" href="app/right/file.detail/comment_input/file.detail.comment.input.css">
  <link rel="stylesheet" href="app/right/file.detail/comments/file.detail.comments.css">
  <link rel="stylesheet" href="app/right/file.detail/file.detail.css">
  <link rel="stylesheet" href="app/right/file.detail/header/file.detail.header.css">
  <link rel="stylesheet" href="app/right/file.detail/meta/file.detail.meta.css">
  <link rel="stylesheet" href="app/right/file.detail/preview/file.detail.preview.css">
  <link rel="stylesheet" href="app/right/file.detail/title/file.detail.title.css">
  <link rel="stylesheet" href="app/right/file/file.css">
  <link rel="stylesheet" href="app/right/files/files.css">
  <link rel="stylesheet" href="app/right/mentions/mentions.css">
  <link rel="stylesheet" href="app/right/message/message.css">
  <link rel="stylesheet" href="app/right/right.css">
  <link rel="stylesheet" href="app/right/rpanel_search/rpanel.search.css">
  <link rel="stylesheet" href="app/right/search.messages/search.message/search.message.css">
  <link rel="stylesheet" href="app/right/search.messages/search.messages.css">
  <link rel="stylesheet" href="app/right/stars/stars.css">
  <link rel="stylesheet" href="app/signin/signin.css">
  <link rel="stylesheet" href="app/sticker/sticker.css">
  <link rel="stylesheet" href="app/tpl/503/503.css">
  <link rel="stylesheet" href="app/tutorial/popover/connect/tutorial.popover.connect.css">
  <link rel="stylesheet" href="app/tutorial/popover/folder/tutorial.popover.folder.folder.css">
  <link rel="stylesheet" href="app/tutorial/popover/tutorial.popover.css">
  <link rel="stylesheet" href="app/tutorial/popup/tutorial.main.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/center/tutorial.center.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/completion/tutorial.completion.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/entity_header/tutorial.entity.header.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/lecture/dm/send/lecture.dm.send.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/lecture/file/comment/lecture.file.comment.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/lecture/file/upload/lecture.file.upload.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/lecture/menu/team/lecture.menu.team.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/lecture/profile/change/lecture.profile.change.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/lecture/topic/leave/lecture.topic.leave.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/left/tutorial.left.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/modal/invitation/tutorial.modal.team.invitation.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/modal/member_list/tutorial.modal.member.list.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/modal/profile/tutorial.modal.profile.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/modal/topic_create/tutorial.modal.topic.create.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/modal/topic_list/tutorial.modal.topic.list.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/profile/tutorial.profile.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/purse/tutorial.purse.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/team/tutorial.team.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/top/tutorial.top.css">
  <link rel="stylesheet" href="app/tutorial/popup/view_components/tutor/tutorial.tutor.css">
  <link rel="stylesheet" href="app/tutorial/tutorial.css">
  <link rel="stylesheet" href="app/tutorial/welcome/tutorial.welcome.css">
  <link rel="stylesheet" href="app/util/css/jandi-common.css">
  <link rel="stylesheet" href="app/util/css/jandi-icon.css">
  <link rel="stylesheet" href="app/util/css/spinners.css">
  <link rel="stylesheet" href="app/util/directive/custom-selectbox/jnd.selectbox.css">
  <link rel="stylesheet" href="app/util/directive/image-crop/jnd.image.crop.css">
  <link rel="stylesheet" href="app/util/directive/jnd.tooltip.css">
  <link rel="stylesheet" href="app/util/directive/jnd.version.css">
  <link rel="stylesheet" href="app/util/directive/switch-button/switch.button.css">
  <link rel="stylesheet" href="assets/components/google-code-prettify/prettify.css">
  <link rel="stylesheet" href="components/app/mention_ahead/mention.ahead.css">
  <link rel="stylesheet" href="components/jandi/dialog/dialog.css">
  <link rel="stylesheet" href="components/jandi/dialog/modal/modal.css">
  <link rel="stylesheet" href="components/jandi/dialog/toast/toast.css">
  <!-- endinjector -->
  <!-- endbuild -->
</head>
<body jnd-main-key-handler
      active-notifier
      window-title-manager
      window-post-message
      jnd-main>
<!--[if lte IE 9]>
  <script src="/landing/static/outdated/outdated.js"></script>
<![endif]-->
<div class="content-wrapper opac-in-fast">
  <background></background>
  <div class="body-wrapper full-screen">
    <!-- Add your site or application content here -->
    <div class="hpanel non-selectable" ui-view="headerpanel"></div>
    <div class="body full-screen" id="client-ui" ui-view=""></div>
    <div class="rpanel non-selectable"
         ng-class="{ 'shadow': $state.includes('**.files.**') || $state.includes('**.stars.**') || $state.includes('**.mentions.**') || isOpenRightPanel}"
         ng-show="$state.includes('**.files.**') || $state.includes('**.stars.**') || $state.includes('**.mentions.**') || isOpenRightPanel">
      <div class="files" ui-view="rightpanel" ng-class="{
        'scroll_gray': !browser.platform.isMac,
        'opacOut_hidden': !isOpenRightPanel,
        'opac_in extend': isOpenRightPanel
      }"></div>
      <div class="file" ui-view="detailpanel"
           ng-class="{'hidden': !$state.includes('messages.detail.files.item') && !$state.includes('messages.detail.stars.item') && !$state.includes('messages.detail.mentions.item'),
                      'scroll_gray': !browser.platform.isMac,
                      'opac_in extend': $state.includes('**.files.item') || $state.includes('**.stars.item') || $state.includes('**.mentions.item')}">
      </div>
      <div class="rpanel__background">
        <div class="rpanel__background-header"></div>
        <div class="rpanel__background-body">
          <div class="rpanel__loading">
            <span class="three-quarters-loader jnd-three-quarters-loader"></span>
          </div>
        </div>
      </div>
    </div>
    <jnd-tooltip></jnd-tooltip>
    <tutorial-welcome></tutorial-welcome>
    <jnd-connect ng-if="connectSetting.isOpen" jnd-data-params="connectSetting.params"></jnd-connect>
  <div ng-if="!isReady" class="full-screen z-index-top">
  </div>
  <guide-privacy></guide-privacy>
  <guide-zoom></guide-zoom>
</div>

<!--<div class="is-ready-loading" ng-show="!isReady">-->
  <!--<div class="loading_bar">-->
    <!--<span class="three-quarters-loader jnd-three-quarters-loader"></span>-->
  <!--</div>-->
<!--</div>-->

<!--[if lte IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script>
  FileAPI = {
    debug   : false,
    cors    : true,
    jsUrl   : location.protocol + '//' + location.host + '/javascripts/FileAPI.min.js',
    flashUrl: location.protocol + '//' + location.host + '/etc/FileAPI.flash.swf'
  };
</script>

<script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
<script src="bower_components/socket.io-client/socket.io.js"></script>

<!-- build:js(client) app/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-loader/angular-loader.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/jquery.lazyload/jquery.lazyload.js"></script>
<script src="bower_components/jquery.lazyload/jquery.scrollstop.js"></script>
<script src="bower_components/ngImgCrop/compile/minified/ng-img-crop.js"></script>
<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
<script src="bower_components/jquery-waypoints/waypoints.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angular-elastic/elastic.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image-ios.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image-orientation.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image-meta.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image-exif.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image-exif-map.js"></script>
<script src="bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>
<script src="bower_components/handlebars/handlebars.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,client}) app/app.js -->
<script src="components/config/config.framework.js"></script>
<script src="components/base/base.framework.js"></script>

<script src="components/jandi/browser/browser.js"></script>
<script src="components/jandi/jandi.framework.js"></script>
<script src="components/jandi/preloader/preloader.js"></script>
<script src="components/jandi/dialog/dialog.js"></script>

<script src="components/app/analytics/analytics.js"></script>
<script src="components/app/router/router.js"></script>
<script src="components/app/language/language.js"></script>
<script src="components/app/local_storage/local.storage.js"></script>
<script src="components/app/mention_ahead/mention.ahead.js"></script>
<script src="components/app/storage/storage.js"></script>
<script src="components/app/net/net.js"></script>
<script src="components/app/cache/cache.js"></script>
<script src="components/app/pubsub/pubsub.js"></script>
<script src="components/app/notification/desktop.notification.js"></script>
<script src="components/app/socket/socket.js"></script>
<script src="components/app/app.framework.js"></script>
<script src="app/app.js"></script>
<!-- injector:js -->
<script src="assets/components/google-code-prettify/prettify.js"></script>
<script src="assets/javascripts/core.js"></script>
<script src="assets/javascripts/detectmobilebrowser.js"></script>
<script src="assets/javascripts/handlebars.templates.js"></script>
<script src="assets/javascripts/jquery.highlight.js"></script>
<script src="app/util/directive/animate.text.directive.js"></script>
<script src="app/util/directive/custom-selectbox/jnd.custom.focus.directive.js"></script>
<script src="app/util/directive/custom-selectbox/jnd.selectbox.common.directive.js"></script>
<script src="app/util/directive/custom-selectbox/jnd.selectbox.file.directive.js"></script>
<script src="app/util/directive/custom-selectbox/jnd.selectbox.member.directive.js"></script>
<script src="app/util/directive/custom-selectbox/jnd.selectbox.room.directive.js"></script>
<script src="app/util/directive/image-crop/jnd.image.crop.directive.js"></script>
<script src="app/util/directive/jnd.code.prettify.directive.js"></script>
<script src="app/util/directive/jnd.elastic.directive.js"></script>
<script src="app/util/directive/jnd.ignore.braces.js"></script>
<script src="app/util/directive/jnd.main.key.handler.directive.js"></script>
<script src="app/util/directive/jnd.tooltip.directive.js"></script>
<script src="app/util/directive/jnd.tooltip.trigger.directive.js"></script>
<script src="app/util/directive/jnd.translate.html.js"></script>
<script src="app/util/directive/jnd.version.directive.js"></script>
<script src="app/util/directive/main.directive.js"></script>
<script src="app/util/directive/other.team.badge.indicator.directive.js"></script>
<script src="app/util/directive/scaleup.directive.js"></script>
<script src="app/util/directive/switch-button/switch.button.directive.js"></script>
<script src="app/util/directive/typeahead.directive.js"></script>
<script src="app/util/directive/window.post.message.directive.js"></script>
<script src="app/util/directive/window.title.directive.js"></script>
<script src="app/util/filter/camel.to.dot.js"></script>
<script src="app/util/filter/date.filter.js"></script>
<script src="app/util/filter/html.decode.filter.js"></script>
<script src="app/util/filter/html.encode.filter.js"></script>
<script src="app/util/filter/main.filter.js"></script>
<script src="app/util/filter/markdown.code.filter.js"></script>
<script src="app/util/filter/markdown.strip.filter.js"></script>
<script src="app/util/filter/mention.filter.js"></script>
<script src="app/util/filter/mention.html.decode.filter.js"></script>
<script src="app/util/filter/template.filter.js"></script>
<script src="app/util/filter/txt.filter.js"></script>
<script src="app/util/images/image.loader.directive.js"></script>
<script src="app/util/images/image_view/image.view.directive.js"></script>
<script src="app/util/images/images.service.js"></script>
<script src="app/util/images/on.image.load.directive.js"></script>
<script src="app/util/service/account.hasSeen.service.js"></script>
<script src="app/util/service/account.service.js"></script>
<script src="app/util/service/analytics.service.js"></script>
<script src="app/util/service/clipboard.service.js"></script>
<script src="app/util/service/date.service.js"></script>
<script src="app/util/service/entity.service.js"></script>
<script src="app/util/service/entityMap.service.js"></script>
<script src="app/util/service/file.object.service.js"></script>
<script src="app/util/service/file.upload.service.js"></script>
<script src="app/util/service/general.service.js"></script>
<script src="app/util/service/image.paste.service.js"></script>
<script src="app/util/service/integration.service.js"></script>
<script src="app/util/service/jnd.util.service.js"></script>
<script src="app/util/service/jnd.zoom.service.js"></script>
<script src="app/util/service/link.txt.service.js"></script>
<script src="app/util/service/markdown.regx.service.js"></script>
<script src="app/util/service/member.service.js"></script>
<script src="app/util/service/notification.service.helper.js"></script>
<script src="app/util/service/notification.service.js"></script>
<script src="app/util/service/other.team.badge.service.js"></script>
<script src="app/util/service/privacy.service.js"></script>
<script src="app/util/service/public.service.js"></script>
<script src="app/util/service/session.service.js"></script>
<script src="app/util/service/sticker.service.js"></script>
<script src="app/util/service/textbuffer.service.js"></script>
<script src="app/util/service/unread.badge.service.js"></script>
<script src="app/util/service/urlScheme.service.js"></script>
<script src="app/util/service/user.service.js"></script>
<script src="app/util/storage/jnd.folder.storage.js"></script>
<script src="app/util/storage/jnd.local.storage.js"></script>
<script src="app/util/storage/jnd.message.storage.js"></script>
<script src="app/background/background.directive.js"></script>
<script src="app/banner/desktop.notification.banner.controller.js"></script>
<script src="app/banner/desktop.notification.banner.directive.js"></script>
<script src="app/banner/desktop.notification.banner.service.js"></script>
<script src="app/center/announcement/announcement.controller.js"></script>
<script src="app/center/announcement/announcement.data.service.js"></script>
<script src="app/center/announcement/announcement.directive.js"></script>
<script src="app/center/announcement/announcement.service.js"></script>
<script src="app/center/center.controller.js"></script>
<script src="app/center/center.directive.js"></script>
<script src="app/center/center.event.handler.js"></script>
<script src="app/center/help_messages/help.messages.controller.js"></script>
<script src="app/center/help_messages/help.messages.directive.js"></script>
<script src="app/center/messages/center.messages.directive.js"></script>
<script src="app/center/messages/services/center.renderer.factory.service.js"></script>
<script src="app/center/messages/services/center.renderer.service.js"></script>
<script src="app/center/messages/services/renderers/date.divider.renderer.service.js"></script>
<script src="app/center/messages/services/renderers/file.comment.renderer.service.js"></script>
<script src="app/center/messages/services/renderers/file.renderer.service.js"></script>
<script src="app/center/messages/services/renderers/renderer.util.service.js"></script>
<script src="app/center/messages/services/renderers/system.event.renderer.service.js"></script>
<script src="app/center/messages/services/renderers/text.renderer.service.js"></script>
<script src="app/center/messages/services/renderers/unread.bookmark.renderer.service.js"></script>
<script src="app/center/services/center.service.js"></script>
<script src="app/center/services/marker.service.js"></script>
<script src="app/center/services/message.query.service.js"></script>
<script src="app/center/services/message.service.js"></script>
<script src="app/center/services/message/message.collection.service.js"></script>
<script src="app/center/services/message/message.comment.service.js"></script>
<script src="app/center/services/message/message.file.service.js"></script>
<script src="app/center/services/message/message.sending.collection.service.js"></script>
<script src="app/center/services/message/message.text.service.js"></script>
<script src="app/center/view_components/center_chat_input_box/center.chat.input.box.directive.js"></script>
<script src="app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.directive.js"></script>
<script src="app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.controller.js"></script>
<script src="app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.directive.js"></script>
<script src="app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.directive.js"></script>
<script src="app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.controller.js"></script>
<script src="app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.directive.js"></script>
<script src="app/center/view_components/center_chat_templates/text-sending/text.sending.controller.js"></script>
<script src="app/center/view_components/center_chat_templates/text-sending/text.sending.directive.js"></script>
<script src="app/center/view_components/entity_header/entity.header.controller.js"></script>
<script src="app/center/view_components/entity_header/entity.header.directive.js"></script>
<script src="app/center/view_components/entity_header/entity.header.service.js"></script>
<script src="app/center/view_components/entity_header/room-connector/connect-plug/connect.plug.directive.js"></script>
<script src="app/center/view_components/entity_header/room-connector/room.connector.directive.js"></script>
<script src="app/center/view_components/entity_header/topic_description/topic.description.controller.js"></script>
<script src="app/center/view_components/entity_header/topic_description/topic.description.directive.js"></script>
<script src="app/connect/card/jnd.connect.card.controller.js"></script>
<script src="app/connect/card/jnd.connect.card.directive.js"></script>
<script src="app/connect/card/jnd.connect.card.plug.controller.js"></script>
<script src="app/connect/card/jnd.connect.card.plug.directive.js"></script>
<script src="app/connect/filter/connect.create.date.filter.js"></script>
<script src="app/connect/jnd.connect.api.service.js"></script>
<script src="app/connect/jnd.connect.controller.js"></script>
<script src="app/connect/jnd.connect.directive.js"></script>
<script src="app/connect/jnd.connect.loading.directive.js"></script>
<script src="app/connect/jnd.connect.service.js"></script>
<script src="app/connect/submenu/jnd.connect.submenu.directive.js"></script>
<script src="app/connect/submenu/jnd.connect.submenu.member.directive.js"></script>
<script src="app/connect/submenu/jnd.connect.submenu.union.directive.js"></script>
<script src="app/connect/union/common/auth/jnd.connect.union.auth.controller.js"></script>
<script src="app/connect/union/common/auth/jnd.connect.union.auth.directive.js"></script>
<script src="app/connect/union/common/footer/jnd.connect.union.footer.controller.js"></script>
<script src="app/connect/union/common/footer/jnd.connect.union.footer.directive.js"></script>
<script src="app/connect/union/common/header/jnd.connect.union.header.controller.js"></script>
<script src="app/connect/union/common/header/jnd.connect.union.header.directive.js"></script>
<script src="app/connect/union/common/nav/jnd.connect.union.nav.controller.js"></script>
<script src="app/connect/union/common/nav/jnd.connect.union.nav.directive.js"></script>
<script src="app/connect/union/common/selectbox-pending/jnd.connect.union.selectbox.pending.directive.js"></script>
<script src="app/connect/union/common/selectbox-room/jnd.connect.union.selectbox.room.directive.js"></script>
<script src="app/connect/union/common/selectbox/jnd.connect.union.selectbox.directive.js"></script>
<script src="app/connect/union/common/selectbox/menu/jnd.connect.union.selectbox.account.menu.directive.js"></script>
<script src="app/connect/union/common/selectbox/menu/jnd.connect.union.selectbox.default.menu.directive.js"></script>
<script src="app/connect/union/common/service/jnd.connect.union.api.service.js"></script>
<script src="app/connect/union/common/service/jnd.connect.union.form.data.service.js"></script>
<script src="app/connect/union/common/service/jnd.connect.union.service.js"></script>
<script src="app/connect/union/common/status-switch/jnd.connect.union.status.switch.directive.js"></script>
<script src="app/connect/union/common/trash-button/jnd.connect.union.trash.button.directive.js"></script>
<script src="app/connect/union/dropbox/jnd.connect.dropbox.controller.js"></script>
<script src="app/connect/union/dropbox/jnd.connect.dropbox.directive.js"></script>
<script src="app/connect/union/github/jnd.connect.github.api.service.js"></script>
<script src="app/connect/union/github/jnd.connect.github.controller.js"></script>
<script src="app/connect/union/github/jnd.connect.github.directive.js"></script>
<script src="app/connect/union/google-calendar/jnd.connect.google.calendar.controller.js"></script>
<script src="app/connect/union/google-calendar/jnd.connect.google.calendar.directive.js"></script>
<script src="app/connect/union/google-calendar/jnd.connect.google.calendar.service.js"></script>
<script src="app/connect/union/google-drive/jnd.connect.google.drive.controller.js"></script>
<script src="app/connect/union/google-drive/jnd.connect.google.drive.directive.js"></script>
<script src="app/connect/union/trello/jnd.connect.trello.api.service.js"></script>
<script src="app/connect/union/trello/jnd.connect.trello.controller.js"></script>
<script src="app/connect/union/trello/jnd.connect.trello.directive.js"></script>
<script src="app/connect/union/webhook/jnd.connect.webhook.controller.js"></script>
<script src="app/connect/union/webhook/jnd.connect.webhook.directive.js"></script>
<script src="app/disconnect/disconnect.controller.js"></script>
<script src="app/error/error.controller.js"></script>
<script src="app/external_share/external.share.service.js"></script>
<script src="app/external_share/external.share.view.directive.js"></script>
<script src="app/header/header.controller.js"></script>
<script src="app/header/header.service.js"></script>
<script src="app/layer/guide/guide.privacy.directive.js"></script>
<script src="app/layer/guide/guide.zoom.directive.js"></script>
<script src="app/left/badge/badge.directive.js"></script>
<script src="app/left/left.controller.js"></script>
<script src="app/left/left.service.js"></script>
<script src="app/left/member/member.controller.js"></script>
<script src="app/left/member/user.directive.js"></script>
<script src="app/left/messages/messages.controller.js"></script>
<script src="app/left/messages/messages.directive.js"></script>
<script src="app/left/messages/messages.service.js"></script>
<script src="app/left/topics/dropdown/left.folder.dropdown.directive.js"></script>
<script src="app/left/topics/dropdown/left.folder.dropdown.layer.controller.js"></script>
<script src="app/left/topics/dropdown/left.folder.dropdown.layer.directive.js"></script>
<script src="app/left/topics/folder/topic.folder.directive.js"></script>
<script src="app/left/topics/folder/topic.folder.draggable.directive.js"></script>
<script src="app/left/topics/services/topic.folder.api.service.js"></script>
<script src="app/left/topics/services/topic.folder.model.service.js"></script>
<script src="app/left/topics/services/topic.invited.map.service.js"></script>
<script src="app/left/topics/services/topic.update.lock.service.js"></script>
<script src="app/left/topics/topic/topic.controller.js"></script>
<script src="app/left/topics/topic/topic.directive.js"></script>
<script src="app/left/topics/topic/topic.draggable.directive.js"></script>
<script src="app/left/topics/topics.controller.js"></script>
<script src="app/left/topics/topics.directive.js"></script>
<script src="app/loading/loading.center.directive.js"></script>
<script src="app/main/jnd.main.controller.js"></script>
<script src="app/main/jnd.main.directive.js"></script>
<script src="app/mention/mention.view.directive.js"></script>
<script src="app/mobile/mobile.catcher.controller.js"></script>
<script src="app/modal/connect/bot.profile.setting.controller.js"></script>
<script src="app/modal/files/integration/integration.controller.js"></script>
<script src="app/modal/files/share/share.controller.js"></script>
<script src="app/modal/files/upload/upload.controller.js"></script>
<script src="app/modal/files/upload/upload.directive.js"></script>
<script src="app/modal/images/carousel/bak/image.carousel.controller.js"></script>
<script src="app/modal/images/carousel/bak/image.carousel.service.js"></script>
<script src="app/modal/images/carousel/image.carousel.controller.js"></script>
<script src="app/modal/images/carousel/image.carousel.item.directive.js"></script>
<script src="app/modal/images/carousel/image.carousel.list.directive.js"></script>
<script src="app/modal/images/carousel/image.carousel.service.js"></script>
<script src="app/modal/images/full_image/full.screen.image.controller.js"></script>
<script src="app/modal/lists/list.directive.js"></script>
<script src="app/modal/lists/list.viewport.service.js"></script>
<script src="app/modal/lists/services/item.renderer.factory.service.js"></script>
<script src="app/modal/lists/services/list.renderer.service.js"></script>
<script src="app/modal/lists/services/renderers/member.item.renderer.service.js"></script>
<script src="app/modal/lists/services/renderers/room.item.renderer.service.js"></script>
<script src="app/modal/lists/services/renderers/topic.item.renderer.service.js"></script>
<script src="app/modal/members/bot-profile/bot.profile.controller.js"></script>
<script src="app/modal/members/bot-profile/bot.profile.directive.js"></script>
<script src="app/modal/members/expanding-input/expanding.input.directive.js"></script>
<script src="app/modal/members/member.profile.service.js"></script>
<script src="app/modal/members/user-profile/user.profile.controller.js"></script>
<script src="app/modal/members/user-profile/user.profile.directive.js"></script>
<script src="app/modal/modal.service.js"></script>
<script src="app/modal/password/password.reset.request.controller.js"></script>
<script src="app/modal/rooms/quick_launcher/quick.launcher.controller.js"></script>
<script src="app/modal/rooms/quick_launcher/quick.launcher.directive.js"></script>
<script src="app/modal/settings/notification/setting.notification.controller.js"></script>
<script src="app/modal/shortcut/modal.shortcut.controller.js"></script>
<script src="app/modal/teams/team_change/team.change.controller.js"></script>
<script src="app/modal/teams/team_invite/invite_emails/invite.emails.directive.js"></script>
<script src="app/modal/teams/team_invite/team.invite.controller.js"></script>
<script src="app/modal/teams/team_invite/team.invite.directive.js"></script>
<script src="app/modal/teams/team_member_list/team.member.list.controller.js"></script>
<script src="app/modal/topics/topic_create/topic.create.controller.js"></script>
<script src="app/modal/topics/topic_invite/topic.invite.controller.js"></script>
<script src="app/modal/topics/topic_invite_from_dm/topic.invite.direct.controller.js"></script>
<script src="app/modal/topics/topic_join/topic.join.controller.js"></script>
<script src="app/modal/topics/topic_rename/topic.rename.controller.js"></script>
<script src="app/right/file.detail/comment_input/file.detail.comment.input.directive.js"></script>
<script src="app/right/file.detail/comments/file.detail.comments.directive.js"></script>
<script src="app/right/file.detail/file.detail.controller.js"></script>
<script src="app/right/file.detail/header/file.detail.header.directive.js"></script>
<script src="app/right/file.detail/meta/file.detail.meta.directive.js"></script>
<script src="app/right/file.detail/preview/file.detail.preview.directive.js"></script>
<script src="app/right/file.detail/title/file.detail.title.directive.js"></script>
<script src="app/right/file/file.controller.js"></script>
<script src="app/right/file/file.directive.js"></script>
<script src="app/right/file/file.service.js"></script>
<script src="app/right/files/file.filter.js"></script>
<script src="app/right/files/file.service.js"></script>
<script src="app/right/files/files.controller.js"></script>
<script src="app/right/files/files.directive.js"></script>
<script src="app/right/mentions/mentions.controller.js"></script>
<script src="app/right/mentions/mentions.directive.js"></script>
<script src="app/right/mentions/mentions.service.js"></script>
<script src="app/right/message/message.controller.js"></script>
<script src="app/right/message/message.directive.js"></script>
<script src="app/right/message/message.service.js"></script>
<script src="app/right/right.controller.js"></script>
<script src="app/right/right.directvie.js"></script>
<script src="app/right/rpanel_search/rpanel.search.controller.js"></script>
<script src="app/right/rpanel_search/rpanel.search.directive.js"></script>
<script src="app/right/search.messages/search.message/search.message.controller.js"></script>
<script src="app/right/search.messages/search.message/search.message.directive.js"></script>
<script src="app/right/search.messages/search.messages.controller.js"></script>
<script src="app/right/search.messages/search.messages.directive.js"></script>
<script src="app/right/search.messages/search.messages.service.js"></script>
<script src="app/right/stars/stars.controller.js"></script>
<script src="app/right/stars/stars.directive.js"></script>
<script src="app/signin/auth.controller.js"></script>
<script src="app/signin/auth.service.js"></script>
<script src="app/star/star.api.service.js"></script>
<script src="app/star/star.view.directive.js"></script>
<script src="app/sticker/layer/sticker.layer.controller.js"></script>
<script src="app/sticker/layer/sticker.layer.directive.js"></script>
<script src="app/sticker/panel/sticker.panel.controller.js"></script>
<script src="app/sticker/panel/sticker.panel.directive.js"></script>
<script src="app/team/team.service.js"></script>
<script src="app/tpl/503/503.controller.js"></script>
<script src="app/tpl/loading/loading.controller.js"></script>
<script src="app/tpl/loading/loading.directive.js"></script>
<script src="app/tpl/loading/loading.service.js"></script>
<script src="app/translation/translation.js"></script>
<script src="app/tutorial/popover/connect/tutorial.popover.connect.controller.js"></script>
<script src="app/tutorial/popover/connect/tutorial.popover.connect.directive.js"></script>
<script src="app/tutorial/popover/folder/tutorial.popover.folder.controller.js"></script>
<script src="app/tutorial/popover/folder/tutorial.popover.folder.directive.js"></script>
<script src="app/tutorial/popup/services/tutorial.account.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.api.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.data.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.dm.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.entity.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.messages.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.topics.service.js"></script>
<script src="app/tutorial/popup/services/tutorial.tutor.service.js"></script>
<script src="app/tutorial/popup/tutorial.main.controller.js"></script>
<script src="app/tutorial/popup/view_components/center/date/tutorial.center.date.directive.js"></script>
<script src="app/tutorial/popup/view_components/center/file/tutorial.center.file.directive.js"></script>
<script src="app/tutorial/popup/view_components/center/text/tutorial.center.text.directive.js"></script>
<script src="app/tutorial/popup/view_components/center/totorial.center.controller.js"></script>
<script src="app/tutorial/popup/view_components/center/tutorial.center.directive.js"></script>
<script src="app/tutorial/popup/view_components/completion/totorial.completion.controller.js"></script>
<script src="app/tutorial/popup/view_components/completion/tutorial.completion.directive.js"></script>
<script src="app/tutorial/popup/view_components/entity_header/totorial.entity.header.controller.js"></script>
<script src="app/tutorial/popup/view_components/entity_header/tutorial.entity.header.directive.js"></script>
<script src="app/tutorial/popup/view_components/lecture/dm/send/lecture.dm.send.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/file/comment/lecture.file.comment.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/file/upload/lecture.file.upload.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/menu/help/lecture.menu.help.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/menu/team/lecture.menu.team.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/profile/change/lecture.profile.change.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/team/invitation/lecture.team.invitation.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/topic/create/lecture.topic.create.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/topic/join/lecture.topic.join.controller.js"></script>
<script src="app/tutorial/popup/view_components/lecture/topic/leave/lecture.topic.leave.controller.js"></script>
<script src="app/tutorial/popup/view_components/left/tutorial.left.directive.js"></script>
<script src="app/tutorial/popup/view_components/modal/invitation/tutorial.modal.team.invitation.directive.js"></script>
<script src="app/tutorial/popup/view_components/modal/member_list/tutorial.modal.member.list.directive.js"></script>
<script src="app/tutorial/popup/view_components/modal/profile/totorial.modal.profile.controller.js"></script>
<script src="app/tutorial/popup/view_components/modal/profile/tutorial.modal.profile.directive.js"></script>
<script src="app/tutorial/popup/view_components/modal/topic_create/totorial.modal.topic.create.controller.js"></script>
<script src="app/tutorial/popup/view_components/modal/topic_create/tutorial.modal.topic.create.directive.js"></script>
<script src="app/tutorial/popup/view_components/modal/topic_list/tutorial.modal.topic.list.directive.js"></script>
<script src="app/tutorial/popup/view_components/profile/totorial.profile.controller.js"></script>
<script src="app/tutorial/popup/view_components/profile/tutorial.profile.directive.js"></script>
<script src="app/tutorial/popup/view_components/purse/totorial.purse.controller.js"></script>
<script src="app/tutorial/popup/view_components/purse/tutorial.purse.directive.js"></script>
<script src="app/tutorial/popup/view_components/team/tutorial.team.directive.js"></script>
<script src="app/tutorial/popup/view_components/top/tutorial.top.directive.js"></script>
<script src="app/tutorial/popup/view_components/tutor/totorial.tutor.controller.js"></script>
<script src="app/tutorial/popup/view_components/tutor/tutorial.tutor.directive.js"></script>
<script src="app/tutorial/tutorial.controller.js"></script>
<script src="app/tutorial/tutorial.service.js"></script>
<script src="app/tutorial/welcome/tutorial.welcome.controller.js"></script>
<script src="app/tutorial/welcome/tutorial.welcome.directive.js"></script>
<script src="components/app/active_notifier/active.notifier.directive.js"></script>
<script src="components/app/analytics/analyticsv1.service.js"></script>
<script src="components/app/analytics/directives/buttonTrakcer.directive.js"></script>
<script src="components/app/analytics/directives/downloadTracker.directive.js"></script>
<script src="components/app/analytics/directives/pageTrakcer.directive.js"></script>
<script src="components/app/analytics/libs/UUID.js"></script>
<script src="components/app/analytics/libs/angulartics-ga-custom.js"></script>
<script src="components/app/analytics/libs/custom-mixpanel.js"></script>
<script src="components/app/analytics/services/analytics.constant.service.js"></script>
<script src="components/app/analytics/services/analytics.data.service.js"></script>
<script src="components/app/analytics/services/analytics.lazyload.service.js"></script>
<script src="components/app/analytics/services/analytics.persistence.service.js"></script>
<script src="components/app/analytics/services/analytics.service.js"></script>
<script src="components/app/analytics/services/analytics.storage.service.js"></script>
<script src="components/app/analytics/services/analytics.translate.service.js"></script>
<script src="components/app/analytics/services/google.analytics.service.js"></script>
<script src="components/app/analytics/services/mixpanel.analytics.service.js"></script>
<script src="components/app/cache/cache.topic.service.js"></script>
<script src="components/app/keyCode/keyCode.js"></script>
<script src="components/app/keyCode/keyCode.service.js"></script>
<script src="components/app/language/language.service.js"></script>
<script src="components/app/local_storage/local.storage.service.js"></script>
<script src="components/app/mention_ahead/mention.ahead.controller.js"></script>
<script src="components/app/mention_ahead/mention.ahead.directive.js"></script>
<script src="components/app/mention_ahead/mention.ahead.service.js"></script>
<script src="components/app/net/net.auth.service.js"></script>
<script src="components/app/net/net.service.js"></script>
<script src="components/app/notification/desktop.notification.service.js"></script>
<script src="components/app/notification/service/desktop.notification.helper.js"></script>
<script src="components/app/notification/service/file.share.notification.js"></script>
<script src="components/app/notification/service/notification.util.service.js"></script>
<script src="components/app/notification/service/other.team.notification.js"></script>
<script src="components/app/notification/service/topic.invited.notification.js"></script>
<script src="components/app/pubsub/pubsub.service.js"></script>
<script src="components/app/router/router.helper.js"></script>
<script src="components/app/router/router.service.js"></script>
<script src="components/app/socket/service/socket.announcement.service.js"></script>
<script src="components/app/socket/service/socket.chat.service.js"></script>
<script src="components/app/socket/service/socket.connect.service.js"></script>
<script src="components/app/socket/service/socket.emit.service.js"></script>
<script src="components/app/socket/service/socket.file.service.js"></script>
<script src="components/app/socket/service/socket.link.preview.service.js"></script>
<script src="components/app/socket/service/socket.member.service.js"></script>
<script src="components/app/socket/service/socket.message.service.js"></script>
<script src="components/app/socket/service/socket.other.team.helper.js"></script>
<script src="components/app/socket/service/socket.other.team.service.js"></script>
<script src="components/app/socket/service/socket.room.marker.service.js"></script>
<script src="components/app/socket/service/socket.team.service.js"></script>
<script src="components/app/socket/service/socket.topic.service.js"></script>
<script src="components/app/socket/service/socket.util.service.js"></script>
<script src="components/app/socket/socket.service.handler.js"></script>
<script src="components/app/socket/socket.service.helper.js"></script>
<script src="components/app/socket/socket.service.js"></script>
<script src="components/app/storage/storage.service.js"></script>
<script src="components/base/highlight/highlight.js"></script>
<script src="components/base/highlight/highlight.service.js"></script>
<script src="components/base/logger/logger.js"></script>
<script src="components/base/logger/logger.service.js"></script>
<script src="components/config/common/config.js"></script>
<script src="components/config/common/config.preload.js"></script>
<script src="components/config/common/config.service.js"></script>
<script src="components/jandi/browser/browser.js"></script>
<script src="components/jandi/browser/browser.service.js"></script>
<script src="components/jandi/dialog/dialog.js"></script>
<script src="components/jandi/dialog/dialog.service.js"></script>
<script src="components/jandi/dialog/modal/modal.controller.js"></script>
<script src="components/jandi/dialog/modal/modal.directive.js"></script>
<script src="components/jandi/dialog/toast/toast.service.js"></script>
<script src="components/jandi/hybrid_app_communicator/hybrid.app.js"></script>
<script src="components/jandi/hybrid_app_communicator/hybrid.app.service.js"></script>
<script src="components/jandi/hybrid_app_communicator/mac/mac.app.service.js"></script>
<script src="components/jandi/hybrid_app_communicator/pc/pc.app.service.js"></script>
<script src="components/jandi/popup/popup.js"></script>
<script src="components/jandi/popup/popup.service.js"></script>
<script src="components/jandi/preloader/preloader.service.js"></script>
<!-- endinjector -->
<!-- endbuild -->
</body>
</html>
