<!-- Modal: File Integration -->
<div class="modal-header">
  <button type="button" class="close" ng-click="close();"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span>{{title}}</span>
  </h3>
</div>

<div class="modal-body">
  <ul class="row">
    <li>
      <div class="image {{descClassName1}}"></div>
      <div class="desc">
        <p ng-bind-html="descText1"></p>
      </div>
    </li>
    <li>
      <div class="image {{descClassName2}}"></div>
      <div class="desc">
        <p ng-bind-html="descText2"></p>
      </div>
    </li>
    <li>
      <div class="image {{descClassName3}}"></div>
      <div class="desc">
        <p ng-bind-html="descText3"></p>
      </div>
    </li>
  </ul>
</div>

<div ng-if="false">
  <span translate>@integration-title-google-drive</span>
  <span translate>@integration-desc-google-drive-1</span>
  <span translate>@integration-desc-google-drive-2</span>
  <span translate>@integration-title-dropbox</span>
  <span translate>@integration-desc-dropbox-1</span>
  <span translate>@integration-desc-dropbox-2</span>
  <span translate>@integration-desc-3</span>
</div>

<div class="modal-footer">
  <div ng-if="!!confirm">
    <button class="btn btn-cancel" ng-click="close();"><span translate>@btn-cancel</span></button>
    <button class="btn btn-ok _modalSubmit" ng-click="integrate()"><span translate>@integration-submit</span></button>
  </div>
  <div ng-if="!!alert">
    <button class="btn btn-ok _modalSubmit" ng-click="close();"><span translate>@btn-confirm</span></button>
  </div>
</div>
