.image-carousel-modal .modal-dialog {
  position: static !important;
  margin: 0 !important;
  width: 100% !important;
  -webkit-transform: inherit !important;
  -ms-transform: inherit !important;
  -o-transform: inherit !important;
  transform: inherit !important;
}

.image-carousel-modal .modal-dialog .modal-content {
  position: static  !important;
}

.image-carousel-container .image-carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #000;
  opacity: 0.5;

  z-index: 10000;
}

.image-carousel-container .image-carousel-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 10001;
}

.image-carousel-viewer .viewer-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;

  background-color: rgba(17, 17, 17, .9);

  z-index: 10002;
}
.viewer-header .info,
.viewer-header .options>div {
  padding-top: 13px;
}
.viewer-header .info {
  height: 40px;
  padding-left: 30px;
  overflow: hidden;
}

.viewer-header .info .title {
  max-width: 70%;

  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  color: #fff;
}

.viewer-header .options .actions {
  position: absolute;
  top: 0;
  right: 0;

  padding-right: 20px;

  vertical-align: middle;
}

.viewer-header .options .actions>* {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;

  cursor: pointer;
}

.viewer-header .options .actions i {
  color: #fff;
}

.image-carousel-viewer .viewer-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewer-body button {
  position: fixed;

  width: 3rem;
  height: 6rem;

  margin-top: -3rem;
  border: none;

  display: none;
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;

  transition: opacity .1s;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.viewer-body #viewer-prev-btn {
  top: 50%;
}
.viewer-body #viewer-next-btn {
  top: 50%;
  right: 0;
}

.viewer-body .content.loading {
  background-size: 50px;
  width: 50px;
  height: 50px;
}

.viewer-body .content,
.viewer-body .content img {
  position: absolute;
  margin: auto;
}
.viewer-body .content {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.viewer-body .content img {
  top: 56px;
  right: 56px;
  bottom: 56px;
  left: 56px;
}
