.tutorial_right_file_item {
  z-index: 16;
  background:red;
  opacity:0;
  width: 398px;
  height: 86px;
  position: absolute;
  top: 182px;
  right: 0;
}

.tutorial_input_right {
  z-index: 6;
  width: 398px;
  height: 562px;
  position: absolute;
  overflow: hidden;
  top: 375px;
  left: 626px;
}

.tutorial_input_right.disabled {
  z-index: 4;
}

.tutorial_sticker_icon {
  position:absolute;
  bottom: 53px;
  right: 4px;
  opacity: 0.3;
  font-size: 18px;
  color: #000;
}