<div>
  <div class="tutorial_dimm"
      ng-class="{
        'right_search': step === 0,
        'right_file': step === 1,
        'right_comment': step === 2,
        'right_small_menu': step === 3
      }">
  </div>
  <div ng-if="step > 0"
       class="tutorial_right"
       ng-class="{
        'file_list': step < 2,
        'file_detail': step >= 2
      }">
  </div>
  <div ng-if="step === 1" class="tutorial_right_file_item cursor_pointer"
      ng-click="onClickFile();">
  </div>

  <div ng-if="step === 2 || step === 3" class="tutorial_input_right"
      ng-class="{
        'disabled': step === 3
      }">
    <div ng-if="comment.content" class="file-detail-body-container">
      <div class="rpanel-detail-body-comment">
        <div class="comment-item ng-scope">
          <div class="comment-item__thumbnail">
            <img class="user-profile user-thumb-sm cursor_pointer" ng-src="{{ profileUrl }}">
          </div>
          <div class="comment-item-header">
            <span class="comment-item-header__name ng-binding">{{ name }} </span>
            <span class="comment-item-header__created ng-binding">{{comment.time | gethmmaFormat}}</span>
          </div>
          <div class="comment-item-body">
            <p class="keep" data-ng-bind-html="comment.content">
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="comment-input-box">
      <div class="comment-item__thumbnail">
        <img class="user-profile user-thumb-sm cursor_pointer"
             ng-src="{{ profileUrl }}"/>
      </div>
      <form id="comment-form">
        <div class="comment-textarea-wrap">
          <textarea id="file-detail-comment-input"
                    ng-keydown="onKeyDown($event)"
                    class="comment-input"></textarea>
        </div>
        <div class="tutorial_sticker_icon">
          <i class="fa fa-smile-o"></i>
        </div>
        <span class="comment-input__tip pull-left">
          <span translate>@msg-help-multiline</span>
        </span>
        <input type="submit" class="btn comment-btn" ng-click="onClickSubmit()" value="{{ '@btn-comment' | translate }}">
      </form>
    </div>
  </div>
  <tutorial-purse options="purse"></tutorial-purse>
</div>
