<div class="{{::toastClass}} {{::toastType}}" ng-click="tapToast()">
  <i class="status icon"
     ng-class="::{'icon-check-circle': toastType === 'c-toast-success',
                'icon-info-fill': toastType === 'c-toast-info',
                'icon-help-fill': toastType === 'c-toast-warning',
                'icon-warning-fill': toastType === 'c-toast-error'}"></i>
  <div class="toast-text" ng-switch on="allowHtml">
    <div ng-switch-default ng-if="::(title)" class="{{::titleClass}}">{{::title}}</div>
    <div ng-switch-default ng-if="::(message)" class="{{::messageClass}}">{{::message}}</div>
    <div ng-switch-when="true" ng-if="::(title)" class="{{::titleClass}}" ng-bind-html="title"></div>
    <div ng-switch-when="true" ng-if="::(message)" class="{{::messageClass}}" ng-bind-html="message"></div>
  </div>
  <progress-bar ng-if="progressBar"></progress-bar>
</div>
