.image-carousel-modal .modal-dialog {
  position: static !important;
  margin: 0 !important;
  width: 100% !important;
  -webkit-transform: inherit !important;
  -ms-transform: inherit !important;
  -o-transform: inherit !important;
  transform: inherit !important;
}

.image-carousel-modal .modal-dialog .modal-content {
  position: static  !important;
}

.image-carousel-container .image-carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #000;
  opacity: 0.5;

  z-index: 9998;
}

.image-carousel-container .image-carousel-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 9999;
  overflow: hidden;
}

.image-carousel-viewer .viewer-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
}
.image-item-footer .info,
.image-item-footer .options>div,
.viewer-header .info,
.viewer-header .options>div {
  padding-top: 13px;
}
.image-item-footer .info
{
  height: 40px;
  padding-left: 30px;
  overflow: hidden;
}
.image-item-footer .info .title,
.viewer-header .info .title {
  max-width: 70%;

  margin: 0;

  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.image-item-footer .info .title a,
.image-item-footer .info .title a:hover{
  color: #fff;
}

.image-item-footer .options .actions,
.viewer-header .options .actions {
  position: absolute;
  top: 0;
  right: 0;

  line-height: normal;
  padding-right: 20px;

  vertical-align: middle;
}

.image-item-footer .options .actions>*,
.viewer-header .options .actions>* {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;

  cursor: pointer;
}

.image-item-footer .options .actions i,
.viewer-header .options .actions i {
  color: #fff;
}

.image-carousel-viewer .viewer-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.viewer-body button {
  position: fixed;

  width: 3rem;
  height: 6rem;

  margin-top: -3rem;
  border: none;

  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;

  cursor: default;
  opacity: 0;
  transition: opacity .1s;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.viewer-body button.has-prev,
.viewer-body button.has-next {
  cursor: pointer;
  opacity: 1;
}

.viewer-body .viewer-prev-btn {
  top: 50%;
}
.viewer-body .viewer-next-btn {
  top: 50%;
  right: 0;
}

.viewer-body .image-item.loading {
  background-size: 50px;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  min-height: 400px;
  min-width: 400px;

  margin-top: -200px;
  margin-left: -200px;
}

.viewer-body .image-item .ie9-image-rotator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 14px;
}
.viewer-body .image-item .ie9-image-rotator>i {
  position: absolute;
  top: 0;
  right: 0;
}

.viewer-body .image-item img,
.viewer-body .image-item canvas {
  display: inline-block;
  vertical-align: middle;
}
.viewer-body .image-item img,
.viewer-body .image-item canvas {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.viewer-body .image-item canvas {
  width: 100%;
  height: auto;
}
.viewer-body .image-item .vertical-image {
  position: absolute;
  top: 50%;
  left: 50%;
}
.viewer-body .image-item .rotate-90  {
  transform: translate(-50%,-50%) rotate(90deg);
  -ms-transform: translate(-50%,-50%) rotate(90deg);
  -moz-transform: translate(-50%,-50%) rotate(90deg);
  -o-transform: translate(-50%,-50%) rotate(90deg);
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
}
.viewer-body .image-item .rotate-180  {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.viewer-body .image-item .rotate-270  {
  transform: translate(-50%,-50%) rotate(270deg);
  -ms-transform: translate(-50%,-50%) rotate(270deg);
  -moz-transform: translate(-50%,-50%) rotate(270deg);
  -o-transform: translate(-50%,-50%) rotate(270deg);
  -webkit-transform: translate(-50%,-50%) rotate(270deg);
}

.viewer-body .image-item {
  position: absolute;

  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
  background-color: rgba(54, 59, 65, .6);
}
.viewer-body .image-item.no-image-carousel {
  line-height: 400px;
}
.viewer-body .image-item .image-item-footer {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 50px;

  background-color: rgba(17, 17, 17, .9);
  line-height: initial;
  text-align: left;

  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.image-item-footer .info {
  height: 50px;
  line-height: normal;

  padding-top: 9px;
}
.image-item-footer .info .info-1 {
  margin-bottom: 3px;
  font-size: 12px;
  line-height: 13px;
  vertical-align: middle;
}
.image-item-footer .info .info-1 > span {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-item-footer .info .user-name {
  max-width: 50%;
  margin-right: 7px;
  color: #fff;
}
.image-item-footer .info .upload-date{
  color: #999;
}

.image-item-footer .options>div {
  padding-top: 18px;
}
#preload_container_carousel {
  position: absolute;
  top: -10000px;
}
