<!-- Modal: Invite to Team by Email -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>
    <h3 class="modal-header__title">
        <span translate>@team-invite</span>
    </h3>
</div>

<form name="invite_team_form" data-ng-submit="onInviteClick();" novalidate>
    <div class="modal-body invite-team-body">
        <h4 class="modal-body__description">
            <span translate>@modal-team-invite-msg1</span>
        </h4>
        <div class="invite-team-body__container">
            <div class="invite-team-body__container-more cursor_pointer btn-ok" data-ng-click="onAddMoreClick();">
                <i class="icon-add"></i>
                <span translate>@btn-add</span>
            </div>
            <div class="form-horizontal">
                <input type="email" class="form-control invite" name="email" placeholder="{{ '@input-invite-email' | translate }}" data-ng-required="true" />
            </div>
        </div>
        <div data-ng-if="false">
            <span translate>@alert-missing-info</span>
            <span translate>@alert-send-mail-fail</span>
            <span translate>@alert-send-mail-taken</span>
            <span translate>@alert-send-mail-invalid</span>
            <span translate>@alert-send-mail-success</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-ng-click="cancel();"><span translate>@btn-close</span></button>
        <input class="btn btn-ok" type="submit" id="invite_to_team" value="{{ '@btn-invite' | translate }}" data-ng-disabled="invite_team_form.$invalid"/>
    </div>
</form>

<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
