<!-- Modal: File Integration -->
<div class="modal-header">
    <button type="button" class="close" ng-click="close();"><i class="icon-cancel"></i></button>
    <h3 class="modal-header__title">
        <span>{{title}}</span>
    </h3>
</div>

<div class="modal-body">
    <ul class="row">
        <li>
            <div class="image" style="background-image: url({{descImage1}})"></div>
            <div class="desc">
                <p>{{descText1}}</p>
            </div>
        </li>
        <li>
            <div class="image" style="background-image: url({{descImage2}})"></div>
            <div class="desc">
                <p>{{descText2}}</p>
            </div>
        </li>
        <li>
            <div class="image" style="background-image: url({{descImage3}})"></div>
            <div class="desc">
                <p>{{descText3}}</p>
            </div>
        </li>
    </ul>
</div>

<span ng-if="false" translate>@integration-title-google-drive</span>
<span ng-if="false" translate>@integration-desc-google-drive-1</span>
<span ng-if="false" translate>@integration-desc-google-drive-2</span>

<span ng-if="false" translate>@integration-title-dropbox</span>
<span ng-if="false" translate>@integration-desc-dropbox-1</span>
<span ng-if="false" translate>@integration-desc-dropbox-2</span>

<span ng-if="false" translate>@integration-desc-3</span>


<div class="modal-footer">
    <button class="btn btn-cancel" ng-click="close();"><span translate>@btn-cancel</span></button>
    <button class="btn btn-ok" ng-click="integrate()"><span translate>@integration-submit</span></button>
</div>
<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
