<div class="team-switch-container jnd-cursor-pointer" dropdown is-open="isOpen">
  <div class="dropdown dropdown-toggle lpanel-user__team overflow-ellipsis" dropdown-toggle>
    <span class="team-name private-effect white">{{team|getName}}</span>
    <div class="team-switch-button" ng-show="teamList.length > 1">
      <!-- icon-->
      <i class="team-switch icon-switch"
         tooltip="{{::'@team-switch' | translate}}"
         tooltip-placement="bottom" 
         tooltip-append-to-body="true"></i>
      <div class="dot" ng-class="{'blink': hasBlink}" ng-show="hasBadge"></div>
    </div>
  </div>
  <!-- team list -->
  <ul class="dropdown-menu team-list _list" dropdown-menu>
    <li class="team-item"
        ng-click="go(team)"
        ng-if="currentTeamId !== team.teamId"
        ng-repeat="team in teamList | orderBy: ['-extHasUnread', 'name'] track by team.teamId">
      <span class="team-name overflow-ellipsis">{{team.name}}</span>
      <span class="team-badge badge red_badge" ng-if="team.unread">{{team.unread|unreadBadgeCount}}</span>
    </li>
  </ul>
</div>
