.team-switch-container {
  position: absolute;
  right: 12px;
  top: 10px;
  z-index:600;
}
.team-switch-container i{
  font-size: 16px;
  opacity: 0.7;
}
.team-switch-container i.open {
  opacity: 1;
}

.team-switch-container i:hover{
  opacity: 1;
}

.team-switch-container ul {
  background: #366480;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  display: none;
  top: 25px;
  right: -12px;
  width: 240px;
  /*border: 1px solid black;*/
  padding: 4px 0 5px 0;
  margin: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.team-switch-container li {
  height: 34px;
  vertical-align: bottom;
  padding: 9px 10px 0 15px;
}
.team-switch-container ul li {
  list-style: none;
  display: block;
}
.team-switch-container ul li:hover {
  background: #2D576F;
}
.team-switch-container ul li .badge {
  float: right;
}
.team-switch-badge {
  color: white;
  max-width: 100px;
  min-width: 26px;
  padding: 3px 7px;
}