.notification-audio-btn-group {
  width: 100%;
}

.notification-audio-btn-group .btn {
  font-size: 14px;
}

.notification-audio-btn-group .option-sound {
  float: right;
  height: 32px;
  margin-top: -.5em;
}

.notification-audio-btn-group .option-sound i {
  display: block;
  padding: 5px 10px 5px 10px;
  margin-top: 3px;
  line-height: 13px;
  border-radius: 15px;
  background-color: rgba(21,74,103,.1);
  color: #154a67;
}

.notification-audio-btn-group .option-sound i:hover {
  background-color: rgba(21,74,103,.24);
}
