<div class="" ng-class="{'opac-in': isReady }">

  <aside class="lpanel non-selectable">

    <!-- USER INFO CONTAINER -->
    <current-user></current-user>

    <div class="tutorial-clicker tutorial-z-index pulse" id="topicTutorial" data-ng-click="onTutorialPulseClick($event);"
         data-ng-if="!tutorialStatus.topicTutorial"></div>

    <!-- LIST CONTAINER -->
    <div class="lpanel-list" id="lpanel-list-container">
      <!--    HEADER  -->
      <div class="lpanel-list__header cursor_pointer" ng-click="leftListCollapseStatus.isTopicsCollapsed = !leftListCollapseStatus.isTopicsCollapsed">

        <i class="fa lpanel-collapse-arrow" ng-class="{'fa-caret-down': !leftListCollapseStatus.isTopicsCollapsed,
                                                'fa-caret-right': leftListCollapseStatus.isTopicsCollapsed}"></i>

        <i class="lpanel-list-left icon-topic-fill"></i>

        <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-topics</span>

        <div class="lpanel-list-option pull-right" ng-click="openModal('channel'); $event.stopPropagation(); $event.preventDefault();"
             tooltip="{{'@common-add' | translate}}" tooltip-popup-delay="567" tooltip-placement="left">
          <i class="icon-add"></i>
        </div>

        <div class="lpanel-list-option pull-right" ng-click="openModal('join'); $event.stopPropagation(); $event.preventDefault();"
             tooltip="{{'@common-more' | translate}}" tooltip-popup-delay="418" tooltip-placement="left">
          <i class="icon-list"></i>
        </div>

      </div>
      <topics>
        <topic></topic>
      </topics>

      <!-- DIRECT MESSAGES    -->
      <div class="lpanel-list__users">
        <messages>
        </messages>
      </div>
      <!--<div ng-if="unread.above.length" class="lpanel-list-help-unread above">-->
        <!--<button type="button" class="btn btn-danger" ng-click="goUnreadAbove($event);">위에 읽지 않은 메세지가 있습니다.</button>-->
      <!--</div>-->
      <div ng-if="unread.below.length" class="lpanel-list-help-unread below">
          <button type="button" class="btn btn-danger" ng-click="goUnreadBelow($event);"><span translate>@common-new-message</span> <i class="fa fa-angle-double-down"></i></button>
      </div>
    </div>



  </aside>

  <div ui-view="centerpanel" class="cpanel" ng-class="{'rpanel-show': $state.includes('**.files.**')}"></div>

</div>


<span ng-if="false">
    <span translate>@channel</span>
    <span translate>@user</span>
    <span translate>@privateGroup</span>
    <span translate>@file-size-too-large-error</span>
    <span translate>@common-api-error-msg</span>
</span>
