<div ui-view="headerpanel" class="hpanel"></div>

<aside class="lpanel pull-left">

    <!-- USER INFO CONTAINER -->
    <div class="lpanel-user cursor_pointer" ng-click="onUserContainerClick();">
        <span data-toggle="dropdown">
            <img class="lpanel-user__avatar" data-ng-src="{{ server_uploaded + user.u_photoThumbnailUrl.smallThumbnailUrl }}">
            <div class="lpanel-user__container">
                <span class="lpanel-user__name inline-overflow-ellipsis"><b>{{team.name}}</b><br/>
                    {{user | getUserPosition }} {{user | getName}}</span>
            </div>
            <i class="fa fa-caret-up lpanel-user__more hidden"></i>
        </span>
    </div>

    <!-- TEAM CONTAINER  -->
    <div class="lpanel-team hidden">
        <span class="lpanel-team__name overflow-ellipsis right_padding dropdown-toggle">
            {{ team.name }}
        </span>
    </div>

    <!-- LIST CONTAINER -->
    <div class="lpanel-list">

        <!-- STARRED CONTAINER  -->
        <div class="lpanel-list__stars" ng-show="entities.stars.length">
            <h2 id="starred_section_header" class="overflow-ellipsis"><span class="glyphicon glyphicon-star"></span> Starred</h2>
        </div>

        <!-- CHANNEL -->
        <div class="lpanel-list__channels">

            <!--    HEADER  -->
            <div class="lpanel-list__header cursor_pointer" ng-click="isChListCollapsed = !isChListCollapsed">
                <i class="lpanel-list-left fa fa-comment"></i>

                <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-channels</span>

                <div class="lpanel-list-option pull-right" ng-click="openModal('channel'); $event.stopPropagation(); $event.preventDefault();">
                    <i class="fa fa-plus"></i><span translate>@common-add</span>
                </div>
                <div class="lpanel-list-option pull-right" ng-click="openModal('join'); $event.stopPropagation(); $event.preventDefault();">
                    <i class="fa fa-list"></i><span translate>@common-more</span>
                </div>

            </div>

            <!--    LIST    -->
            <ul id="channel-list" collapse="isChListCollapsed">
                <li ng-repeat="joinedChannel in joinedChannelList" ng-class="{active: $state.params.entityId == joinedChannel.id}">
                    <a ui-sref="archives({entityType:'channels',entityId:joinedChannel.id})" data-channel-id="{{joinedChannel.id}}">
                        <span class="inline-overflow-ellipsis left-panel__name">
                            <span class="prefix">#</span> {{joinedChannel.name}}
                        </span>
                        <span class="badge left-panel_badge green_badge pull-right">{{joinedChannel.alarmCnt}}</span>
                    </a>
                </li>
            </ul>

            <div class="clear-both"></div>
        </div>

        <!-- PRIVATE GROUPS -->
        <div class="lpanel-list__groups">

            <!--    HEADER  -->
            <div class="lpanel-list__header cursor_pointer" ng-click="isPGCollapsed = !isPGCollapsed">
                <i class="lpanel-list-left fa fa-unlock-alt"></i>

                <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-private-groups</span>

                <div class="lpanel-list-option pull-right" ng-click="openModal('private'); $event.stopPropagation(); $event.preventDefault();">
                    <i class="fa fa-plus"></i><span translate>@common-add</span>
                </div>

            </div>

            <!--    LIST    -->
            <ul id="group-list" collapse="isPGCollapsed">
                <li class="group cursor_pointer" ng-repeat="group in privateGroupList" ng-class="{active: $state.params.entityId == group.id}">
                    <a ui-sref="archives({entityType:'privateGroups',entityId:group.id})" class="channel_name" data-group-id="{{group.id}}">
                        <!--<i class="fa fa-times-circle group_close"></i>-->
                        <span class="inline-overflow-ellipsis left-panel__name" data-ng-bind="group.name"></span>
                        <span class="badge left-panel_badge green_badge pull-right">{{group.alarmCnt}}</span>

                    </a>
                </li>
            </ul>

            <div class="clear-both"></div>
        </div>

        <!-- DIRECT MESSAGES    -->
        <div class="lpanel-list__users">

            <!--    HEADER  -->
            <div class="lpanel-list__header cursor_pointer" ng-click="isDMCollapsed = !isDMCollapsed">
                <i class="lpanel-list-left fa fa-user"></i>
                <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-direct-messages</span>
            </div>

            <!--    LIST    -->
            <ul id="dm-list" collapse="isDMCollapsed">
                <div class="lpanel-list-user_search">
                    <i class="fa fa-search absolute-search-icon"></i>
                    <input type="text"
                           class="form-control lpanel-list-user-search__box"
                           placeholder=""
                           data-ng-model="userNameQuery"
                           data-ng-focus="onDMInputFocus();"
                           data-ng-blur="onDMInputBlur();"/>
                </div>

                <li class="member cursor_pointer" ng-repeat="userEntity in visibleUsers = (userList | userByName:userNameQuery)">
                    <a ui-sref="archives({entityType:'users',entityId: userEntity.id})" data-member-id="{{userEntity.id}}">
                        <span class="inline-overflow-ellipsis left-panel__name">{{userEntity | getName}}</span>
                        <span class="badge left-panel_badge green_badge pull-right">{{userEntity.alarmCnt}}</span>
                    </a>
                </li>
            </ul>

            <div class="clear-both"></div>
        </div>

    </div>
</aside>

<div ui-view="centerpanel" class="cpanel" ng-class="{'rpanel-show': $state.includes('**.files.**')}"></div>
