<div>
  <!-- DUMMY LAYOUT -->
  <div ng-class="{
            'z-index-top': isShowDummyLayout,
            'z-index-bottom': !isShowDummyLayout
           }">
    <aside class="full-screen lpanel">
      <div class="lpanel-user lpanel-user__team">
        <div class="lpanel-user__team overflow-ellipsis">
        </div>
      </div>
    </aside>
    <div ng-if="isShowDummyLayout" class="cpanel"
         ng-class="{'rpanel-show': isOpenRightPanel}">
      <div class="msgs__loading initial">
        <div class="dummy_initial_wrap">
          <span ng-if='!browser.msie' class="three-quarters-loader jnd-three-quarters-loader"></span>
          <div class="dummy_initial_text">
            <h3 animate-text="initialLoadingTexts">Loading</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="lpanel non-selectable opac-zero"
         ng-class="{'opac-in': !isShowDummyLayout,
                    'scroll_blue': !browser.platform.isMac}">
    <current-user></current-user>

    <!-- LIST CONTAINER -->
    <div class="lpanel-list" id="lpanel-list-container">

      <!-- TOPICS -->
      <topics></topics>
      <!-- DIRECT MESSAGES    -->
      <div class="lpanel-list__users">
        <messages></messages>
      </div>
    </div>
    <!--<div ng-if="unread.above.length" class="lpanel-list-help-unread above">-->
      <!--<button type="button" class="btn btn-danger" ng-click="goUnreadAbove($event);"><span translate>@common-new-message</span> <i class="fa fa-angle-double-down"></i></button>-->
    <!--</div>-->
    <div ng-if="unread.below.length" class="lpanel-list-help-unread below">
      <button type="button" class="btn btn-danger" ng-click="goUnreadBelow($event);"><span translate>@common-new-message</span> <i class="icon-angle-double-down"></i></button>
    </div>
    <left-folder-dropdown-layer></left-folder-dropdown-layer>
  </aside>
  <div class="cpanel opac-zero" id="cpanel"
       ng-class="{'scroll_gray': !browser.platform.isMac,
                  'rpanel-show': isOpenRightPanel,
                  'opac-in': !isShowDummyLayout}">
    <entity-header></entity-header>
    <div ui-view="centerpanel"></div>
  </div>
</div>


<span ng-if="false">
    <span translate>@channel</span>
    <span translate>@user</span>
    <span translate>@privateGroup</span>
    <span translate>@file-size-too-large-error</span>
    <span translate>@common-api-error-msg</span>
</span>
