.client-spinner-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 999999;
  background: #FFFFFF;
}

.client-spinner {
  width:120px;
  height:120px;
  margin-left:50%;
  left:-60px;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.spinner-logo {
  background-image: url('../../../assets/images/jnd-logo-only.png');
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position:50% 32px;
  background-color: #f1f4f8;
  background-size: 64px 64px;
  border-radius: 50%;
  z-index: 99 !important;
}
.spinner-gif {
  position:absolute;
  width: 128px;
  height: 128px;
  top:-4px;
  left:-4px;
  z-index: -1;
}


@-webkit-keyframes default-ie-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  35% {
    -webkit-transform: rotate(230deg);
    transform: rotate(230deg);
  }
  70% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes default-ie-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  35% {
    -moz-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
    -webkit-transform: rotate(230deg);
    transform: rotate(230deg);
  }
  70% {
    -moz-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.default-ie-loader:not(:required) {
  -moz-animation: default-ie-loader 1260ms infinite linear;
  -webkit-animation: default-ie-loader 1260ms infinite linear;
  animation: default-ie-loader 1260ms infinite linear;
  border: 3px solid #00abe6;
  border-right-color: transparent;
  border-radius: 100px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 126px;
  height: 126px;
  top:-3px;
  left:-3px;
}


svg.spinner {
  background: transparent;
  position:absolute;
  top: 16px;
  left: -4px;
  width: 128px;
  height: 128px;
}
.spinner-inner-circle {
  fill:transparent;
  stroke:#1dade7;
  stroke-width:3;
  stroke-linecap:round;
  stroke-dasharray:400;
  -webkit-transform-origin: 64px 64px 0;
  -moz-transform-origin: 64px 64px 0;
  -ms-transform-origin: 64px 64px 0;
  -o-transform-origin: 64px 64px 0;
  transform-origin: 64px 64px 0;
  /*transform: rotate(-90deg);*/

  -webkit-animation: spinner 3.3s linear infinite;
  -moz-animation: spinner 3.3s linear infinite;
  -ms-animation: spinner 3.3s linear infinite;
  -o-animation: spinner 3.3s linear infinite;
  animation: spinner 3.3s linear infinite;

}

@keyframes spinner {
  0% {
    transform: rotate(-90deg);
    stroke-dashoffset: 60;
  }
  60% {
    transform: rotate(630deg);
    stroke-dashoffset: 380;
  }
  100% {
    transform: rotate(990deg);
    stroke-dashoffset: 60;
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(-90deg);
    stroke-dashoffset: 60;
  }
  50% {
    -webkit-transform: rotate(630deg);
    stroke-dashoffset: 380;
  }
  100% {
    -webkit-transform: rotate(990deg);
    stroke-dashoffset: 60;
  }
}
@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(-90deg);
    stroke-dashoffset: 60;
  }
  50% {
    -moz-transform: rotate(630deg);
    stroke-dashoffset: 380;
  }
  100% {
    -moz-transform: rotate(990deg);
    stroke-dashoffset: 60;
  }
}
@-ms-keyframes spinner {
  from {
    -ms-transform: rotate(-90deg);
    stroke-dashoffset: 60;
  }
  50% {
    -ms-transform: rotate(630deg);
    stroke-dashoffset: 380;
  }
  to {
    -ms-transform: rotate(990deg);
    stroke-dashoffset: 60;
  }
}
