<div class="jandi-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-7 col-xs-12">
                <p class="jandi-footer__text">2014 Toss Lab, Inc. All Rights Reserved.</p>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-12">
                <div class="jandi-footer__terms">
                    <a href="#" data-ng-click="$event.preventDefault(); openModal('privacy');"><span translate>@common-terms-of-service</span></a>
                    <span class="divider">|</span>
                    <a href="#" data-ng-click="$event.preventDefault(); openModal('privacy');"><span translate>@common-privacy-policy</span></a>
                </div>
            </div>
        </div>
    </div>
</div>