<div class="connect-union-plug-container">
  <div class="connect-union-plug-icon">
    plug icon
  </div>
  <div>
    <div class="connect-union-plug-title">
      <i class="icon-user"></i> <span>{{plug.user.name}}</span>
    </div>
    <div class="connect-union-plug-desc">
      <span ng-if="plug.room.type === 'channels'">
        <i class="icon-topic"></i> <span>{{ plug.room.name }}</span>
      </span>
      <span ng-if="plug.room.type !== 'channels'">
        <i class="icon-lock"></i> <span>비공개 또는 1:1 메시지</span>
      </span>

    </div>
  </div>
  <div class="connect-union-float-right connect-union-plug-tool-container"
    ng-class="{
      'on': plug.isOn
    }">
    <span class="connect-union-plug-tool-text" ng-click="toggleOnOff()">{{plug.isOn}} 작동중</span>
    
    <div class="switch-button switch-off switch-on" ng-class="{'switch-on': active}" ng-click="onClick();">
	  <div class="switch-background"></div>
      <div class="switch-handler"></div>
    </div>
    
    <span class="opt-button jnd-cursor-pointer"><i class="icon-pencil"></i></span>
    <span class="opt-button jnd-cursor-pointer"><i class="icon-trash"></i></span>
  </div>
  <div class="clear" style="clear: both;float: none;"></div>
</div>