  <div class="connect-union-container _card"
       ng-class="{
       'open': union.isOpen
       }">
  <div class="connect-union-header">
    <img class="connect-union-icon" ng-src="{{::union.imageUrl}}"/>
    <div class="connect-union-contents">
      <div class="connect-union-title jnd-cursor-pointer">
        {{::union.title}}
        
        <div class="connect-union-tooltip">
	      <i class="icon-info-fill"></i>
	      <div class="description-container">
          <div class="description-arrow-left"></div>
          <div class="description-content-container">
          <div class="topic-description__description keep selectable ng-binding" ng-class="">
            <span>
            <!--<b class="service-name jnd-cursor-pointer">Github</b>는 Git 버젼 컨트롤 시스템에 기반한 오픈소스 프로젝트를 위한 소셜 저장소입니다. -->
            <!--잔디와 연동하게 되면 Git 브랜치의 Commit, Comments, Pull Request 등의 변동사항을 팀 내에서 메시지로 수신할 수 있습니다.-->
              {{::union.popover}}
            </span>
          </div>
          <span class="connect-union-btn btn-ok primary jnd-cursor-pointer" ng-click="addPlug()">연동하기</span>
        </div>
		  </div>
		  
        </div>
      </div>
      
      <div class="connect-union-desc">
        {{::union.desc}}
      </div>
      
    </div>
    <div class="connect-union-float-right">
	  <span class="connect-union-btn btn-ok primary pull-right jnd-cursor-pointer" ng-click="addPlug()">연동 항목 추가하기</span>
      <span ng-if="union.plugs.length" class="connect-union-btn white-button pull-right jnd-cursor-pointer" ng-click="toggleCollapse();">{{union.plugs.length}} 개의 연동된 항목</span>
    </div>
  </div>
  <div class="connect-union-body" ng-style="{
    'display': style.display
  }">
    <jnd-connect-card-plug ng-repeat="plug in union.plugs"></jnd-connect-card-plug>
  </div>
</div>
