<div class="text-msg-item-container">
  <!--  User Thumbnail -->
  <div ng-if="hasProfile" class="msg-item-float cursor_pointer _user">
    <img class="user-profile user-thumb" ng-src="{{ msg.exProfileImg }}"/>
  </div>

  <div ng-if="hasProfile" class="msg-item-header _user">
    <!--    WRITER-->
      <span class="msg-item-header__name cursor_pointer">
        <span class="msg-item-header__nameSpace">
          <span>{{ msg.extWriterName }}</span>
        </span>
      </span>
  </div>

  <div class="msg-item-body">
    <!-- TEXT -->
    <div class="msg-text">
      <img ng-if="::msg.message.contentType === 'sticker'" class="sticker size_5" ng-src="{{msg.message.content.url}}"/>
      <span ng-if="::msg.message.contentType !== 'sticker'"
            class="keep msg-text-body msg-text-sending"
            ng-bind-html="(msg.message.content.body) || ''"></span>
      <!--  TIME  -->
      <span class="msg-item-header__created" ng-bind="msg.extTime"></span>

      <!--  SENDING STATUS SPINNING WHEEL -->
      <span ng-if="msg.status === 'failed'" >
        <a class="cursor_pointer">
          <span class="msg-item-header__retry" ng-click="retry()"><i class="icon-refresh"></i> Retry</span>
        </a>
      </span>
    </div>
    <div class="msg-extra">
      <!-- More -->
      <span class="msg-item-icon">
        <span class="" center-item-dropdown>
          <i class="icon-more-fill msg-item__action msg-item-circle msg-item-more cursor_pointer"></i>
        </span>
      </span>
    </div>
  </div>
</div>
