logs/*
!.gitkeep
node_modules/
client/bower_components/
dist/
coverage/
test-junit-results.xml
tmp
.tmp/
.DS_Store
.idea
atlassian-ide-plugin.xml
client/components/config/common/config.js
client/assets/javascripts/handlebars.templates.js
config/environments/local.team.json
markup/index.html
*.mo
