.jnd-connect.tutorial-popup.dropdown-menu {
  display: block;
  position: absolute;
  top: 10px;
  left: 11px;
  min-width: 400px;
  max-width: 400px;
  z-index: 525;
  text-align: center;
  background-color: white;
}
.jnd-connect .dropdown-title {
  display: block !important;
  padding-top: 14px;
  padding-bottom: 8px;
  font-size: 18px;
}
.jnd-connect .jnd-connect-logo {
  height: 17px;
  width: 17px;
  display: inline-block;
  position: relative;
  top: 2px;
  left: -2px;
}
.jnd-connect button.close {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #154a67;
  z-index: 1;
}
.jnd-connect .dont-show-again-container {
  margin-top: 10px;
  padding-top: 0;
  border: none;
}
.jnd-connect .popup-top-arrow {
  position:absolute;
  left: 23px;
  top:-7px;
  height: 14px;
  width: 14px;
  background-color: white;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index: -1;
}