<div ng-show="isShown && isVideoLoaded" class="opac-zero tutorial-popup jnd-connect dropdown-menu"
     ng-class="{
    'opac-in': isShown && isVideoLoaded
    }">
  <div class="popup-top-arrow"></div>

  <div class="tuto-mp4-container">
    <button type="button" class="close" ng-click="close();"><i class="icon-delete"></i></button>
    <video src="assets/videos/new-feature/jnd-connect.mp4" autoplay loop preload="auto" width="400">
    </video>
  </div>

  <span class="dropdown-title" translate>
    <i class="jnd-connect-logo"></i>
    JANDI Connect
  </span>

  <span class="dropdown-contents" translate>@Google 캘린더, Trello, JIRA, 그리고 GitHub과 같은 외부<br/>서비스를 잔디에 등록하여 변경사항을 메시지로 받아볼 수 있는<br/>기능인 잔디 커넥트가 출시되었습니다.<br/><b>이제 더욱 더 이메일을 사용할 일이 없어집니다.</b></span>

  <div class="dont-show-again-container">
    <input type="checkbox" id="tutorial-connect-never-show" ng-model="isClose" ng-change="closeAndNeverShow()"/><label for="tutorial-connect-never-show"><span translate>@folder-tutorial-never-show</span></label>
  </div>

  <div class="dropdown-footer">
    <div class="btn btn-ok" ng-click="addConnect();" translate>
      @잔디 커넥트 추가하기
    </div>
  </div>
</div>
