.rpanel {
  width: 400px;
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.rpanel .tooltip-inner {
  white-space: pre;
  max-width: none;
}

.rpanel.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.rpanel > div {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.rpanel .tab-content {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
}
.rpanel .files,
.rpanel .file {
  z-index: 1;
  background-color: #fff;
}

.rpanel.extend {
  background-color: #fff;
}
.rpanel__background {
}

.rpanel__background .panel-title-container {
  border: none;
}
.rpanel__background.extend {
  background-color: #f2f2f2;
}
.rpanel__background-body {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 10px;
  overflow: hidden;
  background: #fff;
}
.rpanel__loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.rpanel__background .panel-title-container,
.rpanel .panel-title-container {
  background-color: #366480;
  height: 41px;
  line-height: 41px;
}
.rpanel-header a { color: #00a6e9; }
.rpanel-header a:hover { text-decoration: none; color: #31c08a; }
.rpanel-header-heading { position: relative; font-weight: 700; }
.rpanel-header-heading__back { vertical-align:middle; color:white;}
.rpanel-header-heading__back:hover { color: rgba(255,255,255,0.7); }
.rpanel-header-heading__back i { font-size: 18px; vertical-align: text-bottom; margin-right: -3px; }

.file-item-meta__shared {
  color: #00a5e9;
  margin-left: 3px;
  word-wrap: break-word;
  text-decoration: underline;
  margin-right: 2px;
}
.file-item-meta__shared:hover {
  color: #00709E;
}

.scroll_loading_bg {
  display: none;
}

.loading_container.file {
  position: absolute;
  display: none;
}
.loading_container_background.file {
  display: none;
}

.opac_out {
  -webkit-animation: opacOut-to-0 0.5s; /* Chrome, Safari, Opera */
  animation: opacOut-to-0 0.5s;
}

.from_right {
  -webkit-animation: fromRight 0.5s; /* Chrome, Safari, Opera */
  animation: fromRight 0.5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fromRight {
  0%      { right: -480px; }
  25%     { right: -320px; }
  50%     { right: -160px; }
  100%    { right: 0px; }
}
/* Standard syntax */
@keyframes fromRight {
  0%      { right: -480px; }
  25%     { right: -320px; }
  50%     { right: -160px; }
  100%    { right: 0px; }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes toRight {
  0%      { right: 0px; }
  25%     { right: -160px; }
  50%     { right: -320px; }
  100%    { right: -480px; }
}
/* Standard syntax */
@keyframes toRight {
  0%      { right: 0px; }
  25%     { right: -160px; }
  50%     { right: -320px; }
  100%    { right: -480px; }
}

.opacOut_hidden {
  -webkit-animation: opacOut_hidden 0.5s; /* Chrome, Safari, Opera */
  animation: opacOut_hidden 0.5s;
  display: none;
}

.right-panel-disabled-member {
  text-decoration: line-through;
  opacity: 0.4;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opacOut_hidden {
  from {opacity: 1;}
  to {opacity: 0; visibility: hidden !important; display: none !important;}
}
@keyframes opacOut_hidden {
  from {opacity: 1;}
  to {opacity: 0; visibility: hidden !important; display: none !important;}
}

.rpanel-loading {
  position: relative;
  padding: 27px;
}

.rpanel-body-tab-container > .nav-tabs {
  display: none;
}

.rpanel__background-header,
.rpanel-header {
  position: relative;
  text-align: center;
  height: 35px;
  line-height: 35px;
  background-color: #f1f4f8;
  border-bottom: 1px solid #e1e1e1;
}

.rpanel-header i {
  position: absolute;
  display: block;
  color: #154a67;
  font-size: 14px;
  margin-top: 11px;
  margin-left: 15px;
  cursor: pointer;
}
.rpanel-header .icon-long-arrow-left {
  font-size: 18px;
  margin-top: 9px;
}
.rpanel-header span {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  font-size: 15px;
  color: #333;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -2px;
}

/* search result */
.search-result-container {
  color: #999999;
  border-bottom:1px solid #E1E1E1;
  margin-top:-1px;
}
.search-result-container .search-result-summary-ing,
.search-result-container .search-result-summary {
  margin: 13px 0 13px 40px;
  padding-top:0px;
  padding-bottom:1px;
}
.search-result-container .search-result-summary {
  margin-left: 16px;
}
.search-result-container .search-result-summary-ing .three-quarters-loader,
.rpanel-message-search .search-status-container .search-result-summary-ing .three-quarters-loader {
  position: absolute;
  left: 14px;
  top: 13px;
  width: 16px;
  height: 16px;
}
.search-result-container .rpanel-list-empty__img,
.search-result-container .star-empty__img {
  margin-bottom: 20px;
  width: 100px;
  height: 80px;
}

.rpanel-body.star-list .search-result-container,
.rpanel-body.mention-list .search-result-container {
  border-bottom-width: 0px;
}

.rpanel-body.star-list .search-result-container .search-result-summary-ing,
.rpanel-body.mention-list .search-result-container .search-result-summary-ing {
  margin-top: 70px;
  margin-left: 0px;
  text-align: center;
}

.show {
  display: block !important;
}
.show-inline-block {
  display: inline-block !important;
}

.end-of-list {
  position: relative;
  width: 100%;
  height: 54px;
}
.end-of-list > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background-color: #e0e0e0;
}
