<div class="panel-title-container">
  <span class="rpanel-header-heading" translate>@common-files</span>

  <div id="add_new_file" class="rpanel-header-heading__files cursor_pointer">
    <i class="icon-upload"></i>
    <span translate>@common-upload-file</span>
    <input type="file"
           id="file_list_button"
           class="cursor_pointer file_upload_btn float-right"
           onclick="this.value=null"
           data-ng-file-select="onFileSelect($files);"
           defaultValue="File"/>
  </div>
</div>


<div class="rpanel-body" infinite-scroll-bottom="">
  <div class="rpanel-header-toolbar">

    <!--    FILE SEARCH INPUT BOX   -->
    <div class="rpanel-body-search add-on-group">
            <span class="add-on-left">
                <i class="icon-search"></i>
            </span>

      <input type="text"
             class="form-control rpanel-body-search__input search-input"
             placeholder="{{ '@input-search-file-title' | translate }}"
             data-ng-model="fileRequest.keyword"
             on-enter="onFileTitleQueryEnter();">
            <span class="add-on-right cursor_pointer" ng-click="isAdvancedOptionCollapsed = !isAdvancedOptionCollapsed">
                <i class="fa fa-sliders"></i>
            </span>
    </div>

    <!--    ADVANCED SEARCH OPTION  -->
    <div class="advanced-search-option-container" collapse="isAdvancedOptionCollapsed">

      <!--   CHAT ROOM  -->
      <div class="advanced-search-option__category">
        <div class="advanced-search-option__title">
          <span translate>@common-shared-in</span>
        </div>

        <select ng-model="sharedEntitySearchQuery"
                ng-options="channel as channel|getName group by channel.typeCategory for channel in selectOptions | orderBy: 'name'">
          <option value="">{{ '@option-all-rooms' | translate }}</option>
        </select>

      </div>

      <!--   FILE WRITER  -->
      <div class="advanced-search-option__category">
        <div class="advanced-search-option__title">
          <span translate>@common-member</span>
        </div>

        <select ng-model="fileRequest.writerId"
                ng-options="user.id as user | getName for user in selectOptionsUsers | orderBy: 'name'">
          <option value="">{{ '@option-all-members' | translate }}</option>
        </select>

      </div>

      <!--    FILE TYPE  -->
      <div class="advanced-search-option__category">
        <div class="advanced-search-option__title">
          <span translate>@common-file-type</span>
        </div>
        <select ng-model="fileRequest.fileType"
                ng-options="type|upperFirstCharacter for type in fileTypeList"></select>
      </div>

    </div>
  </div>

  <div class="rpanel-body-content file-list" >

    <div class="file-list__item cursor_pointer" data-ng-repeat="file in fileList "
         ui-sref="files({ userName: file.writer.name, itemId: file.id })">

      <!--    IMAGE THUMBNAIL -->
      <div class="imaage_wrapper pull-left">
        <img rotate rotate-width="65" rotate-height="65" class="cursor_pointer msg-file-body__img"
             data-ng-show="(file.content.type).indexOf('image') !== -1"
             data-ng-src="{{ server_uploaded+file.content.extraInfo.smallThumbnailUrl }}"
             data-ui-sref="files({ userName: file.writer.name, itemId: file.id })"/>
      </div>

      <!--    IF NOT IMAGE TYPE, SHOW FILE TYPE PREVIEW   -->
      <div class="msg-file-body__thumbnail pull-left"
           data-ng-if="(file.content.type).indexOf('image') == -1">
        <!--<div class="fileicon fileicon_{{ file.content.type | filetype | lowercase}}"></div>-->
        <img class="fileicon" ng-src="assets/images/fileicon_{{file.content.type | getFileIconImage | lowercase}}.png"/>

      </div>

      <!-- OTHER INFORMATION ABOUT FILE: TITLE, UPLOADED TIME, SHARED CHANNELS, LINK TO NEW TAB -->
      <div class="file-item-body">

        <!-- FILE AUTHOR(FILE UPLOADER) AND UPLOADED TIME-->
        <!-- TODO: implement or link 'onUserClick()'    -->
        <div class="file-item-body__author__time">
                    <span data-ng-click="onUserClick(file.writer);"
                          class="file-item-body-author cursor_pointer">
                        {{file.writer|getName }}
                    </span>
          <span class="file-item-meta__createtime">{{ file.createTime | date: 'yyyy/MM/dd h:mm a' }}</span>
          <span class="file-item-meta__comments">{{ file.commentCount }}</span>
        </div>

        <!-- FILE TITLE -->
        <div class="file-item-body__title">
                    <span class="file-item-body-title">
                        {{ file.content.title }}
                    </span>
        </div>

        <!--    UPLOADED TIME, SHARED CHANNELS/PRIVATEGROUPS, LINK
                CURRENTLY HIDDEN    -->
        <div class="file-item-meta file-item-meta__listview hidden">
          <div data-ng-if="file.shared.length" class="file-item-meta__info">
            <span translate>@common-shared-in</span>
                        <span data-ng-repeat="sharedEntity in filteredSharedFile = (file.shared | filter : {type:'!user'}) track by $index">
                            <span data-ng-hide="($index === 0)">, </span>
                            <span class="file-item-meta__shared cursor_pointer" data-ng-click="onClickSharedEntity(sharedEntity.id)">
                                {{ sharedEntity.prefix }}{{ sharedEntity.name }}
                            </span>
                            <a class="link-remove link-unshare cursor_pointer" data-ng-click="onClickUnshare(file, sharedEntity)">
                              <i class="fa fa-minus-circle"></i>
                            </a>
                        </span>
                        <span data-ng-show="file.shared.length != filteredSharedFile.length">
                            <!--<span data-ng-show="filteredSharedFile.length != 0"> and </span>with users.-->
                        </span>
          </div>

          <div class="file-item-meta__empty file-item-meta__info" data-ng-hide="file.shareEntities.length != 0">
            <span translate>@alert-empty-file-shared</span>
          </div>

          <div class="file-item-meta-open file-item-meta__info">
            <a class="file-item-meta-open__public cursor_pointer" href="{{ server_uploaded + file.content.fileUrl }}" target="{{ server_uploaded + file.content.fileUrl }}">
              <span translate>@msg-open-original</span>
            </a>
          </div>

        </div>
      </div>

      <!--    DROPDOWN MENU   -->
      <div class="file-item-body-title__more" dropdown ng-click="$event.stopPropagation();">

        <i class="icon-more dropdown-toggle" tooltip="{{ '@file-action-more' | translate }}" tooltip-placement="bottom"></i>


        <ul class="dropdown-menu grey_dropdown file_action_dropdown" role="menu">
          <li class="cursor_pointer">
            <a data-ng-click="onClickShare(file);">
              <i class="icon-share"></i>
              <span translate>@btn-share</span>
            </a>
          </li>

          <li class="cursor_pointer">
            <a data-ng-click="setCommentFocus(file);">
              <i class="fa fa-comment-o"></i>
              <span translate>@btn-comment</span>
            </a>
          </li>

          <li class="cursor_pointer">
            <a href="{{ server_uploaded  + 'download/' + file.content.fileUrl }}" download="{{ file.content.name }}">
              <i class="icon-download"></i>
              <span translate>@common-download</span>
            </a>
          </li>

          <li class="cursor_pointer" ng-if="file | isFileWriter:member">
            <a data-ng-click="onFileDeleteClick(file.id)">
              <i class="icon-cancel"></i>
              <span translate>@message-delete</span>
            </a>
          </li>


        </ul>
      </div>

    </div>

    <!--    MESSAGE WHEN THERE IS NO ITEM TO SHOW   -->
    <div ng-show="fileList.length == 0">
      <div ng-if="fileRequest.keyword == ''" class="rpanel-body-content__result-msg">
        <span translate>@alert-empty-file</span>
      </div>

      <div ng-if="fileRequest.keyword != ''" class="rpanel-body-content__result-msg">
        <span translate>@alert-empty-file-search</span> <strong>{{ fileRequest.keyword }}</strong>
        <br><i style="font-size: 11px;"> Please, hit enter to search again.</i>
      </div>

    </div>


    <div class="file-list__item loading" ng-if="isScrollLoading">
      <div class="loading_container_background scroll_loading_container_background"></div>
      <div class="loading_bg scroll_loading_bg"></div>
      <div class="loading_bar icon-loading scroll_loading_bar"></div>
    </div>

  </div>
</div>
