<div class="jnd-pdf-viewer-wrap">
  <div class="jnd-pdf-viewer-loading _loading">
    <div class="spinner-container">
      <span class="three-quarters-loader jnd-three-quarters-loader"></span>
    </div>
  </div>
  <div class="jnd-pdf-viewer-title-container">
    <div class="pull-left pdf-file-info">
      <div class="pull-left">
        <i class="icon-file"></i>
      </div>
      <div class="pull-left">
        <div class="pdf-title cursor_pointer" ng-click="openFileDetail()">
          {{ file.content.title }}
        </div>
        <div class="pdf-detail">
          <span>{{ file.createdAt | getyyyyMMddformat }}</span>
          <span>&middot; </span>
          <span>{{ file.content.size | bytes}}</span>
          <span>&middot; </span>
          <span>
            <i class="icon-comment-fill"></i>
            <span>{{ file.commentCount }}</span>
          </span>
        </div>
      </div>
    </div>

    <div class="pull-right pdf-close cursor_pointer" ng-click="close()">
      <i class="icon-delete"></i>
    </div>
    <div class="divider pull-right">
    </div>
    <div class="buttons pull-right">
      <span class="cursor_pointer" star-view="file.isStarred" star-view-id="file.id">
        <i ng-class="file.isStarred ? 'icon-star-on' : 'icon-star-off'"></i>
      </span>
      <a href="{{ downloadUrl }}">
        <i class="icon-download"></i>
      </a>
      <span class="cursor_pointer" ng-click="openFileDetail(true);">
        <i class="icon-comment"></i>
        <span>{{ file.commentCount }}</span>
      </span>
    </div>
  </div>
  <div class="jnd-pdf-viewer-container">
    <progressbar ng-show="progress !== 100" class="pdf-progress-bar" max="100" value="progress"></progressbar>
    <div class="jnd-pdf-viewer-error _error">
      <div>
        <i class="icon-help"></i>
      </div>
      <div class="" ng-bind-html="'@pdfviewer-loadingfail-msg'|translate">
      </div>
    </div>
    <pdf-viewer></pdf-viewer>
  </div>

  <div class="toolbar _toolbar">
    <span class="button jnd-icon cursor_pointer" ng-click="zoomOut()">
      <i class="icon-minus-circle"></i>
    </span>
    <span class="button jnd-icon cursor_pointer" ng-click="zoomIn()">
      <i class="icon-plus-circle"></i>
    </span>
    <span class="button jnd-icon cursor_pointer" ng-click="prevPage()">
      <i class="icon-angle-up"></i>
    </span>
    <span class="page-current">
      {{ currentPage }} / {{totalPage}}
    </span>
    <span class="button jnd-icon cursor_pointer" ng-click="nextPage()">
      <i class="icon-angle-down"></i>
    </span>
    <span class="button fontawesome-icon cursor_pointer" ng-click="zoomToggle()">
      <i class="fa-arrows-alt"></i>
    </span>
  </div>
  <input type="text" class="_input"/>
</div>