<div class="jnd-connect-service-container" id="jnd-connect-available-service">
  <!--Google Calendar-->
  <div class="integration-service detail">
    <jnd-union-header></jnd-union-header>
    <div class="integration-service-container detail-container" id="jnd-connect-detail-container">
      <section class="active-member-info" style="">
        <!-- active member info will be placed here -->
        <span class="ng-scope" translate=""><b class="active-member-count">1</b> 명의 다른 팀원이 연동중</span>
      </section>
      <section class="service-info jnd-column-5-width jnd-float-left">
        <i class="icon-service-logo"></i>
        <i class="icon-jnd-connect active"></i>
        <span class="user-name">Admin</span><span class="service-name">'s Google Calendar</span>
        <span class="date-info">2015-12-01 생성</span>
      </section>
      <section class="service-info jnd-column-5-width jnd-float-left second-column">
        <div class="connect-union-plug-tool-container jnd-float-left" ng-class="{'on': plug.isOn}">
          <span class="connect-union-plug-tool-text" ng-click="toggleOnOff()">중지됨</span>
          <div class="connect-union-plug-tool-btn jnd-cursor-pointer" ng-click="toggleOnOff()">
            <div class="switch-handler"></div>
          </div>
          <span class="opt-button jnd-cursor-pointer" style="display: none;"><i class="icon-pencil"></i></span>
          <span class="opt-button jnd-cursor-pointer"><i class="icon-trash"></i></span>
        </div>
        <div class="verfied-email-container jnd-float-left">
          <span class="verified-label white-button">인증된 계정</span>
          <span class="verified-email-address white-button">ted.kim@tosslab.com</span>
          <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
            <i class="fa custom-selectbox-arrow icon-angle-down"></i>
          </div>
        </div>
      </section>
      <section class="service-setting select-calendar clear jnd-column-5-width jnd-float-left arrow-column">
        <span class="setting-label">캘린더 선택하기</span>
        <div class="setting-contents">
          <span class="setting-description"></span>

          <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
            <i class="fa custom-selectbox-arrow icon-angle-down"></i>
            <span class="">캘린더 선택</span>
          </div>
          <span class="create-new-topic white-button cursor_pointer animate-all" style="display: none;">토픽 생성하기</span>
          <i class="icon-long-arrow-right"></i>
          <div class="clear"></div>
        </div>
      </section>
      <section class="service-setting select-conversation jnd-column-5-width jnd-float-left second-column compound-column">
        <span class="setting-label">연동 토픽 또는 1:1 메시지 선택</span>
        <div class="setting-contents">
          <span class="setting-description"></span>
          <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
            <i class="fa custom-selectbox-arrow icon-angle-down"></i>
            <span class="">토스랩 코리아</span>
          </div>
          <span class="create-new-topic white-button cursor_pointer animate-all">토픽 생성하기</span>
          <div class="clear"></div>
        </div>
      </section>
      <section class="service-setting select-nofification clear borderless-section jnd-column-5-width jnd-float-left">
        <span class="setting-label">알림 설정</span>
        <div class="setting-contents">
          <span class="setting-description"></span>
          <div class="checkbox-list-container">
            <input type="checkbox" id="" class="">
            <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
              <i class="fa custom-selectbox-arrow icon-angle-down"></i>
              <span class="">15분 전</span>
            </div>
            <label>
              <div class="checkbox-description">
                <span translate="">알림</span>
              </div>
            </label>
          </div>
          <div class="checkbox-list-container">
            <input type="checkbox" id="" class="">
            <label>
              <div class="checkbox-description">
                <span translate="">종일 일정의 경우</span>
              </div>
            </label>
            <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
              <i class="fa custom-selectbox-arrow icon-angle-down"></i>
              <span class="">당일</span>
            </div>
            <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
              <i class="fa custom-selectbox-arrow icon-angle-down"></i>
              <span class="">15분 전</span>
            </div>
            <label>
              <div class="checkbox-description">
                <span translate="">(KST)에 알림</span>
              </div>
            </label>
          </div>
          <div class="clear"></div>
        </div>
      </section>
      <section class="service-setting select-nofification borderless-section jnd-column-5-width jnd-float-left second-column">
        <span class="setting-label">일정 요약</span>
        <div class="setting-contents">
          <span class="setting-description"></span>
          <div class="checkbox-list-container">
            <input type="checkbox" id="" class="">
            <label>
              <div class="checkbox-description">
                <span translate="">매일</span>
              </div>
            </label>
            <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
              <i class="fa custom-selectbox-arrow icon-angle-down"></i>
              <span class="">15분 전</span>
            </div>
            <label>
              <div class="checkbox-description">
                <span translate="">(KST)</span>
              </div>
            </label>
          </div>
          <div class="checkbox-list-container">
            <input type="checkbox" id="" class="">
            <label>
              <div class="checkbox-description">
                <span translate="">매주</span>
              </div>
            </label>
            <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
              <i class="fa custom-selectbox-arrow icon-angle-down"></i>
              <span class="">15분 전</span>
            </div>
            <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
              <i class="fa custom-selectbox-arrow icon-angle-down"></i>
              <span class="">월요일</span>
            </div>
            <label>
              <div class="checkbox-description">
                <span translate="">(KST)</span>
              </div>
            </label>
          </div>
          <div class="clear"></div>
        </div>
      </section>
      <section class="service-setting select-nofification clear">
        <span class="setting-label">캘린더 업데이트</span>
        <div class="setting-contents">
          <span class="setting-description"></span>
          <div class="checkbox-list-container text-only">
            <input type="checkbox" id="" class="">
            <label>
              <div class="checkbox-description">
                <span translate="">일정이 새롭게 생성되었거나 일정에 초대되었을 때 알림</span>
              </div>
            </label>
          </div>
          <div class="checkbox-list-container text-only">
            <input type="checkbox" id="" class="">
            <label>
              <div class="checkbox-description">
                <span translate="">일정의 제목이나 시간, 장소가 수정되었을 때 알림</span>
              </div>
            </label>
          </div>
          <div class="checkbox-list-container text-only">
            <input type="checkbox" id="" class="">
            <label>
              <div class="checkbox-description">
                <span translate="">일정이 취소되었거나 삭제되었을 때 알림</span>
              </div>
            </label>
          </div>
          <div class="clear"></div>
        </div>
      </section>
      <section class="service-setting select-profile">
        <span class="setting-label">연동 서비스 프로필 설정</span>
        <div class="setting-contents">
          <span class="setting-description">팀 내에서 연동 항목이 메시지를 보낼 때 노출되는 프로필 이미지와 이름을 지정할 수 있습니다.</span>
          <div class="change-profile cursor_pointer">
            <span class="overlay-label">Edit</span>
          </div>
          <input class="setting-input form-control" name="" id="" placeholder="Google Calendar">
          <div class="clear"></div>
        </div>
      </section>
      <input type="submit" class="btn comment-btn save-button" value="설정 저장하기">
    </div>
  </div>
</div>
