<page-tracker page="switchteams" title="Switch Teams"></page-tracker>
<div class="modal-header">
  <button type="button" class="close" data-ng-click="onModalClose();"><i class="icon-cancel"></i></button>
  <h3 class="modal-header__title">
    <span translate>@team-switch</span>
  </h3>
</div>

<div class="modal-body">
  <div class="facebook-style-loading jnd-text-center" ng-if="!isListReady">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="team-list-container opac-zero" ng-if="isListReady">

    <div class="email-box cursor_pointer" ng-repeat="team in teamList"  ng-if="team.teamId !== currentTeamId">
      <a ng-href="{{::configuration.base_protocol}}{{::team.t_domain}}{{::configuration.base_url}}">
        <span class="team-name inline-overflow-ellipsis">{{ ::team.name }}</span>
        <span class="badge green_badge pull-right" ng-if="team.unread > 0">{{team.unread}}</span>
      </a>
    </div>
  </div>
</div>

<div class="modal-footer">
  <span class="btn btn-white" ng-click="onModalClose();" translate>@btn-cancel</span>
</div>
