<div class="file-detail-preview">
  <div class="image_wrapper" ng-click="onImageClick($event);" ng-switch on="isImagePreview">
    <div ng-switch-when="true" image-loader="{{::imageUrl}}" on-image-load="onFileDetailImageLoad();" image-fit-to-width="true"></div>
    <a ng-switch-default class="filter-type-preview-wrapper" href="{{::originalUrl}}" target="_blank">
      <div class="filter-type-preview-bg"></div>
      <div class="filter-type-preview-text">
        <span translate>@msg-open-original</span>
      </div>
      <img ng-src="{{::imageUrl}}">
    </a>
  </div>
  <div class="external-share-btn cursor_pointer opac-zero" ng-if="!isIntegrateFile" ng-show="isExternalShared" ng-class="{'opac-in': !isImagePreview || !isLoadingImage}" ng-click="onExternalShareClick();">
    <i class="icon-link"></i>
  </div>
  <div class="loading_bar" ng-if="isImagePreview && !!isLoadingImage">
    <span class="three-quarters-loader jnd-three-quarters-loader"></span>
  </div>
</div>
