.file-detail-preview {
  position: relative;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.file-detail-preview .image_wrapper {
  text-align: center;
}

.file-detail-preview .image_wrapper img {
  max-width: 100%;
  height: auto;
}

.filter-type-preview-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.filter-type-preview-wrapper:hover > div {
  display: block;
}

.filter-type-preview-bg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
}

.filter-type-preview-text {
  display: none;
  position: absolute;
  top: 52px;
  width: 100%;
}

.filter-type-preview-text > span {
  display: inline-block;
  padding: 8px 30px;
  border: 2px solid #999;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.external-share-btn {
  position: absolute;
  top: -6px;
  right: -6px;
  padding: 6px;
  font-size: 22px;
  border-radius: 7px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  color: #1C6C88;
}

.external-share-btn:hover {
  background-color: white;
  color: #1C6C88;
  opacity: 1;
}
