<div class="file-detail-preview">
  <div class="image_wrapper" ng-click="onImageClick($event);"
       image-loader="{{ImageUrl}}" on-image-load="onFileDetailImageLoad();" image-fit-to-width="true">
  </div>
  <div class="external-share-btn cursor_pointer opac-zero" ng-if="!isIntegrateFile" ng-show="isExternalShared" ng-class="{'opac-in': !isLoadingImage}" ng-click="onExternalShareClick();">
    <i class="icon-link"></i>
  </div>
  <div class="loading_bar" ng-if="!!isLoadingImage">
    <span class="three-quarters-loader jnd-three-quarters-loader"></span>
  </div>
</div>
