
/********************************************
                 멘션
********************************************/
a.mention {
  color: #1C6C88;
  padding: 2px;
}

a.mention:hover {
  text-decoration: underline;
}

a.mention.me {
  background-color: #CEF8FF;
}

a.mention.all {
  color: #333333;
  background-color: #CEF8FF;
}
