
/********************************************
                 멘션
********************************************/
.mention {
  color: #1C6C88;
  line-height: 1.6em;
}

.mention:hover {
  text-decoration: underline;
}

.mention.me {
  padding: 2px;
  background-color: #CEF8FF;
}

.mention.all {
  padding: 2px;
  color: #1C6C88;
  background-color: #CEF8FF;
}
.mention.all:hover {
  text-decoration: none;
  color: #1C6C88;
}

.mention.inactive:hover {
  text-decoration: none;
  color: #1C6C88;
}
