.tutorial_topic_entity_header {
  position: absolute;
  top: 41px;
  left: 240px;
  width:780px;
}

.panel-title-info-tutorial {
  padding-right: 10px;
}

.panel-title-member-tutorial {
  padding-top: 6px;
}