<div ng-if="isReady && !isComplete" id='tutorial_welcome' ng-class="{'opac-in-fast': !isComplete}">
  <div class="tutorial_dimm tutorial_welcome_dimm"></div>
  <div class="tutorial_welcome_wrap">
    <div class="tutorial_welcome_header">
      <img src="../../assets/images/tutorial/icon/tutorial-welcome.png" />
    </div>
    <!-- visit first time -->
    <div ng-if="!isOpened">
      <div class="tutorial_welcome_body">
        <div class="tutorial_welcome_title">
          {{ title }}
        </div>
        <div class="tutorial_welcome_content">
          <span translate>@tutorial_team_intro</span>
        </div>
      </div>
      <div class="tutorial_welcome_footer">
        <span class="btn btn-ok" ng-click="onClickStart()" translate>@tutorial_get_started</span>
      </div>
    </div>
    <!-- user skipped the tutorial last time -->
    <div ng-if="isOpened">
      <div class="tutorial_welcome_body">
        <div class="tutorial_welcome_title">
          <span translate>@tutorial_welcome_again_title</span>
        </div>
        <div class="tutorial_welcome_content">
          <span translate>@tutorial_welcome_again_content</span>
        </div>
      </div>
      <div class="tutorial_welcome_footer">
        <span class="btn btn-ok tutorial_welcome_btn" ng-click="onClickContinue()">
          <span translate>@tutorial_welcome_again_continue</span>
        </span>
        <span class="btn btn-ok tutorial_welcome_btn tutorial_welcome_dark" ng-click="onClickStart()">
          <span translate>@tutorial_welcome_again_new_start</span>
        <a class="tutorial_welcome_skip cursor_pointer" ng-click="onClickSkip()">
          <span translate>@common_skip_all</span>
        </a>
      </div>
    </div>
  </div>
</div>
