.tutorial-welcome-container {
  display: block;
  z-index: 610;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tutorial-welcome-dim {
  display: block;
  z-index: 611;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}
.tutorial-welcome {
  z-index: 612;
  position:absolute;
  background: #FFFFFF;
  width: 400px;
  height: 500px;
  left: calc(50% - 200px);
  top: calc(50% - 250px);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.45);
}
.tutorial-welcome .divider {
  content: '';
  position: relative;
  display: block;
  margin: 66px auto 18px auto;
  width: 26px;
  height: 2px;
  background-color: #d1d1d1;
}

.tutorial-welcome-content {
  max-width: 400px;
  height: 70px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  line-height: 34px;
  padding: 0 20px 0 20px;
}
.tutorial-welcome-img {
  
}
.tutorial-welcome-img img{
  width: 400px;
  margin-top: 45px;
  margin-bottom: 40px;
}
.tutorial-welcome-footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  color: #00abe6;
  font-weight: 700;
  font-size: 15px;
}
.tutorial-welcome-footer i{
  margin-left: -5px;
  margin-right: -5px;
}