<div class="tutorial-welcome-container opac-zero fade"
     ng-class="{'in': !isComplete,
                'out': isComplete}">
  <div class="tutorial-welcome-dim">
  </div>
  <div class="tutorial-welcome">
    <div class="divider"></div>
    <div class="tutorial-welcome-content">
      {{stepList[curStep].content}}
    </div>
    <div class="tutorial-welcome-img">
      <img ng-src="{{stepList[curStep].imgUrl}}" />
    </div>
    <div class="tutorial-welcome-footer">
      <span ng-if='curStep !== 0'
            class="jnd-cursor-pointer jnd-float-left"
            ng-click="prev();">
            <i class="icon-angle-double-left"></i>
            <span translate>@jnd-connect-1</span>
          </span>
          <span ng-if='curStep < stepList.length - 1'
                class="jnd-cursor-pointer jnd-float-right"
                ng-click="next();">
            <span translate>@btn-next</span>
            <i class="icon-angle-double-right"></i>
          </span>
          <span ng-if='curStep === stepList.length - 1'
                class="jnd-cursor-pointer jnd-float-right"
                ng-click="next();"
                translate>
            @common-get-started
          </span>
    </div>
  </div>
</div>
