.tutorial_welcome_dimm {
  background: #000000;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 710;
}

.tutorial_welcome_wrap {
  position:absolute;
  background: #FFFFFF;
  border: 0;
  border-radius: 5px;
  width: 550px;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -250px;
  text-align: center;
  z-index: 720;
  padding-left: 40px;
  padding-right: 40px;
}
.tutorial_welcome_wrap div {
  text-align: center;
}

.tutorial_welcome_header {
  margin-top: 30px;
}
.tutorial_welcome_body {
  margin-top: 25px;
  width: 100%;
}

.tutorial_welcome_title {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
}

.tutorial_welcome_content {
  margin-top: 25px;
  font-size: 18px;
  line-height: 20px;
}

.tutorial_welcome_footer {
  margin-top: 20px;
  margin-bottom: 15px;
}
.tutorial_welcome_btn {
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  padding-top: 10px;
  height: 46px;
}
.tutorial_welcome_btn:hover {
  background-color: #1AB9F0;
}
.tutorial_welcome_dark {
  background: #154a67;
}
.tutorial_welcome_dark:hover {
  background: #366480;
}
.tutorial_welcome_skip {
  display: inline-block;
  margin-top: 15px;
  text-decoration: underline;
  color: #00a4e6;
  font-size: 12px;
}