<div ng-if="isReady && !isComplete" id='tutorial_welcome' ng-class="{'opac-in-fast': !isComplete}">
  <div class="tutorial_dimm tutorial_welcome_dimm"></div>
  <div class="tutorial_welcome_wrap">
    <div class="tutorial_welcome_header">
      <img src="../../assets/images/tutorial/icon/tutorial-welcome.png" />
    </div>
    <!-- visit first time -->
    <div ng-if="completedStep === -2">
      <div class="tutorial_welcome_body">
        <div class="tutorial_welcome_title">
          @Welcome-to-JANDI
        </div>
        <div class="tutorial_welcome_content">
          @JANDI-WILL-TRANSFORM-THE-WAY--COMMUNICATE-AND-CONNECT-WITH-PEOPLE-IN-THE-WORKPLACE.LET-ME-SHOW-YOU-HOW.
        </div>
      </div>
      <div class="tutorial_welcome_footer">
        <span class="btn btn-ok" ng-click="onClickStart()">Explore JANDI</span>
      </div>
    </div>
    <!-- user skipped the tutorial last time -->
    <div ng-if="completedStep !== -2">
      <div class="tutorial_welcome_body">
        <div class="tutorial_welcome_title">
          @The-last-time-you-were-signed-in,
        </div>
        <div class="tutorial_welcome_content">
          @You-left-in-the-middle-of-the-tutorial
        </div>
      </div>
      <div class="tutorial_welcome_footer">
        <span class="btn btn-ok tutorial_welcome_btn" ng-click="onClickContinue()">
          @I-want-to-continue-where-I-left-off
        </span>
        <span class="btn btn-ok tutorial_welcome_btn tutorial_welcome_dark" ng-click="onClickStart()">I want to start over from the beginning</span>
        <a class="tutorial_welcome_skip cursor_pointer" ng-click="onClickSkip()">
          @I-want-to-skip-the-entire-tutorial
        </a>
      </div>
    </div>
  </div>
</div>
