.file-detail-header {
  padding: 15px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  font-size: 14px;
  color: #666;
  background-color: white;
}

.file-detail-header-box {
  position: relative;
  width: 290px;
  padding: 0px 20px 0px 38px;
}

.file-detail-header__thumbnail {
  position: absolute;
  left: 0;
  top: 3px;
}

.file-detail-header__writer {
  font-size: 14px;
  margin-bottom: 3px;
  color: #333;
  font-weight: 700;
}

.file-detail-header__writer > span {
  cursor: pointer;
}

.file-detail-header__title {
  word-wrap: break-word;
  line-height: 1.5em;
}

.file-detail-header__title > a {
  color: #333;
}

.file-item-meta__action {
  position: absolute;
  top: 18px;
  right: 0px;
}

.file-item-meta__action > div {
  display: inline-block;
  margin-right: 5px;
}

.file-item-meta__action > div:last-child {
  margin-right: 12px;
}

.file-item-meta__action:hover {
  color: #333;
}

.file-item-meta__action__dropdown {
  top: 28px;
}
