<div>
  <div class="file-detail-header" ng-if="!isArchivedFile && !isInvalidRequest">
    <div class="file-detail-header-box" ng-class="{'file-detail-disabled-member': file.extIsDisabledMember}">
      <div class="file-detail-header__thumbnail">
        <img class="user-profile user-thumb-sm cursor_pointer" ng-src="{{file.extProfileImg}}" ng-click="onMemberClick(file.extWriter)"/>
      </div>
      <div class="file-detail-header__writer">
        <span ng-click="onMemberClick(file.extWriter)">{{file.extWriterName}}</span>
      </div>
      <div class="file-detail-header__title">
        <a href="{{::originalUrl}}" target="_blank">{{file.content | fileTitle}}</a>
      </div>
    </div>
    <div class="file-item-meta__action">
      <div class="action-star cursor_pointer" tooltip="{{'@star' | translate}}" tooltip-placement="bottom" tooltip-append-to-body="true">
        <i class="file_action star-btn" ng-class="isStarred ? 'icon-star-on' : 'icon-star-off'" star-view="isStarred" star-view-id="{{ file.id }}"></i>
      </div>

      <div class="action-download cursor_pointer"
           tooltip="{{(isIntegrateFile ? '@msg-open-original' : '@common-download') | translate }}" tooltip-placement="bottom" tooltip-append-to-body="true">
        <a ng-if="::isIntegrateFile" class="file_action opac-in-fast" href="{{::originalUrl}}" target="_blank" ng-click="onClickDownload();" download-tracker="{{track(file)}}">
          <i class="icon-download"></i>
        </a>
        <a ng-if="!isIntegrateFile" class="file_action opac-in-fast" href="{{::downloadUrl}}" ng-click="onClickDownload();" download-tracker="{{track(file)}}">
          <i class="icon-download"></i>
        </a>
      </div>

      <div class="action-more" dropdown
           tooltip="{{ '@file-action-more' | translate }}" tooltip-placement="bottom" tooltip-append-to-body="true"
           tooltip-class="absolute-right-tooltip">
        <a class="file_action opac-in-fast">
          <i class="icon-more" dropdown-toggle></i>
        </a>
        <ul class="dropdown-menu grey_dropdown file-item-meta__action__dropdown right-align" role="menu">
          <li class="cursor_pointer">
            <a ng-click="onClickShare();">
              <i class="icon-share-right"></i>
              <span translate>@btn-share</span>
            </a>
          </li>
          <li class="cursor_pointer">
            <a ng-click="onCommentFocusClick();">
              <i class="icon-comment"></i>
              <span translate>@btn-comment</span>
            </a>
          </li>
          <li ng-if="!isIntegrateFile">
            <a class="cursor_pointer" href="{{::downloadUrl}}"
               ng-click="onClickDownload();"
               download-tracker="{{track(file)}}">
              <i class="icon-download"></i>
              <span translate>@common-download</span>
            </a>
          </li>
          <li class="cursor_pointer">
            <a class="cursor_pointer" href="{{::originalUrl}}" target="_blank">
              <i class="icon-minimize"></i>
              <span translate>@msg-open-original</span>
            </a>
          </li>
          <li class="cursor_pointer">
            <a ng-click="onStarClick();">
              <i ng-class="isStarred ? 'icon-star-on' : 'icon-star-off'"></i>
              <span><span ng-if="isStarred" translate>@star-un</span><span ng-if="!isStarred" translate>@star</span></span>
            </a>
          </li>
          <li class="cursor_pointer" ng-if="!isIntegrateFile">
            <a class="external-share-file" file-id="{{::file.id}}"
               external-share-view
               external-share-get="getExternalShare()"
               external-share-set="setExternalShare($value)"
               external-code="file.content.externalCode"
               external-url="file.content.externalUrl"
               external-shared="file.content.externalShared">
              <i ng-class="isExternalShared ? 'icon-link-broken' : 'icon-link'"></i>
              <span><span ng-if="isExternalShared" translate>@external-share-remove</span><span ng-if="!isExternalShared" translate>@external-share-create</span></span>
            </a>
          </li>
          <li class="cursor_pointer" ng-if="::(isFileOwner || isAdmin)">
            <a ng-click="onFileDeleteClick();">
              <i class="icon-trash"></i>
              <span translate>@message-delete</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- FILE ARCHIVED -->
  <div class="file-detail-header" ng-if="isArchivedFile && !isInvalidRequest">
    <div class="file-detail-header-box">
      <div class="file-detail-header__thumbnail">
        <img class="user-profile user-thumb-sm cursor_pointer"
             ng-src="{{file.extProfileImg}}"
             ng-click="onMemberClick(file.extWriter);"/>
      </div>

      <div class="file-detail-header__writer">
        <span ng-click="onMemberClick(file.extWriter)">{{file.extWriterName}}</span>
      </div>

      <div class="file-detail-header__title archived-file__title">
        <div translate>@common-deleted-file-title</div>
      </div>
    </div>
  </div>

  <div class="file-detail-archive-status-container"  ng-if="isArchivedFile && !isInvalidRequest">
    <div class="file-detail-archive-status-container__inner" ng-click="backToPrevState()">
      <div class="archived-file-icon-center fileicon fileicon-archived"></div>
      <span translate>@file-delete-time-msg-pre</span>{{file.updateTime  | getyyyyMMddformat }}<span translate>@file-delete-time-msg-post</span>
    </div>
  </div>

  <!-- FILE API ERROR -->
  <div class="file-not-available-container" ng-if="isInvalidRequest">
    <div class="alert-msg-container cursor_pointer">
      <alert class="warning file-not-available-msg-container" ng-click="backToPrevState()">
        <div class="archived-file-icon-center fileicon fileicon-unshared"></div>
        <span translate>@file-unshared-no-longer-accessible</span>
      </alert>
    </div>
  </div>
</div>
