<div>
  <div class="tutorial_dimm"
       ng-class="{
        'full': step < 2,
        'center_top_left': step === 2
        }">
  </div>
  <div ng-if="step === 1" class="tutorial_dropdown menu_topic">
    <ul>
      <li>
        <a><i class="icon-invite-fill"></i><span translate>@ch-menu-invite</span></a>
      </li>
      <li>
        <a><i class="icon-star"></i><span translate>@ch-menu-star</span></a>
      </li>
      <li>
        <a class="enabled" ng-click="onClickLeave()"><i class="icon-logout"></i><span translate>@ch-menu-leave</span></a>
      </li>
    </ul>
  </div>
  <tutorial-purse options="purse"></tutorial-purse>
</div>
