.tutorial_team {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  width: 239px;
  height: 54px;
  top: 41px;
  left: 0;
  padding-left: 15px;
  padding-top:9px;
}

.tutorial_team span {

}