.file-card {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #ebebeb;
  min-height: 65px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}

.file-card:hover {
  background: #f2fbff;
}

.file-card .file-image {
  float: left;
}

.file-card .file-image .icon-wrapper {
  height: 65px;
  width: 65px;
  background-color: #f2f2f2;
  padding: 15px;
}

.file-card .file-card-body {
  width: 333px;
  min-height: 64px;
  padding-left: 75px;
}

.file-card-body .file-name {
  position: relative;
  word-wrap: break-word;
  margin: 0;
  font-size: 15px;
  line-height: 1.5em;
}

.file-card-body .file-title {
  height: 30px;
  line-height: 30px;
}

.file-card-body .file-writer {
  font-weight: 700;
  padding-right: 2px;
}

.file-card-body .file-title .file-date {
  font-size: 12px;
  color: #999;
}

.file-card-body .file-title .file-comment-count {
  font-size: 12px;
  color: #999;
  line-height: 14px;
  padding-left: 15px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.file-card-body .file-title .file-writer {
  display: inline-block;
  vertical-align: middle;
  max-width: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
}

.file-card-body .file-title .file-info {
  display: inline-block;
  vertical-align: middle;
}

.file-card-body .file-name > span {
  padding-bottom: 2px;
  font-weight: 400;
}

.file-card .file-extend {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #999;
}

.file-card .file-star {
  display: none;
  position: relative;
  left: -1px;
  font-size: 20px;
}
.file-card:hover .file-star {
  display: block;
}

.file-card .file-star .icon-star:hover {
  color: #154a67;
}

.file-card .file-star .icon-star-fill {
  color: #f9bb00;
}

.file-card .file-menu {
  display: none;
  position: absolute;
  top: 31px;
  right: 0px;
  color: #999;
}
.file-card .file-menu:hover {
  color: #1b4a67;
}

.file-card:hover .file-menu {
  display: block;
}

.file-card .file-menu {
  color: #1b4a67;
}

.file-card .file-menu .icon-more {
  font-size: 21px;
  color: #999;
}
.file-card .file-menu .icon-more:hover {
  color: #1b4a67;
}

.file_action_dropdown {
  left: auto;
  right: 0;
  top: 14px;
  float: none;
}
.image_wrapper.msg-file-body__img__background {
  border: 1px solid #e1e1e1;
  background-color: #f1f4f8;
}
