<div class="file-card" ng-click="onFileCardClick();">
  <div class="file-card-header">
    <div class="file-image">
      <div class="image_wrapper pull-left" ng-if="file.hasPreview">
        <div class="opac-zero cursor-pointer" image-loader="{{::file.imageUrl}}" image-max-height="63" image-max-width="63" image-is-square="true"
             ui-sref="files({userName: writerName, itemId: file.id})"></div>
      </div>
      <div class="icon-wrapper pull-left" ng-if="!file.hasPreview">
        <div class="fileicon fileicon-{{::file.icon}}"></div>
      </div>
    </div>
  </div>
  <div class="file-card-body">
    <div class="file-meta">
      <div class="file-title">
        <span class="file-writer" ng-class="{'right-panel-disabled-member': isDisabledMember()}">{{::writerName}}</span>
        <span class="file-date">{{::createDate}}</span>
        <span class="file-comment-count file-item-meta__comments">{{::file.commentCount}}</span>
      </div>
    </div>
    <div class="file-name">
      <span>{{::file.contentTitle}}</span>
    </div>
    <div class="file-extend">
      <div class="file-star" ng-class="{'show': isStarred}">
        <i ng-class="isStarred ? 'icon-star-fill' : 'icon-star'" star-view="isStarred" message-id="{{ file.id }}"></i>
      </div>
      <!--    DROPDOWN MENU   -->
      <div class="file-menu" dropdown is-open="status.isopen">
        <i class="icon-more" dropdown-toggle tooltip="{{ '@file-action-more' | translate }}" tooltip-placement="left"></i>
        <ul class="dropdown-menu grey_dropdown file_action_dropdown" role="menu">
          <li class="cursor_pointer">
            <a class="share-file">
              <i class="icon-share"></i>
              <span translate>@btn-share</span>
            </a>
          </li>
          <li class="cursor_pointer">
            <a class="focus-comment-file">
              <i class="fa fa-comment-o"></i>
              <span translate>@btn-comment</span>
            </a>
          </li>
          <li class="cursor_pointer">
            <a class="download-file" download-file download-tracker="{{track(file)}}" file-url="{{file.contentFileUrl}}" file-title="{{file.contentTitle}}">
              <i class="icon-download"></i>
              <span>{{ (isIntegrateFile ? '@msg-open-original' : '@common-download') | translate }}</span>
            </a>
          </li>
          <li class="cursor_pointer" ng-if="file | isFileWriter:writer">
            <a class="delete-file">
              <i class="fa fa-trash"></i>
              <span translate>@message-delete</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
