<div class="file-card">
  <div class="file-card-header">
    <div class="file-image msg-file-body__img msg-file-body__img__background"
         ng-switch on="file.mustPreview">
      <div class=" image_wrapper" ng-switch-when="true" image-view="{{::file.imageUrl}}"></div>
      <div class="icon-wrapper" ng-switch-when="false">
        <div class="fileicon fileicon-{{::file.icon}}"></div>
      </div>
      <div class="external-share-btn opac-in"
           ng-show="file.content.externalShared"
           ng-click="onExternalShareClick($event)">
        <i class="icon-link"></i>
      </div>
    </div>
  </div>
  <div class="file-card-body">
    <div class="file-meta">
      <div class="file-title">
        <div class="file-writer">
          <span ng-class="::{'right-panel-disabled-member': isDisabledMember()}">{{::writerName}}</span>
        </div>
        <div class="file-info">
          <span class="file-date">{{::createDate}}</span>
          <span class="file-comment-count"><i class="icon-comment-fill file-item-meta__comments"></i>{{fileData.message.commentCount}}</span>
        </div>
      </div>
    </div>
    <div class="file-name">
      <span>{{::file.contentTitle}}</span>
    </div>
    <div class="file-extend">
      <div class="file-star" ng-class="{'show': isStarred}"
            tooltip="{{::'@common-star'|translate}}" tooltip-placement="left">
        <i ng-class="isStarred ? 'icon-star-on' : 'icon-star-off'" star-view="isStarred" star-view-id="file.id"></i>
      </div>
      <!--    DROPDOWN MENU   -->
      <div class="file-menu dropdown-auto-position"
           ng-if="isFileTab"
           dropdown
           is-open="status.isOpen">
        <i class="icon-more" dropdown-toggle tooltip="{{::'@file-action-more'|translate}}" tooltip-placement="left"></i>

        <ul class="dropdown-menu grey_dropdown"
            dropdown-menu
            template-url="app/util/directive/dropdown-position/templates/right.file.html"></ul>
      </div>
    </div>
  </div>
</div>
