<div class="modal-header">
  <button type="button" class="close" ng-click="close()">
    <i class="icon-delete"></i>
  </button>
  <h3 class="modal-header__title">
    <!-- translate:  -->
    <span>Keyboard Shortcuts</span>
  </h3>
</div>

<div class="modal-body">


  <section ng-repeat="column in columnList" class="shortcut-list">
    <ul>
      <li ng-repeat="row in column">
        <span class="keylabel">{{ row.text }}</span>
        <div class="pull-right">
          <span ng-repeat="combination in row.keys" class="key">
            <span ng-if="row.keys.length > 1 && $index === 0" class="pull-right divider">or</span>
            <span class="keystyle pull-right" ng-repeat="key in combination">
              {{key}}
            </span>
          </span>
        </div>
        <div class="clear" style="clear: both;"></div>
      </li>
    </ul>
  </section>
  <div class="clear" style="clear: both;"></div>

</div>