<div class="footer center-chat-input-container">
  
  <!-- ng-if="curUpload.status != null" -->
  <div class="file-upload-progress-container"
       ng-class="{'isAborted':curUpload.isAborted || curUpload.hasError,
                  'file-upload-done': curUpload.status == 'done'}">
	
	<!--    progress file index  -->
    
    <div class="index-wrapper">
      <span class="file-upload-progress-file-index">
        {{curUpload.cFileIndex}} of {{curUpload.lFileIndex}}
      </span>
    </div>
    
    <div class="uploading-wrapper">
      <div class="fileicon-container">
	    <i class="icon-file"></i>
      </div>
      
      <!-- 파일 네임, 프로그레스바, 업로드 정보, 취소 버튼을 포함하는 컨테이너 -->
      <div class="progress-container">
	    <!--    file title  -->
        <span class="file-upload-progress-title">{{curUpload.title}}</span>
        <!--    progress in percentile  -->
        <span class="file-upload-progress-completion-percent">{{curUpload.progress}}%</span>
        
        
        
	    <!-- progress-bar -->
	    <progressbar class="progress-striped jandi-file-upload-progress-bar active" max="100" value="curUpload.progress"></progressbar>
	    
      </div>
      
      <!-- 취소버튼, 업로드 완료 메시지를 포함하는 컨테이너 -->
      <div class="button-wrapper">
	    <!--    'cancel'    -->
	    <span class="file-upload-progress-abort cursor_pointer"
	          ng-click="onFileUploadAbortClick();"
	          data-ng-if="curUpload.status=='uploading'">
	      Cancel
	    </span>
	    
	    <!--    'done'      -->
        <span translate ng-if="curUpload.status == 'done'">@common-file-upload-done-msg</span>
        <!--    'aborted'       -->
        <span translate ng-if="curUpload.status == 'abort'">@common-file-upload-abort-msg</span>
        <!--    'error'     -->
        <span translate ng-if="curUpload.status == 'error'">@common-api-error-msg</span>
        <!--    'uploading'     -->
        <span translate ng-if="curUpload.status == 'uploading'">@common-file-upload-progress-msg</span>
        
	    <!--    'x' icon    
	    <span class="file-upload-progress-icon-cancel pull-right cursor_pointer" data-ng-click="onFileIconCloseClick();" data-ng-if="curUpload.status!='uploading'">
	      <i class="icon-delete"></i>
	    </span> -->
	    
      </div>
      
    </div>
    
  </div>
  
  <div class="message-input-wrapper">
	<div class="file-upload-wrapper non-selectable" dropdown>
      <div class="icon-upload-button cursor_pointer" dropdown-toggle>
        <i class="icon-upload"></i>
      </div>
      <ul class="file-upload-menu dropdown-menu" id="file-upload-menu" role="menu">
        <li class="file-upload-description">
          Attach File
        </li>
        <li class="file-upload-type computer cursor_pointer">
          <i class="item-icon icon-laptop"></i><span class="item-text" translate>@file-upload-computer</span>
        </li>
        <li class="file-upload-type google-drive cursor_pointer">
          <i class="item-icon icon-google-drive"></i><span class="item-text" translate>@file-upload-google-drive</span>
        </li>
        <li class="file-upload-type dropbox cursor_pointer">
          <i class="item-icon icon-dropbox"></i><span class="item-text" translate>@file-upload-dropbox</span>
        </li>
      </ul>
    </div>
    
    <div class="input-container-over cursor_pointer">
      <div class="has-new-msg-banner-container" id="has-new-msg-banner" ng-click="onHasNewMessageAlertClicked();">
        <span class="has-new-msg-alert-container-text inline-overflow-ellipsis" translate>@has-new-message-alert-msg</span>
        <i class="has-new-msg-alert-container-close icon-delete pull-right"
           ng-click="onHasNewMessageAlertCloseClicked(); $event.stopPropagation();"></i>
      </div>
      <div class="scroll-to-bottom-container cursor_pointer"
           ng-if="hasMoreNewMessageToLoad() || (hasScrollToBottom && !hasNewMsg)"
           ng-click="onScrollToBottomIconClicked();"
           tooltip="{{::'@go-to-latest-message-msg' | translate}}"
           tooltip-placement="left">
        <i class="icon-arrow-down scroll-to-bottom-icon cursor_pointer"></i>
      </div>
      <sticker-layer name="chat"></sticker-layer>
    </div>

    <div class="message-input-body">
      <form id="message-form">
        <textarea ng-class="{ 'post-loading': isPosting,
                                'center-panel-disabled-member-input': isDisabledMember(currentEntity)}"
                  id="message-input"
                  message-submit="postMessage()"
                  ng-disabled="msgLoadStatus.loading || isDisabledMember(currentEntity)"
                  placeholder="{{::'@placeholder-input-message' | translate }}"
                  jnd-elastic="message"
                  jnd-elastic-on-change="onMessageInputChange($event)"
                  mentionahead
                  mentionahead-type="message"
                  mentionahead-dropdown-parent=".input-container-over"></textarea>
      </form>
    </div>
    <div class="message-input-footer">
      <div class="message-input-buttons">
        <sticker-panel name="chat" max-columns="4" dropdown-parent=".input-container-over"></sticker-panel>
        <mention-ahead></mention-ahead>
        <i class="icon-at cursor_pointer" ng-click="onMentionIconClick()"></i>
      </div>
      <button class="message-input-submit btn btn-ok" ng-class="{'active': hasTextMessage}">전송</button>
      <div class="message-input-description fade opac-zero" ng-class="{'opac-in-fast': hasTextMessage}">
        <span class="markdown-guide-bold" translate>@markdown-bold</span>
        <span class="markdown-guide-italics" translate>@markdown-italics</span>
        <span class="markdown-guide-bold-italics" translate>@markdown-bold-italics</span>
        <span class="markdown-guide-strikethrough" translate>@markdown-strikethrough</span>
        <span class="markdown-guide-code" translate>@markdown-code</span>
      </div>
    </div>
  </div>
</div>
