<div class="footer center-chat-input-container">
  <!-- scroll to bottom container & new msg banner positioned directly under footer container -->
  <div class="scroll-to-bottom-container cursor_pointer"
       ng-if="hasMoreNewMessageToLoad() || (hasScrollToBottom && !hasNewMsg)"
       ng-click="onScrollToBottomIconClicked();"
       tooltip="{{::'@go-to-latest-message-msg' | translate}}"
       tooltip-placement="left">
    <i class="icon-arrow-down scroll-to-bottom-icon cursor_pointer"></i>
  </div>
  <div class="has-new-msg-banner-container" id="has-new-msg-banner" ng-click="onHasNewMessageAlertClicked();">
    <span class="has-new-msg-alert-container-text inline-overflow-ellipsis" translate>@has-new-message-alert-msg</span>
    <i class="has-new-msg-alert-container-close icon-delete pull-right"
       ng-click="onHasNewMessageAlertCloseClicked(); $event.stopPropagation();"></i>
  </div>

  <div class="file-upload-progress-container"
       ng-class="{'isAborted':curUpload.isAborted || curUpload.hasError,
                  'file-upload-progress': curUpload.status != null,
                  'file-upload-done': curUpload.status == 'done',
                  'file-upload-finally': curUpload.isComplete}">
    <!--    progress file index  -->
    <div class="index-wrapper">
      <span class="file-upload-progress-file-index">
        {{curUpload.cFileIndex}} of {{curUpload.lFileIndex}}
      </span>
    </div>
    <div class="uploading-wrapper">
      <div class="fileicon-container">
        <i class="icon-file"></i>
      </div>
      <!-- 파일 네임, 프로그레스바, 업로드 정보, 취소 버튼을 포함하는 컨테이너 -->
      <div class="progress-container">
        <!--    file title  -->
        <span class="file-upload-progress-title">{{curUpload.title}}</span>
        <!--    progress in percentile  -->
        <span class="file-upload-progress-completion-percent">{{curUpload.progress}}%</span>
        <!--    'done'      -->
        <span class="file-upload-progress-msg done" translate ng-if="curUpload.status == 'done'">@common-file-upload-done-msg</span>
        <!--    'aborted'       -->
        <span class="file-upload-progress-msg aborted" translate ng-if="curUpload.status == 'abort'">@common-file-upload-abort-msg</span>
        <!--    'error'     -->
        <span class="file-upload-progress-msg error" translate ng-if="curUpload.status == 'error'">@common-try-again</span>
        <!-- progress-bar -->
        <progressbar class="progress-striped jandi-file-upload-progress-bar active" max="100" value="curUpload.progress"></progressbar>
      </div>
      <!-- 취소버튼, 업로드 완료 메시지를 포함하는 컨테이너 -->
      <div class="button-wrapper">
        <!--    'cancel'    -->
        <span class="file-upload-progress-abort cursor_pointer"
              ng-click="onFileUploadAbortClick();"
              ng-if="curUpload.status=='uploading'">
          Cancel
        </span>
        <!-- 'finishing...' : 업로드 프로그레스가 100이고, 업로드 상태가 'done'이 아닐 경우, finishing... 텍스트를 노출하여 캔슬을 막도록 한다. -->
        <span class="file-upload-progress-msg finishing" style="display: none;">
          Finishing...
        </span>
        <!--    'Close'  --> 
        <span class="file-upload-progress-icon-cancel file-upload-progress-close cursor_pointer" data-ng-click="onFileIconCloseClick();" data-ng-if="curUpload.status!='uploading'">
          <!--<i class="icon-delete"></i>-->
          Close
        </span>
        <!--    'uploading' 
        <span translate ng-if="curUpload.status == 'uploading'">@common-file-upload-progress-msg</span>
        -->
      </div>
    </div>
  </div>
  
  <div class="message-input-wrapper"
       ng-class="{'post-loading': isPosting,
                  'disabled-member-input': isDisabledMember(currentEntity),
                  'focus': isMessageInputFocus}">
    <div class="file-upload-wrapper non-selectable" dropdown>
      <div class="dropdown dropdown-toggle icon-upload-button cursor_pointer" dropdown-toggle>
        <i class="icon-upload"></i>
      </div>
      <ul class="file-upload-menu dropdown-menu" id="file-upload-menu" role="menu">
        <li class="file-upload-description">
          Attach File
        </li>
        <li class="file-upload-type computer cursor_pointer" role="computer">
          <i class="item-icon icon-laptop"></i><span class="item-text" translate>@file-upload-computer</span>
        </li>
        <li class="file-upload-type google-drive cursor_pointer" role="google-drive">
          <i class="item-icon icon-google-drive"></i><span class="item-text" translate>@file-upload-google-drive</span>
        </li>
        <li class="file-upload-type dropbox cursor_pointer" role="dropbox">
          <i class="item-icon icon-dropbox"></i><span class="item-text" translate>@file-upload-dropbox</span>
        </li>
      </ul>
    </div>
    
    <div class="input-container-over cursor_pointer">
      <sticker-layer name="chat"></sticker-layer>
    </div>

    <div class="message-input-body">
      <form id="message-form">
        <textarea id="message-input"
                  message-submit="postMessage()"
                  ng-focus="onMessageInputFocus()"
                  ng-blur="onMessageInputBlur()"
                  ng-disabled="msgLoadStatus.loading || isDisabledMember(currentEntity)"
                  placeholder="{{::'@placeholder-input-message' | translate }}"
                  jnd-elastic="message"
                  jnd-elastic-on-change="onMessageInputChange($event)"
                  mentionahead
                  mentionahead-type="message"></textarea>
      </form>
    </div>

    <div class="message-input-footer">
      <div class="message-input-buttons">
        <sticker-panel name="chat" max-columns="4" dropdown-parent=".center-chat-input-container .input-container-over"></sticker-panel>
        <i class="icon-at cursor_pointer"
           ng-class="{'open': isMentionaheadShow}"
           ng-click="onMentionIconClick()"
           ng-disabled="isDM"></i>
      </div>
      <button class="message-input-submit btn btn-ok" ng-class="{'active': hasMessage}" ng-click="postMessage()">
        @common-send
      </button>
      <div class="message-input-description fade opac-zero" ng-class="{'opac-in-fast': showMarkdownGuide}">
        <span class="markdown-guide-bold" translate>@markdown-bold</span>
        <span class="markdown-guide-italics" translate>@markdown-italics</span>
        <span class="markdown-guide-bold-italics" translate>@markdown-bold-italics</span>
        <span class="markdown-guide-strikethrough" translate>@markdown-strikethrough</span>
        <span class="markdown-guide-code" translate>@markdown-code</span>
      </div>
    </div>
  </div>
</div>
