/* file upload wrapper */
.file-upload-wrapper {
  position: absolute;
  top: 9px;
  left: 16px;
}

.file-upload-wrapper .icon-upload-button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;

  background-color: #f9f9f9;
  color: #7b7b7b;
}

.file-upload-wrapper .icon-upload-button:hover {
  background-color: #fff;
  color: #00abe6;
}

.file-upload-wrapper .icon-upload-button::before {
  content: '';
  position: absolute;
  border-radius: 15px;
  transition: all .2s ease-out;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #a4a4a4;
}

.file-upload-wrapper .icon-upload-button:hover::before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid #00abe6;
}

.file-upload-wrapper .file-upload-menu {
  top: -132px;
}

.file-upload-wrapper .file-upload-menu > li.file-upload-description {
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  padding-left: 17px;
}

.file-upload-wrapper .file-upload-menu > li.file-upload-type {
  text-align: left;
  line-height: 16px;
  padding: 8px 34px 8px 17px;
  white-space: nowrap;
}

.file-upload-wrapper .file-upload-menu > li .item-icon {
  float: left;
}
.file-upload-wrapper .file-upload-menu > li .item-text {
  display: inline-block;
  padding-left: 8px;
}

.file-upload-wrapper .file-upload-menu .file-upload-description {
  color: #898989;
  font-size: 12px;
}

/* message input wrapper */
.message-input-wrapper {
  margin: 9px 9px 9px 58px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  background-color: #fff;
}

.message-input-wrapper textarea {
  width: 100%;
  min-height: 62px;
  max-height: 20rem;
  font-size: 14px;
  line-height: 1.2rem;
  border: 0;
  resize:none
}

.message-input-wrapper .message-input-footer {
  height: 24px;
}
