<div class="member-item cursor_pointer">
  <img class="member-profile-image" src="{{profileImage}}"/>
  <span class="member-name inline-overflow-ellipsis">{{userName}}</span>
  <i class="icon-star-off right-star opac-zero"></i>
</div>
