<!-- Modal: Create Topic -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>
    <h3 class="modal-header__title">
        <span translate>@common-create-ch</span>
    </h3>
</div>

<form name="entityCreateForm" data-ng-submit="onCreateClick(entityType, entityName)">
    <div class="modal-body" id="create-entity-body">

            <h4 class="modal-body__description">
                <span translate>@modal-create-entity-title</span>
            </h4>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2"><span translate>@common-name</span></label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               name="entityName"
                               data-ng-model="entityName"
                               placeholder="{{ '@input-create-ch' | translate }}"
                               ng-required="true"
                               ng-maxlength="60"/>
                        <alert type="warning" class="profile-settings-body__alert" data-ng-if="entityCreateForm.entityName.$error.maxlength">
                            {{ '@input-max-length-error' | translate}}
                        </alert>

                    </div>
                </div>
            </div>

        <div class="private-container" ng-if="entityType == 'private1'">
            <h4 class="modal-body__description">
                <span translate>@modal-create-pg-msg1</span>
            </h4>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">
                        <span translate>@common-name</span>
                    </label>
                    <div class="col-sm-10">
                        <input type="text"
                               class="form-control"
                               name="entityName"
                               data-ng-model="entityName"
                               placeholder="{{ '@input-create-pg' | translate }}"
                               required/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2"><span translate>@common-entity-type</span></label>
                <div class="col-sm-10">
                    <div class="radio-container">
                        <input type="radio" ng-model="entityType" value="public"/><span class="radio-title" translate>@common-type-public</span>
                        <input type="radio" ng-model="entityType" value="private"/><span class="radio-title" translate>@common-type-private</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="private-topic-help-msg-container modal-body__description-help opac-zero" ng-class="{'opac-in':entityType == 'private'}">
            <span translate>@modal-create-private-topic-help-msg</span>
        </div>

    </div>


    <div class="modal-footer">
        <span class="btn btn-cancel" data-ng-click="cancel();" translate>@btn-close</span>
        <input class="btn btn-ok" type="submit" id="create_new_channel" value="{{ '@btn-create' | translate }}" ng-disabled="entityCreateForm.$invalid" />
    </div>
</form>

<div ng-include="templates.loading"></div>


