<!-- Modal: Image Crop -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><span class="icon_close"></span></button>
    <h3 class="modal-header__title">
        <span translate>Profile picture</span>
    </h3>
</div>

<div class="modal-body">
    <div class="cropArea">
        <img-crop image="profilePic" result-image="croppedProfilePic" on-change="onchange($dataURI);"></img-crop>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-cancel" data-ng-click="cancel();">
        <span translate>Cancel</span>
    </button>
    <a class="new_channel_btn btn btn-ok " data-ng-click="onCropDone(); ">
        <span translate>Change</span>
    </a>
</div>

<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>

<style type="text/css">
    .cropArea {
        overflow: hidden;
        width:100%;
        height:500px;
        margin: 20px 0;
    }
    .wide .modal-content {
        background: white;
    }
</style>
