<!-- Private Group Invite Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel(); clear();"><span class="icon_close"></span></button>

    <h3 id="myModalLabel">Invite Others</h3>
</div>

<form name="private_group_invite_form" ng-submit="onInviteClick(currentEntity.type);">

    <div class="modal-body">
        <!--    LIST OF USERS WHO WILL BE INVITED WHEN BUTTON IS CLICKED    -->
        <div class="users_to_invite">
            <span ng-repeat="user in userToInviteList = (userList | filter : {'selected' : true})"
                  data-ng-click="user.selected = false">
                <span class="selected_user btn-ok" ng-click="user.selected = true;">{{user|getFirstLastNameOfUser}}
                <span class="fa fa-times"></span></span>
            </span>
        </div>

        <div class="input-group custom-typeahead">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" ng-model="selectedUser" typeahead="user as user.u_lastName+user.u_firstName for user in userList | filter : { selected : false } | userByName:$viewValue"
                   typeahead-on-select="onUserSelected($item); selectedUser=''; $event.stopPropagation();" class="form-control green-input-box"
                   typeahead-template-url="customTemplate.html"
                   placeholder="search users by name">
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" ng-click="cancel(); clear();">Close</button>
        <input class="btn btn-ok" type="submit" id="private_invite" value="Invite"/>
    </div>
</form>

<script type="text/ng-template" id="customTemplate.html">
    <a class="match_container">
        <span data-ng-click="match.model.selected = true" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span ng-if="isMember(match.model)">check</span>
    </a>
</script>

<div class="loading_container" ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar"></div>
</div>

