<!-- Modal: Invite to Channel/Group -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel(); clear();"><i class="fa fa-close"></i></button>
    <h3 class="modal-header__title">
        <span translate>Invite Others</span>
    </h3>
</div>

<form name="form-invite" ng-submit="onInviteClick(currentEntity.type);">
    <div class="modal-body form-invite-body">
        <!--    LIST OF USERS WHO WILL BE INVITED WHEN BUTTON IS CLICKED    -->
        <div class="form-invite-body__selected">
            <span class="cursor_pointer"
                  data-ng-repeat="user in userToInviteList = (userList | filter : {'selected' : true})"
                  data-ng-click="user.selected = false">
                <span class="form-invite-body__selected-user btn-ok" data-ng-click="user.selected = true;">
                    {{ user | getFirstLastNameOfUser }} <span class="fa fa-times"></span>
                </span>
            </span>
        </div>
        <div class="input-group custom-typeahead form-invite-body__list">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text"
                   class="form-control green-input-box"
                   data-ng-model="selectedUser"
                   typeahead="user as user.u_lastName+user.u_firstName for user in userList | filter : { selected : false } | userByName:$viewValue"
                   typeahead-on-select="onUserSelected($item); selectedUser=''; $event.stopPropagation();"
                   typeahead-template-url="customTemplate.html"
                   placeholder="{{ 'Search users by name' | translate }}" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-ng-click="cancel(); clear();"><span translate>Close</span></button>
        <input class="btn btn-ok" type="submit" id="private_invite" value="{{ 'Invite' | translate }}"/>
    </div>

</form>

<script type="text/ng-template" id="customTemplate.html">
    <a class="match_container">
        <span data-ng-click="match.model.selected = true" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span data-ng-if="isMember(match.model)">check</span>
    </a>
</script>

<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
