<!-- Join Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span class="icon_close"></span></button>
    <span class="create_channel_on_top" ng-click="newChannel();">
        <span translate>Create Channel</span>
    </span>
    <h3 id="myModalLabel">
        <span translate>Browse channels</span>
    </h3>
</div>

<div class="modal-body">
    <div class="join-modal-search">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="icon_image icon_search rpanel-body-search__icon"></span>
            </span>
            <input type="text"
                   class="form-control green-input-box"
                   placeholder="{{ 'Search channel by name' | translate }}"
                   ng-model="channelTitleQuery">
        </div>
    </div>

    <div id="non_member_containter">
        <div class="join-modal-heading">
            <span translate>Channels you can join</span>
        </div>
        <div class="join-modal-channel_container file-item-meta__listview is_not_member"
             ng-repeat="channel in filtered = (unJoinedChannelList | filter:{'name': channelTitleQuery})">

            <div class="join-modal-channel_title cursor_pointer" ng-click="onJoinClick(channel.id);">#{{channel.name}}</div>
            <div>
                <i class="fa fa-user"></i> <span class="join-modal-channel_creator">{{ getName(channel.ch_creatorId) }}</span>
                <span class="bullet"> • </span>
                <i class="fa fa-clock-o"></i> <span>{{ channel.ch_createTime | ordinalDate: 'EEE, MMMM doo' }} at {{ channel.ch_createTime | date: 'h:mm a' }}</span>
            </div>
            <div>
                <i>{{channel.ch_members.length + " member(s)"}}</i>
            </div>
            <button type="button" class="btn btn-white btn-full-width" data-ng-click="onJoinClick(channel.id)">Join</button>
        </div>
        <h5 ng-show="filtered.length == 0">
            <span translate>No channels to join</span>
        </h5>
    </div>

    <div id="is_member_container">
        <div class="join-modal-heading">
            <span translate>Channels you belong to</span>
        </div>

        <div class="join-modal-channel_container file-item-meta__listview cursor_pointer"
             id="is_not_member"
             data-ng-repeat="joinedChannel in joinFiltered = (joinedChannelList | filter:{'name':channelTitleQuery})"
             data-ui-sref="archives({entityType:'channels',entityId:joinedChannel.id})"
             data-ng-click="cancel();">

            <div class="join-modal-channel_title cursor_pointer" >#{{joinedChannel.name}}</div>
            <div>
                <i class="fa fa-user"></i> <span class="join-modal-channel_creator">{{ getName(joinedChannel.ch_creatorId) }}</span>
                <span class="bullet"> • </span>
                <i class="fa fa-clock-o"></i> <span>{{ joinedChannel.ch_createTime | ordinalDate: 'EEE, MMMM doo' }} at {{ joinedChannel.ch_createTime | date: 'h:mm a' }}</span>
            </div>
            <div>
                <span>참여멤버</span> <span>{{joinedChannel.ch_members.length}}</span><span>명</span>
            </div>
        </div>

        <!--<p class="is_member" ng-repeat="joinedChannel in joinFiltered = (joinedChannelList | filter:{'name':channelTitleQuery})">-->
            <!--<a >-->
                <!--#{{joinedChannel.name}}-->
            <!--</a><br>-->

        <!--<span class="help-block">-->
        <!--Created by-->
        <!--<a> {{getName(joinedChannel.ch_creatorId) }} </a>-->
        <!--on <strong>{{joinedChannel.ch_createTime | date : 'mediumDate'}}</strong><br/>-->
        <!--<i>{{joinedChannel.ch_members.length + " member(s)"}}</i>-->
        <!--</span>-->
        <!--</p>-->

        <h5 ng-show="joinedChannelList.length == 0"> You have not joined any channels yet.</h5>
        <h5 ng-show="joinFiltered.length == 0 && joinedChannelList.length != 0"> No Result.</h5>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-cancel" ng-click="cancel()">Cancel</button>
    <a class="new_channel_btn btn btn-ok " ng-click="newChannel(); ">Create New Channel</a>
</div>

<div class="loading_container" ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar"></div>
</div>
