/********************************************

                   MODAL

********************************************/
/*
    applying fade animation only.
    To make this active, add 'fade-only' class to 'windowClass' in open.modal options
*/
.modal.fade.fade-only .modal-dialog{
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;

}
.modal.hide {
  z-index: -1000;
}
.modal-dialog {
  font-size: 14px;
  z-index: 9999;
  margin: 20px auto;
}
.modal-footer {
  margin-top: 0;
  border-top: 0;
  padding:0px 20px 20px 20px;
  text-align: center;
  font-size: 0;
}

.modal-content {
  border-radius: 5px;
  background-color: #f1f4f8;
  border: 0;
}
/*
    Common
*/
.close {
  opacity: 0.6;
}
.close:hover,
.close:focus {
  opacity: 1;
}
.modal-header {
  height: 40px;
  padding: 12px 20px;
  position: relative;
  color: white;
  font-size: 14px;
  border-bottom: 0;
  background-color: #366480;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-header .close {
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin-top: 0;

}
.modal-header .close:focus {
  outline: none;
}
.modal-header__title {
  display: inline-block;
  margin: 0;
  font-size: 14px;

}
.modal-body {
  padding: 20px 20px;
  background-color: #f1f4f8;
}
.modal-body__description {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 22px;
  color: #5e5e5e;
}
.modal-body__description-help {
  display: inline-block;
  font-size: 14px;
  color: #999;
}
.modal-body__help {
  margin: 6px 0 0 0;
  color: #808080;
  font-size: 14px;
}

/* google drive picker modal background */
.picker.modal-dialog-bg {
  z-index: 1000;
}

.modal-horizontal {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.modal-horizontal__title {
  display: inline-block;
  width: 23%;
  margin-right: 2%;
  text-align: right;
}
.required_title {
  font-weight: 700;
}
.optional_title {
  font-weight: 400;
}
.explanation_text {
  font-size: 12px;
  color: #666;
  margin-top: 2px;
}
.modal-horizontal__input {
  display: inline-block;
  width: 74%;
  vertical-align: top;

}
.modal-horizontal__input input {
  border: 1px solid #d2d2d2;
  height: 37px;

}
.modal-horizontal__input textarea {
  border: 1px solid #d2d2d2;
  vertical-align: top;

}

.modal-horizontal__input input:active,
.modal-horizontal__input input:focus,
.modal-horizontal__input textarea:active,
.modal-horizontal__input textarea:focus
{
  box-shadow: none;
  border: 1px solid #d2d2d2;

}


.file-item-meta__listview {
  color: #999;
  font-size: 12px;
  line-height: 19px;
}

.member-item:before, .join-modal-channel_container:before {
	content:'';
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	border-bottom: 1px solid #f2f2f2;
}

.modal-full .modal-dialog {
  width: auto;
  display: table;
}
.modal-full .modal-dialog .modal-content {
  background-color: rgba(0,0,0,0);
}
.input-group-addon {
  background-color: white;
  border-radius: 0;
  border-right: none;
  position: relative;
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 0px;
}

.form-control {
  border-radius: 0;
  height: 33px;
}
.form-control:focus {
  border-color: rgb(204,204,204);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group > .form-control {
  border-left: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 5px;
}

.input-group > .form-control:focus {
  border-left: none;
  box-shadow: none;
}



.modal-wide .modal-dialog {
  width: 800px;
  overflow-y: scroll;
  margin: 20px auto;
  max-height: 93%;
}
.modal-lg {
  width: 500px;
  /*overflow-y: auto;*/
  margin: 20px auto;
  max-height: 93%;
}
.allowOverflowY > div {
  max-height: 100%;
  overflow: visible;
}



.custom-typeahead > ul {
  left: 0 !important;
  border-radius: 0;
}


.form-control[disabled] {
  border: 1px solid rgb(192, 192, 192);
}

.custom-typeahead > ul {
  width: 100%;
  height: 33px;
}

.custom-typeahead > ul > li {
  width: 100%;
  height: 33px;
  background-color: white;
  cursor: pointer;
  line-height: 33px;

}

.custom-typeahead > ul > li > a {
  border-radius: 0 !important;
  line-height: 33px;

}
.custom-typeahead > ul > li.active > a,
.custom-typeahead > ul > li.active > a:hover
{
  background-color: #366480;
}


/* typeahead list item wrapper */
.match_container {
}
.match_container:hover {
  background-color : #31c08a;
}

.control-label {
  font-size: 15px;
  font-weight: 400;
  text-align: left !important;
  padding-top: 0 !important;
  height: 33px;
  line-height: 33px;
  color: #1d1d1d;

}
.radio-container {
  height: 33px;
  line-height: 33px;
}


/*
    Invite to Channel / Group
*/
.form-invite-body__selected {
  margin-bottom: 10px;
}
.form-invite-body__selected-user {
  display: inline-block;
  background-color: #00abe6;
  color: #fff;
  text-align: center;
  margin: 3px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 2px;
}
.form-invite-body__selected-user .fa {
  margin-left: 3px;
}
.form-horizontal input:not([disabled]):active,
.form-horizontal input:not([disabled]):focus {
  border: 1px solid #154a67;
  color: #333;
}

.loading_container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1111;
}
.loading_bg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  width: 90px;
  height: 90px;
  background-color: black;
  opacity: 0.65;
  border-radius: 9px;
}

.loading_container > div > img {
  width: 100%;
  height: 100%;
}
.loading_bar {
  position: relative;
  width: 24px;
  height: 24px;
  margin: -12px auto auto;
  top: 50%;
}

.modal-noti-block {
  text-align: center;
  margin-top: 15px;
}
.modal-noti-block > h1 {
  font-size: 16px;
}
.modal-noti-block_msg {
  font-size: 14px;
  margin: 2px;
}



/*
    ACCOUNT
*/
.account-settings-body a:hover {
  text-decoration: none;
}
.account-settings-body .panel {
  margin-bottom: 15px;
}
.account-settings-body .panel-heading {
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 0;
}
.account-settings-body .panel-title {
  color: #31c08a;
  font-weight: 700;
}
.account-settings-body .accordion-toggle {
  display: block;
  padding: 15px;
}
.account-settings-body .panel-body {
  border-top: 0 !important;
  padding-top: 5px;
}
.account-settings-body__wraper {
  padding-left: 20px;
  font-size: 14px;
}
.account-settings-body__form-group {
  margin-bottom: 10px;
  width: 50%;
}
.account-settings-body__label {
  margin-bottom: 8px;
  height: inherit;
  line-height: inherit;
}
.account-settings-body__input {
  display: inline;
}
.account-settings-body__success {
  display: inline;
  margin: 0 0 0 5px;
  color: #3c763d;
  font-size: 14px;
}
.account-settings-body__error {
  display: inline;
  margin: 0 0 0 5px;
  color: #a94442;
  font-size: 14px;
}
.account-settings-body__alert {
  margin-top: 5px;
}
.account-settings-body__help {
  color: #9e9ea6;
  line-height: 130%;
}
.account-settings-body__help p {
  margin-bottom: 5px;
}
.account-settings-body__submit {
  margin-top: 10px;
}





/*
    PREFERENCES
*/
.modal-preferences-body {

}
.modal-preferences-body__section {
  margin-bottom: 40px;
}
.modal-preferences-body__section:last-child {
  margin-bottom: 0;
}
.modal-preferences-body__section-title {
  text-align: left;
  margin: 20px 0 10px !important;
  color: #333 !important;
  font-size: 16px !important;
}
.modal-preferences-body .radio {
  position: relative;
  display: block;
  min-height: 20px;
  line-height: 27px;
  /*margin-top: 10px;*/
  /*margin-bottom: 10px;*/
  /*padding-left: 0;*/
}
.modal-preferences-body .radio label {
  padding-left: 5px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.modal-preferences-body .radio input[type=radio] {

}




/*
    PROFILE
*/
.user-profile-photo-container {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 150px;
  margin: auto auto 15px;
}

.user-profile__photo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.profile-body .form-horizontal  .form-group {
  margin-bottom: 7px;
}
.profile-body .profile-body__label {
  text-align: left;
}
.profile-body .profile-body__label:lang(ja) {
  padding-right: 0;
}

.profile-body .profile-body__title {
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  color: #666666;
}

#profile_image_uploader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:   0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.user-profile-photo__overlay {
  position: absolute;
  width: 100%;
  height: 46px;
  bottom: 0;
  left: 0;
  text-align: center;
  color:  white;
  z-index: 0;
}

.profile-footer {
  margin-top: 0;
}

.black-opac__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}

.overlay__text {
  color: white;
  padding: 14px;
}

.user-profile-photo__overlay:hover .overlay__text,
.overlay__text:hover {
  text-decoration: underline;
}

.profile-settings-body__alert {
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*
    SHARE
*/
.modal-share__file {
  position: relative;
}
.modal-share__file-type {
  position: absolute;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.modal-share__file-type__image {
  width: 100%;
  height: 100%;
}
.modal-share__file-type__other {
  background-color: #f2f2f2;
  border: 1px solid #dbdbdb;
  padding: 15px;
}
.modal-share__file-body {
  margin-left: 80px;
  padding-top: 3px;
}
.modal-share__file-body__writer {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  color: #333;
}
.modal-share__file-body__time {
  display: inline-block;
  vertical-align: baseline;
  font-size: 12px;
  color: #999;
}
.modal-share__file-body__title {
  margin: 8px 0 5px;
}
.modal-share__file-body__meta {
  font-size: 12px;
}

/*
    FILE UPLOAD
*/
.modal-upload-img {
  max-height:130px;
  max-width: 100%;
  display: block;
  margin: auto auto 15px;
}

#file_preview_container {
  margin-bottom: 15px;
}

#file_preview_container > object {
  background: url('../assets/images/checkered.png');
  min-width: 40px;
  min-height: 40px;
}
.non-image-file-preview {
  border: none !important;
}

.upload-image-preview {
  width: 100%;
  text-align: center;
}

.upload-image-preview img {
  vertical-align: middle;
  margin: auto;
  border: 1px solid #ccc;
  display: inline-block;
}

/*
    CREATE
*/
#create-entity-body input[type='radio'] {
  margin-top: 10px;
}
#create-entity-body .radio-title {
  margin-right: 10px;
}
.private-topic-help-msg-container {
  height: 0;
  /*-webkit-transition: height 0.7s, opacity 0.7s;*/
  /*-moz-transition: height 0.7s, opacity 0.7s;*/
  /*-ms-transition: height 0.7s, opacity 0.7s;*/
  /*-o-transition: height 0.7s, opacity 0.7s;*/
  /*transition: height 0.7s, opacity 0.7s;*/

  /*-webkit-transition: height 0.7s;*/
  /*-moz-transition: height 0.7s;*/
  /*-ms-transition: height 0.7s;*/
  /*-o-transition: height 0.7s;*/
  /*transition: height 0.7s;*/
}
.private-topic-help-msg-container.opac-in {
  height: 17px;
}

/*
    SEND INVITE
*/
.send-invite,
.send-invite:focus,
.send-invite:hover,
.send-invite:active {
  color: #fff;
}
.send-invite.disabled,
.send-invite.disabled:focus,
.send-invite.disabled:hover,
.send-invite.disabled:active  {
  color: white;
  background-color: #ccc;
  cursor: not-allowed;
}


/*
    MODAL TAB HEADER
*/
.modal-body .list-tabs .tab-pane {
  margin-top: 0;
  min-height: 44px;
  max-height: 662px;
  overflow-y: auto;
  background-color: #fff;
}

.modal-body .list-tabs li {
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.modal-body .list-tabs li a:last-child {
  margin-right: 0;
}
.modal-body .list-tabs a {
  color: #999999;
}
.modal-body .list-tabs a:hover {
  color: #366480;
  background-color: #E6ECF2 !important;
}
.modal-body .list-tabs .active a  {
  background-color: white !important;
}

.modal-body .list-tabs .nav-tabs {
  border: 0;
}

.modal-body .list-tabs .nav-tabs > li > a:hover {
  border-bottom-color: rgba(0,0,0,0);
}

.modal-body .list-tabs .nav-tabs > li.active > a,
.modal-body .list-tabs .nav-tabs > li.active > a:hover,
.modal-body .list-tabs .nav-tabs > li.active > a:focus {
  border-color: rgba(0,0,0,0);
  color: #333333;
}

.modal_team_member_list,
.modal_topic_list {
  margin-top: 20px;
}

.modal-body .active {
  background-color: #f2fbff;
}

.modal-body .no-result-container {
  background-color: #fff;
  width: 100%;
  padding : 12px 16px;
  color:#999;
}

/* custom dropdown menu button */
.dropdown-btn-group .btn {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  font-weight: 500;
  text-align: left;
  color: #424C53;
}

.dropdown-btn-group .btn .icon {
  position: absolute;
  top: 10px;
  right: 7px;
}
.dropdown-btn-group .btn:focus:active {
  color: #424C53;
}

.dropdown-btn-group.open .btn {
  background-color: #e7e7e8;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.07);
  border-color: #bdc0c2;
}


.dropdown-btn-group .dropdown-menu-option {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-btn-group .dropdown-menu {
  width: 100%;
  min-width: inherit;
}
