<span ng-if="false" translate>@password-reset-email-fail</span>
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>
    <h3 class="modal-header__title">
        <span translate ng-if="!emailSent">@login-reset-password</span>
        <span translate ng-if="emailSent">@password-reset-email-sent</span>
    </h3>
</div>

<form name="passwordResetForm" data-ng-submit="onPasswordResetRequstClick(email);">
    <div class="modal-body">
        <h4 class="modal-body__description">
            <span translate>@password-reset-email</span>
        </h4>
            <input type="email"
                   class="form-control"
                   name="passwordResetEmail"
                   data-ng-model="email"
                   placeholder="{{ '@common-email' | translate }}"
                   required/>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-ng-click="cancel()"><span translate>@btn-cancel</span></button>
        <input class="btn btn-ok" type="submit" ng-disabled="passwordResetForm.$invalid" value="{{ '@btn-edit' | translate }}"/>
    </div>
</form>


<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
