<!-- Modal: Mini Profile View -->
<div class="modal-body profile-view-body">
    <div class="profile-view-general-container">
        <img class="user-profile__photo view" data-ng-src="{{ curUser | getSmallThumbnail }}"/>
        <div class="user-profile__fullName">{{ curUser | getName }}</div>
        <div class="user-profile__nickName">{{ curUser | getUserStatusMessage }}</div>
    </div>

    <div class="profile-view-info-container">
        <div class="profile-view__info border-bottom_grey">
            <div class="info-title"><span translate>@common-department</span></div>
            <div class="info-content">{{ curUser | getUserDepartment }}</div>
        </div>
        <div class="profile-view__info border-bottom_grey">
            <div class="info-title"><span translate>@common-position</span></div>
            <div class="info-content">{{ curUser | getUserPosition }}</div>
        </div>
        <div class="profile-view__info border-bottom_grey">
            <div class="info-title"><span translate>@common-phone</span></div>
            <div class="info-content">{{ curUser | getUserPhoneNumber }}</div>
        </div>
        <div class="profile-view__info">
            <div class="info-title"><span translate>@common-email</span></div>
            <div class="info-content email">{{ curUser | getUserEmail }}</div>
        </div>
    </div>

    <div class="profile-view-action-container">
        <a class="profile-view-action border-right_grey" href="mailto:{{curUser.u_email}}">
            <div class="profile-view-action__img">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="profile-view-action__text"><span translate>@common-send-mail</span></div>
        </a>
        <div class="profile-view-action border-right_grey" data-ng-click="onActionClick('file');">
            <div class="profile-view-action__img">
                <i class="fa fa-file"></i>
            </div>
            <div class="profile-view-action__text"><span translate>@common-file-list</span></div>
        </div>
        <div class="profile-view-action" data-ng-click="onActionClick('directMessage');">
            <div class="profile-view-action__img">
                <i class="fa fa-comments"></i>
            </div>
            <div class="profile-view-action__text"><span translate>@common-chat-dm</span></div>
        </div>
    </div>

</div>
