<!-- Invite to Team Modal   -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel();"><span class="icon_close"></span></button>
    <h3 id="myModalLabel">Profile</h3>
</div>

<form novalidate name="profile_form" ng-submit="onProfileChangeClick()">

    <div class="modal-body profile-body">
        <h4>
            이 페이지를 통해 프로필을 변경하실 수 있습니다.
        </h4>


        <div class="user-profile-photo-container">
            <input type="file" id="profile_image_uploader" class="file_upload_btn cursor_pointer" onclick="this.value=null" data-ng-file-select="onFileSelect($files);"
                    >
            <img class="user-profile__photo" ng-src="{{ server_uploaded + curUser.u_photoUrl }}"/>
            <div class="user-profile-photo__overlay">
                <div class="black-opac__background"></div>
                <div class="overlay__text">편집</div>
            </div>
        </div>


        <div class="form-horizontal">
            <div class="user-profile-general-container">
                <h4>
                    기본 정보
                </h4>
                <div class="form-group">
                    <label class="control-label col-sm-2" > 성 </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="channelName" ng-model="curUser.u_lastName" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" > 이름 </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="channelName" ng-model="curUser.u_firstName" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" > 닉네임 </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="channelName" ng-model="curUser.name" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" > 이메일 </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="channelName" ng-model="curUser.u_email" disabled/>
                    </div>
                </div>
            </div>


            <div class="user-profile-optional-container">
                <h4>
                    추가 정보
                </h4>
                <div class="form-group">
                    <label class="control-label col-sm-2" > 전화전호 </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="channelName" ng-model="curUser.u_extraData.phoneNumber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" > 부서 </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="channelName" ng-model="curUser.u_extraData.department"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" > 직책 </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="channelName" ng-model="curUser.u_extraData.position"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" ng-click="cancel();">Close</button>
        <input class="btn btn-ok" type="submit" id="change_profile" value="Change"/>
    </div>

</form>

<div class="loading_container" ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar"><img ng-src="../../assets/images/jd_loading.gif"/></div>
</div>
