<!-- Modal: Account Setting -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel();"><i class="icon-cancel"></i></button>
    <h3 class="modal-header__title">
        <span translate>@common-account-settings</span>
    </h3>
</div>

<div class="modal-body account-settings">
    <h4 class="modal-body__description">
        <span translate>@modal-setting-account-msg1</span>
    </h4>
    <accordion class="account-settings-body" close-others="status.oneAtATime">
        <accordion-group is-open="status.name.open">
            <accordion-heading>
                {{ '@modal-setting-account-name' | translate }}
                <i class="pull-right" data-ng-class="{'icon-down': status.name.open, 'icon-next': !status.name.open}"></i>
            </accordion-heading>
            <div class="account-settings-body__wraper">
                <form name="form-settings-fullname" data-ng-submit="onClickChangeName();" novalidate>

                    <div class="form-group account-settings-body__form-group"
                         data-ng-class="{'has-error': rename.new_name.error.status}">
                        <label class="control-label account-settings-body__label">
                            <span translate>@common-new-name</span>
                        </label>
                        <div>
                            <input type="text"
                                   name="fullname"
                                   class="form-control account-settings-body__input"
                                   data-ng-model="rename.new_name.value" />
                            <span class="account-settings-body__error"
                                  data-ng-if="rename.new_name.error.status"
                                  data-ng-bind="rename.new_name.error.message"></span>
                        </div>
                    </div>
                    <div class="form-group account-settings-body__form-group"
                         data-ng-class="{'has-error': rename.cur_password.error.status}">
                        <label class="control-label account-settings-body__label">
                            <span translate>@common-current-password</span>
                        </label>
                        <div>
                            <input type="password"
                                   name="curPassword"
                                   class="form-control account-settings-body__input"
                                   data-ng-model="rename.cur_password.value" />
                            <span class="account-settings-body__error"
                                  data-ng-if="rename.cur_password.error.status"
                                  data-ng-bind="rename.cur_password.error.message"
                                  data-error-required="{{ '@alert-required' | translate }}"
                                  data-error-invalid="{{ '@alert-invalid-password' | translate }}"
                                  data-error-fail="{{ '@alert-update-fail' | translate }}"
                                  data-error-success="{{ '@alert-update-success' | translate }}"></span>
                        </div>
                    </div>

                    <div class="account-settings-body__help">
                        <span translate>@modal-setting-account-name-msg</span>
                    </div>
                    <input type="submit" class="btn btn-ok account-settings-body__submit" value="{{ '@btn-update-name' | translate }}" />
                </form>
            </div>
        </accordion-group>
        <accordion-group is-open="status.password.open">
            <accordion-heading>
                {{ '@modal-setting-account-password' | translate }}
                <i class="pull-right" data-ng-class="{'icon-down': status.password.open, 'icon-next': !status.password.open}"></i>
            </accordion-heading>

            <div class="account-settings-body__wraper">
                <form name="formSettingsPassword" data-ng-submit="onClickChangePassword();" novalidate>
                    <div class="form-group account-settings-body__form-group"
                         data-ng-class="{'has-error': repassword.cur_password.error.status}">
                        <label class="control-label account-settings-body__label">
                            <span translate>@common-current-password</span>
                        </label>
                        <div>
                            <input type="password"
                                   name="curPassword"
                                   class="form-control account-settings-body__input"
                                   data-ng-model="repassword.cur_password.value" />
                            <span class="account-settings-body__error"
                                  data-ng-if="repassword.cur_password.error.status"
                                  data-ng-bind="repassword.cur_password.error.message"></span>
                        </div>
                    </div>
                    <div class="form-group account-settings-body__form-group"
                         data-ng-class="{'has-error': repassword.new_password.error.status}">
                        <label class="control-label account-settings-body__label">
                            <span translate>@common-new-password</span>
                        </label>
                        <div>
                            <input type="password" password-strength
                                   name="newPassword"
                                   class="form-control account-settings-body__input"
                                   data-ng-model="repassword.new_password.value" />
                            <span class="account-settings-body__error"
                                  data-ng-if="repassword.new_password.error.status"
                                  data-ng-bind="repassword.new_password.error.message"></span>
                            <span class="account-settings-body__success"
                                  data-ng-if="repassword.result.status">
                                <i class="fa fa-check-circle"></i>
                                <span data-ng-bind="repassword.result.message"></span>
                            </span>
                            <alert type="warning" class="account-settings-body__alert" data-ng-if="formSettingsPassword.newPassword.$error.strength">
                                {{ '@input-user-password-error' | translate}}
                            </alert>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-ok account-settings-body__submit" data-ng-disabled="formSettingsPassword.$invalid" value="{{ '@btn-update-password' | translate }}" />
                </form>
            </div>
        </accordion-group>
        <accordion-group heading="{{ '@modal-setting-account-email' | translate }}" is-disabled="status.email.disabled">
            <div class="account-settings-body__wraper">
                <!-- TODO: 이메일 변경 정책 결정 후 구현 -->
            </div>
        </accordion-group>
    </accordion>
</div>

<div class="modal-footer profile-footer">
    <button type="button" class="btn btn-cancel" ng-click="cancel();"><span translate>@btn-close</span></button>
</div>

<div class="loading_container" ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
