<!-- Modal: Profile Setting -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><i class="fa fa-close"></i></button>
    <h3 class="modal-header__title">
        <span translate>@common-profile-settings</span>
    </h3>
</div>

<form name="profile_form" data-ng-submit="onProfileChangeClick()" novalidate>

    <div class="modal-body profile-body">

        <h4 class="modal-body__description">
            <span translate>@modal-setting-profile-msg1</span>
        </h4>

        <div class="user-profile-photo-container img-circle" ng-if="!isProfilePicSelected">
            <img class="user-profile__photo" ng-src="{{ server_uploaded + curUser.u_photoThumbnailUrl.mediumThumbnailUrl}}" />
            <div class="user-profile-photo__overlay" ng-if="isFileReaderAvailable">
                <div class="black-opac__background"></div>
                <div class="overlay__text"><span translate>@btn-change</span></div>
                <input type="file"
                       id="profile_image_uploader"
                       class="file_upload_btn"
                       data-ng-click="this.value=null;"
                       data-ng-file-select="onFileSelect($files);">

            </div>
        </div>

        <div class="cropArea" ng-if="isProfilePicSelected">
            <img-crop image="profilePic" result-image="croppedProfilePic" on-change="onchange($dataURI);"></img-crop>
        </div>

        <div class="form-horizontal" ng-if="!isProfilePicSelected">
            <div class="user-profile-general-container">
                <h4 class="profile-body__title">
                    <span translate>@common-info-basic</span>
                </h4>
                <div class="form-group">
                    <label class="profile-body__label control-label col-sm-3"><span translate>@common-name</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="lastName" value="{{ curUser | getName }}" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="profile-body__label control-label col-sm-3" ><span translate>@common-email</span></label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" data-ng-model="curUser.u_email" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="profile-body__label control-label col-sm-3"><span translate>@common-status-msg</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="nickName" data-ng-model="curUser.u_statusMessage"/>
                    </div>
                </div>
            </div>

            <div class="user-profile-optional-container">
                <h4 class="profile-body__title">
                    <span translate>@common-info-optional</span>
                </h4>
                <div class="form-group">
                    <label class="profile-body__label control-label col-sm-3"><span translate>@common-phone</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phoneNumber" data-ng-model="curUser.u_extraData.phoneNumber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="profile-body__label control-label col-sm-3"><span translate>@common-department</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="department" data-ng-model="curUser.u_extraData.department"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="profile-body__label control-label col-sm-3"><span translate>@common-position</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="position" data-ng-model="curUser.u_extraData.position"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer profile-footer">
        <div ng-if="!isProfilePicSelected">
            <button type="button" class="btn btn-cancel" data-ng-click="cancel();"><span translate>@btn-close</span></button>
            <input class="btn btn-ok" type="submit" id="change_profile" value="{{ '@btn-edit' | translate }}"/>
        </div>

        <div ng-if="isProfilePicSelected">
            <button type="button" class="btn btn-cancel" data-ng-click="onProfilePicCancel();">
                <span translate>@btn-cancel</span>
            </button>
            <a class="new_channel_btn btn btn-ok " data-ng-click="onCropDone(); ">
                <span translate>@btn-change</span>
            </a>
        </div>
    </div>

</form>

<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
