<!-- Modal: Preferences -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><i class="fa fa-close"></i></button>
    <h3 class="modal-header__title">
        <span translate>@common-service-settings</span>
    </h3>
</div>

<form name="form-preferences" data-ng-submit="onClickConfirm(currentLang);" novalidate>

    <div class="modal-body modal-preferences-body">
        <h4 class="modal-body__description">
            <span translate>@modal-setting-service-msg1</span>
        </h4>
        <div class="form-horizontal">
            <div class="modal-preferences-body__section modal-preferences-body__language">
                <h4 class="modal-preferences-body__section-title">
                    <span translate>@common-language</span>
                </h4>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select name="preferences_languages"
                                class="form-control"
                                data-ng-model="currentLang"
                                data-ng-options="lang.value as lang.text for lang in listLangs"></select>
                    </div>
                </div>
            </div>

            <div class="modal-preferences-body__section modal-preferences-body__notifications">
                <h4 class="modal-preferences-body__section-title">
                    <span translate>@common-desktop-noti</span>
                </h4>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" disabled>
                                <span translate>@option-noti-all</span>
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
                                <span translate>@option-noti-dm</span>
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked>
                                <span translate>@option-noti-none</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer profile-footer">
        <button type="button" class="btn btn-cancel" data-ng-click="cancel();"><span translate>@btn-close</span></button>
        <input class="btn btn-ok" type="submit" id="change_profile" value="{{ '@btn-confirm' | translate }}"/>
    </div>

</form>

<div class="loading_container" data-ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
