<!-- FILE SHARE Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><i class="fa fa-close"></i></button>
    <h3 id="myModalLabel">
        <span translate>Share File</span>
    </h3>
</div>

<form name="file_share_form" ng-submit="onFileShareClick(shareChannel, comment)">

    <div class="modal-body">
        <div class="individual_file_container" style="padding-bottom: 20px; margin-bottom: 10px; ">
            <div class="file-item-type modal-share__file-item-type">
                <div class="fileicon fileicon_{{ file.content.type | filetype | lowercase}}"></div>
                <div class="file-item-meta__type" data-ng-if="file.content.type">{{ file.content.type | filetype }}</div>
                <div class="file-item-meta__size" data-ng-if="file.content.size > 0">{{ file.content.size | bytes }}</div>
            </div>

            <div class="file-item-body__author">
                <span ui-sref="archives({entityType:'users',entityId:file.writerId})" class="file-item-body-title-author inline-overflow-ellipsis">{{file.writer|getFirstLastNameOfUser }}</span>
            </div>

            <div class="file-item-body modal-share__file-item-body">
                <div class="file-item-body__title ">
                    <span class="file-item-body-title-author share-modal-file-item-body__title" ui-sref="files({ userName: file.writer.name, itemId: file.id })" ng-click="cancel();">
                        {{ file.content.title }}
                    </span>
                </div>

                <div class="file-item-meta file-item-meta__listview">
                    <div class="file-item-meta__createtime">{{ file.createTime | ordinalDate: 'EEE, MMMM doo' }} at {{ file.createTime | date: 'h:mm a' }}</div>
                    <!--image thumbnail-->
                    <img class="file-item-body__type-image__thumb cursor_pointer"
                         ng-if="(file.content.type).indexOf('image') !== -1"
                         ng-src="{{ server_uploaded+file.content.extraInfo.largeThumbnailUrl }}"
                         ui-sref="files({ userName: file.writer.name, itemId: file.id })"
                         ng-click="cancel();">
                </div>
            </div>
        </div>

        <div class="form-horizontal">

            <!-- FILE SHARE OPTION  -->
            <div class="form-group">
                <label class="control-label col-sm-3">
                    <span translate>Share in</span>
                </label>
                <div class="col-sm-9">
                    <select class="form-control"
                            ng-model="shareChannel"
                            ng-options="channel as channel.u_lastName+channel.u_firstName||channel.name group by channel.type for channel in selectOptions"></select>
                </div>
            </div>

            <!-- FILE COMMENT   -->
            <div class="form-group">
                <label class="control-label col-sm-3">
                    <span translate>Comment</span>
                </label>
                <div class="col-sm-9">
                    <textarea class="form-control"
                              name="file_share_comment"
                              rows="3"
                              ng-model="comment"
                              ng-maxlength="256"
                              maxlength="256"
                              style="resize:none;"
                              disabled></textarea>
                </div>
            </div>


        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" ng-click="cancel()"><span translate>Cancel</span></button>
        <input class="btn btn-ok" type="submit" id="file_share_btn" value="{{ 'Share' | translate }}"/>
    </div>
</form>

<div class="loading_container" ng-if="isLoading">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar"></div>
</div>
