.cpanel {
    position: absolute;
    height: 100%;
    left: 220px;
    right: 0;
    z-index: -1;
}
.cpanel-home {
    position: relative;
    text-align: center;
    top: 30%;
}

.msgs {
    background: #fff;
    position: fixed;
    margin-left: 220px;
    margin-right: 0;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 4rem;
    overflow: auto;
    z-index: -1;
}
.msgs__loading {
    background: url(../../assets/images/jd_loading.gif) center / 40px no-repeat;
    height: 60px;
}
.msgs__loading.initial {
    background: url(../../assets/images/jd_loading.gif) center / 100px no-repeat;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.msgs-intro {
    padding: 1rem 1rem 1rem 1.5rem;
    margin: 1rem 0 0;
}
.msgs-holder {
    padding: 0 10px 0 20px;
}
.msgs-group {

}
.msgs-group__divider {
    position: relative;
    clear: both;
    background: #fff;
    padding: 1.5rem 1rem 1.5rem 0;
    line-height: 1.2rem;
    font-size: 1rem;
    color: #31c08a;
    font-weight: 900;
    text-align: center;
    cursor: default;
}
.msgs-group__divider-label {
    display: inline-block;
    padding-top: 4px;
    border-top: 3px solid #31c08a;
}
.msg-item {
    position: relative;
    padding: 0 20px 0 47px;
    margin-bottom: 15px;
}
.msg-item.text {
    margin-top: 13px;
}
.msg-item.file-upload {
    margin: 13px 0 5px;
}
.msg-item.comment_first,
.msg-item.comment_continue {
    margin-bottom: 8px;
}
.msg-item__action {
    display: none;
}
.msg-item:hover .msg-item__action {
    display: block;
}
.msg-item-float {
    position: absolute;
    top: 0;
    left: 0;
}
.msg-item-header {
    padding: 2px 0 10px;
    font-size: 14px;
    line-height: 14px;
}
.msg-item.comment-continue .msg-item-header {
    padding: 12px 0 8px;
    border-top: 1px solid #eee;
}
.msg-item-header__name {
    color: #333;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}
.msg-item-header__created {
    font-size: 12px;
    line-height: 12px;
    color: #555459;
}
.msg-item-body {
    position: relative;
}
.msg-item-body p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.msg-file {  }
.msg-file-header {
    font-size: 16px;
    font-weight: 700;
}
.msg-file-body {
    padding-top: 5px;
}
.msg-file-body__img {
    max-height: 400px;
    max-width: 100%;
    border: 1px solid #f5f5f5;
}
.msg-file-meta {
    font-size: 14px;
    margin: 15px 0 12px;
    line-height: 1.3rem;
}
.msg-file-meta-up {
    margin-bottom: 5px;
}
.msg-file-meta__title {
    color: #404040;
    padding-bottom: 2px;
}
.msg-file-meta__title:hover {
    color: #404040;
}
.msg-file-meta-info {
    color: #666;
}
.msg-comment_userType {
    color: black;
}
.msg-file-meta__writer {  }
.msg-comment {  }
.msg-comment-header {
    color: #9e9ea6;
    font-size: 14px;
    margin: 5px 0 4px;
}
.msg-comment-body {
    /*margin-top: .25rem;*/
}
/*.msg-comment-body i {*/
/*font-size: 1.8rem;*/
/*line-height: 2rem;*/
/*color: #ebeded;*/
/*}*/
.msg-comment-body p {
    /*padding-left: 2.5rem;*/
    font-size: 14px;
}
/*.editable-wrap textarea {
    height: 41px;
    background: #fff;
    font-size: .95rem;
    line-height: 1.2rem;
    border: 2px solid #e0e0e0;
    margin: 0;
    color: #3d3c40;
    resize: none;
}*/

.footer {
    background: #fff;
    position: fixed;
    margin-left: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    z-index: 52;
}


.editable-wrap {
    width: 100%;
    position: relative;
}
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
    display: block;
    margin-right: 90px;
}

.last {
    background-color: rgb(238, 252, 247);
    -webkit-animation: opacIn 0.8s; /* Chrome, Safari, Opera */
    animation: opacIn 0.8s;
    margin-left: -20px;
    margin-right: -10px;
    padding-left: 67px;
    margin-top: -13px !important;
    padding-top: 13px;
    /*margin-bottom: 8px;*/
    /*padding-bottom: 5px;*/
}
.comment-continue.last {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0 !important;
    padding-bottom: 15px;
}
.last.file-upload {
    margin-left: -20px !important;
    padding-bottom: 0;
}
.last .msg-item-float {
    left: 20px;
    top: 13px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opacIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Standard syntax */
@keyframes opacIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
