.unread-badge {
  background-color: transparent;
  border-radius: 16px;
  font-family: "Helvetica Neue";
  font-size: 10px;
  color: #00abe6;
  padding: 2px 5px 3px 5px;
  font-weight: 600;
  margin-left: -3px;
  display: inline;
}

.alert-badge {
  background-color: #ef6700;
  border-radius: 16px;
  font-family: "Helvetica Neue";
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 2px 5px 3px 5px;
  font-weight: 700;
  margin-left: 2px;
}

article {
  padding-bottom: 10px;
}

.cpanel {
  position: absolute;
  top: 0;
  left: 240px;
  right: 0;
  bottom: 0;
  min-width: 400px;
}
.cpanel .panel-title-container {
  z-index: 28;
}
.rpanel-show {
  margin-right: 400px;
}

.cpanel-home {
  position: relative;
  text-align: center;
  top: 30%;
}

.msgs {
  background: #fff;
  position: absolute;
  margin-right: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 103px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 260px;
  padding-bottom: 0;
  z-index: 9;
  -webkit-transition: bottom ease-out .05s;
  transition: bottom ease-out .05s;
}

.rpanel-show .scroll-gray .msgs {
  margin-right: 4px;
}

.msgs__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 2px;
  bottom: 2px;
  z-index: 12;
  text-align: center;
  background: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));
}
.msgs__loading.initial {
  height: 100%;
  /*background-size: 100px 100px;*/
  background:#FFFFFF;
}
.msgs__loading.load-more-top {
  position: absolute;
  top: 0;
  height: 60px;
  background-position: center center;
  background-size: 60px 60px;
}
.msgs__loading .three-quarters-loader {
  position: absolute;
  top: 50%;
  margin-top: -16px;
}
.msgs-intro {
  padding: 1rem 1rem 1rem 1.5rem;
  margin: 1rem 0 0;
}
.msgs-holder {
  /*padding: 0 10px 0 20px;*/
  padding-bottom: 14px
}
.msgs-group {

}
.msgs-group__divider {
  /*background-color: #d7e0e8;
  border-radius: 3px;*/
  font-size: 15px;
  font-weight: 700;
  color: #9DADB5;
  display: table;
  padding: 5px 12px;
  margin: 14px 0 14px 55px;
  background-color: #FFF;
}
.msgs-group__divider:before {
  content: '';
  position: absolute;
  background-color:#D8DFE3;
  height: 1px;
  left: 22px;
  right: 16px;
  margin-top: 9px;
  z-index: -1;
}

.msgs-group__divider-label {
  display: inline-block;
  padding-top: 4px;
  border-top: 3px solid #31c08a;
}
.msg-item {
  height: 100%;
  position: relative;
  margin-top: 8px;
  padding: 5px 15px 0 67px;
  display: block;
}
#unread-bookmark.msg-item {
  margin-bottom: 10px;
  margin-top: 8px;
  padding-top: 0;
}
#unread-bookmark.msg-item .msg-unread-bookmark {
  margin: 0;
  line-height: 28px;
}
#unread-bookmark.msg-item .system-event-msg .msg-item-float {
  top: -1px;
}
/*.msgs-group:last-of-type > .msg-item {*/
  /*margin-bottom: 0;*/
  /*padding-bottom: 14px;*/
/*}*/

.msg-item.text {
  margin-top: 7px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.msg-item.text-child {
  margin-top: -6px;
}

.msg-item.file-upload {
  margin: 13px 0 15px;
}
.msg-item.comment_first,
.msg-item.comment_continue {
  margin-bottom: 8px;
}
.msg-item-float {
  position: absolute;
  top: 7px;
  left: 23px;
}
.msg-item-header {
  padding: 1px 0 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3rem;
}
.msg-item-header .tooltip {
  width: 64px;
}

.msg-item.comment-continue .msg-item-header {
  padding: 0 45px 0 0;
}

/* continued comment writer name */

.msg-comment .msg-comment-body .msg-item-header__name,
.msg-item.comment-continue .msg-item-header .msg-item-header__name {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.msg-item-header__name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
}
.msg-item-header__created {
  font-size: 10px;
  line-height: 10px;
  color: #666666;
  font-weight: 400;
  margin-left: 3px;
}
.msg-item-header__retry {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  margin-left: 4px;
  color: #1C6C88;
  text-decoration: none;
}
.msg-item-header__retry:hover {
  color: #154a67;
}
/* continued comment created time   */
.msg-item.comment-continue .msg-item-header .msg-item-header__created {
  padding-left: 5px;
}
.msg-item-body {
  position: relative;
}
.msg-item.comment-continue .msg-item-body {
  /*padding-left: 75px;*/
}

.msg-item-body .tooltip {
}

.msg-item-body p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.msg-text {
  word-wrap: break-word;
  margin-right: 55px;
}
.msg-extra {
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 50px;
  vertical-align: text-bottom;
}
.msg-text-extra {
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 50px;
  vertical-align: text-bottom;
}
.msg-text-body {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.msg-file-header {
  font-size: 16px;
  font-weight: 700;
}

/*
issue : JND-974
fix : add margin-bottom: 10px;
by ysyun 2015.2.25
*/
.msg-file-body-float {
  margin-right: 10px;
  position: relative;
}

.msg-file-body-float .icon-comment {
  position: absolute;
  bottom: 9px;
  right: 7px;
  width: 18px;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  /*z-index: 1;  center chat 영역 위에 출력되는 layout이 있을때 comment 이미지가 해당 layout을 침범함*/
  -ms-transform: scaleX(-1); /* IE 9 */
  -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
  transform: scaleX(-1);
}
.large-thumbnail-parent.msg-file-body-float::before {
  display: none;
}
.msg-file-body-float > img {
  max-width: 100%;
}
.msg-file-body__img {
  height: 63px;
  width: 63px;
}
.msg-file-body__thumbnail {
  height: 65px;
  width: 65px;
  background-color: #f2f2f2;
  padding: 15px;
}

.large-thumbnail {
  min-height: 50px;
  max-width: 700px;
}

.large-thumbnail-parent {
  width: auto;
  height: auto;
  max-width: 700px;
  position: relative;
  overflow: hidden;
}

.preview-container:hover .large-thumbnail-full-screen {
  display: block;
  -webkit-animation: opacIn-from-0 1s; /* Chrome, Safari, Opera */
  animation: opacIn-from-0 1s;
}

.large-thumbnail-parent .fa-comment {
  display: none;
}

.large-thumbnail-full-screen {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  padding: 7px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  color: #ECECEC;
  font-size: 22px;
}
.large-thumbnail-full-screen:hover {
  color: white;
}
.large-thumbnail-full-screen:active {
  margin-top: 1px;
  margin-right: -1px;
}

/*
issue : JND-974
fix : change min-height:65px to minheight:65px !important
by ysyun 2015.2.25
*/
.msg-file-meta {
  font-size: 12px;
  line-height: 1.3rem;
  padding-left: 75px;
  min-height: 65px !important;
}

/*
issue : JND-974
fix : add comma(,) between .large-thumbnail-grand-parent and .msg-file-meta
      add width: 100%;
by ysyun 2015.2.25
*/
.large-thumbnail-grand-parent, .msg-file-meta {
  padding-left: 0;
  min-height: 0;
  width: 100%;
}
.msg-file-meta-up {
  margin-bottom: 3px;
}
.archived-msg-file-meta__title {
  color: #b7b7b7;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
}
.archived-msg-file-meta__title:hover {
  color: #b7b7b7;
}

.msg-file-meta .msg-file-meta__title,
.msg-comment .msg-file-meta__title {
  color: #333;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 15px;
}
.msg-file-meta__title:hover {
  color: #404040;
}
.msg-file-meta-info {
  color: #666;
  letter-spacing: 0.02em;
}
.msg-file-meta-down a {
  /*color:#999999 !important;*/
  /*letter-spacing: 0.02em;*/
}
.msg-file-meta-down a:hover {
  text-decoration: none;
}
.msg-file-meta-down .file-item-meta__shared {
  color: #00a5e9;
  font-size: 12px;
}
.msg-file-meta__writer {  }

.msg-comment-header {
  color: #999999;
  font-size: 14px;
  margin: 5px 0 4px;
  letter-spacing: 0;
}

.msg-comment-header .file__name {
  font-size: 15px;
  line-height: 15px;
  color: #333;
  font-weight: 700;
}
.msg-comment-body {
  margin-top: 10px;
}
.msg-comment-body p {
  font-size: 14px;
  color: #333;
  line-height: 1.6rem;
}

.footer {
  background: #f9f9f9;
  position: absolute;
  margin-right: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  /*height: 54px;*/
  border-top: 1px solid #e1e1e1;
  z-index: 12;
}
.footer:after {
  content: '';
  position: absolute;
  left: -30px;
  right: -30px;
  bottom: 0;
  /*height: 54px;*/
  box-shadow: 0 -25px 15px -15px #fff; /* 우측 스크롤바를 덮는 화이트 그라디언트 스타일 추가 */
}

.post-loading {
  background-color: #f2f2f2 !important;
}
.editable-wrap {
  width: 100%;
  position: relative;
}
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
  display: block;
  margin-right: 90px;
}

/*
  animation을 사용해봤으나 효과가 매끄럽지 못해 부득이하게 클래스 2개를 사용해서 효과를 줬음. -jihoon
*/
.last {
  background-color: #f2fbff;
  /*animation: backgroundcolor-to-white  1510ms linear;*/
}
.last-out {
  background-color: white;
  transition: background-color 517ms linear;
}
@-webkit-keyframes opacIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* Standard syntax */
@keyframes opacIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes backgroundcolor-to-white {
  from { background-color: #f2fbff; }
  to { background-color: white; }
}
@keyframes backgroundcolor-to-white {
  from { background-color: #f2fbff; }
  to { background-color: white; }
}
.post-message {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 1  ;
  top: 7px;
  left: 70px;
}

/********************************************

            System Event Message

********************************************/
.system-event-msg {
  min-height: 15px;
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom:1px;
  line-height: 24px;
}
.system-event-msg .msg-item-float {
  height: inherit;
  top:6px;
}
.system-event-msg .msg-item-float img {
  background-image: none !important;
  height: 1px;
  background-color: #ededed;
  vertical-align: middle;
}

.system-event-msg .msg-item-header {
  display: none;
}
.system-event-msg .msg-item-body {
  font-size: 15px;
  color: #999999;
}

.js-fileapi-wrapper > div {
  height: 0 !important;
}

/*.msgs {*/
/*border: 5px solid transparent;*/
/*border-bottom: 0 !important;*/
/*}*/
/*.footer {*/
/*border: 5px solid transparent;*/
/*border-top: 0 !important;*/
/*}*/

/********************************************

                Drag & Drop

********************************************/
.dnd-not-support {
  display: block;
}

.dnd-over .dnd-over-content {
  display: block;
}

.dnd-over-content {
  display: none;
  z-index: 10;
}
.dnd-over-content .dnd-over-border,
.dnd-over-content .dnd-over-area,
.dnd-over-content .dnd-over-msg {
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
}

.dnd-over-content .dnd-over-border {
  border: 5px solid rgba(0, 166, 233, 0.5);
}

.dnd-over-content .dnd-over-msg {
  margin: auto;
  width: 100%;
  height: 0;
  text-align: center;
}
.dnd-over-content .dnd-over-msg>span {
  padding: 3px 5px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  background-color: rgba(21, 74, 103, 0.8);
}


/********************************************

  DISABLED MEMBER CSS

********************************************/
.center-panel-disabled-member.panel-title-container {
  background-color: #ef6700;
  color: white !important;
}

.center-panel-disabled-member.panel-title-container .disabled-member-notice-msg {
  margin-right: 10px;
  text-align: right;
}

.center-panel-disabled-member.panel-title-container .prefix,
.center-panel-disabled-member.panel-title-container .panel-title-info-name-container,
.center-panel-disabled-member.panel-title-container .header-title-info__more {
  color: white !important;
}

.center-panel-disabled-member .panel-title-info:hover .panel-title-info__name,
.center-panel-disabled-member .panel-title-info:hover .header-title-info__more {
  color: #e1e1e1 !important;

}

.center-panel-disabled-member .user-profile,
.center-panel-disabled-member .msg-item-header__nameSpace,
.center-panel-disabled-member.msg-item-header__name {
  text-decoration: line-through;
  opacity: 0.4 !important;
}
.center-panel-disabled-member-input {
  background-color: #EDEDED !important;
  color: #999999 !important;
}
.center-panel-disabled-member-input:hover {

}

@media (max-width: 960px) {
  .center-panel-disabled-member.panel-title-container .disabled-member-notice-msg {
    margin-right: 4px;
    width: 50%;
  }
}
@media (max-width: 650px) {
  .center-panel-disabled-member.panel-title-container .disabled-member-notice-msg {
    width: 40%;
  }

  .center-panel-disabled-member.panel-title-container .disabled-member-notice-msg:lang(ja) {
    width: auto;
  }
}

.icon-sending-indicator {
  /*background-image: url('../../../assets/images/icon_chat_indicator.png');*/
  background-image: url('../../../assets/images/icon_loading.gif');
  background-size: 11px 11px;
  width: 11px;
  height: 11px;
  vertical-align: text-bottom;
  margin-left: 3px;
  display: inline-block;
}

.member-profile,
.user-profile {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.member-thumb,
.user-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
}
.jandi-bot .member-thumb {
  height: auto;
  border-radius: 0;
  margin-top: -8px;
}