<div class="private-effect" center-event-handler>
  <page-tracker ng-if="entityType === 'channels'" page="topic/public" title="Public Topic"></page-tracker>
  <page-tracker ng-if="entityType === 'privategroups'" page="topic/private" title="Private Topic"></page-tracker>
  <page-tracker ng-if="entityType === 'users'" page="directmessage" title="Direct Messages"></page-tracker>
  <!-- <input type="button" ng-click="gdClick($event)" value="google drive integration" />
    <input type="button" ng-click="dbClick($event)" value="drop box integration" /> -->
  <div ng-if="false">
    <span translate>@message-deleted</span>
    <span translate>@web-notification-title</span>
    <span translate>@web-notification-body-messages-confirm-delete</span>
    <span translate>@success-file-share</span>
    <span translate>@success-file-unshare</span>
    <span translate>@success-file-delete</span>
  </div>
  
  <announcement></announcement>
  
  <!--    WRAPPING DIV FOR FILE DRAG&DROP -->
  <div dragdown-area ng-file-drop="onFileSelect($files);" hide-on-drop-not-available="false" ng-multiple="true">
    <div class="msgs__loading initial opac-zero"
         ng-if="isShowLoadingWheel"
         ng-class="{'opac-in-fast' : isShowLoadingWheel}">
      <span class="three-quarters-loader jnd-three-quarters-loader center"></span>
    </div>
    <!-- 컨테이너 -->
    <article class="msgs" id="msgs-container" when-scrolled="loadMore()">
      <div class="msgs-holder opac-zero" id="msgs-holder">
        <!-- 로딩 영역 -->
        <div ng-show="hasOldMessageToLoad" class="msgs__loading load-more-top">
          <span class="three-quarters-loader jnd-three-quarters-loader center"></span>
        </div>
  
        <center-messages-directive center-event-delegater></center-messages-directive>
        <!-- unsent Message -->
        <div ng-if="sendingMessages.length"
             class="msgs-group"
             ng-repeat="msg in sendingMessages"
             repeat-done="onSendingRepeatDone()"
             ng-switch="msg.message.contentType">
          <text-sending ng-switch-when="text" class="msg-item text"
                        index="$index"
                        msg="msg" entity-id="entityId" entityType="entityType"></text-sending>
  
          <text-sending ng-switch-when="sticker" class="msg-item text"
                        index="$index"
                        msg="msg" entity-id="entityId" entityType="entityType" ></text-sending>
        </div>
      </div>
      <center-help-message-container ng-if="hasNoMessage" status="emptyMessageStateHelper"></center-help-message-container>
      <center-item-dropdown-layer></center-item-dropdown-layer>
      <center-file-dropdown-layer></center-file-dropdown-layer>
    </article>
    <!-- chat input box -->
    <center-chat-input-box></center-chat-input-box>
  </div>
</div>