<span ng-if="false" translate>@password-reset-email-fail</span>

<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>
  <h3 class="modal-header__title">
    <span translate>@login-reset-password</span>
  </h3>
</div>

<form name="passwordResetForm" data-ng-submit="onPasswordResetRequestClick(email);">
  <div class="modal-body">
    <h4 class="modal-body__description">
      <span translate ng-if="!emailSent">@password-reset-email</span>

      <alert type="success" ng-if="emailSent">
        {{ '@password-reset-email-sent' | translate}}
        {{ '@common-check-email-inbox' | translate}}
      </alert>

    </h4>

    <input type="email"
           class="form-control"
           name="passwordResetEmail"
           data-ng-model="email"
           placeholder="{{ '@common-email' | translate }}"
           data-ng-disabled="emailSent"
           id="passwordResetEmailInput"
           focus-me="onLoadDone"
           required/>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" data-ng-click="cancel()" ng-if="emailSent"><span translate>@btn-close</span></button>
    <button type="button" class="btn btn-cancel" data-ng-click="cancel()" ng-if="!emailSent"><span translate>@btn-cancel</span></button>
    <input class="btn btn-ok" type="submit" ng-disabled="passwordResetForm.$invalid || emailSent" ng-if="!emailSent"value="{{ '@btn-edit' | translate }}"/>
  </div>

</form>
