<!-- Modal: TEAM MEMBER LIST  -->
<div class="modal-header">
  <!--  CLOSE BUTTON  -->
  <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>

  <!--  TITLE -->
  <h3 class="modal-header__title">
    <span translate>@modal-member-list-title</span>
  </h3>

</div>

<div class="modal-body modal_team_member_list_body">

  <!--  SEARCH BOX  -->
  <div class="modal_team_member_search_box">
    <div class="input-group">
      <span class="input-group-addon"><i class="icon-search"></i></span>
      <input type="text"
             class="form-control green-input-box"
             placeholder="{{ '@input-search-user-name' | translate }}"
             data-ng-model="memberNameQuery">
    </div>
  </div>

  <div class="modal_team_member_list">

    <tabset class="member-list-tab cursor_pointer">
      <tab class="enabled-member-list-container tab-title" active="memberListSetting.enabledMemberList.active">
        <tab-heading>
          Enabled Member
        </tab-heading>

        <team-member-list-template
          ng-repeat="member in filtered = (enabledMemberList | orderBy: ['!isStarred', 'name'] | userByName: memberNameQuery)">
        </team-member-list-template>

        <div class="no-result-container" ng-if="filtered.length == 0">
          <span translate>@alert-no-result</span>
        </div>

      </tab>

      <tab class="disabled-member-list-container tab-title" active="memberListSetting.disabledMemberList.active">
        <tab-heading>
          Disabled Member
        </tab-heading>

        <team-member-list-template
          ng-repeat="member in filtered = (disabledMemberList | orderBy: ['!isStarred', 'name'] | userByName: memberNameQuery)">
        </team-member-list-template>

        <div class="no-result-container" ng-if="filtered.length == 0">
          <span translate>@alert-no-result</span>
        </div>

      </tab>
    </tabset>

  </div>

</div>


<div ng-include="templates.loading"></div>
