<div class="rpanel-body file-list">
  <!-- SEARCH QUERY -->
  <right-search keyword="searchStatus.q"
                on-change="onKeywordChange($keyword)"
                on-reset-query="onResetQuery()"></right-search>

  <!--    ADVANCED SEARCH OPTION  -->
  <div class="advanced-search-option-container">
    <!--   CHAT ROOM  -->
    <div class="advanced-search-option__category advanced-shared-option">
      <div class="advanced-search-option__title">
        <span>{{::'@common-shared-in'|translate}}</span>
      </div>
      <jnd-selectbox-room jnd-data-model="searchStatus.sharedEntityId"
                          jnd-has-all="yes"
                          jnd-has-disabled="yes"></jnd-selectbox-room>
    </div>
    <!--  END OF CHAT ROOM  -->

    <!--   FILE WRITER  -->
    <div class="advanced-search-option__category advanced-member-option">
      <div class="advanced-search-option__title">
        <span>{{::'@common-member'|translate}}</span>
      </div>
      <jnd-selectbox-member jnd-data-model="searchStatus.writerId"
                            jnd-data-list="selectOptionsUsers"></jnd-selectbox-member>
    </div>
    <!-- END OF FILE WRTIER -->

    <!--    FILE TYPE  -->
    <div class="advanced-search-option__category advanced-file-option">
      <div class="advanced-search-option__title">
        <span>{{::'@common-file-type'|translate}}</span>
      </div>
      <jnd-selectbox-file jnd-data-model="searchStatus.fileType"
                          jnd-data-list="fileTypeList"></jnd-selectbox-file>
    </div>
    <!-- END OF FILE TYPE -->
  </div>
  <!-- END OF ADVANDCE FILE SEARCH OPTION -->

  <div id="files-viewport" class="rpanel-body-content" lazy-loading="loadMore();">
    <right-loading-keyword-search search-status="searchStatus"></right-loading-keyword-search>

    <div class="file-list lazy-loading-list">
      <!--    MESSAGE WHEN THERE IS NO ITEM TO SHOW   -->
      <div class="break-word" ng-if="isEmpty()">
        <div class="rpanel-alert-msg-container">
          <center-help-message-container ng-if="!isFiltered()" status="'NO_FILES_UPLOADED'"></center-help-message-container>
          <div class="rpanel-alert-msg-container__text" ng-if="isFiltered()">
            <img class="rpanel-alert-msg-container__img" src="assets/images/file-search-no-result.png">
            <span>{{::'@alert-empty-file-search'|translate}}</span>
            <span ng-if="!isKeywordEmpty()">:
              <span class="search-keyword">{{searchStatus.keyword}}</span>
            </span>
          </div>
        </div>
      </div>
      <right-file class="private-effect"
                  file-data="file"
                  file-type="'file'"
                  ng-repeat="file in fileList track by file.id"
                  lazy-repeat-done></right-file>
      <right-loading-list ng-if="searchStatus.isScrollLoading && fileList.length > 0"></right-loading-list>
      <right-end-of-list ng-if="searchStatus.isEndOfList"></right-end-of-list>
    </div>
  </div>
</div>
