<!--    ADVANCED SEARCH OPTION  -->
<div class="advanced-search-option-container">
  <!--   CHAT ROOM  -->
  <div class="advanced-search-option__category advanced-shared-option">
    <div class="advanced-search-option__title">
      <span>{{::'@common-shared-in'|translate}}</span>
    </div>
    <jnd-selectbox-room jnd-data-model="sharedEntitySearchQuery"
                        jnd-has-all="yes"
                        jnd-has-disabled="yes"></jnd-selectbox-room>
  </div>
  <!--  END OF CHAT ROOM  -->

  <!--   FILE WRITER  -->
  <div class="advanced-search-option__category advanced-member-option">
    <div class="advanced-search-option__title">
      <span>{{::'@common-member'|translate}}</span>
    </div>
    <jnd-selectbox-member jnd-data-model="fileRequest.writerId"
                          jnd-data-list="selectOptionsUsers"></jnd-selectbox-member>
  </div>
  <!-- END OF FILE WRTIER -->

  <!--    FILE TYPE  -->
  <div class="advanced-search-option__category advanced-file-option">
    <div class="advanced-search-option__title">
      <span>{{::'@common-file-type'|translate}}</span>
    </div>
    <jnd-selectbox-file jnd-data-model="fileRequest.fileType"
                        jnd-data-list="fileTypeList"></jnd-selectbox-file>
  </div>
  <!-- END OF FILE TYPE -->
</div>
<!-- END OF ADVANDCE FILE SEARCH OPTION -->

<div class="rpanel-body-content" infinite-scroll-bottom="loadMore();">
  <div class="search-result-container">
    <div class="search-result-summary-ing" ng-if="isLoading">
	  <span class="three-quarters-loader jnd-three-quarters-loader"></span>
	  <span>{{::'@search-in-progress'|translate}}</span>
	</div>
    <div class="search-result-summary" ng-if="!isLoading && fileList.length > 0 && !isSearchQueryEmpty">
      <span>{{::'@search-result-summary'|translate}}</span>
    </div>
  </div>

  <div class="file-list infinite-scroll-bottom-list">
    <!--    MESSAGE WHEN THERE IS NO ITEM TO SHOW   -->
    <div class="break-word" ng-if="fileList.length==0">
      <div ng-if="!isLoading" class="rpanel-alert-msg-container">
        <center-help-message-container ng-if="!isFiltered();" status="emptyMessageStateHelper"></center-help-message-container>
        <div ng-if="isFiltered();" class="rpanel-alert-msg-container__text">
          <img class="rpanel-alert-msg-container__img" src="assets/images/file-search-no-result.png">
          <span>{{::'@alert-empty-file-search'|translate}}</span>
          <span ng-if="!isSearchQueryEmpty">:
            <span class="searchQuery">{{ fileRequest.keyword }}</span>
          </span>
        </div>
      </div>
    </div>
    <file file-data="file" file-type="fileType" class="private-effect" ng-repeat="file in fileList track by file.id"></file>

    <div class="file-list__item loading" ng-if="isScrollLoading && fileList.length > 0">
      <div class="loading_container_background scroll_loading_container_background"></div>
      <div class="loading_bar scroll_loading_bar">
        <span class="three-quarters-loader jnd-three-quarters-loader"></span>
      </div>
    </div>
    <div class="end-of-list" ng-if="isEndOfList">
      <div class="end-of-list-dot"></div>
    </div>
  </div>
</div>
