.advanced-search-option-container {
  padding: 0px 0 8px 11px;
  background-color: #F9F9F9;
  border-bottom:1px solid #E1E1E1;
  height: 56px;
  overflow: hidden;
  
  -webkit-transition: height ease-in-out .3s, padding ease-in-out .16s;
  -o-transition: height ease-in-out .3s, padding ease-in-out .16s;
  -moz-transition: height ease-in-out .3s, padding ease-in-out .16s;
  transition: height ease-in-out .3s, padding ease-in-out .16s;
}
.advanced-search-option-container.collapsed {
  height: 0px;
  padding-bottom: 0px;
  padding-top:0px;
}
.advanced-search-option__category {
  width: 124px;
  margin-right: 4px;
  float: left;
  opacity: 1;
  
  -webkit-transition: opacity ease-in-out .12s;
  -o-transition: opacity ease-in-out .12s;
  -moz-transition: opacity ease-in-out .12s;
  transition: opacity ease-in-out .12s;
}
.advanced-search-option__category.collapsed {
  opacity: 0;
}
.advanced-shared-option:lang(zh-tw),
.advanced-shared-option:lang(zh-cn) {
  width: 130px;
}
.advanced-member-option:lang(zh-tw),
.advanced-member-option:lang(zh-cn),
.advanced-file-option:lang(zh-tw),
.advanced-file-option:lang(zh-cn){
  width: 115px;
}
.advanced-search-option__category:last-child {
  margin-right: 0;
}

.advanced-search-option__title {
  font-size: 13px;
  color: #333;
  margin-bottom: 4px;
}

.rpanel-body-content {
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 135px;
  overflow-y: auto;
  overflow-x: hidden;
}

.rpanel-body-content__result-msg {
  padding: 8px;
  color: #666;
  text-align: center;
  padding: 45px 10px;
  background: white;
}
