.advanced-search-option-container {
  padding: 15px 0 12px 23px;
  margin-right: 18px;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: white;
}
.advanced-search-option__category {
  width: 123px;
  margin-right: 12px;
  display: inline-block;
}
.advanced-search-option__category:lang(zh-tw),
.advanced-search-option__category:lang(zh-cn) {
  width: 130px;
  margin-right: 10px;
}
.advanced-search-option__category:last-child {
  margin-right: 0;
}
.advanced-search-option__category select {
  width: 100%;
  border-radius: 0 !important;
  border: 1px solid #d2d2d2;
  height: 24px;
  font-size: 14px;
  background-color: white;
}
.advanced-search-option__title {
  font-size: 13px;
  color: #333;
  margin-bottom: 4px;
}


.rpanel-body-content {
  padding: 13px 18px 20px 18px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
  overflow-y: auto;
}
.search-result-container {
  margin: 0 0 13px 40px;
  color: #999999;
}

.search-result-msg__length,
.search-result-msg__query {
  color: #333333
}
.file-list {
  background: none;
}

.rpanel-body-content__result-msg {
  padding: 8px;
  color: #666;
  text-align: center;
  padding: 45px 10px;
  background: white;
}

