.switch-button {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 999px;
  background-color: #dcdcdc;
  margin-right: 4px;
  margin-left: 4px;
  padding:2px;
  vertical-align: middle;
  
}
.switch-button .switch-handler {
  position: absolute;
  top: 5%;
  width: 50%;
  height: 90%;
  border-radius: 999px;
  background-color: #fff;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out
}

.switch-button.switch-off .switch-handler {
  background-color:#FFF;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  position: relative;
  left: 0;
  top:0;
  
  -webkit-transition: left ease-out 200ms;
  -moz-transition: left ease-out 200ms;
  -o-transition: left ease-out 200ms;
  -moz-transition: left ease-out 200ms;
  transition: left ease-out 200ms;

}
.switch-button.switch-on {
  background-color: #13A4EB;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
}

.switch-button.switch-on .switch-handler {
  left: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

