.lpanel > .tutorial_opac_background {
  width: 219px;
  top: 0;
}
.header > .tutorial_opac_background {
  width: 100%;
}
.cpanel .tutorial_opac_background {
  left: -1px;
  right : -1px;
  bottom: 0;
}
.tutorial_opac_background {
  position: absolute;
  left: 0px;
  top: 0;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1040;
  min-height: 41px;
}

.lpanel_user {
  height: 67px;
}

.lpanel_list {
  right: 1px;
  bottom: 0;
  top: 67px !important;
}
/*
    backdrop
*/
.file-tutorial-header-opac {
  right: 480px;
}
.welcome-tutorial-backdrop {
  background-color: rgba(0,0,0,0);
}

.cpanel_background {
  left: 219px;
  right: 0;
  top: 41px;
  bottom: 0;
}
/*
    modal
*/
.welcome-tutorial {
  overflow-y: hidden;
}
.topic-tutorial {
  left: 220px;
}
.chat-tutorial {
  bottom: 70px;
}
.file-tutorial {
  right: 480px;
}
.welcome-tutorial .modal-dialog {
  margin: auto;
  width: 520px;
  position: absolute;
  left: 50%;
  margin-left: -260px;
  top: 50%;
  margin-top: -167px;

}
.topic-tutorial .modal-dialog{
  margin: 0;
  width: 420px;
  left: 5px;
  top: 115px;
}

.chat-tutorial .modal-dialog {
  position: absolute;
  margin: 0;
  width: 420px;
  bottom: 0;
  top: auto;
  left: 240px;
  right: auto;
}

.file-tutorial .modal-dialog {
  left: auto;
  right: 0px;
  z-index: 1042;

}

.welcome-tutorial .modal-content {
  border-radius: 8px !important;
  background-color: white;
}

.tutorial_inner_container {
  padding: 28px 28px 0 28px;
  -webkit-animation: opacIn-from-0 .75s; /* Chrome, Safari, Opera */
  animation: opacIn-from-0 .75s;

}
.tutorial_inner_container h1 {
  margin: 0 0 15px 0;
  font-size: 25px;
  font-weight: 700;

}
.tutorial_inner_container h2 {
  font-size: 18px;
  margin: 15px 0 13px 0;
  font-weight: 700;
}

.tutorial_inner_container p {
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
}

.skip_tutorial_container {
  margin: 20px 0;
  font-size: 12px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  padding: 4px;
  background-color: #f2f2f2;
  line-height: 13px;
  display: table;
}
.skip_tutorial_container .icon-ok {
  margin-right: 3px;
}
.tutorial_bottom_div {
  height: 45px;
  font-size: 16px;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 45px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.skip_tutorial_container:hover,
.tutorial_bottom_div:hover {
  color: white;
  background-color: #31c08a;
}

#channel_message_container .tutorial_inner_container,
#chat_message_container .tutorial_inner_container,
#file_message_container .tutorial_inner_container {
  padding: 15px 15px 0 15px;
}
#channel_message_container .tutorial_inner_container h2,
#chat_message_container .tutorial_inner_container h2,
#file_message_container .tutorial_inner_container h2 {
  margin: 0 0 15px 0;
  position: relative;
}

#channel_message_container .tutorial_inner_container p {
  margin: 10px 0;
  padding-left: 18px;
  position: relative;
}

#channel_message_container .tutorial_inner_container p i:first-child {
  position: absolute;
  left:0;
  line-height: 20px;
}

#channel_message_container .tutorial_inner_container .skip_tutorial_container {
  margin: 15px 0;
}


@keyframes pulse {
  0%      {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

  }
  50%     {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100%    {
    -webkit-transform:scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  0%      {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50%     {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100%    {
    -webkit-transform:scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
}

.opac_in_to_30 {
  animation: opacIn-from-0-to-30 0.15s;
  -webkit-animation: opacIn-from-0-to-30 0.15s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes opacIn-from-0-to-30 {
  from { opacity: 0.0; }
  to { opacity: 0.3; }
}
/* Standard syntax */
@keyframes opacIn-from-0-to-30 {
  from { opacity: 0.0; }
  to { opacity: 0.3;}
}


@media (max-width: 1000px) {
  .file-tutorial .modal-dialog {
    left: 0;
    margin-left: 0;
    right: auto;
    width: auto;
  }
}