<div id="welcome_message_container" ng-if="curState === 0">
    <div class="tutorial_inner_container">
        <h1 translate> @tutorial-tips</h1>
        <!--TIPS-->

        <h2 translate>@tutorial-welcome-title</h2>
            <!--잔디에 오신 것을 환영합니다.-->
        <p translate>
            @tutorial-welcome-intro
        </p>
        <!--잔디는 여러분의 팀 커뮤니케이션이 좀 더 빠르고 유연할 수 있또록 돕기위해 만들어졌습니다.  잔디를 사용하실 때 꼭 알고계셔야 할 세 가지를 <b>{{user|getName}}</b>님을 위해 골랐으니 한 번 확인해주세요.-->

        <p class="help_text" translate>
            @tutorial-click-blink
        </p>
        <!--깜빡이는 아이콘을 한 번씩 클릭해 주세요! -->

        <span class="skip_tutorial_container cursor_pointer" data-ng-click="skipTutorial('skip');">
            <span class="icon-ok"></span>
            <span translate>@tutorial-skip</span>
            <!--잔디의 사용법을 이미 잘 알고 있으며 다른 팁을 또한 보지 않겠습니다. -->
        </span>

    </div>
    <div class="tutorial_bottom_div cursor_pointer" data-ng-click="skipTutorial('okay');">
        <span translate>@tutorial-tour</span>
            <!--둘러보기-->
    </div>
</div>



<div id="channel_message_container" ng-if="curState === 1">
    <div class="tutorial_inner_container">
        <h2 translate>@tutorial-topic-title</h2>
        <!--토픽과 그룹, 1:1 메세지-->

        <p>
            <i class="icon-topic-fill"></i>
            <span translate>@tutorial-topic-topic-explanation</span>
                <!--<b>토픽</b> 은 누구나 참여할 수 있는 <b>개방 된 공간</b>입니다.-->
                <!--토픽에서는 현재 프로젝트부터 점심메뉴 고르기까지 다양한 토픽에 대해 자유롭게 의을 나눌 수 있으며 [<i class="fa fa-list"></i>더보기]를 누르시면 현재 존재하는 토픽 목록을 확인 후 참여하실 수 있습니다.-->
        </p>

        <p>
            <i class="private-topic-icon"></i>
            <span translate>@tutorial-topic-group-explanation
                </span>
            <!--<b>그룹</b>은 일반 메신저의 그룹 채팅과 같은 <b>비공개 공간</b>으로써 참여한 사람들에게만 목록이 나타나고 나가게 되면 목록에서 사라집니다.-->
        </p>


        <p ng-if="preferences.language != 'en_US'">
            <i class="icon-user"></i>
            <span translate>@tutorial-topic-dm-explanation</span>
            <!--<b>1:1 메시지</b>는 특정인과 대화를 하는 공간입니다.<br/> 물론, 다른 사람이 볼 수 없습니다.-->
        </p>

        <span class="skip_tutorial_container cursor_pointer" data-ng-click="skipTutorial('skip');">
            <span class="icon-ok"></span>
                        <span translate>@tutorial-skip</span>

            <!--잔디의 사용법을 이미 잘 알고 있으며 다른 팁을 또한 보지 않겠습니다.-->
        </span>

    </div>
    <div class="tutorial_bottom_div cursor_pointer" data-ng-click="skipTutorial('okay');">
        <span ng-if="tutorialStatus.count != 0"translate>@tutorial-tour</span>
        <span ng-if="tutorialStatus.count == 0"translate>@tutorial-done</span>
    </div>
</div>

<div id="chat_message_container" ng-if="curState === 2">
    <div class="tutorial_inner_container">
        <h2 translate>@tutorial-message-file-title</h2>
        <!--메시지 입력과 파일 업로드-->

        <p translate>
            @tutorial-msg-explanation
        </p>
        <!--하단 입력창을 통해 메시지를 보낼 수 있으며 <br/>-->
        <!--왼쪽의 업로드 아이콘을 누르면 파일을 올릴 수 있습니다.-->

        <span class="skip_tutorial_container cursor_pointer" data-ng-click="skipTutorial('skip');">
            <span class="icon-ok"></span>
                        <span translate>@tutorial-skip</span>
        </span>

    </div>
    <div class="tutorial_bottom_div cursor_pointer" data-ng-click="skipTutorial('okay');">
        <span ng-if="tutorialStatus.count != 0"translate>@tutorial-tour</span>
        <span ng-if="tutorialStatus.count == 0"translate>@tutorial-done</span>
    </div>
</div>

<div id="file_message_container" ng-if="curState === 3">
    <div class="tutorial_inner_container">
        <h2 translate>@tutorial-file-title</h2>
        <!--모든 파일-->

        <p translate>
            @tutorial-file-msg1
        </p>
        <!--모든 파일을 클릭하시면 현재 토픽 또는 대화에서 공유됐던 파일들을 볼 수 있는 사이트 메뉴가 열리고 다시 한 번 클리하면 닫히게 됩니다.-->

        <p translate>
            @tutorial-file-msg2
        </p>
        <!--파일들을 올린 이 또는 파일타입 별로 정렬하거나 파일명으로 검색할 수 있습니다.  또, 필요할 경우 다른 채널의 파일 또한 확인할 수 있습니다.-->
        <p translate>
            @tutorial-file-msg3
        </p>
        <!--각 파일 오른족에 메뉴 버튼(<i class="icon-list2"></i>)를 클릭하시면 다른 채널에 공유하거나 댓글을 남길 수도 있으며 곧바로 다운로드 하실 수도 있습니다.-->


        <span class="skip_tutorial_container cursor_pointer" data-ng-click="skipTutorial('skip');">
            <span class="icon-ok"></span>
            <span translate>@tutorial-skip</span>
        </span>

    </div>
    <div class="tutorial_bottom_div cursor_pointer" data-ng-click="skipTutorial('done');">
        <span ng-if="tutorialStatus.count != 0"translate>@tutorial-tour</span>
        <span ng-if="tutorialStatus.count == 0"translate>@tutorial-done</span>
    </div>
</div>
