<div ng-show="isShown" class="opac-zero tutorial-popup topic-foldering dropdown-menu"
    ng-class="{
    'opac-in': isShown
    }">
  <div class="popup-left-arrow"></div>
  <button type="button" class="close" ng-click="close();"><i class="icon-delete"></i></button>
  <span class="badge left-panel_badge green_badge ng-binding">NEW</span>
	<span class="dropdown-title" translate>
		@folder-tutorial-title
	</span>
  <div class="tuto-img-container"><img src="assets/images/new-feature/topic_foldering.gif"></div>
  <span class="dropdown-contents" translate>@folder-tutorial-content</span>
  <div class="dont-show-again-container">
    <input type="checkbox" id="tutorial-folder-never-show" ng-model="isClose" ng-change="closeAndNeverShow()"/><label for="tutorial-folder-never-show"><span translate>@folder-tutorial-never-show</span></label>
  </div>
</div>
