<title>{{teamInfo.name}}</title>
<div id="signin-container" ng-if="!hasToken">
    <div class="jandi-navbar navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="//www.jandi.com" target="_blank">
                    <strong><img src="assets/images/logo_jandi.png" class="jandi-navbar__logo"></strong>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" data-ng-if="false">
                        <a href="#"><span translate>@common-customer-service</span> &RightArrow;</a>
                    </li>
                    <li data-ng-if="false">
                        <a href="//www.jandi.com"><span translate>@common-visit-homepage</span> &RightArrow;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jandi-container">
        <div class="jandi-header">
            <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
            <div class="col-lg-4">
                <img src="assets/images/logo-ci.png" alt="logo-ci" class="jandi-header__logo" />
                <h2 class="jandi-header__title"><span translate>@login-welcome {{teamInfo.name}}</span>!</h2>
                <p class="jandi-header__message"><span translate>@login-message</span></p>
            </div>
            <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
        </div>
        <div class="jandi-body">
            <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
            <div class="col-lg-4">
                <form class="jandi-body__form" role="form" name="signinForm" ng-submit="signin(user)">
                    <div class="alert-jandi alert-danger" ng-if="error.status">
                        <i class="fa fa-warning"></i> <span translate>@login-invalid</span>
                    </div>
                    <input type="email" ng-model="user.email" class="jandi-body__form-input form-control" placeholder="{{ '@common-email' | translate }}" required autofocus>
                    <input type="password" ng-model="user.password" class="jandi-body__form-input form-control" placeholder="{{ '@common-password' | translate }}" required>
                    <div class="left-checkbox">
                        <input type="checkbox" ng-model="user.rememberMe" class="jandi-body__form-input-checkbox">
                        <span class="cursor_pointer" translate data-ng-click="user.rememberMe = !user.rememberMe">@keep-me-logged-in</span>
                    </div>
                    <button class="btn btn-jandi btn-block jandi-body__form-submit" type="submit" ng-disabled="signinForm.$invalid"><span translate>@common-sign-in</span></button>
                </form>
                <div class="jandi-body__help">
                    <a class="jandi-body__help-text"><span translate>@login-reset-password</span> &RightArrow;</a>
                </div>
            </div>
            <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="jandi-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-7 col-xs-12">
                    <p class="jandi-footer__text">2014 Toss Lab, Inc. All Rights Reserved.</p>
                </div>
                <div class="col-lg-5 col-sm-5 col-xs-12">
                    <div class="jandi-footer__terms">
                        <a href="#" data-ng-click="$event.preventDefault(); openModal('agreement');"><span translate>@common-terms-of-service</span></a>
                        <span class="divider">|</span>
                        <a href="#" data-ng-click="$event.preventDefault(); openModal('privacy');"><span translate>@common-privacy-policy</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
