<div class="jandi container">
    <div class="jandi-header">
        <a href="https://jandi.com"><img src="assets/images/logo_jandi.png" class="jandi-header__logo"></a>
    </div>
    <div class="jandi-body">
        <form class="form-signin" role="form" name="signinForm" ng-submit="signin(user)">
            <input type="email" ng-model="user.email" class="form-signin__input form-control" placeholder="{{ 'Email address' | translate }}" required autofocus>
            <input type="password" ng-model="user.password" class="form-signin__input form-control" placeholder="{{ 'Password' | translate }}" required>
            <div class="alert-jandi alert-danger" ng-if="error.status"><i class="fa fa-warning"></i> <span translate>Invalid email or password</span></div>
            <button class="btn btn-lg btn-signin btn-block" type="submit" ng-disabled="signinForm.$invalid" translate>Sign In</button>
        </form>
    </div>
</div>
