.jnd-connect-setting-container {
  z-index: 700;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.jnd-connect-hpanel {
  position: relative;
  z-index: 724;
}
.jnd-connect-header {
  height: 42px;
  line-height: 42px;
  background-color: #154a67;
  min-width: 220px;
  color: white;
}
.jnd-connect-setting-container .jnd-connect-header-navbar__topmenu {
  height: 42px;
  display: block;
  padding: 0 16px 0 12px;
  line-height: 41px;
}
.jnd-connect-setting-container .back-button {
  float: left;
}
.jnd-connect-setting-container .exit-button {
  float: right;
  padding-right: 14px;
}

.jnd-connect-header-navbar__title {
  line-height: 42px;
  margin-left: 3px;
}
.jnd-connect-header-navbar__menu-icon {
  vertical-align: middle;
  padding-right: 0px;
}


.jnd-connect-setting-container .back-button:hover,
.jnd-connect-setting-container .exit-button:hover
{
  background-color: #0B3C57;
}

/* under hpanel */
#connect-setting-ui {
  background-color: #F3F4F5;
  top: 42px;
}
.connect-setting-lpanel {
  background-color: #FCFCFC;
  width: 239px;
  border-right: 1px solid #D7D8DB;
  box-sizing: content-box;
  left: 0;
  bottom: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 701;
}
.jnd-connect-logo-container {
  position: relative;
  min-height: 64px;
  padding: 16px 36px 16px 58px;
  z-index: 705;
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 #DDDDDD;
}
.jnd-connect-logo {
  background: url('../../assets/images/service-logo-jnd-connect-active.png');
  background-size: cover;
  height: 32px;
  width: 32px;
  position: absolute;
  top:16px;
  left: 16px;
}
.jnd-connect-title {
  color: #114768;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}


.survey-container {
  z-index: 703;
  position: absolute;
  width: 100%;
  bottom:0;
  min-height: 146px;
  background-color: rgba(255,255,255,0.85);
  border-top:1px solid #D7D8DB;
  padding: 32px 24px;
}
.survey-description {
  display: block;
  width: 100%;
  word-break: keep-all;
  font-size: 14px;
  line-height: 20px;
  color: #155172;
  text-align: center;
}
.survey-container .btn {
  margin: 20px auto 0;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* jnd-connect loading container style */
.jnd-connect-loading-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(243,244,245,0.6);
}
.detail-container .jnd-connect-loading-container {
  border-radius: 3px;
  left: 0 !important;
  top:0 !important;
  background-color: rgba(255,255,255,0.7);
}



/* integration service detail style */
.integration-service.detail {
  /*overflow: hidden;*/
}

.integration-service.detail .back-button,
.integration-service.detail .back-button:hover,
.integration-service.detail .back-button:active {
  font-size: 15px;
  color: #868686;
  background-color:transparent;
  padding: 8px 0px;
  float: none;
  display: inline-block;
  margin-bottom: 14px;
}
.integration-service.detail .back-button:hover {
  color: #555;
}
.integration-service.detail .back-button i,
.integration-service.detail .back-button span {
  line-height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
}






.integration-service-container {
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0 24px 24px 24px;
  min-height: 100px;
  background-color:#FFF;
  border: 1px solid #E1E1E1;
  border-radius: 3px;

}

.integration-service-container section {
  border-bottom: 1px solid #E6E6E6;
  position: relative;
}

.integration-service-container section.second-column {
  padding-left: 0;
}
.integration-service-container .second-column .connect-union-plug-tool-container {
  width: 140px;
}
.integration-service-container section.borderless-section {
  border-color: transparent;
  padding-bottom: 0;
}
.integration-service-container section.unverified-container {
  height: 109px;
}

.integration-service-container section.connect-info {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #FAFAFA;
  
  padding : 20px 20px 20px 64px;
}

.integration-service-container section.connect-info >i {
  font-size: 24px;
  color: rgba(50,50,50,0.18);
  left: 24px;
  top: 20px;
  position: absolute;
}

.integration-service-container section.arrow-column .icon-long-arrow-right {
  font-size: 14px;
  float: left;
  margin-left: 5.5%;
  margin-top: 10px;
  position: absolute;
}

.jnd-float-left {
  float: left;
}
.clear {
  clear: both;
  display: block;
}
.active-member-info {
  line-height: 15px;
  margin:0 -24px;
  padding: 18px 24px;
  font-size: 15px;
  color: #868686;
}

.service-info {
  position: relative;
  min-height: 70px;
  height: 109px;
  padding: 30px 0 30px 96px;
}


.service-info .icon-service-logo {
  width: 60px;
  height: 60px;
  top: 24px;
  left: 18px;
}

.service-info .icon-jnd-connect {
  position: absolute;
  border: 3px solid white;
  background-color: #FFF;
  border-radius: 50%;
  box-sizing: content-box;
  bottom: 18px;
  left: 52px;
}

.service-info .connect-title,
.service-info .date-info {
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}

.service-info .connect-title .user-name {
  font-weight: 700;
}

.service-info span.date-info {
  font-size: 14px;
  color:#B3B3B3;
  display: block;
}
.service-info .service-name {
  font-weight: 400;
}
.service-info .service-name.unverified {
  font-weight: 700;
  font-size: 16px;
}
.service-info .verified-email-container {
  margin: 7px 0;
  width: calc(100% - 240px);
}

.service-info .verify-button {
  margin: 7px 0;
  height: 34px;
}
.service-info .verified-email-container > span {
  margin: 0;
  display: inline;
  border: 1px solid rgba(32,75,96,0.15);
  background-color: #FFF;
  box-shadow: inset 0 2px 3px rgba(17,71,104, 0);
  
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  
  white-space: nowrap;
  
  padding:0 10px;
}
.verified-email-container .white-button.verified-label,
.verified-email-container .white-button.verified-label:hover,
.verified-email-container .white-button.verified-label:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
  color: #13A4EB;
  border: 1px solid rgba(32,75,96,0.15);
  background-color: #FFF;
  box-shadow: inset 0 2px 3px rgba(17,71,104, 0);
  
  max-width: 30%;
  width: 30%;
}

.verified-email-container .white-button.verified-email-address {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color:#979797;
  font-weight: 500;
  margin-left: -1px;
  
  max-width: calc(70% - 19px);
  width: 70%;
  padding-right: 32px;
}

.verified-email-container .custom-select-box-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: 500;
  margin-left: -1px;
  padding: 6px 10px 9px 10px;
  line-height: 33px;
  vertical-align: top;
  float: none;
  
  width: 20px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  right: 1px;
  border: 1px solid rgba(32,75,96,0.15);
}
.verified-email-container .custom-select-box-btn > i {
  line-height: 35px;
  top: 0;
  color: #81939B;
}

/*.verified-email-container.single-account .custom-select-box-btn {*/
  /*display: none;*/
/*}*/
/*.verified-email-container.single-account .white-button.verified-email-address {*/
  /*padding-right: 10px;*/
/*}*/
    
.service-setting {
  padding: 14px 20px 12px;
}

.service-setting .setting-label {
  font-size: 16px;
  color:#505050;
  font-weight: 600;
  line-height: 28px;
  margin-top:6px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 95%;
}

.expand-button {
  color:#979797;
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  line-height: 36px;
}
.expand-button:hover {
  color:#505050;
}
.service-setting .setting-input {
  max-width: 50%;
  display: block;
  height: 38px;
  border-radius: 3px;
  border-color: #CCC;
}
.service-setting .setting-input:focus {
  border-color: #8EAFC3;
}


.setting-contents {
  margin-bottom: 12px;
  margin-top: 8px;
  position: relative;
}

/* 안내 영역 같은 경우, 기본적으로 collapsed 클래스가 붙는다. 이때(숨김상태)는 안내 컨텐츠를 디스플레이 하지 않는다.*/
.service-setting.collapsed .introduction {
  display: none;
}

.service-setting.select-profile .setting-contents,
.service-setting.select-lang .setting-contents {
  margin-bottom: 6px;
  margin-top: 6px;
}

.setting-description {
  float: left;
  display: block;
  word-break: keep-all;
}
.service-setting .setting-description {
  max-width: 50%;
  color:#979797;
  font-size: 14px;
  line-height: 24px;
  margin-top: -2px;
  padding-right: 5%;
}
.connect-info .setting-description {
  max-width: 100%;
  font-size: 15px;
  line-height: 22px;
  color: #505050;
  margin: 0;
}
.setting-contents .column-title {
  margin: 24px auto 7px -1px;
  font-size: 16px;
  color: #7F99A7;
  line-height: 16px;
}
.setting-contents .column-title.first-title {
  /*margin-top:8px;*/
}  



.service-setting .custom-select-box-btn {
  float: left;
  width: 100%;
  max-width: 35%;

  height: 35px;
  font-size: 14px;
  line-height: 34px;
  padding-left: 6px;
  border-radius: 3px;
  
  text-align: left;
  font-weight: 500;
}
.service-setting.select-lang .custom-select-box-btn {
  width: calc(48% - 72px);
  max-width: 50%;
  margin-top: -8px;
}
.service-setting.jnd-column-5-width .custom-select-box-btn {
  margin-left: 0;
  width: 100%;
  max-width: 90%;
}
.service-setting.select-conversation .custom-select-box-btn {
  margin-left: 0;
  width: calc(48% - 72px);
}



.service-setting .custom-select-box.dropdown-menu.active {
   width: 100%;
}

/* compound-column : CSB & White Button */
.service-setting.compound-column .custom-select-box-btn,
.service-setting.compound-column .custom-select-box.dropdown-menu.active {
  width: 100%;
  max-width: calc(65% - 4px);
}

/* has-inputfield : CSB & Input Field */
.service-setting.has-inputfield .custom-select-box-btn,
.service-setting.has-inputfield .custom-select-box.dropdown-menu.active {
  width: 100%;
  max-width: calc(46% - 4px);
}

.service-setting.has-inputfield .setting-input {
  max-width: calc(45% - 4px);
  margin-left: 4px;
  height: 35px;
}

.service-setting .custom-select-box.dropdown-menu.active {
  margin-top: -89px !important;
  margin-left: -10px !important;
  max-width: calc(90% + 4px) !important;
  border-color: rgba(5,35,55,0.12);
  box-shadow: 0 1px 3px 0 rgba(2, 23, 34, 0.15);
}

.service-setting.compound-column .custom-select-box.dropdown-menu.active {
  max-width: calc(65% - 0px) !important;
}

.service-setting .custom-select-box-btn i {
  line-height: 26px;
  right: 8px;
  top: 4px;
}

.service-setting .checkbox-list-container .custom-select-box-btn {
  width: auto;
  float: none;
  line-height: 28px;
  height: 30px;
  padding-right: 26px;
  padding-left: 8px;
}
.service-setting .checkbox-list-container .custom-select-box-btn > i {
  top: 2px;
}
.service-setting .checkbox-list-container .custom-select-box-btn > span {
  margin: 0;
}



.service-setting .change-profile {
  float: left;
  margin-top: -20px;
  width: 70px;
  height: 70px;

  overflow: hidden;
  background-color: #F6F6F6;
  position:relative;
  
  box-shadow: inset 0 0 13px 2px rgba(0,0,0,0.03);
}

.service-setting .change-profile .overlay-label {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  display: block;
  color: #FFF;
  width: 70px;
  height: 34px;
  text-align: center;
  top: 44px;
  padding-top: 4px;
}
.select-profile .setting-input {
  float: left;
  margin-left: 2%;
  width: calc(48% - 72px);
}

.integration-service-container .save-button {
  position: relative;
  margin: 32px auto 8px;
  display: block;
}



.white-button {
  float: left;
  margin-left: 4px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0px 14px;
  line-height: 33px;
  border: 1px solid #D2D2D2;
  vertical-align: top;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;

  -webkit-transition: background-color 150ms, border-color 150ms;
  -o-transition: background-color 150ms, border-color 150ms;
  -moz-transition: background-color 150ms, border-color 150ms;
  -ms-transition: background-color 150ms, border-color 150ms;
  transition: background-color 150ms, border-color 150ms;
}
.white-button:hover,
.service-setting .custom-select-box-btn:hover,
.union-selectbox-wrapper .union-selectbox:hover {
  background-color: #F7F8FA;
  border-color:rgba(33,75,96,0.25);
  color:#214B60;
}

.white-button:active,
.service-setting .custom-select-box-btn:active,
.union-selectbox-wrapper .union-selectbox:active,
.service-setting .custom-select-box-btn.active {
  background-color: #F7F8FA;
  border-color: #00abe7;
  color:#214B60;

  box-shadow: inset 0 2px 3px rgba(17,71,104, 0.1);
}
.service-setting .custom-select-box-btn.active,
.union-selectbox-wrapper.active .union-selectbox {
  background-color: #F7F8FA;
  border-color:#9CB7C9;
  color:#214B60;

  box-shadow: inset 0 2px 3px rgba(17,71,104, 0.1);
  
}
.service-setting .custom-select-box-btn.active span {
  color:#214B60;
}


.create-new-topic {
  max-width: calc(15% - 4px);
  width: 100%;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.compound-column .create-new-topic {
  max-width: 35%;
  width: 35%;
}



.checkbox-list-container {
  line-height: 28px;
  margin-top: 6px;
  padding-left: 16px;
  position: relative;
  
}
.checkbox-list-container.text-only {
  /*line-height: 18px;*/
}
.checkbox-list-container > input {
  margin-right: 4px;
  position: absolute;
  left: 0;
  top:4px;
}
.checkbox-description {
  margin:3px 4px auto 4px;
  font-weight: 500;
  color:#979797;
  line-height: 22px;
}

.inner-column {
  
}
.jnd-column-4-width {
  width: 40%;
}
.jnd-column-5-width {
  width: 50%;
}
.jnd-column-6-width {
  width: 60%;
}
.jnd-column-10-width {
  width: 100%;
}


.jnd-connect-service-container {
  padding:32px 36px 90px 36px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 240px;
  right: 0;
  bottom: 0;
}

.jnd-connect-service-container > div {
  max-width: 1024px;
  margin: 0 auto 16px 5%;
  position: relative;
  width: 90%;
}






.jnd-connect-banner {
  min-height: 120px;
  background-image: linear-gradient(-270deg, #13A4EB 0%, #0784C1 100%);
  border-radius: 3px;
  padding: 32px 36px;
  overflow: hidden;
}

.jnd-connect-banner:after {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  box-shadow: inset 0 -2px 5px rgba(0,0,0, 0.13);
}

.jnd-connect.banner-image {
  background:url('../../assets/images/jnd-connect-banner-img.png');
  background-size: cover;
  width: 310px;
  height: 104px;
  position: absolute;
  bottom:-16px;
  left: 54%;
}
.jnd-connect-banner button.close {
  z-index: 3;
  font-size: 16px;
  color:#FFF;
  font-weight: 500 !important;
  text-shadow: 0 1px 0 transparent;
  outline: none;
  position: absolute;
  right: 16px;
  top: 18px;
}
.banner-description {
  max-width: 49%;
  color: #FFF;
  font-size: 16px;
  line-height: 26px;
  display: block;
  word-break: keep-all;
  position: relative;
  margin-bottom: 4px;
}



.introduction-container {
  width: 100%;
  margin-top:24px;
}
.introduction-container.step {
  padding-left: 84px;
  position: relative;
}

.introduction-container > * {
  margin-bottom: 10px;
}
.introduction-container .introduction-label {
  position: absolute;	
  padding:2px 8px;
  left: 0;
  top:5px;
  width: 64px;
  display: block; 
  text-align: center;
  margin:0;
  background-color: #8DA4B3;
  color: #FFF;
}

.introduction-container .introduction-desc {
  float: left;
  line-height: 28px;
  margin-left: 0;
  margin-top:2px;
  width: 100%;
  word-break: break-all;
  white-space: normal;
}

.introduction-container .form-control {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px 16px;
  clear: both;
  margin-left: 0;
  position: relative;
  max-width: 70%;
}
.introduction-container > img {
  position: relative;
  max-width: 70%;
  max-height: 360px;
  margin-top: 0;
  margin-left: 0;
  border: 1px solid #e1e1e1;
  
}
.introduction-container > img.example {
  max-width: 100%;
}
.introduction-title {
  margin: 0 auto 14px 0;
  font-size: 18px;
  color: #AEB5B9;
  width: 90%;
}
.introduction-title ~ .introduction-desc {
  width: 100%;
  line-height: 26px;
  margin: 0;
}

.introduction-code-view {
  white-space: nowrap;
  padding: 12px 0;
  clear: both;
  margin-left: 0;
  position: relative;
  max-width: 100%;
  border-radius: 3px;
  border: 1px solid #CCC;
  line-height: 20px;
  font-family: "Courier New", Courier !important;
  overflow-x:auto;
}
.introduction-code-view .code-line {
  font-size: 13px;
}
.introduction-code-view .code-line:hover{
  background-color:#EBF0F3;
  color:#000;
}
.introduction-code-view.long .code-line {
  width: 888px !important;
}
.introduction-code-view.short .code-line {
  width: 400px !important;
}
.introduction-code-view .code-line.indent-0depth,
.introduction-code-view .code-line.indent-1depth,
.introduction-code-view .code-line.indent-2depth {
  padding-right: 16px;
  width: 846px;
  min-width: 100%;
}
.indent-0depth {
  padding-left: 24px;
}

.indent-1depth {
  padding-left: 48px;
}
.indent-2depth {
  padding-left: 72px;
}



@-moz-document url-prefix() {
  .integrated-service .header-title {
    top:-1px;
  }
}



/* browser responsive style for jnd-connect */
@media (min-width:0px) {
  .connect-setting-lpanel {
    width: 100%;
    position: relative;
    max-height: 64px;
    border-bottom:1px solid #D7D8DB;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.10);
  }
  .jnd-connect-service-container,
  .jnd-connect-loading-container {
    left: 0;
    top: 65px;
  }
  .jnd-connect-service-container > div {
    margin: 0 auto 16px;
  }
  .integrated-service {
	display: none;
  }
  
}


@media (max-width: 1164px) {
  .connect-setting-lpanel div {
    display: none;
  }
  .connect-setting-lpanel div.jnd-connect-logo-container {
    display: block;
  }
  .jnd-connect-service-container > div.jnd-connect-banner {
    min-height: 150px;
  }
}

@media (max-width: 768px) {
  .jnd-connect-service-container > div.jnd-connect-banner .banner-description {
    max-width: 100%;
    margin: 24px auto 20px;
    text-align: center;
  }
  .jnd-connect-service-container > div.jnd-connect-banner .banner-image {
    margin: 0 auto;
    position: relative;
    left: auto;
    background-size: cover;
    bottom: 0px;
  }
  .jnd-connect-service-container > div {
    width: 95%;
  }
  .jnd-connect-service-container > div.jnd-connect-banner {
    padding: 24px 28px 0;
  }

}


@media (max-width: 460px) {
  .jnd-connect-service-container > div.jnd-connect-banner .banner-image {
    margin: 0;
    position: relative;
    left: 50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform: translateX(-50%);
    background-size: cover;
    bottom: 0px;
  }
  .jnd-connect-service-container {
    padding: 32px 22px;
  }
}

@media (min-width: 1400px) {
  .jnd-connect-service-container > div.jnd-connect-banner .banner-description {
    max-width: 52%;
  }
}