<!doctype html>
<!--[if lt IE 7]>      <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title data-ng-bind="'Welcome to JANDI'"></title>
  <link type="image/icon" rel="shortcut icon">

  <meta name="description" content="JANDI Web application">
  <meta name="keywords" content="JANDI, 잔디">
  <meta name="author" content="TossLab">
  <meta name="viewport" content="width=device-width">

  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../client/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="../../client/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../../client/bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <!-- injector:css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <link rel="stylesheet" href="../../client/app/background/background.css">
  <link rel="stylesheet" href="../../client/app/banner/desktop.notification.banner.css">
  <link rel="stylesheet" href="../../client/app/center/announcement/announcement.css">
  <link rel="stylesheet" href="../../client/app/center/center.css">
  <link rel="stylesheet" href="../../client/app/center/center_chat_input_box/center.chat.input.box.css">
  <link rel="stylesheet" href="../../client/app/center/help_messages/help.messages.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.title.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.text.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.unread.bookmark.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/text-sending/text.sending.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/entity.header.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/topic_description/topic.description.css">
  <link rel="stylesheet" href="../../client/app/disconnect/disconnect.css">
  <link rel="stylesheet" href="../../client/app/external_share/external.share.css">
  <link rel="stylesheet" href="../../client/app/header/header.css">
  <link rel="stylesheet" href="../../client/app/left/left.css">
  <link rel="stylesheet" href="../../client/app/left/member/member.css">
  <link rel="stylesheet" href="../../client/app/left/messages/messages.css">
  <link rel="stylesheet" href="../../client/app/left/topics/dropdown/left.folder.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/left/topics/folder/topic.folder.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topic/topic.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topics.css">
  <link rel="stylesheet" href="../../client/app/left/topics/tutorial/left.tutorial.folder.css">
  <link rel="stylesheet" href="../../client/app/loading/loading.center.css">
  <link rel="stylesheet" href="../../client/app/common.css">
  <link rel="stylesheet" href="../../client/app/mention/mention.view.css">
  <link rel="stylesheet" href="../../client/app/mobile/mobile.catcher.css">
  <link rel="stylesheet" href="../../client/app/modal/files/integration/integration.css">
  <link rel="stylesheet" href="../../client/app/modal/files/share/share.css">
  <link rel="stylesheet" href="../../client/app/modal/images/carousel/image.carousel.css">
  <link rel="stylesheet" href="../../client/app/modal/images/full_image/full.screen.image.css">
  <link rel="stylesheet" href="../../client/app/modal/lists/services/renderers/templates/modal.room.list.item.css">
  <link rel="stylesheet" href="../../client/app/modal/members/current_member_profile/current.member.profile.css">
  <link rel="stylesheet" href="../../client/app/modal/modal.css">
  <link rel="stylesheet" href="../../client/app/modal/rooms/quick_launcher/quick.launcher.css">
  <link rel="stylesheet" href="../../client/app/modal/settings/notification/setting.notification.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_change/team.change.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/invite_emails/invite.emails.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/team.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_member_list/team.member.list.css">
  <link rel="stylesheet" href="../../client/app/modal/terms/terms.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_create/topic.create.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_invite/topic.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_join/topic.join.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/comment_input/file.detail.comment.input.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/comments/file.detail.comments.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/file.detail.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/header/file.detail.header.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/meta/file.detail.meta.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/preview/file.detail.preview.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/title/file.detail.title.css">
  <link rel="stylesheet" href="../../client/app/right/file/file.css">
  <link rel="stylesheet" href="../../client/app/right/files/files.css">
  <link rel="stylesheet" href="../../client/app/right/mentions/mentions.css">
  <link rel="stylesheet" href="../../client/app/right/message/message.css">
  <link rel="stylesheet" href="../../client/app/right/right.css">
  <link rel="stylesheet" href="../../client/app/right/rpanel_search/rpanel.search.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.message/search.message.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.messages.css">
  <link rel="stylesheet" href="../../client/app/right/stars/stars.css">
  <link rel="stylesheet" href="../../client/app/signin/signin.css">
  <link rel="stylesheet" href="../../client/app/sticker/sticker.css">
  <link rel="stylesheet" href="../../client/app/tpl/503/503.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/tutorial.main.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/center/tutorial.center.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/completion/tutorial.completion.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/entity_header/tutorial.entity.header.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/dm/send/lecture.dm.send.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/comment/lecture.file.comment.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/upload/lecture.file.upload.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/menu/team/lecture.menu.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/profile/change/lecture.profile.change.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/topic/leave/lecture.topic.leave.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/left/tutorial.left.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/invitation/tutorial.modal.team.invitation.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/member_list/tutorial.modal.member.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/profile/tutorial.modal.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_create/tutorial.modal.topic.create.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_list/tutorial.modal.topic.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/profile/tutorial.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/purse/tutorial.purse.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/team/tutorial.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/top/tutorial.top.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/tutor/tutorial.tutor.css">
  <link rel="stylesheet" href="../../client/app/tutorial/tutorial.css">
  <link rel="stylesheet" href="../../client/app/tutorial/welcome/tutorial.welcome.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-common.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-icon.css">
  <link rel="stylesheet" href="../../client/app/util/css/spinners.css">
  <link rel="stylesheet" href="../../client/app/util/directive/custom-selectbox/jnd.selectbox.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.tooltip.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.version.css">
  <link rel="stylesheet" href="../../client/assets/components/google-code-prettify/prettify.css">
  <link rel="stylesheet" href="../../client/components/app/mention_ahead/mention.ahead.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/dialog.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/modal/modal.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/toast/toast.css">
  <!-- endinjector -->
  <!-- endbuild -->
  
  <link rel="stylesheet" href="../../client/app/connect/jnd.connect.css">
  <link rel="stylesheet" href="../../client/app/connect/submenu/jnd.connect.submenu.css">
  <link rel="stylesheet" href="../../client/app/connect/union/google-calendar/jnd.connect.google.calendar.css">
  <link rel="stylesheet" href="../../client/app/connect/component/jnd.connect.union.plug.css">
  <link rel="stylesheet" href="../../client/app/connect/component/jnd.connect.union.css">
  
  <script src="../../client/bower_components/jquery/dist/jquery.js"></script>

  
</head>

<body jnd-main-key-handler
      active-notifier
      window-title-manager
      jnd-wrapper>
	      
<!--[if lte IE 9]>
  <![endif]-->
<div class="content-wrapper opac-in-fast">
  <background></background>
  
  
  <div class="body-wrapper full-screen">
	
	
	<!-- jandi connect setting container Starts here -->
	<div class="jnd-connect-setting-container">
		
	  <div class="jnd-connect-hpanel non-selectable">
		<div class="jnd-connect-header ng-scope">
		  <span class="jnd-connect-header-navbar__topmenu back-button cursor_pointer" ng-click="">
		    <i class="icon-long-arrow-left jnd-connect-header-navbar__menu-icon"></i>
		    <!-- translate:  -->
		    <span class="jnd-connect-header-navbar__title ng-scope" translate="">돌아가기</span>
		  </span>
		  <span class="jnd-connect-header-navbar__topmenu exit-button cursor_pointer" ng-click="">
		    <!-- translate:  -->
		    <span class="jnd-connect-header-navbar__title ng-scope" translate="">잔디 커넥트 닫기</span>
		  </span>
			
		</div>
	  </div>
	  
	  <div class="full-screen" id="connect-setting-ui" ui-view="">
		  
		<aside class="connect-setting-lpanel non-selectable opac-zero opac-in"
			   ng-class="">
				   
		  <div class="jnd-connect-logo-container">
			<i class="jnd-connect-logo"></i>
			<span class="jnd-connect-title">잔디 커넥트</span>
		  </div>
		  
		  <div class="jnd-connect integrated-service left-header" style="opacity: 0;">
			<span class="jnd-connect header-title">연동된 서비스</span>
		  </div>
		  
		  <div class="jnd-connect-list has-content" id="jnd-connect-list-container" style="opacity: 0;">
			  
			<!-- integrated service list starts here -->
			<div class="integration-list-container">
				
			  <!-- dummy service 01 STARTS : Google Calendar -->
			  <div class="active-service google-calendar">
				
				<div class="service-title cursor_pointer">
				  <i class="icon-service-logo"></i>
				  <i class="icon-angle-up"></i>
				  <span class="active-service-name">Google Calendar</span>
				</div>
				
				<div class="member-list">
				  <ul>
					<li><a><span>MKChoi</span></a></li>
					<li><a><span>Ted</span></a></li>
					<li><a><span>Admin</span></a></li>
				  </ul>
				</div>
				
			  </div>
			  <!-- dummy service 01 END -->
			  
			  <!-- dummy service 02 STARTS : Github -->
			  <div class="active-service github">
				
				<div class="service-title cursor_pointer">
				  <i class="icon-service-logo"></i>
				  <i class="icon-angle-up"></i>
				  <span class="active-service-name">Github</span>
				</div>
				
				<div class="member-list">
				  <ul>
					<li><a><span>MKChoi</span></a></li>
					<li><a><span>Ted</span></a></li>
					<li><a><span>Admin</span></a></li>
				  </ul>
				</div>
				
			  </div>
			  <!-- dummy service 02 END -->
			  
			  
			</div>
			<!-- integrated service list ends here -->
			
			
			<!-- no-service container starts here -->
			<div class="no-integration-container">
			  <i class="icon-jnd-connect"></i>
			  <span class="">아직 연동된 서비스가 없습니다.</span>
			</div>
			<!-- no-service container ends here -->
			
		  </div>
		  
		</aside>
		
		
		<div class="jnd-connect-service-container" id="jnd-connect-available-service" style="opacity: 0;">
		  
		  
		  <!-- info banner starts here -->
		  <div class="jnd-connect-banner">
			<button type="button" class="close" ng-click=""><i class="icon-delete"></i></button>
			<div class="jnd-connect banner-image"></div>
			<span class="banner-description"><b>잔디 커넥트</b>를 처음 사용하시나요? 이제 Google Calendar, Jira, Trello, Github 등을 연동하여 잔디에서 알림을 받아보세요.</span>
		  </div>
		  <!-- info banner ends -->
		  
		  
		  <div class="integration-service-container connected">
			click to detail page
			<!-- integration contents here -->
			
		  </div>
		</div>
		
		<!-- loading container here -->
		<div class="jnd-connect-loading-container">
		  <div class="loading_bar"><span class="three-quarters-loader jnd-three-quarters-loader"></span></div>
		</div>
		<!-- loading conatiner ENDS -->
		
	  </div>
	  
	</div>
	<!-- jandi connect setting container Ends here -->
	

    
    
    
  </div>
  
  <div ng-if="!isReady" class="full-screen z-index-top" style="display: none;">
  </div>
  
</div>



<!--[if lte IE 9]>
<![endif]-->

<script>
  FileAPI = {
    debug   : false,
    cors    : true,
    jsUrl   : location.protocol + '//' + location.host + '/javascripts/FileAPI.min.js',
    flashUrl: location.protocol + '//' + location.host + '/etc/FileAPI.flash.swf'
  };
  
  $(document).ready(function(){
	  
	$('.service-title').click(function() {
	  if($(this).parent().hasClass('collapsed')){
		$(this).parent().removeClass('collapsed');
	  }
	  else {
		$(this).parent().addClass('collapsed');
	  }
	});
	
	$('.integration-service-container.connected').click(function() {
	  if($('#jnd-connect-available-service').hasClass('detail')) {
		$('#jnd-connect-available-service').removeClass('detail');
	  }
	  else {
		$('#jnd-connect-available-service').addClass('detail');
	  }
	});
	
	$('.jnd-connect-detail.back-button').click(function() {
	  $('#jnd-connect-available-service').removeClass('detail');
	});
	
  });
</script>

<!-- build:js(client) app/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,client}) app/app.js -->
<!-- injector:js -->
<!-- endinjector -->
<!-- endbuild -->
</body>
</html>
