<!doctype html>
<!--[if lt IE 7]>      <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title data-ng-bind="'Welcome to JANDI'"></title>
  <link type="image/icon" rel="shortcut icon">

  <meta name="description" content="JANDI Web application">
  <meta name="keywords" content="JANDI, 잔디">
  <meta name="author" content="TossLab">
  <meta name="viewport" content="width=device-width">

  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../client/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="../../client/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../../client/bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <!-- injector:css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <link rel="stylesheet" href="../../client/app/background/background.css">
  <link rel="stylesheet" href="../../client/app/banner/desktop.notification.banner.css">
  <link rel="stylesheet" href="../../client/app/center/announcement/announcement.css">
  <link rel="stylesheet" href="../../client/app/center/center.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_input_box/center.chat.input.box.css">
  <link rel="stylesheet" href="../../client/app/center/help_messages/help.messages.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.title.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.text.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.unread.bookmark.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/text-sending/text.sending.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/entity.header.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/topic_description/topic.description.css">
  <link rel="stylesheet" href="../../client/app/disconnect/disconnect.css">
  <link rel="stylesheet" href="../../client/app/external_share/external.share.css">
  <link rel="stylesheet" href="../../client/app/header/header.css">
  <link rel="stylesheet" href="../../client/app/left/left.css">
  <link rel="stylesheet" href="../../client/app/left/member/member.css">
  <link rel="stylesheet" href="../../client/app/left/messages/messages.css">
  <link rel="stylesheet" href="../../client/app/left/topics/dropdown/left.folder.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/left/topics/folder/topic.folder.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topic/topic.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topics.css">
  <link rel="stylesheet" href="../../client/app/left/topics/tutorial/left.tutorial.folder.css">
  <link rel="stylesheet" href="../../client/app/loading/loading.center.css">
  <link rel="stylesheet" href="../../client/app/common.css">
  <link rel="stylesheet" href="../../client/app/mention/mention.view.css">
  <link rel="stylesheet" href="../../client/app/mobile/mobile.catcher.css">
  <link rel="stylesheet" href="../../client/app/modal/files/integration/integration.css">
  <link rel="stylesheet" href="../../client/app/modal/files/share/share.css">
  <link rel="stylesheet" href="../../client/app/modal/images/carousel/image.carousel.css">
  <link rel="stylesheet" href="../../client/app/modal/images/full_image/full.screen.image.css">
  <link rel="stylesheet" href="../../client/app/modal/lists/services/renderers/templates/modal.room.list.item.css">
  <link rel="stylesheet" href="../../client/app/modal/members/current_member_profile/current.member.profile.css">
  <link rel="stylesheet" href="../../client/app/modal/modal.css">
  <link rel="stylesheet" href="../../client/app/modal/rooms/quick_launcher/quick.launcher.css">
  <link rel="stylesheet" href="../../client/app/modal/settings/notification/setting.notification.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_change/team.change.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/invite_emails/invite.emails.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/team.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_member_list/team.member.list.css">
  <link rel="stylesheet" href="../../client/app/modal/terms/terms.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_create/topic.create.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_invite/topic.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_join/topic.join.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/comment_input/file.detail.comment.input.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/comments/file.detail.comments.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/file.detail.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/header/file.detail.header.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/meta/file.detail.meta.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/preview/file.detail.preview.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/title/file.detail.title.css">
  <link rel="stylesheet" href="../../client/app/right/file/file.css">
  <link rel="stylesheet" href="../../client/app/right/files/files.css">
  <link rel="stylesheet" href="../../client/app/right/mentions/mentions.css">
  <link rel="stylesheet" href="../../client/app/right/message/message.css">
  <link rel="stylesheet" href="../../client/app/right/right.css">
  <link rel="stylesheet" href="../../client/app/right/rpanel_search/rpanel.search.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.message/search.message.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.messages.css">
  <link rel="stylesheet" href="../../client/app/right/stars/stars.css">
  <link rel="stylesheet" href="../../client/app/signin/signin.css">
  <link rel="stylesheet" href="../../client/app/sticker/sticker.css">
  <link rel="stylesheet" href="../../client/app/tpl/503/503.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/tutorial.main.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/center/tutorial.center.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/completion/tutorial.completion.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/entity_header/tutorial.entity.header.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/dm/send/lecture.dm.send.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/comment/lecture.file.comment.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/upload/lecture.file.upload.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/menu/team/lecture.menu.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/profile/change/lecture.profile.change.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/topic/leave/lecture.topic.leave.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/left/tutorial.left.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/invitation/tutorial.modal.team.invitation.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/member_list/tutorial.modal.member.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/profile/tutorial.modal.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_create/tutorial.modal.topic.create.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_list/tutorial.modal.topic.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/profile/tutorial.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/purse/tutorial.purse.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/team/tutorial.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/top/tutorial.top.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/tutor/tutorial.tutor.css">
  <link rel="stylesheet" href="../../client/app/tutorial/tutorial.css">
  <link rel="stylesheet" href="../../client/app/tutorial/welcome/tutorial.welcome.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-common.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-icon.css">
  <link rel="stylesheet" href="../../client/app/util/css/spinners.css">
  <link rel="stylesheet" href="../../client/app/util/directive/custom-selectbox/jnd.selectbox.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.tooltip.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.version.css">
  <link rel="stylesheet" href="../../client/assets/components/google-code-prettify/prettify.css">
  <link rel="stylesheet" href="../../client/components/app/mention_ahead/mention.ahead.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/dialog.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/modal/modal.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/toast/toast.css">
  <link rel="stylesheet" href="../../client/app/connect/union/common/footer/jnd.connect.union.footer.css">
  <!-- endinjector -->
  <!-- endbuild -->
  
  <link rel="stylesheet" href="../../client/app/connect/jnd.connect.css">
  <link rel="stylesheet" href="../../client/app/connect/submenu/jnd.connect.submenu.css">
  <link rel="stylesheet" href="../../client/app/connect/union/google-calendar/jnd.connect.google.calendar.css">
  <link rel="stylesheet" href="../../client/app/connect/component/jnd.connect.union.plug.css">
  <link rel="stylesheet" href="../../client/app/connect/component/jnd.connect.union.css">

  <script src="../../client/bower_components/jquery/dist/jquery.js"></script>

  
</head>

<body jnd-main-key-handler
      active-notifier
      window-title-manager
      jnd-wrapper>
	      
<!--[if lte IE 9]>
  <![endif]-->
<div class="content-wrapper opac-in-fast">
  <background></background>
  
  
  <div class="body-wrapper full-screen">
	
	
	<!-- jandi connect setting container Starts here -->
	<div class="jnd-connect-setting-container">
		
	  <div class="jnd-connect-hpanel non-selectable">
		<div class="jnd-connect-header ng-scope">
		  <span class="jnd-connect-header-navbar__topmenu back-button cursor_pointer" ng-click="">
		    <i class="icon-long-arrow-left jnd-connect-header-navbar__menu-icon"></i>
		    <!-- translate:  -->
		    <span class="jnd-connect-header-navbar__title ng-scope" translate="">돌아가기</span>
		  </span>
		  <span class="jnd-connect-header-navbar__topmenu exit-button cursor_pointer" ng-click="">
		    <!-- translate:  -->
		    <span class="jnd-connect-header-navbar__title ng-scope" translate="">잔디 커넥트 닫기</span>
		  </span>
			
		</div>
	  </div>
	  
	  <div class="full-screen" id="connect-setting-ui" ui-view="">
		  
		<aside class="connect-setting-lpanel non-selectable opac-zero opac-in"
			   ng-class="">
				   
		  <div class="jnd-connect-logo-container">
			<i class="jnd-connect-logo"></i>
			<span class="jnd-connect-title">잔디 커넥트</span>
		  </div>
		  
		  <div class="jnd-connect integrated-service left-header">
			<span class="jnd-connect header-title">연동된 서비스</span>
		  </div>
		  
		  <div class="jnd-connect-list has-content" id="jnd-connect-list-container">
			  
			<!-- integrated service list starts here -->
			<div class="integration-list-container">
				
			  <!-- dummy service 01 STARTS : Google Calendar -->
			  <div class="active-service google-calendar">
				
				<div class="service-title cursor_pointer">
				  <i class="icon-service-logo"></i>
				  <i class="icon-angle-up"></i>
				  <span class="active-service-name">Google Calendar</span>
				</div>
				
				<div class="member-list">
				  <ul>
					<li><a><span>MKChoi</span></a></li>
					<li><a><span>Ted</span></a></li>
					<li><a><span>Admin</span></a></li>
				  </ul>
				</div>
				
			  </div>
			  <!-- dummy service 01 END -->
			  
			  <!-- dummy service 02 STARTS : Github -->
			  <div class="active-service github">
				
				<div class="service-title cursor_pointer">
				  <i class="icon-service-logo"></i>
				  <i class="icon-angle-up"></i>
				  <span class="active-service-name">Github</span>
				</div>
				
				<div class="member-list">
				  <ul>
					<li><a><span>MKChoi</span></a></li>
					<li><a><span>Ted</span></a></li>
					<li><a><span>Admin</span></a></li>
				  </ul>
				</div>
				
			  </div>
			  <!-- dummy service 02 END -->
			  
			  
			</div>
			<!-- integrated service list ends here -->
			
			
			<!-- no-service container starts here -->
			<div class="no-integration-container">
			  <i class="icon-jnd-connect"></i>
			  <span class="">아직 연동된 서비스가 없습니다.</span>
			</div>
			<!-- no-service container ends here -->
			
		  </div>
		  
		</aside>


		<div class="jnd-connect-service-container" id="jnd-connect-available-service">

      <!-- integration detail STARTS here -->
      <div class="integration-service detail">

			<span class="jnd-connect-detail back-button cursor_pointer" ng-click="">
		      <i class="icon-long-arrow-left jnd-connect-detail"></i>
        <!-- translate:  -->
		      <span class="ng-scope" translate="">서비스 설정 화면으로 돌아가기</span>
		    </span>

        <div class="integration-service-container detail-container jira" id="jnd-connect-detail-container">

          <section class="active-member-info" style="display: none;">
            <!-- active member info will be placed here -->
          </section>

          <section class="service-info">
            <i class="icon-service-logo"></i>
            <i class="icon-jnd-connect active"></i>

            <span class="user-name">Webhook</span><span class="service-name"></span>
            <span class="date-info">2015-12-01 생성</span>
          </section>

          <section class="service-setting introduction">
            <span class="setting-label">설정방법 안내</span>
            <span class="expand-button pull-right cursor_pointer">설정방법 보기</span>
            
            <div class="setting-contents introduction">
	          
	          <div class="introduction-container">
		        <h3 class="introduction-title">Webhook이란?</h3>
	            <span class="introduction-desc">
	              웹훅(Webhook)이란 잔디에 잔디가 정한 포맷에 일치하는 데이터를 수신하여 지정된 대화에 메시지 형태로 전송해주는 기능을 말합니다. 
	              현재 잔디 커넥트에서 지원하지 않고 있는 서비스라도 웹훅 발신(Outgoing Webhook)을 지원하는 경우 잔디와 연동하여 변동 사항에 대해 메시지를 수신할 수 있습니다.
	            </span>
	            <div class="clear"></div>
	          </div>
	          
	          <div class="introduction-container step">
		        <span class="introduction-label shortcuts-label">STEP 1</span>
	            <span class="introduction-desc">이 기능을 사용하기 위해서는 HTTP POST request를 아래의 URL로 전송해주시면 됩니다.</span>
	            <input class="setting-input form-control" placeholder="" value="https://hooks.jandi.com/services/T03FG">
	            
	            
	            <span class="introduction-desc">request에는 반드시 Accept와 Content-Type을 다음과 같이 지정해줘야 합니다.</span>
	            <div class="introduction-code-view short">
		          <div class="code-line indent-0depth"><span>Accept: application/vnd.tosslab.jandi-v2+json</span></div>
		          <div class="code-line indent-0depth"><span>Content-Type: application/json</span></div>
	            </div>
	            <span class="introduction-desc">
	              또한 JANDI Webhook은 restful API로 동작하기 때문에 http method를 POST로 하지 않으시면 정상적으로 등록되지 않습니다.
	            </span>
	            <div class="clear"></div>
	          </div>
	          
	          <div class="introduction-container step">
			  	<span class="introduction-label shortcuts-label">STEP 2</span>
			  	<span class="introduction-desc">POST request의 포맷은 다음과 같습니다.</span>
			  	<div class="introduction-code-view">
		          <div class="code-line indent-0depth"><span>{</span></div>
		          <div class="code-line indent-1depth">
			        <span>body: '[[PizzaHouse]](http://url_to_text) You have a new Pizza order.',</span>
			        <span class="pull-right">//Body text (Required)</span>
			      </div>
			      <div class="code-line indent-1depth">
			        <span>connectColor: '#FAC11B'</span>
			        <span class="pull-right">//Hex code color of attachment bar</span>
			      </div>
			      <div class="code-line indent-1depth">
			        <span>connectInfo: [{</span>
			      </div>
			      <div class="code-line indent-2depth">
			        <span>title: 'Topping',</span>
			        <span class="pull-right">//1st attachment area title</span>
			      </div>
			      <div class="code-line indent-2depth">
			        <span>description: 'Pepperoni'</span>
			        <span class="pull-right">//1st attachment description</span>
			      </div>
			      <div class="code-line indent-1depth">
			        <span>},</span>
			      </div>
			      <div class="code-line indent-1depth">
			        <span>{</span>
			      </div>
			      <div class="code-line indent-2depth">
			        <span>title: 'Location',</span>
			        <span class="pull-right">//2nd attachment area title</span>
			      </div>
			      <div class="code-line indent-2depth">
			        <span>description: 'Empire State Building, 5th Ave, New York',</span>
			        <span class="pull-right">//2nd attachment description</span>
			      </div>
			      <div class="code-line indent-2depth">
			        <span>imageUrl: 'http://url_to_text'</span>
			        <span class="pull-right">//Image URL</span>
			      </div>
			      <div class="code-line indent-1depth">
			        <span>}</span>
			      </div>
			      <div class="code-line indent-1depth">
			        <span>]</span>
			      </div>
			      <div class="code-line indent-0depth">
			        <span>}</span>
			      </div>
			      
	            </div>
	            
	            <span class="introduction-desc">다음은 curl request의 샘플입니다.</span>
	            <div class="introduction-code-view long">
		          <div class="code-line indent-0depth"><span>curl -X POST https://webhookURL -d "{body: ''[PizzaHouse](http://url_to_text) You have a new Pizza order.'}"</span></div>
	            </div>
	            <span class="introduction-desc">이렇게 수신된 메시지는 선택된 대화에 다음과 같이 전송됩니다.</span>
	            <img class="example" src="../../client/assets/images/jnd-connect-introduction-webhook-example.png" />
	            <span class="introduction-desc">더 궁금한 점이 있으시면 <a href="https://jandi.zendesk.com/hc/ko/requests/new" target="_blank">잔디 고객센터</a>로 문의해주시기 바랍니다.</span>
	            
			  	<div class="clear"></div>
	      	  </div>
	      	  
		  	</div>
		  	
          </section>

          <section class="service-setting webhook-url">
            <span class="setting-label">Webhook URL</span>
            <input class="setting-input pull-right form-control" name="" id="" placeholder="https://hooks.jandi.com/services/T03F">
            <div class="clear"></div>
          </section>

          <section class="service-setting select-conversation">
            <span class="setting-label">연동 토픽 또는 1:1 메시지 선택</span>
            <div class="setting-contents">
              <span class="setting-description">연동 서비스 또는 메시지를 받을 토픽 또는 1:1 메시지를 선택할 수 있습니다. 연동 설정 이후에도 변경 가능합니다.</span>

              <div class="custom-select-box-btn white-button" ng-class="" ng-click="">
                <i class="fa custom-selectbox-arrow icon-angle-down"></i>
                <span class="">토스랩 코리아</span>
              </div>

              <span class="create-new-topic white-button cursor_pointer animate-all">토픽 생성하기</span>

              <div class="clear"></div>

            </div>
          </section>

          <section class="service-setting select-profile">
            <span class="setting-label">연동 서비스 프로필 설정</span>
            <div class="setting-contents">
              <span class="setting-description">팀 내에서 연동 항목이 메시지를 보낼 때 노출되는 프로필 이미지와 이름을 지정할 수 있습니다.</span>


              <div class="change-profile cursor_pointer">
                <span class="overlay-label">Edit</span>
                <div class="bot-profile-mask" style="background:url('../../client/assets/images/circle-mask.png');background-size: cover;"></div>
              </div>

              <input class="setting-input form-control" name="" id="" placeholder="webhook name">

              <div class="clear"></div>

            </div>
          </section>

          <input type="submit" class="btn comment-btn save-button" value="설정 저장하기">


        </div>

      </div>
      <!-- integration detail ENDS here -->
		</div>
		
	  </div>
	  
	</div>
	<!-- jandi connect setting container Ends here -->
	

    
    
    
  </div>
  
  <div ng-if="!isReady" class="full-screen z-index-top" style="display: none;">
  </div>
  
</div>



<!--[if lte IE 9]>
<![endif]-->

<script>
  FileAPI = {
    debug   : false,
    cors    : true,
    jsUrl   : location.protocol + '//' + location.host + '/javascripts/FileAPI.min.js',
    flashUrl: location.protocol + '//' + location.host + '/etc/FileAPI.flash.swf'
  };
  
  $(document).ready(function(){
	  
	$('.service-title').click(function() {
	  if($(this).parent().hasClass('collapsed')){
		$(this).parent().removeClass('collapsed');
	  }
	  else {
		$(this).parent().addClass('collapsed');
	  }
	});
	
	$('.integration-service-container.connected').click(function() {
	  if($('#jnd-connect-available-service').hasClass('detail')) {
		$('#jnd-connect-available-service').removeClass('detail');
	  }
	  else {
		$('#jnd-connect-available-service').addClass('detail');
	  }
	});
	
	$('.jnd-connect-detail.back-button').click(function() {
	  $('#jnd-connect-available-service').removeClass('detail');
	});
	
  });
</script>

<!-- build:js(client) app/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,client}) app/app.js -->
<!-- injector:js -->
<!-- endinjector -->
<!-- endbuild -->
</body>
</html>
