<ul class="mentionahead dropdown-menu" ng-show="isOpen()" ng-style="{top: position.top+'px', left: position.left+'px'}" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}">
  <li ng-repeat="match in matches" ng-class="{active: isActive($index)}" ng-mouseenter="selectActive($index, $event)" ng-mousedown="selectMatch($index)" role="option" id="{{match.id}}">
    <a class="mention-item" tabindex="-1">
      <img class="profile-img" ng-src="{{::match.model.extProfileImage}}" />
      <span class="profile-text" ng-bind-html="match.label | typeaheadHighlight:query"></span>
    </a>
  </li>
</ul>
