/* message mention ahead */
.message-input-wrap .mentionahead {
  max-height: 232px;
}

/* comment mention ahead */
.comment-textarea-wrap .mentionahead {
  max-height: 130px
}

.mentionahead {
  position: absolute;

  width: 100%;
  max-height: 232px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border: solid #d7e0e8;
  border-width: 2px 2px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mentionahead a.mention-item {
  height: 32px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.mentionahead .active a.mention-item,
.mentionahead a.mention-item:hover {
  color: #fff;
  background-color: #154a67;
}

.mentionahead li:last-child > a {
  border-radius: 0;
}

.mentionahead .profile-img {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  min-width: 18px;
  width: 18px;
  min-height: 18px;
  height: 18px;
  margin-right: 4px;
}

.mentionahead .profile-text {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
