/* message mention ahead */
.message-input-wrap .mentionahead {
  max-height: 232px;
}

/* comment mention ahead */
.upload-comment-textarea {
  position: relative;
}
.upload-comment-textarea .mentionahead,
.comment-textarea-wrap .mentionahead {
  max-height: 130px
}

.mentionahead {
  position: absolute;

  width: calc(100% + 2px);
  max-height: 232px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  border:1px solid rgba(0, 0, 0, .2);
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top:-2px !important;
  margin-left: -1px !important;
}

.mentionahead a.mention-item {
  background-color: #fff;
  height: 32px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.mentionahead .active a.mention-item {
  color: #262626;
  background-color: #E8F3F9;
}

.mentionahead li:last-child > a {
  border-radius: 0;
}

.mentionahead .profile-img {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  min-width: 18px;
  width: 18px;
  min-height: 18px;
  height: 18px;
  margin-right: 4px;
}

.mentionahead .profile-text {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
