<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="404.css"/>

<div class="jandi-navbar navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="//www.jandi.com">
                <strong><img src="/assets/images/logo_jandi.png" class="jandi-navbar__logo"></strong>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#">고객 센터 방문하기 &RightArrow;</a>
                </li>
                <li>
                    <a href="//www.jandi.com">잔디 홈페이지 바로가기 &RightArrow;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="jandi-container">
    <div class="jandi-header">
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
        <div class="col-lg-4">
            <img src="/assets/images/404.png" alt="logo-ci" class="jandi-header__404" />
            <h2 class="jandi-header__title">...길을 잃었습니다!</h2>
            <p class="jandi-header__message">존재하지 않는 링크이거나 삭제된 페이지 입니다</p>
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
    </div>
    <div class="jandi-body">
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
    </div>
    <div class="clear-both"></div>
</div>
<div class="jandi-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-7 col-xs-12">
                <p class="jandi-footer__text">2014 Toss Lab, Inc. All Rights Reserved.</p>
            </div>
            <div class="col-lg-5 col-sm-5 col-xs-12">
                <div class="jandi-footer__terms hidden">
                    <a href="#" data-ng-click="openModal('agreement')"><span translate>Terms of Service</span></a>
                    <span class="divider">|</span>
                    <a href="#" data-ng-click="openModal('privacy')"><span translate>Privacy Policy</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
