/********************************************

                  COMMON.

********************************************/
/*html { min-width: 960px; }*/

.user-thumb-sm  { width: 30px; height: 30px; border-radius: 50%; border: 1px solid #e1e1e1;}
.user-thumb     { width: 34px; height: 34px; border-radius: 50%; }
.user-thumb-lg  { width: 72px; height: 72px; border-radius: 50%; }
.user-profile   { display: inline-block; background-size: 100%; background-repeat: no-repeat; }

textarea[disabled] {
  background-color: #f1f1f1;
}
[disabled] {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.keep {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.break-word {
  word-wrap: break-word;
}
.underline { border-bottom: 1px solid #31c08a;  }
.cursor_pointer { cursor: pointer; }

.tab-title-overflow-ellipsis > a,
.overflow-ellipsis { display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }

.inline-overflow-ellipsis { display:inline-block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }

.display-2-lines {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
}
.bullet {
  color: #ddd;
  margin: 0 -2px;
}
.alert-jandi {
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
}
select {
  width: 100%;
}
select:focus {
  outline: 0;
}

.lowercase {
  text-transform: lowercase;
}
input[type="email"] {
  text-transform: lowercase;
}

.body-wrapper {
  position: relative;
}
.body-wrapper.has-banner {
  height: calc(100% - 40px);
}
/* temporary fix icon-style */
.icon-star-off.icon-star-on:before {
  content: "\e961";
}
/********************************************

            BASIC TEMPLATE.

********************************************/

.full-screen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
}
.z-index-top {
  z-index: 9999;
}

.z-index-bottom {
  z-index: 0;
}

.body.full-screen {
  top: 42px;
}
.body.has-banner {
  height: calc(100% - 40px);
}

.title__divider {
  width: 90px;
  height: 1px;
  background-color: #999999;
  margin: 0 auto 18px;
}
.title {
  font-size: 18px;
  color: #666666;
  margin:0 auto 30px;
  font-weight: 400;
}


/********************************************

                ANIMATION.

********************************************/
.animate-enter { -webkit-transition: 1s linear all; /* Chrome */ transition: 1s linear all; opacity: 0; }
.animate-enter-active , .animate-enter.animate-enter-active { opacity: 1; }

.image_wrapper img {
  -webkit-transition: opacity 0.5s linear; /* Chrome */
  transition: opacity 0.5s linear;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.opac-zero {
  opacity: 0;
}

.opac-in {
  opacity: 1;
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.opac-out {
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.opac-out {
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.opac-in-fast {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /*-webkit-transition: opacity 0.7s;*/
  /*-moz-transition: opacity 0.7s;*/
  /*-ms-transition: opacity 0.7s;*/
  /*-o-transition: opacity 0.7s;*/
  /*transition: opacity 0.7s;*/
}

/*
 *
    BACKGROUND ANIMATION.
 *
 */

/* Chrome, Safari, Opera */
@-webkit-keyframes green_background {
  from {background-color: rgb(242, 242, 242);}
  to {background-color: #31c08a;}
}
/* Standard syntax */
@keyframes green_background {
  from {background-color: rgb(242, 242, 242);}
  to {background-color: #31c08a;}
}

/*
 *
    OPACITY ANIMATION
 *
 */


/* Chrome, Safari, Opera */
@-webkit-keyframes opacIn-from-0 {
  from {opacity: 0.0; }
  to {opacity: 1; display: block; }
}
/* Standard syntax */
@keyframes opacIn-from-0 {
  from {opacity: 0.0; }
  to {opacity: 1; display: block;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes opacIn-from-20 {
  from {opacity: 0.2; }
  to {opacity: 1; }
}
/* Standard syntax */
@keyframes opacIn-from-20 {
  from {opacity: 0.2; }
  to {opacity: 1; }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes opacOut-to-0 {
  from {opacity:1; }
  to {opacity: 0.0; display: none; }
}
/* Standard syntax */
@keyframes opacOut-to-0 {
  from {opacity: 1.0; }
  to {opacity: 0; display: none;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fromRight {
  0%      { right: -480px; }
  25%     { right: -320px; }
  50%     { right: -160px; }
  100%    { right: 0px; }
}
/* Standard syntax */
@keyframes fromRight {
  0%      { right: -480px; }
  25%     { right: -320px; }
  50%     { right: -160px; }
  100%    { right: 0px; }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes toRight {
  0%      { right: 0px; }
  25%     { right: -160px; }
  50%     { right: -320px; }
  100%    { right: -480px; }
}
/* Standard syntax */
@keyframes toRight {
  0%      { right: 0px; }
  25%     { right: -160px; }
  50%     { right: -320px; }
  100%    { right: -480px; }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-from-right {
  from {margin-right: -100%;}
  to {margin-right: 0;  }
}
/* Standard syntax */
@keyframes slide-from-right {
  from {margin-right: -100%;}
  to {margin-right: 0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes display-block {
  from {display: none; }
  to {display: block;  }
}
/* Standard syntax */
@keyframes display-block {
  from {display: none ;}
  to {display: block;  }
}


/********************************************

                   COLOR.

********************************************/
.green_font { color: #31c08a; }
.green_font:hover { text-decoration: none; color: #31c08a; }

.link-dark,
.link-dark:link,
.link-dark:active {
  color: #babbbf;
}
.link-dark:hover {
  color: #555459;
}
.link-green,
.link-green:link,
.link-green:active {
  color: #31c08a;
}
.link-green:hover {
  color: #008F59;
}
.link-remove,
.link-remove:link,
.link-remove:active {
  color: #154a67;
  margin-left: -2px;
}
.link-remove:hover {
  color: #d62d17;
  opacity: 1;
  text-decoration: none;
}

.link-unshare {
  font-size: 11px;
  color: #cccccc !important;
}
.link-unshare:hover {
  color: #d62d17 !important;
}
.green_badge {
  background-color: #00abe6;
}

.red_badge {
  background-color: #FF5B49;
}

.green_background {
  background-color: #31c08a !important;
}
.to_green_background {
  -webkit-animation: green_background 0.5s; /* Chrome, Safari, Opera */
  animation: green_background 0.5s;
  background-color: #31c08a !important;
}

.white_background {
  background-color: white;
}

.hover-underline:hover {
  text-decoration: underline;
}

/********************************************

                  BUTTON.

********************************************/
input[type="button"] {
  cursor: pointer;
}
.btn {
  padding: 6px 12px;
  border-radius: 3px;
  border: 0;
  color: #fff;
  height: 35px;
  font-size: 15px;
  font-weight: 700;
}
#btn-upload-primary {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}
.btn-outline {
  background: none !important;
  color: #9e9ea6 !important;
  font-weight: 700;
  text-shadow: none;
  padding: 2px 7px !important;
}
.btn-outline.active {
  background: #9e9ea6 !important;
  color: #fff !important;
}
.btn:focus,
.btn:active:focus {
  outline: 0;
  color: white;
}
.btn.btn-cancel:active:focus {
  color: #9e9ea6;
}
.btn-cancel {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  color: #999;
  font-size: 15px;
}
.btn-cancel:focus,
.btn-cancel:hover,
.btn-cancel:active {
  color: #666;
  background-color: #f3f3f3;
}
.btn-ok {
  background-color: #00abe6;
  margin-left: 0 !important;
}
.btn-ok:focus,
.btn-ok:hover,
.btn-ok:active {
  color: white;
  background-color: #0081AD;
}
.btn-white {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  color: #999999;
  font-size: 15px;
  margin-top: 6px;
  font-weight: 700;
}
.btn-white:hover,
.btn-white > a,
.btn-white > a:hover {
  text-decoration: none;
  color: #666;
  background-color: #f3f3f3;
}
.btn[disabled] {
  background-color: #ccc;
  color: white;
  opacity: 1;
}

.btn-top-right {
  position: absolute;
  right: 12px;
  top: 24px;
}

/********************************************

                    ICON.

********************************************/
.no-image-preview-full-screen {

}
.no-image-preview-square {
  background: url('../assets/images/no_image_available_center.png');
}
.no-image-preview {
  background-image: url('../assets/images/no_image_available.png');
}

.icon_image {
  position: absolute;
  cursor: pointer;
}
.icon_setting {
  background: url('../assets/images/icon_settings.png') no-repeat;
  width: 14px;
  height: 14px;
}
.icon_add_member {
  background: url('../assets/images/icon_add_member.png') no-repeat;
  width: 13px;
  height: 13px;
}
.icon_user {
  background: url('../assets/images/icon_user.png') no-repeat;
  width: 15px;
  height: 15px;
}
.icon_search {
  background: url('../assets/images/icon_search.png') no-repeat;
  width: 20px;
  height: 19px;
}
.icon_verti_menu{
  background: url('../assets/images/icon_verti_menu.png') no-repeat;
  width: 18px;
  height: 18px;
}
.icon_close {
  background: url('../assets/images/icon_close.png') no-repeat;
  width: 17px;
  height: 17px;
  display: block;
}
.icon_downmenu {
  background: url('../assets/images/icon_downmenu.png') no-repeat;
  width:18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
}
.icon_invite {
  background: url('../assets/images/icon_invite_dark.png') no-repeat;
  width: 15px;
  height: 13px;
}
.icon_invite.light {
  background-image: url('../assets/images/icon_invite.png');
}
.icon_team {
  background: url('../assets/images/icon_team_dark.png') no-repeat;
  width: 15px;
  height: 10px;
}
.icon_team.light {
  background-image: url('../assets/images/icon_team.png');
}
.icon_signout {
  background: url('../assets/images/icon_signout_dark.png') no-repeat;
  width:17px;
  height: 14px;
}
.icon_signout.light {
  background-image: url('../assets/images/icon_signout.png');
}
.icon_network_error {
    background-image: url('../assets/images/icon_network_error.png');
}
.fileicon {
  background: url('../assets/images/fileicons.png') no-repeat;
  width: 26px;
  height: 31px;
  display: block;
  margin: auto;
}
.fileicon-img,
.fileicon-jpg,
.fileicon-png,
.fileicon-gif {
  background-position: -78px -93px;
}
.fileicon-img-dropbox,
.fileicon-jpg-dropbox,
.fileicon-png-dropbox,
.fileicon-gif-dropbox {
  background-position: -104px -93px;
}
.fileicon-img-google-drive,
.fileicon-jpg-google-drive,
.fileicon-png-google-drive,
.fileicon-gif-google-drive {
  background-position: -130px 0px;
}
.fileicon-pdf {
  background-position: 0px -31px;
}
.fileicon-pdf-dropbox {
  background-position: -26px -31px;
}
.fileicon-pdf-google-drive {
  background-position: -52px -31px;
}
.fileicon-video,
.fileicon-mp4,
.fileicon-mov{
  background-position: 0px -124px;
}
.fileicon-video-dropbox,
.fileicon-mp4-dropbox,
.fileicon-mov-dropbox {
  background-position: -26px -124px;
}
.fileicon-video-google-drive,
.fileicon-mp4-google-drive,
.fileicon-mov-google-drive {
  background-position: -52px -124px;
}
.fileicon-audio,
.fileicon-mp3,
.fileicon-mpeg {
  background-position: -26px 0px;
}
.fileicon-audio-dropbox,
.fileicon-mp3-dropbox,
.fileicon-mpeg-dropbox {
  background-position: 0px -93px;
}
.fileicon-audio-google-drive,
.fileicon-mp3-google-drive,
.fileicon-mpeg-google-drive {
  background-position: -52px 0px;
}
.fileicon-txt {
  background-position: -130px -31px;
}
.fileicon-txt-dropbox {
  background-position: -130px -62px;
}
.fileicon-txt-google-drive {
  background-position: -130px -93px;
}
.fileicon-etc {
  background-position: -78px 0px;
}
.fileicon-etc-dropbox {
  background-position: -78px -31px;
}
.fileicon-etc-google-drive {
  background-position: 0px -62px;
}
.fileicon-ppt {
  background-position: 0px 0px;
}
.fileicon-ppt-dropbox {
  background-position: -26px -93px;
}
.fileicon-ppt-google-drive {
  background-position: -52px -93px;
}
.fileicon-excel {
  background-position: -104px 0px;
}
.fileicon-excel-dropbox {
  background-position: -104px -31px;
}
.fileicon-excel-google-drive {
  background-position: -104px -62px;
}
.fileicon-hwp {
  background-position: -26px -62px;
}
.fileicon-hwp-dropbox {
  background-position: -52px -62px;
}
.fileicon-hwp-google-drive {
  background-position: -78px -62px;
}
.fileicon-document-google-drive {
  background-position: -78px -124px;
}
.fileicon-spreadsheet-google-drive {
  background-position: -130px -124px;
}
.fileicon-presentation-google-drive {
  background-position: -104px -124px;
}
.fileicon-zip {
  background-position: -26px -155px;
}
.fileicon-zip-dropbox {
  background-position: -52px -155px;
}
.fileicon-zip-google-drive {
  background-position: -78px -155px;
}
.fileicon-unshared {
  background-position: 0 -155px;
}
.fileicon-archived {
  background-position: -104px -155px;
}

.icon-more-member {
  background: url('../assets/images/icon_more_member.png') no-repeat;
  width: 15px;
  height: 15px;
}
.icon-loading {
  background: url('../assets/images/jd_loading.gif') center center no-repeat;
  width: 150px;
  height: 150px;
}
.icon-loading-img {
  background: url('../assets/images/jd_loading.gif') center center no-repeat;
}

.image-background {
  background: url('../assets/images/checkered.png');
  min-width: 40px;
  min-height: 40px;
}


.file-item-meta__comments {
  padding-right: 2px;
  /*background-image: url('../assets/images/icon-comment.png');*/
}

.private-topic-icon {
  background: url('../assets/images/private-topic.svg') no-repeat;
}

.integration-desc-google-drive-1 {
  background-image: url('../assets/images/googledrive-share.png');
}
.integration-desc-google-drive-2 {
  background-image: url('../assets/images/googledrive-filetype.png');
}
.integration-desc-google-drive-3 {
  background-image: url('../assets/images/googledrive-popup.png');
}

.integration-desc-dropbox-1 {
  background-image: url('../assets/images/dropbox-share.png');
}
.integration-desc-dropbox-2 {
  background-image: url('../assets/images/dropbox-link.png');
}
.integration-desc-dropbox-3 {
  background-image: url('../assets/images/dropbox-popup.png');
}

#file-upload-menu .icon-notebook {
  font-size: 16px;
}
#file-upload-menu .icon-google-drive {
  background-image: url('../assets/images/icon_google_drive.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
#file-upload-menu li:hover .icon-google-drive {
  /*background-image: url('../assets/images/icon_google_drive_white.png');*/
  width: 16px;
  height: 16px;
  display: inline-block;
}
#file-upload-menu .icon-dropbox {
  background-image: url('../assets/images/icon_dropbox.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}
#file-upload-menu li:hover .icon-dropbox {
  /*background-image: url('../assets/images/icon_dropbox_white.png');*/
  width: 16px;
  height: 16px;
  display: inline-block;
}
.help-enter-a-message {
  background: url('../assets/images/center/help-enter-a-message.png') no-repeat;
  width: 130px;
  height: 130px;
  background-size: contain;
}
.help-invite-members {
  background: url('../assets/images/center/help-invite-members.png') no-repeat;
  width: 130px;
  height: 130px;
  background-size: contain;
}
.help-send-invitations {
  background: url('../assets/images/center/help-send-invitations.png') no-repeat;
  background-size: contain;
}
.help-upload-a-file {
  background: url('../assets/images/center/help-upload-a-file.png') no-repeat;
  width: 100px;
  height: 80px;
  background-size: contain;
}


/********************************************

                 DROPDOWN.

********************************************/
.dropdown-menu {
  padding: 0 !important;
  margin: 0 !important;
  padding-top:3px !important;
  padding-bottom:3px !important;
  z-index: 1000;
}
.dropdown-menu li {
  position: relative;
  list-style: none;
}
.dropdown-menu > li:focus,
.dropdown-menu > li:active,
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus
{
  outline: 0;
}
.dropdown-menu .menu-item .sub-menu-arrow {
  position: absolute;
  top: 9px;
  right: 10px;
}
.dropdown-menu .menu-item .sub-menu {
  position: absolute;
  left: 0;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  display: none;
}
.dropdown-menu .menu-item:hover .sub-menu {
  display: block;
}
.dropdown-menu .language-sub-menu {
  position: absolute;
  top: -5px;
  margin-left: calc(100% - 5px) !important;
  min-width: auto;
}
.dropdown-menu .language-sub-menu li a {
  padding: 0 1.8rem 0 2.65rem;
}
.dropdown-menu .language-sub-menu .flag {
  margin-right: 0.35rem;
  left: -0.3rem;
  position: relative;
}
.dropdown-menu .font-size-sub-menu {
  position: absolute;
  top: -5px;
  margin-left: calc(100% - 5px) !important;
}
.right-align {
  left: auto;
  right: 10px;
}
.grey_dropdown > li > .menu-item {
  display: block;
  clear: both;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
}
.grey_dropdown > li > .menu-item,
.grey_dropdown > li > a,
.green_dropdown > li > a {
  line-height: 33px;
  height: 33px;
  cursor: pointer;
  padding: 0 15px 0 41px;
}
.dropdown-menu .font-size-sub-menu > li > .menu-item,
.dropdown-menu .font-size-sub-menu > li > a {
  padding: 0 1.5rem 0 1rem;
}
.grey_dropdown > li > a:empty,
.green_dropdown > li > a:empty {
  display: none;
}

.grey_dropdown > li:last-child > a,
.green_dropdown > li:last-child > a {
  /*padding-bottom: 2px;*/
}
.grey_dropdown > li:last-child > a > i,
.green_dropdown > li:last-child > a > i {
  /*top: 8px;*/
}
.grey_dropdown > li:first-child > a,
.green_dropdown > li:first-child > a {
  /*padding-top: 2px;*/
}
.grey_dropdown > li:first-child > a > i,
.green_dropdown > li:first-child > a > i {
  /*top: 11px;*/
}
.grey_dropdown > li > .menu-item > i:first-child,
.grey_dropdown > li > a > i,
.green_dropdown > li > a > i {
  position: absolute;
  top: 6px;
  left: 0.45rem;
  width: 2rem;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.grey_dropdown > li > a > i.icon-connect-circle {
  font-size: 23px;
  top: 7px;
  left: 7px;
}

.grey_dropdown > li > .menu-item:hover,
.grey_dropdown > li > a:hover {
  background-color: #e8f3f9;
  color: #262626;
}
.grey_dropdown > li > label {
  height: 28px;
  cursor: pointer;
  border-radius: 0;
  text-align: left;
  width: 100%;
}
.grey_dropdown > li > label:hover {
  background-color: #31c08a;
  color: #fff;
}
.grey_dropdown > li > label.active,
.grey_dropdown > li > label.focus {
  box-shadow: none;
  -moz-box-shadow: none;
  color: #31c08a;
}
.grey_dropdown .divider {
  margin: 3px 0;
}
.grey_dropdown .icon-trash {
  font-size: 15px;
}

.green_dropdown {
  background-color: #31c08a !important;
}
.green_dropdown > li > a,
.green_dropdown > li > a:focus
{
  color: #fff;
  background-color: #31c08a;

}
.green_dropdown > li > a:hover{
  background-color: #2d956e;
  color: #fff;
}

.black_dropdown {
  background-color: #333 !important;
  width: 260px !important;
}
.black_dropdown li a,
.black_dropdown li a:focus
{
  padding: 0 1.4rem 0 2.5rem;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #31c08a;
  font-size: 14px;
  font-weight: 700;
  background-color: #333;
}
.black_dropdown li a:hover {
  background-color: #31c08a;
  color: #fff;
  text-decoration: none;
}
.black_dropdown li a i {
  position: absolute;
  top: 13px;
  left: 20px;
}
.black_dropdown li a .text {
  position: absolute;
  top: 0px;
  left: 20px;
  font-weight: 700;
  font-size: 16px;
}
.black_dropdown li.nest a {
  padding-left: 60px;
  color: #fff;
}
.black_dropdown li.nest a i {
  left: 40px;
}



/*
    input
*/
input[type="radio"] {
  margin-right: 5px;
}

.add-on-group {
  position: relative;
}
.add-on-group .search-input {
  padding-left: 30px;
  box-shadow: none;
}
.add-on-left {
  position: absolute;
}
.add-on-right   {
  position: absolute;
  right: 5px;
}
.lowercase {
  text-transform: lowercase;
}

/*
    tutorial
*/

.tutorial-z-index {
  z-index: 1041 !important;
}

#topicTutorial {
  position: fixed;
  left: 150px;
  top: 90px;
}


/*
    ie
*/


.rotate-90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.rotate-270 {
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.ie9-image-rotator {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.msg-file-body-float .ie9-image-rotator{
  right: auto;
  top: auto;
  bottom: 17px;
  display: none;
  left: 17px;
}
.large-thumbnail-parent .ie9-image-rotator {
  display: block;
}


/********************************************

                 PASSWORD STRENGTH.

********************************************/
.level1 .password-input-border {
  border-color: #c03131;
}
.level2 .password-input-border {
  border-color: #c4ac0e;
}
.level3 .password-input-border {
  border-color: #006cda;
}
.level4 .password-input-border {
  border-color: #31C08A;
}
.password-strength-indicator {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 3px;
}
.password-level-bar {
  height: 5px;
}
.level1 .password-level-bar {
  width: 25%;
  background-color: #c03131;
}
.level2 .password-level-bar {
  width: 50%;
  background-color: #c4ac0e;
}
.level3 .password-level-bar {
  width: 75%;
  background-color: #006cda;
}
.level4 .password-level-bar {
  width: 100%;
  background-color: #31C08A;
}
.password-level-warning-msg {
  margin-bottom: 4px;
  text-align: left;
}
/********************************************

                 MODAL.

********************************************/
.modal {
  overflow-y: auto;
}

.disabled-member-opac-overlay {
  opacity: 0.4;
}
.profile-view-general-container.disabled-member-opac-overlay {
  margin-bottom: 0;
}
.profile-view-action.disabled-member-opac-overlay {
  cursor: not-allowed;
}
.profile-view-action.disabled-member-opac-overlay:hover,
.profile-view-action.disabled-member-opac-overlay:hover .profile-view-action__text {
  color: #555459 !important;
}
.disabled-member-profile-body {
  padding: 23px 20px 27px !important;
  margin: 15px 0 !important;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  color: #929292;
  background-color: #f2f2f2;
}

.disabled-member-profile-body__image {
  display: block;
  margin: 0 auto 12px;
}



/********************************************

                 FLAG.

********************************************/

.flag {
  width: 16px;
  height: 11px;
  margin-right:5px;
  background: url('../assets/images/flags/flags.png') no-repeat scroll 0% 0% transparent;
  margin-top: -0.18em;
  display: inline-block;
  margin-left: -16px;
}

/**
 * 임시: cdn 에 스티커 그룹 아이콘 이미지 올라가면 제거할 예정임
 */
.sticker_panel_tab .sticker_panel_tab_item.pangya {
    background-image: url('../assets/images/sticker/pangya_pangya_off.svg');
}
.sticker_panel_tab li.on .sticker_panel_tab_item.pangya {
    background-image: url('../assets/images/sticker/pangya_pangya_on.svg');
}
.sticker_panel_tab .sticker_panel_tab_item.kiyomi {
  background-image: url('../assets/images/sticker/kiyomi_off.svg');
}
.sticker_panel_tab li.on .sticker_panel_tab_item.kiyomi {
  background-image: url('../assets/images/sticker/kiyomi_on.svg');
}

/********************************************

                 첫 로딩 아이콘.

********************************************/
.is-ready-loading {
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
}


.facebook-style-loading {
  line-height: 40px;
  text-align: center;
}
.facebook-style-loading div{
  height: 15px;
  width: 5px;
  display:inline-block;
  background-color: #00abe6;
  margin: 12px 2px;

  -webkit-animation:facebook_loader 1.3s linear infinite;
  animation:facebook_loader 1.3s linear infinite;

  -webkit-transform: scale(0.91);
  transform: scale(0.91);
}

.initial.facebook-style-loading div{
  height: 35px;
  margin-top: 48%;
}
.facebook-style-loading div:nth-child(1){
  -webkit-animation-delay:0.39s;
  animation-delay:0.39s;
}
.facebook-style-loading div:nth-child(2){
  -webkit-animation-delay:0.52s;
  animation-delay:0.52s;
}
.facebook-style-loading div:nth-child(3){
  -webkit-animation-delay:0.65s;
  animation-delay:0.65s;
}
@-webkit-keyframes facebook_loader{
  0%{
    -webkit-transform:scale(1.2);
    opacity:1
  }

  100%{
    -webkit-transform:scale(0.7);
    opacity:0.1
  }
}

@keyframes facebook_loader {
  0% {
    transform: scale(1.2);
    opacity: 1
  }

  100% {
    transform: scale(0.7);
    opacity: 0.1
  }
}

/********************************************
                 스크롤바
********************************************/
.scroll_blue {
  /*background-color: #fff;*/
  /*scrollbar-shadow-color: #fff;*/
  /*scrollbar-highlight-color: #fff;*/
  /*scrollbar-face-color: #fff;*/
  /*scrollbar-3dlight-color: #fff;*/
  /*scrollbar-darkshadow-color: #fff;*/
  /*scrollbar-track-color: #fff;*/
  /*scrollbar-arrow-color: #fff;*/
}
.scroll_blue ::-webkit-scrollbar{
  -webkit-appearance: none;
  width:10px;
  height:10px;
  background-color: #f1f4f8;
  border-radius: 10px;
}
.scroll_blue ::-webkit-scrollbar-thumb{
  background-color:#cad7e0;
  border:1px solid transparent;
  border-radius:10px;
  background-clip:content-box;
}
.scroll_blue ::-webkit-scrollbar-thumb:hover{
  background-color: #acbecd;
}
.scroll_blue ::-webkit-scrollbar-corner{
  background-color: transparent;
}

.scroll_gray {
  /*background-color: #fff;*/
  /*scrollbar-shadow-color: #fff;*/
  /*scrollbar-highlight-color: #fff;*/
  /*scrollbar-face-color: #fff;*/
  /*scrollbar-3dlight-color: #fff;*/
  /*scrollbar-darkshadow-color: #fff;*/
  /*scrollbar-track-color: #fff;*/
  /*scrollbar-arrow-color: #fff;*/
}

.scroll_gray ::-webkit-scrollbar{
  -webkit-appearance: none;
  width:10px;
  height:10px;
  background-color: transparent;
  border-radius: 10px;
}
.scroll_gray ::-webkit-scrollbar:hover{
  background-color: #f3f4f9;
}

.scroll_gray ::-webkit-scrollbar-thumb{
  background-color:#d0cfd4;
  border:1px solid transparent;
  border-radius:10px;
  background-clip:content-box;
}
.scroll_gray ::-webkit-scrollbar-thumb:hover{
  background-color: #bababe;
}
.scroll_gray ::-webkit-scrollbar-corner{
  background-color: transparent;
}

/********************************************
                 화면가리기 효과
********************************************/

.blurred .badge,
.blurred .lpanel i,
.blurred .lpanel i.icon-star-on,
.blurred .panel-title-container .prefix,
.blurred .panel-title-topic-description {
  opacity: .35;
}

.blurred .private-effect,
.blurred .private-effect *:not([placeholder]),
.blurred .modal-dialog,
.blurred .modal-dialog *:not([placeholder]),
.blurred .advanced-search-option__title *,
.blurred .search-status-container *,
.blurred .search-result-container *,
.blurred .infinite-scroll-bottom-list *,
.blurred .rpanel-alert-msg-container *,
.blurred .lpanel-list__header * {
  color: transparent !important;
  text-shadow: 0 0 6px rgba(130,135,140,0.95) !important;
}

.blurred .private-effect.white,
.blurred .private-effect.white *:not([placeholder]):not(i) {
  color: transparent !important;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.95) !important;
}
.blurred .btn-danger * {
  color: transparent !important;
  text-shadow: 0 0 6px rgba(217, 83, 79, 0.95) !important;
}
.blurred input::-webkit-input-placeholder,
.blurred textarea::-webkit-input-placeholder {
  color: transparent !important;
  text-shadow: 0 0 5px rgba(130,135,140,0.75) !important;
}
.blurred .private-effect img,
.blurred .modal-dialog img,
.blurred .fileicon {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  opacity: 0.5;
  
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.blurred-msg-container,
.zoom-msg-container {
  background-color: rgba(65, 65, 65, 0.65);
  color: #FFF;
  width: 242px;
  height: auto;
  border-radius: 6px;
  border:1px solid rgba(0,0,0,0.15);
  padding: 150px 24px 28px 24px;
  position: relative;
  
  top:50%;
  -webkit-transform:translateY(-50%);
  -webkit-transform:-webkit-translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform: translateY(-50%);
  margin:auto;
  z-index: 1111;
}

.blurred .blurred-msg-container {
}

@-webkit-keyframes fade-out {
  0% { opacity: 0; }
  7% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }

}

@-ms-keyframes fade-out {
  0% { opacity: 0; }
  7% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fade-out {
  0% { opacity: 0; }
  7% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade-out {
  0% { opacity: 0; }
  7% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}

.blurred-guide-wrapper-dim,
.zoom-msg-container-wrapper {
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 9999;
}

.blurred-msg-container .msg-icon-container,
.zoom-msg-container .msg-icon-container {
  position: absolute;
  left: 54px;
  width: 132px;
  height: 132px;
  top:24px;

  color: #FFF;
  padding: 6px;
  padding-left: 7px;
  border-radius: 20px;
  text-align: center;
}
.blurred-msg-container span,
.zoom-msg-container span {
  line-height: 20px;
  text-align: center;
  display: block;
}
.zoom-msg-container span.zoom-ratio {
  font-size: 28px;
  font-weight: 700;
  margin-top:16px;
}
.blurred-msg-container .icon-lock {
  font-size: 90px;
}
.zoom-msg-container .icon-text-zoom {
  background-image: url('../assets/images/img-zoom-status.svg');
  background-size: cover;
  width: 145px;
  height: 84px;
  position: absolute;
  top:6px;
  left: -8px;
}

.member-auth-label {
  line-height: 18px;
  top: 7px;
  right: 8px;
  position: absolute;
  background-color: rgba(15,60,85,0.105);
  color: rgba(14,60,85,0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 600;
}

/********************************************
                 jandi bot icon
********************************************/
i.icon-jandi-bot {
  display: inline-block;
  background:url('../assets/images/Mr.J_left.png');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  width: 16px;
  height: 16px;
  left: -1px;
}
