<div class="jnd-connect-service-container" id="jnd-connect-available-service">
  <!--Github-->
  <div class="integration-service detail">
    <jnd-connect-union-nav></jnd-connect-union-nav>
    <div ng-if="!isInitialized" class="integration-service-container detail-container github" id="jnd-connect-detail-container">
      <jnd-connect-loading></jnd-connect-loading>
    </div>
    <div ng-if="isInitialized" class="integration-service-container detail-container github" id="jnd-connect-detail-container">
      <jnd-connect-union-header></jnd-connect-union-header>
      <section class="service-setting select-calendar clear jnd-column-5-width jnd-float-left arrow-column has-inputfield">
        <span class="setting-label" translate>@jnd-connect-137</span>
        <div class="setting-contents">
          <span class="setting-description"></span>

          <!--<div class="custom-select-box-btn white-button" ng-class="" ng-click="">-->
            <!--<i class="fa custom-selectbox-arrow icon-angle-down"></i>-->
            <!--<span>Repository 선택</span>-->
          <!--</div>-->
          <jnd-selectbox-common
              jnd-data-list="repositories"
              jnd-data-is-disabled="!isRepoLoaded"
              jnd-data-model="formData.hookRepoId"></jnd-selectbox-common>

          <input jnd-input-model="formData.branches" class="setting-input jnd-float-left form-control" name="" placeholder="{{::'@jnd-connect-139' | translate }}">

          <span class="create-new-topic white-button cursor_pointer animate-all" style="display: none;"
                translate>@jnd-connect-40</span>

          <i class="icon-long-arrow-right"></i>

          <div class="clear"></div>

        </div>
      </section>

      <section class="service-setting select-conversation jnd-column-5-width jnd-float-left second-column compound-column">
        <span class="setting-label" translate>@jnd-connect-38</span>
        <div class="setting-contents">
          <span class="setting-description"></span>

          <jnd-selectbox-room
              jnd-data-model="formData.roomId"></jnd-selectbox-room>
          <!--<div class="custom-select-box-btn white-button" ng-class="" ng-click="">-->
            <!--<i class="fa custom-selectbox-arrow icon-angle-down"></i>-->
            <!--<span>토스랩 코리아</span>-->
          <!--</div>-->

          <span class="create-new-topic white-button cursor_pointer animate-all"
                ng-click="openTopicCreateModal();"
                translate>@jnd-connect-40</span>

          <div class="clear"></div>

        </div>
      </section>

      <section class="service-setting select-nofification clear">
        <span class="setting-label" translate>@jnd-connect-113</span>
        <div class="setting-contents">
          <span class="setting-description"></span>


          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check1" type="checkbox" ng-model="formData.hookEvent.push">
            <label for="git-check1">
              <div class="checkbox-description">
                <span>Commits</span>
              </div>
            </label>
          </div>

          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check2" type="checkbox" ng-model="formData.hookEvent.commit_comment">
            <label for="git-check2">
              <div class="checkbox-description">
                <span>Commit Comments</span>
              </div>
            </label>
          </div>

          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check3" type="checkbox" ng-model="formData.hookEvent.pull_request">
            <label for="git-check3">
              <div class="checkbox-description">
                <span>Pull Requests Opened / Closed</span>
              </div>
            </label>
          </div>

          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check4" type="checkbox" ng-model="formData.hookEvent.pull_request_review_comment">
            <label for="git-check4">
              <div class="checkbox-description">
                <span>Pull Request Comments</span>
              </div>
            </label>
          </div>

          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check5" type="checkbox" ng-model="formData.hookEvent.issues">
            <label for="git-check5">
              <div class="checkbox-description">
                <span>Issue Opened / Closed</span>
              </div>
            </label>
          </div>

          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check6" type="checkbox" ng-model="formData.hookEvent.issue_comment">
            <label for="git-check6">
              <div class="checkbox-description">
                <span>Issue Comments</span>
              </div>
            </label>
          </div>

          <div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">
            <input id="git-check7" type="checkbox" ng-model="formData.hookEvent.create">
            <label for="git-check7">
              <div class="checkbox-description">
                <span>Branch or Tag Created / Deleted</span>
              </div>
            </label>
          </div>

          <!--<div class="checkbox-list-container text-only jnd-float-left jnd-column-5-width">-->
            <!--<input type="checkbox">-->
            <!--<label>-->
              <!--<div class="checkbox-description">-->
                <!--<span translate="">Branch force-pushed</span>-->
              <!--</div>-->
            <!--</label>-->
          <!--</div>-->

          <div class="clear"></div>

        </div>
      </section>
      <jnd-connect-union-footer jnd-data="formData.footer"></jnd-connect-union-footer>
    </div>
    <jnd-connect-loading class="big" ng-show="isLoading"></jnd-connect-loading>
  </div>
</div>