.tutorial_top {
  position: absolute;
  width: 100%;
  line-height: 45px;
  font-size: 14px;
  color: #FFFFFF;
}

.tutorial_top_team {
  position: absolute;
  left: 36px;
}

.tutorial_top_invite {
  position: absolute;
  left: 113px;
}

.tutorial_top_search {
  position: absolute;
  left: 960px;
}

.tutorial_top_quick {
  position: absolute;
  display: block;
  left: 285px;
  height: 32px;
}

.tutorial_top_quick > span {
  padding: 7px 13px;
  margin-top: 7px;
  border-radius: 14px;
  display: block;
  line-height: 14px;
  background-color: #fff;
  color: #154a67;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
}