.tutorial_top {
  position: absolute;
  width: 100%;
  line-height: 43px;
  font-size: 14px;
  color: #FFFFFF;
}

.tutorial_top_team {
  position: absolute;
  left: 25px;
}

.tutorial_top_invite {
  position: absolute;
  left: 105px;
}

.tutorial_top_search {
  position: absolute;
  left: 960px;
}
