.advanced-search-option-container {
  padding: 14px 18px 12px;
  background-color: white;
}
.advanced-search-option__category {
  width: 30%;
  margin-right: 3%;
  display: inline-block;
}
.advanced-search-option__category:last-child {
  margin-right: 0;
}
.advanced-search-option__category select {
  width: 100%;
  border-radius: 0;
  border: 1px solid #d2d2d2;
  height: 24px;
  font-size: 12px;
  background-color: white;
}
.advanced-search-option__title {
  font-size: 12px;
  color: #333;
  margin-bottom: 4px;
}
