<div class="msg-item file-upload">
  <!--  User Thumbnail -->
  <div class="msg-item-float cursor_pointer">
    <img class="user-profile user-thumb" ng-src="{{ msg.profileUrl }}">
  </div>
  <div class="msg-item-header"
       disabled-member-detector="center-panel-disabled-member">
    <!--    WRITER-->
    <span class="msg-item-header__name cursor_pointer">
      <span class="msg-item-header__nameSpace">
        {{ msg.name }}
      </span>

      <!--    CREATED TIME    -->
      <span class="msg-item-header__created">
        {{msg.time | gethmmaFormat}}
      </span>
    </span>
  </div>
  <div class="msg-item-body">
    <!-- FILE -->
    <div class="msg-file">
      <!--  FILE PREVIEW IMAGE  -->
      <div class="msg-file-body-float pull-left preview-container">
        <!--  FILE NOT ARCHIVED -->
        <div>
          <div class="msg-file-body__thumbnail ng-scope">
            <div class="fileicon fileicon-{{msg.content | fileIcon}}"></div>
          </div>
        </div>
      </div>
      <!--  FILE INFO -->
      <div class="msg-file-meta">

        <div class="msg-file-meta-up">

          <!--  NOT ARCHIVED FILE -->
          <div>
            <!--    TITLE   -->
            <a class="msg-file-meta__title file__name break-word">
              {{ msg.content.title }}
            </a>

            <span class="bullet">•</span>
            <!--    SIZE AND FILE TYPE  -->
            <span class="msg-file-meta-info">{{ msg.content.size | bytes }}</span>
            <span class="msg-file-meta-info">{{ msg.content | fileType }}</span>
          </div>
        </div>
        <div class="msg-file-meta-down">
          <!--  DOWNLOAD  -->
        <span class="file-uploaded-download" ng-if="!isIntegrateFile">
          <a>
            <i class="icon-download cursor_pointer file-action"
               tooltip="{{'@common-download' | translate}}" tooltip-placement="top" append-to-body="true"></i>
          </a>
        </span>

          <span class="separator" ng-if="!isIntegrateFile"></span>

          <!--  SHARE -->
          <i class="icon-share cursor_pointer file-action"
             tooltip="{{'@btn-share' | translate}}" tooltip-placement="top" append-to-body="true"></i>

          <span class="separator"></span>

          <!--  MORE  -->
        <span class="file-uploaded-more" tooltip="{{'@file-action-more' | translate}}" tooltip-placement="top" append-to-body="true">
          <i class="fa fa-cog cursor_pointer file-action"></i>
        </span>
      </div>
    </div>
  </div>
</div>
