<div class="rpanel-detail-body-comment">
  <div class="comment-item"
       ng-class="{'sending-comment-item': comment.isSendingComment,
                  'file-detail-disabled-member': comment.extIsDisabledMember}"
       ng-repeat="comment in comments" id="{{comment.id}}">
    <div class="comment-item__thumbnail">
      <img class="user-profile user-thumb-sm cursor_pointer"
           ng-src="{{ comment.extProfileImg }}"
           ng-click="onMemberClick(comment.extWriter);"/>
    </div>
    <div class="comment-item-header">
      <span class="comment-item-header__name" ng-click="onMemberClick(comment.extWriter)">{{comment.extWriterName}}</span>
      <span class="comment-item-header__created">{{comment.extCreateTimeView}}</span>
      <div class="comment-item-header__action pull-right" ng-if="!comment.isSendingComment">
        <div class="comment-item-action comment-item-action-more"
             ng-if="hasOwnComment(comment)"
             dropdown
             is-open="comment.extIsOpen">
          <a href="#" class="link-dark" dropdown-toggle>
            <i class="icon-cog"></i>
          </a>
          <ul class="dropdown-menu grey-dropdown"
              dropdown-menu
              dropdown-position
              template-url="app/util/directive/dropdown-position/templates/right.file.detail.comment.html">
          </ul>
        </div>
        <div class="comment-item-action comment-star"
             ng-if="!comment.extIsSticker"
             ng-class="{'show-inline-block': comment.isStarred}">
          <a class="link-dark cursor_pointer">
            <i ng-class="comment.isStarred ? 'icon-star-on' : 'icon-star-off'" star-view="comment.isStarred" star-view-id="comment.id"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="comment-item-body">
      <div class="sticker size_5" ng-if="::comment.extIsSticker" ng-style="::{'background-image': 'url({{::comment.content.url}})'}"></div>
      <span class="comment selectable keep" ng-if="::!comment.extIsSticker" ng-bind-html="comment.content.body"></span>
    </div>
  </div>

  <div class="error-comment-item comment-item" ng-repeat="comment in errorComments"
       ng-class="{'file-detail-disabled-member': comment.extIsDisabledMember}">
    <div class="comment-item__thumbnail">
      <img class="user-profile user-thumb-sm cursor_pointer"
           ng-src="{{ comment.extProfileImg }}" />
    </div>
    <div class="comment-item-header">
      <span class="comment-item-header__name" ng-click="onMemberClick(comment.extWriter)">{{comment.extWriterName}}</span>
      <span class="comment-item-header__created">{{comment.extCreateTimeView}}</span>
      <div class="comment-item-header__action pull-right">
        <div class="comment-item-action comment-item-action-more" dropdown ng-if="hasOwnComment(comment)">
          <a href="#" class="link-dark" dropdown-toggle>
            <i class="icon-cog"></i>
          </a>
          <ul class="comment-item-dropdown dropdown-menu grey_dropdown" role="menu">
            <li class="cursor_pointer">
              <a ng-click="deleteSendingComment($index)">
                <i class="icon-trash"></i>
                <span>{{::'@btn-delete'|translate}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="comment-item-body">
      <span ng-if="::comment.extIsSticker">
        <div class="sticker size_5"  ng-style="::{'background-image': 'url({{::comment.content.url}})'}"></div>
        <span class="msg-item-header__retry cursor_pointer" ng-click="retry($index, comment)">
          <i class="icon-refresh"></i> Retry
        </span>
      </span>
      <span ng-if="::!comment.extIsSticker">
        <span class="comment selectable keep" ng-bind-html="::comment.content.body"></span>
        <span class="msg-item-header__retry cursor_pointer" ng-click="retry($index, comment)">
          <i class="icon-refresh"></i> Retry
        </span>
      </span>
    </div>
  </div>
</div>
