.rpanel-body .search-result-container .search-result-summary-ing > span {
  display: inline-block;
}

.rpanel-body .search-result-container .search-result-summary-ing .loading_bar {
  display: inline-block;
  top:14px;
  left:-12px;
}

.scroll_loading_bar {
  left: auto;
  margin: 15px auto !important;
}
