.search-result-container {
  /*position: absolute;*/
  top: 135px;
  left: 0;
  right: 0;
  color: #999999;
  background-color: #fff;
  /*border-bottom:1px solid #E1E1E1;*/
}

.search-result-container .search-result-summary-ing > span {
  display: inline-block;
}

.search-result-container .search-result-summary-ing .loading_bar {
  display: inline-block;
  top:14px;
  left:-12px;
}

.search-result-container .search-result-summary-ing,
.search-result-container .search-result-summary {
  padding: 14px 0 13px 16px;
  /*padding-top:0px;*/
  border-bottom:1px solid #E1E1E1
 /* padding-bottom:1px;*/
}
.search-result-container .search-result-summary {
  /*margin-left: 16px;*/
}
.search-result-container .search-result-summary .searchQueryKeyword {
  font-weight: bold;
  margin-right: 0.075em;
  color:#6D6D6D;
}
.search-result-container .search-result-summary .searchQueryKeyword:lang(en),
.search-result-container .search-result-summary .searchQueryKeyword:lang(zh-tw),
.search-result-container .search-result-summary .searchQueryKeyword:lang(zh-cn) {
  margin-right: -0.1em;
}
.search-result-container .search-result-summary-ing .three-quarters-loader {
  position: absolute;
  left: 14px;
  top: 13px;
  width: 16px;
  height: 16px;
}

.loading_bar.scroll {
  left: auto;
  margin: 15px auto !important;
}
