.rpanel-body .search-result-container .search-result-summary-ing > span {
  display: inline-block;
}

.rpanel-body .search-result-container .search-result-summary-ing .three-quarters-loader {
  position: absolute;
  top:39px;
  left:-38px;
}
