<div class="comment-input-wrapper" ng-show="hasInitialLoaded && file">
  <div class="comment-item__thumbnail">
    <img class="user-profile user-thumb-sm cursor_pointer"
         ng-src="{{profileImage}}"
         ng-click="onMemberClick(member);"/>
  </div>

  <div class="input-container-over cursor_pointer">
    <sticker-layer name="file"></sticker-layer>
  </div>

  <div class="comment-input-body">
    <form id="comment-form">
      <div class="comment-textarea-wrap">
      <textarea class="comment-input"
                id="file-detail-comment-input"
                placeholder="{{::'@placeholder-input-message' | translate }}"
                message-submit="createComment()"
                jnd-elastic="comment"
                jnd-elastic-on-change="onCommentInputChange($event)"
                mentionahead
                mentionahead-type="comment"></textarea>
      </div>
    </form>
  </div>

  <div class="comment-input-footer">
    <div class="comment-input-buttons">
      <sticker-panel name="file" max-columns="3" dropdown-parent=".comment-input-wrapper .input-container-over"></sticker-panel>
      <i class="icon-at cursor_pointer" ng-class="{'open': isMentionaheadShow}" ng-click="onMentionIconClick()"></i>
    </div>
    <button class="comment-input-submit btn btn-ok" ng-class="{'active': hasMessage}" ng-click="createComment()" translate>
      전송
    </button>
    <div class="comment-input-description">
      <span translate>@msg-help-multiline</span>
    </div>
  </div>
</div>
