.file-detail .message-input-wrapper {
  position: relative;
  margin: 0 12px 15px 49px;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.file-detail .message-input-wrapper .comment-item__thumbnail {
  left: -38px;
}

.comment-textarea-wrap {
  position: relative;
}

#comment-form {
  position: relative;
}

.comment-input {
  width:100%;
  background:transparent;
  font-size: 14px;
  line-height:1.2rem;
  border: 0;
  -moz-background-clip:padding-box;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  color:#3d3c40;
  -webkit-appearance:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline:0;
  min-height:80px;
  padding:9px 0 9px 8px;
  overflow-y: hidden;
  resize: none !important;
  margin-top:0px;
  -webkit-transition: height .06s linear;
  transition: height .06s linear;
}

.comment-input:focus { -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }
.comment-input.offline { background-color:#fdf1c1; }
.comment-input__tip {
  color: #babbbf;
  font-size: .8rem;
}

.file-detail .message-input-footer .message-input-description {
  color: #a5a5a5;
}

/* sticker panel */
.file-detail .message-input-wrapper .input-container-over .sticker_panel {
  top: -254px;
  width: 265px;
}
.file-detail .message-input-wrapper .input-container-over .sticker_panel_contents {
  width: 100%;
  height: 211px;
}
.file-detail .message-input-wrapper .input-container-over .sticker_layer {
  top: -140px;
  width: 100.5%;
}

