<div class="mention-card" ng-click="onMentionCardClick($event)">
  <div class="mention-card-header">
    <div class="mention-profile">
      <img class="cursor_pointer" ng-src="{{::profileImage }}">
    </div>
    <div class="mention-meta">
      <div class="mention-title">
        <span class="mention-talker">{{::writerName}}</span>
        <span class="mention-date">{{::updateDate}}</span>
      </div>
      <div class="mention-start">
        <img class="file-icon" src="assets/images/fileicon_etc.png" ng-if="isComment"><span class="{{isComment ? 'comment-start' : 'topic-start'}}">{{::startPoint}}</span>
      </div>
    </div>
  </div>
  <div class="mention-card-body">
    <span compile="content || ''" ></span>
  </div>
</div>