.notification-setting-email .dropdown-selectbox {
  width: auto;
}
.notification-setting-email .notification-role {
  min-height: 124px;
}
.notification-setting-email .dropdown-selectbox button {
  padding-right:30px;
}

.notification-setting-email .setting {
  background: #f6f6f6;
  border:none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0 10px 10px;
}
