.modal.keyboard-shortcut-modal .modal-dialog{
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 860px;
  width: 90%;
  min-width: 368px;
  
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  
  
  -webkit-transform:translate(-50%, -50%) !important;
  -moz-transform:translate(-50%, -50%) !important;
  -o-transform:translate(-50%, -50%) !important;
  -ms-transform:translate(-50%, -50%) !important;
  transform:translate(-50%, -50%) !important;
  
  margin:0;
  
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}




.modal.keyboard-shortcut-modal .modal-content,
.modal.keyboard-shortcut-modal .modal-body {
  background-color:#FFF;
  
}
.modal.keyboard-shortcut-modal .modal-header {
  background-color:#FCFCFC;
  color: #949494;
  border-bottom: 1px solid #C4C4C4;
  height: 52px;
}
.modal.keyboard-shortcut-modal .modal-header .close {
  color: #949494;
  line-height: 27px;
  font-size: 16px;
}

.modal.keyboard-shortcut-modal .modal-header__title {
  font-size: 18px;
  line-height: 27px;
}

.modal.keyboard-shortcut-modal .modal-body {
  min-height: 320px;
  padding-top: 24px;
  padding-bottom: 24px;
}


.modal.keyboard-shortcut-modal .shortcut-list {
  float: left;
  width: 50%;
  border-right: 1px solid #E1E1E1;
  height: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.modal.keyboard-shortcut-modal .shortcut-list:first-child {
  padding-left:0;
}
.modal.keyboard-shortcut-modal .shortcut-list:nth-child(2) {
  border-right-width: 0px;
  padding-right:0;
}

.modal-body__column-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 18px;
  color: #C8CBCD;
  display: none;
}

.modal.keyboard-shortcut-modal .shortcut-list ul {
  list-style: none;
  margin: 0;
}
.modal.keyboard-shortcut-modal .shortcut-list ul li {
  line-height: 20px;
  margin-bottom: 8px;
}
.modal.keyboard-shortcut-modal .shortcut-list ul li:last-child {
  margin-bottom: 0;
}
.modal.keyboard-shortcut-modal .shortcut-list ul li span {
  font-size: 14px;
  color:#707478;
  line-height: 20px;
  float: left;
}

.modal.keyboard-shortcut-modal .shortcut-list ul li span.keylabel {
  width: calc(100% - 125px);
  max-width: 245px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal.keyboard-shortcut-modal .shortcut-list ul li span.divider {
  margin-left: 5px;
  margin-right: 2px;
}
.modal.keyboard-shortcut-modal .shortcut-list ul li span.keystyle {
  font-size: 12px;
  line-height: 12px;
  padding: 4px 4px;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #EFEFEF 100%);
  border: 1px solid #CECECE;
  border-radius: 3px;
  margin-left: 3px;
  min-width: 20px;
  text-align: center;
}


@media (max-width:768px) {
  .modal.keyboard-shortcut-modal .modal-dialog {
	top: 5%;
	-webkit-transform:translate(-50%, 0%) !important;
    -moz-transform:translate(-50%, 0%) !important;
    -o-transform:translate(-50%, 0%) !important;
    -ms-transform:translate(-50%, 0%) !important;
    transform:translate(-50%, 0%) !important;
  }
  .modal.keyboard-shortcut-modal .shortcut-list {
	width: 100%;
	border-right-width: 0;
	padding:0;
  }
  .modal.keyboard-shortcut-modal .shortcut-list ul li:last-child {
	margin-bottom: 8px;
  }
}