<!doctype html>
<!--[if lt IE 7]>      <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title data-ng-bind="'Welcome to JANDI'"></title>
  <link type="image/icon" rel="shortcut icon">

  <meta name="description" content="JANDI Web application">
  <meta name="keywords" content="JANDI, 잔디">
  <meta name="author" content="TossLab">
  <meta name="viewport" content="width=device-width">

  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../client/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="../../client/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../../client/bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <!-- injector:css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <link rel="stylesheet" href="../../client/app/background/background.css">
  <link rel="stylesheet" href="../../client/app/banner/desktop.notification.banner.css">
  <link rel="stylesheet" href="../../client/app/center/announcement/announcement.css">
  <link rel="stylesheet" href="../../client/app/center/center.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_input_box/center.chat.input.box.css">
  <link rel="stylesheet" href="../../client/app/center/help_messages/help.messages.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.title.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.text.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.unread.bookmark.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/text-sending/text.sending.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/entity.header.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/topic_description/topic.description.css">
  <link rel="stylesheet" href="../../client/app/disconnect/disconnect.css">
  <link rel="stylesheet" href="../../client/app/external_share/external.share.css">
  <link rel="stylesheet" href="../../client/app/header/header.css">
  <link rel="stylesheet" href="../../client/app/left/left.css">
  <link rel="stylesheet" href="../../client/app/left/member/member.css">
  <link rel="stylesheet" href="../../client/app/left/messages/messages.css">
  <link rel="stylesheet" href="../../client/app/left/topics/dropdown/left.folder.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/left/topics/folder/topic.folder.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topic/topic.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topics.css">
  <link rel="stylesheet" href="../../client/app/left/topics/tutorial/left.tutorial.folder.css">
  <link rel="stylesheet" href="../../client/app/loading/loading.center.css">
  <link rel="stylesheet" href="../../client/app/main.css">
  <link rel="stylesheet" href="../../client/app/mention/mention.view.css">
  <link rel="stylesheet" href="../../client/app/mobile/mobile.catcher.css">
  <link rel="stylesheet" href="../../client/app/modal/files/integration/integration.css">
  <link rel="stylesheet" href="../../client/app/modal/files/share/share.css">
  <link rel="stylesheet" href="../../client/app/modal/images/carousel/image.carousel.css">
  <link rel="stylesheet" href="../../client/app/modal/images/full_image/full.screen.image.css">
  <link rel="stylesheet" href="../../client/app/modal/lists/services/renderers/templates/modal.room.list.item.css">
  <link rel="stylesheet" href="../../client/app/modal/members/current_member_profile/current.member.profile.css">
  <link rel="stylesheet" href="../../client/app/modal/modal.css">
  <link rel="stylesheet" href="../../client/app/modal/rooms/quick_launcher/quick.launcher.css">
  <link rel="stylesheet" href="../../client/app/modal/settings/notification/setting.notification.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_change/team.change.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/invite_emails/invite.emails.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/team.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_member_list/team.member.list.css">
  <link rel="stylesheet" href="../../client/app/modal/terms/terms.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_create/topic.create.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_invite/topic.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_join/topic.join.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/comment_input/file.detail.comment.input.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/comments/file.detail.comments.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/file.detail.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/header/file.detail.header.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/meta/file.detail.meta.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/preview/file.detail.preview.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/title/file.detail.title.css">
  <link rel="stylesheet" href="../../client/app/right/file/file.css">
  <link rel="stylesheet" href="../../client/app/right/files/files.css">
  <link rel="stylesheet" href="../../client/app/right/mentions/mentions.css">
  <link rel="stylesheet" href="../../client/app/right/message/message.css">
  <link rel="stylesheet" href="../../client/app/right/right.css">
  <link rel="stylesheet" href="../../client/app/right/rpanel_search/rpanel.search.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.message/search.message.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.messages.css">
  <link rel="stylesheet" href="../../client/app/right/stars/stars.css">
  <link rel="stylesheet" href="../../client/app/signin/signin.css">
  <link rel="stylesheet" href="../../client/app/sticker/sticker.css">
  <link rel="stylesheet" href="../../client/app/tpl/503/503.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/tutorial.main.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/center/tutorial.center.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/completion/tutorial.completion.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/entity_header/tutorial.entity.header.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/dm/send/lecture.dm.send.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/comment/lecture.file.comment.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/upload/lecture.file.upload.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/menu/team/lecture.menu.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/profile/change/lecture.profile.change.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/topic/leave/lecture.topic.leave.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/left/tutorial.left.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/invitation/tutorial.modal.team.invitation.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/member_list/tutorial.modal.member.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/profile/tutorial.modal.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_create/tutorial.modal.topic.create.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_list/tutorial.modal.topic.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/profile/tutorial.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/purse/tutorial.purse.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/team/tutorial.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/top/tutorial.top.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/tutor/tutorial.tutor.css">
  <link rel="stylesheet" href="../../client/app/tutorial/tutorial.css">
  <link rel="stylesheet" href="../../client/app/tutorial/welcome/tutorial.welcome.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-common.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-icon.css">
  <link rel="stylesheet" href="../../client/app/util/css/spinners.css">
  <link rel="stylesheet" href="../../client/app/util/directive/custom-selectbox/jnd.selectbox.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.tooltip.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.version.css">
  <link rel="stylesheet" href="../../client/assets/components/google-code-prettify/prettify.css">
  <link rel="stylesheet" href="../../client/components/app/mention_ahead/mention.ahead.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/dialog.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/modal/modal.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/toast/toast.css">
  <!-- endinjector -->
  <!-- endbuild -->
  
  <link rel="stylesheet" href="keyboard-shortcut-modal.css">

  
</head>

<body jnd-main-key-handler
      active-notifier
      window-title-manager
      jnd-wrapper>
	      
<!--[if lte IE 9]>
  <![endif]-->
  
  <div class="modal-backdrop fade in" modal-animation-class="fade" modal-in-class="in" modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040;"></div>
  <div class="modal fade in keyboard-shortcut-modal" 
	   modal-animation-class="fade"
	   modal-in-class="in"
	   ng-click=""
	   modal-window="modal-window"
	   window-class=""
	   index="0"
	   animate="animate"
	   modal-animation="true"
	   style="z-index: 1050; display: block;">
    <div class="modal-dialog">
	    
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" ng-click="">
		    <i class="icon-delete"></i>
		  </button>
		  <h3 class="modal-header__title">
			<!-- translate:  -->
			<span translate="" class="">Keyboard Shortcuts</span></span>
		  </h3>
		</div>
		
		<div class="modal-body">
			
		  <section class="shortcut-list">
			<h3 class="modal-body__column-title">Basics</h3>
			<ul>
			  <li>
			    <span class="keylabel">Open Shortcut menu</span>
			    <span class="pull-right keystyle">/</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Jump</span>
			    <span class="pull-right keystyle">J</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Switch teams</span>
			    <span class="pull-right keystyle">T</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Invite member to a topic</span>
			    <span class="pull-right keystyle">I</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			</ul>
			
			<h3 class="modal-body__column-title">Message Composition</h3>
			<ul>
			  <li>
			    <span class="keylabel">Go to message input box</span>
			    <span class="pull-right keystyle">Enter</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Choose a sticker</span>
			    <span class="pull-right keystyle">E</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Upload file from my computer</span>
			    <span class="pull-right keystyle">U</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Multiline</span>
			    <span class="pull-right keystyle">Enter</span>
			    <span class="pull-right keystyle">Shift</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			</ul>
			
			<h3 class="modal-body__column-title">View</h3>
			<ul>
			  <li>
			    <span class="keylabel">Zoom in (text)</span>
			    <span class="pull-right keystyle">+</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  
			  <li>
			    <span class="keylabel">Zoom out (text)</span>
			    <span class="pull-right keystyle">-</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  
			  <li>
			    <span class="keylabel">Reset zoom (text)</span>
			    <span class="pull-right keystyle">0</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Scroll up (center panel)</span>
			    <span class="pull-right keystyle">PgUp</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Scroll down (center panel)</span>
			    <span class="pull-right keystyle">PgDn</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			</ul>
			
		  </section>
		  
		  <section class="shortcut-list">
			
			<h3 class="modal-body__column-title">Right Panel</h3>
			<ul>
			  <li>
			    <span class="keylabel">Toggle right panel</span>
			    <span class="pull-right keystyle">[</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Toggle to file drawer</span>
			    <span class="pull-right keystyle">F</span>
			    <span class="pull-right keystyle">Alt</span>
			    <span class="pull-right divider">or</span>
			    <span class="pull-right keystyle">1</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Toggle to message search</span>
			    <span class="pull-right keystyle">G</span>
			    <span class="pull-right keystyle">Alt</span>
			    <span class="pull-right divider">or</span>
			    <span class="pull-right keystyle">2</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Toggle to stars list</span>
			    <span class="pull-right keystyle">S</span>
			    <span class="pull-right keystyle">Alt</span>
			    <span class="pull-right divider">or</span>
			    <span class="pull-right keystyle">3</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Toggle to mentions list</span>
			    <span class="pull-right keystyle">M</span>
			    <span class="pull-right keystyle">Alt</span>
			    <span class="pull-right divider">or</span>
			    <span class="pull-right keystyle">4</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Cycle right panel to the left</span>
			    <span class="pull-right keystyle">,</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Cycle right panel to the right</span>
			    <span class="pull-right keystyle">.</span>
			    <span class="pull-right keystyle">Alt</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			</ul>
			
			<h3 class="modal-body__column-title">Advanced</h3>
			<ul>
			  <li>
			    <span class="keylabel">Lock Screen</span>
			    <span class="pull-right keystyle">L</span>
			    <span class="pull-right keystyle">Shift</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			  <li>
			    <span class="keylabel">Confirm (any open modal)</span>
			    <span class="pull-right keystyle">Enter</span>
			    <span class="pull-right keystyle">Cmd</span>
			    <div class="clear" style="clear: both;"></div>
			  </li>
			</ul>

		  </section>
		 
		  
		  <div class="clear" style="clear: both;"></div>
		  
		</div>
		<!-- END OF MODAL BODY  -->
	  </div>
	  
	</div>
	
  
</div>



<!--[if lte IE 9]>
<![endif]-->

<script>
  FileAPI = {
    debug   : false,
    cors    : true,
    jsUrl   : location.protocol + '//' + location.host + '/javascripts/FileAPI.min.js',
    flashUrl: location.protocol + '//' + location.host + '/etc/FileAPI.flash.swf'
  };
  
  
</script>

<!-- build:js(client) app/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,client}) app/app.js -->
<!-- injector:js -->
<!-- endinjector -->
<!-- endbuild -->
</body>
</html>
