.search-user .form-control {
  padding-right: 130px;
  z-index: 0;
}

.search-type-user {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 120px;
}

.search-type-user .btn {
  font-size: 13px;
  height: 24px;
  padding: 2px 24px 2px 8px;
  border-radius: 4px;
}

.search-type-user .btn .icon {
  top: 5px;
  font-size: 12px;
}

.search-type-user .dropdown-menu {
  font-size: 13px;
  margin-top: 1px !important;
}

.search-type-user .dropdown-menu .dropdown-menu-option {
  padding: 6px 10px;
}