.search-user .form-control {
  padding-right: 130px;
  z-index: 0;
}

.search-type-user {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 120px;
}

.search-type-user .btn {
  font-size: 13px;
  height: 24px;
  padding: 3px 24px 3px 10px;
}

.search-type-user .btn .icon {
  top: 5px;
}

.search-type-user .dropdown-menu {
  font-size: 13px;
}
