.tutorial-popover {
  position: absolute;
  min-width: 260px;
  max-width: 400px;
  z-index: 701;
  text-align: center;
  background-color: #fff;
  padding: 0;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tutorial-popover button.close {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #154a67;
  z-index: 702;
  outline: 0;
  font-size: 11px;
  margin-top: 6px;
  margin-left: 10px;
}

.tutorial-popover-video-container {
  background-color: white;
  position: relative;
  top: -3px;
  margin-top: 31px;
}
.tutorial-popover-image-container {
  text-align: center;
  margin: 15px auto 10px auto;
}
.tutorial-popover-image-container img {
  width: 260px;
  margin: 10px;
  border: 1px solid #e1e1e1;
}
.tutorial-popover-arrow {
  position:absolute;
  height: 14px;
  width: 14px;
  background-color: white;
  z-index: -1;
}

.tutorial-popover-arrow.top {
  left: 23px;
  top:-7px;
  border-top:1px solid #d1d1d1;
  border-right:1px solid #d1d1d1;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);

}
.tutorial-popover-arrow.left {
  left:-8px;
  border-left:1px solid #d1d1d1;
  border-top:1px solid #d1d1d1;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.tutorial-popover-arrow.bottom {
  bottom:-8px;
  border-bottom:1px solid #d1d1d1;
  border-left:1px solid #d1d1d1;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.tutorial-popover-title {
  max-width: 260px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-right: 0;
  margin-bottom:6px;
  top:1px;
  word-break: break-all; /*fallback*/
  margin: 0 auto 10px auto;
}

.tutorial-popover-title:lang(ko) {
  line-height: 23px;
  word-break: keep-all;
}
.tutorial-popover-title:lang(ja) {
  line-height: 23px;
}
.tutorial-popover-title:lang(en) {
  word-break: keep-all;
}
.tutorial-popover-content:lang(en) {
  word-break: keep-all;
}
.tutorial-popover-content {
  max-width: 260px;
  line-height: 21px;
  padding-left: 15px;
  padding-right: 15px;
  color: #777777;
  font-size: 14px;
  margin: 0 auto 10px auto;
  text-align: left;
}
.tutorial-popover-progress-container {
  position:relative;
  height:30px;
}

.tutorial-popover-progress-bar {
  height: 6px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 6px;
  left: 30px;
  width: calc(100% - 100px);
  border-radius: 6px;
  z-index: 0;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}
.tutorial-popover-percent {
  font-size:13px;
  font-weight: bold;
  color: #777777;
  position: absolute;
  right: 30px;
}
.tutorial-popover-progress-bar .progress-bar {
  background-color: #10B5ED;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 6px;
  background-size: 24px 24px;
}

.tutorial-popover-footer {
  padding-bottom: 22px;
}

