/*
  DISABLED INVITE
*/
/* body */
.invite-disalbed .modal-body {
  text-align: center;
  padding: 20px;
}
.invite-disalbed .modal-body img {
  padding-top: 30px;
}
.invite-disalbed .modal-body .disabled-desc {
  font-size: 16px;
  color: #575757;
  padding: 30px 40px 40px 25px;
  line-height: 24px;
}
/*
    ENABLED INVITE USER TO TEAM
*/
/* body */
.invite-enalbed .modal-body {
  padding: 20px 20px 14px 20px;
}
.invite-enalbed .modal-body > div {
  margin-bottom: 6px;
}
.invite-enalbed .modal-body .alert-jandi {
  margin: 0;
  color: #9b5050;
}

.invite-modal-content hr {
  border-top: 1px solid #d1d1d1;
}
.invites {
  max-height: 189px;
  overflow-y: auto;
}
.invite-btn {
  padding: 8px 12px 9px 10px;
  border-radius: 2px;
  text-align: center;
  height: 35px;
  width: 100%;
}
.invite-btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.invite-btn:hover,
.invite-btn:active {
  background-color: #154a67;
}
.add-invite {
  color: #999;
  background-color: #fff;
  border: 1px solid #ccc;
}
.add-invite:focus,
.add-invite:hover,
.add-invite:active {
  color: #154a67;
  background-color: #d7e0e8;
}
.clip-invite,
.send-invite {
  color: #fff;
}
.clip-invite {
  padding-top: 7px;
  width: inherit;
  height: 33px;
}
.clip-invite.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.clip-invite:focus,
.clip-invite:hover,
.clip-invite:active,
.send-invite:focus,
.send-invite:hover,
.send-invite:active {
  color: #fff;
}
.send-invite.disabled {
  color: #999;
  background-color: #ccc;
  cursor: not-allowed;
}
.send-invite.disabled:focus,
.send-invite.disabled:hover,
.send-invite.disabled:active {
  color: #999;
}
.invites input[readonly] {
  cursor: default;
}
.invites .form-horizontal {
  padding-bottom: 6px;
}
.invites .form-horizontal:last-child {
  padding-bottom: 0;
}
.invites .form-horizontal input {
  color: #575757;
}
.invites .form-horizontal input.alert {
  border-color: #ff0000;
}
.invites .form-horizontal .alert-jandi {
  margin: 0;
  border-radius: 0 0 4px 4px;
}

/* footer */
.invite-enalbed .modal-footer.invite-done {
  border-top: 0;
}

/* footer > done */
.invite-enalbed .modal-footer.invite-done {
  border-top: 0;
}
.invite-enalbed .modal-footer.invite-done img{
  padding-bottom: 40px;
}
.done-invite {
  color: #fff;
}
.done-invite:focus,
.done-invite:hover,
.done-invite:active {
  color: #fff;
}

/* footer > progress */
.invite-enalbed .modal-footer {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  border-top: 1px solid #d1d1d1;
}
.modal-footer .invite-link-desc {
  font-size: 16px;
  color: #666;
}
.modal-footer .invite-link-copy {
  margin-top: 10px;
  margin-bottom: 18px;
}
.modal-footer .invite-link-copy .invite-public-link {
  width: 60%;
}
.modal-footer .invite-link-copy>* {
  display: inline-block;
}
.modal-footer .invite-contact-desc {
  font-size: 12px;
  color: #575757;
}
.modal-footer .invite-link-copy .btn-ok {
  color: white;
}
.modal-footer .invite-link-copy .btn-ok:hover {
  background-color: #154a67;
}

.modal-footer .invite-link-message {
  font-size: 15px;
  line-height: 22px;
  color: #154a67;
  background-color: #f2fbff;
  padding: 9px 25px;
  border-radius: 3px;
  border: 1px solid #d7e0e8;
  margin-bottom: 18px;
}