<!-- Modal: Invite to Team by Email -->

<div class="invite-modal-content" invitation-modal>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel();"><i class="icon-cancel"></i></button>
    <h3 class="modal-header__title">
      <span translate>@team-invite</span>
    </h3>
  </div>

  <div class="invite-disalbed" ng-show="inviteDisabled">
    <div class="modal-body">
      <img src="{{disabledImage}}">
      <div class="disabled-desc">
        <span translate>@invitation-disabled</span>
      </div>
    </div>
  </div>

  <div class="invite-enalbed" ng-hide="inviteDisabled">
    <div class="modal-body">
      <div id="invites" class="invites">

      </div>

      <div class="add-invite invite-btn cursor_pointer btn-ok" ng-click="add();">
        <span translate>@invitation-more-email</span>
      </div>
      <div class="send-invite invite-btn cursor_pointer btn-ok disabled" ng-click="send($event);">
        <span translate>@btn-send</span>
      </div>
    </div>

    <div class="modal-footer">
      <div class="progress-content">
        <div class="invite-link-desc">
          <span translate>@invitation-link-desc</span>
        </div>
        <div class="invite-link-copy">
          <input id="invite-link" class="invite-public-link form-control invite" type="text" value="{{seedUri}}" readonly="true">
          <div class="clip-invite invite-btn cursor_pointer btn-ok" ng-click="clipboard($event);">
            <span translate>@common-copy</span>
          </div>
        </div>
        <div class="invite-contact-desc"><span translate>@invitation-contact-desc</span></div>
      </div>
    </div>
  </div>
</div>

<div ng-include="templates.loading"></div>
<div ng-if="false">
  <span translate>@common-email</span>
  <span translate>@common-done</span>
  <span translate>@invitation-invaild-email</span>
  <span translate>@invitation-some-fail</span>
</div>