
.center-announcement-container {
  position: relative;
  z-index: 13;
  margin: 0;
  max-height: 50%;
  
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.10);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.10);
}
.center-announcement-container:hover {
  /*cursor: pointer;*/
}

.rpanel-show .scroll-gray .center-announcement-container {
  margin-right: 24px;
}


/* 최소화시 컨테이너 */
.center-announcement-container.center-announcement-container-hide {
  display: block;
  float: right;
  height: 80px;
  width: 86px;
  
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.center-announcement-container-hide .announcement-horn {
  top:14px;
  
  -webkit-transition: all 250ms cubic-bezier(0.625, 0.440, 0.195, 0.925);
  -moz-transition: all 250ms cubic-bezier(0.625, 0.440, 0.195, 0.925);
  -o-transition: all 250ms cubic-bezier(0.625, 0.440, 0.195, 0.925);
  -ms-transition: all 250ms cubic-bezier(0.625, 0.440, 0.195, 0.925);
  transition: all 250ms cubic-bezier(0.625, 0.440, 0.195, 0.925);
  
}

.announcement-horn {
  position: absolute;
  top:-60px;
  right: 28px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  border:1px solid rgba(21, 74, 103, 0.25);
  border-radius: 50%;
  
  background-color: rgba(255,255,255,0.9);

  color: #6E90A5;
  font-size: 26px;

  -webkit-box-shadow: 0 0 5px rgba(21, 74, 103, 0.15);
  -moz-box-shadow: 0 0 5px rgba(21, 74, 103, 0.15);
  -ms--moz-box-shadow: 0 0 5px rgba(21, 74, 103, 0.15);
  box-shadow: 0 0 5px rgba(21, 74, 103, 0.15);
  
  -webkit-transition: all 0ms cubic-bezier(0.805, 0.070, 0.195, 0.925);
  -moz-transition: all 0ms cubic-bezier(0.805, 0.070, 0.195, 0.925);
  -o-transition: all 0ms cubic-bezier(0.805, 0.070, 0.195, 0.925);
  -ms-transition: all 0ms cubic-bezier(0.805, 0.070, 0.195, 0.925);
  transition: all 0ms cubic-bezier(0.805, 0.070, 0.195, 0.925);
}

.announcement-horn:hover {
  background-color: rgb(246, 248, 249);
  border-color: rgba(21, 74, 103, 0.5);
  color: #285E7B;
}
.announcement-horn > i {
  margin-left: -3px;
}


/* 공지사항 컨테이너 */
.announcement-container {
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid #D9DDE0;
  padding: 18px 18px 0 18px;
  overflow-y: auto;
  
  max-height: 240px;
  
  -webkit-transition: background-color ease-in-out 250ms;
  -moz-transition: background-color ease-in-out 250ms;
  -o-transition: background-color ease-in-out 250ms;
  -ms-transition: background-color ease-in-out 250ms;
  transition: background-color ease-in-out 250ms;
}
.announcement-container:hover {
  background-color: rgba(255, 255, 255, 1);
}



/* 공지사항 컨텐츠 */
.announcement-header {
  font-size: 12px;
  color: #154a67;
  padding-bottom: 2px;
  margin-top: -2px;
}
.announcement-header .icon-clock{
  padding-left: 4px;
}
.announcement-owner__thumbnail {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 4px;
  background-color: #F1F4F8;
}
.announcement-owner__time {
  font-size: 12px;
  color: #999;
  margin-left: 4px;
}
.announcement-wrapper {
  padding-left: 50px;
}

.announcement-body-wrapper {
  padding-right: 20px;
  padding-bottom: 1px;
}

.announcement-body__content {
  font-size: 15px;
  color: #626262;
  line-height: 20px;
  margin: 1px 0 20px;
  
  -webkit-transition: color ease-in-out 150ms;
  -moz-transition: color ease-in-out 150ms;
  -o-transition: color ease-in-out 150ms;
  -ms-transition: color ease-in-out 150ms;
  transition: color ease-in-out 150ms;
  
}

.announcement-container:hover .announcement-body__content {
  color: #626262;
}


/* 더보기 & 접어두기 버튼 */

.announcement-body-wrapper .announcement-arrow-container {
  position: absolute;
  right: 22px;
  top: 39px;
  color: #6E90A5;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  
  display: none;
}
.announcement-arrow-container .announcement-minimize__arrow {
  color: #6E90A5;
  font-size: 11px;

}

.announcement-creator {
  float: left;
  display: inline;
  font-size: 13px;
  position: relative;
  padding-left: 20px;
}
.announcement-creator > i {
  position: absolute;
  top:16px;
  left: 0;
  font-size: 14px;
}
.announcement-creted__time {
  font-weight: 700;
  margin-right: 2px;
}

/* 펼쳐보기 옵션 버튼 */
.announcement-option-container {
  height: 48px;
  color: #6E90A5;
  
  background-color: #FFF;
  border-bottom: 1px solid #D9DDE0;
  border-top: 1px solid #E4E6E7;
  margin-top: -2px;
  position: relative;
  padding: 0 24px 0 20px;
  
  -webkit-box-shadow: 0 -1px 15px 5px #FFF;
  -moz-box-shadow: 0 -1px 15px 5px #FFF;
  box-shadow: 0 -1px 15px 5px #FFF;
}
.announcement-option-container > * {
  line-height: 46px;
}
.announcement-option {
  margin-left: 23px;
  padding-left: 24px;
  display: inline;
  position: relative;
  color: #6E90A5;
  font-size: 14px;
  font-weight: 700;
  
  opacity: 0.65;
  
  -webkit-transition:opacity ease-in-out 150ms;
  -moz-transition:opacity ease-in-out 150ms;
  -o-transition:opacity ease-in-out 150ms;
  -ms-transition:opacity ease-in-out 150ms;
  transition:opacity ease-in-out 150ms;
}
.announcement-option:hover {
  /* color: #154a67;*/
  opacity: 1;
}
.announcement-option.announcement-arrow-container {
  padding-left: 0;
  margin-left: 18px;
}
.announcement-option .maximized-announcement__icon {
  font-size: 17px;
  position:absolute;
  top:14px;
  left: 0;
}



/* 간략히보기 상태 */
.minimized.announcement-container {
  height: 71px;
  overflow-y: hidden;
  padding-bottom: 12px;
  cursor: default;
}
.minimized .announcement-wrapper {
  padding-bottom: 0;
  height: 40px;
}



.minimized .announcement-body,
.minimized .announcement-body__content {
  margin-bottom: 0;
  color: #808080;
  width: 100%;
  height: 20px;
  display: inline-block;
}
.minimized .announcement-arrow-container {
  display: block;	
}
.minimized .announcement-body-wrapper {
  padding-right: 80px;
  padding-bottom: 0;
}

.announcement-container.ng-leave {
  display: none;
}


@media (max-width:1200px) {
  /*.rpanel-show .announcement-option > span {
	visibility: hidden;
    width: 0px;
    display: inline-block;
  }
  */
  .rpanel-show  .announcement-creted__time {
	display: none;
  }
}

@media (max-width:833px) {
  .announcement-creted__time {
	display: none;
  }
}
