<div class="center-announcement-container overflow-ellipsis"
     ng-class="{
      'center-announcement-container-hide': isAnnouncementHided()
     }"
     ng-if="hasAnnouncement">

  
  <!-- hide 된 announcement  -->
  <div class="announcement-horn jnd-text-center pull-right jnd-cursor-pointer"
       ng-click="toggleAnnouncementStatus();">
	   <!--
	   ng-if="displayStatus.hide"
       ng-click="toggleAnnouncementStatus();">
       -->
    <i class="icon-bullhorn"></i>
  </div>


  <div class="announcement-container"
       ng-if="!displayStatus.hide"
       ng-class="{'minimized': displayStatus.minimized}"
       ng-click="onAnnouncementBodyClicked($event);">


    <!-- profile picture thumbnail  -->
    <div class="announcement-owner__thumbnail pull-left jnd-cursor-pointer"
         ng-click="onAnnouncementWriterClicked();">
      <div image-loader="{{announcementWriter.profilePic}}" image-is-square="true" image-class="user-profile user-thumb"></div>
    </div>

    <!-- announcement 내용을 감싸고 있는 디브  -->
    <div class="announcement-wrapper">

      <!-- announcement header -->
      <div class="announcement-header">
        <!--<i class="icon-user-fill"></i>-->
        <span class="announcement-owner__name msg-item-header__name jnd-cursor-pointer"
              ng-click="onAnnouncementWriterClicked();">
          {{announcementWriter.name}}
        </span>
        <!--<i class="icon-clock"></i>-->
        <span class="announcement-owner__time">
          {{announcementWriter.time | getyyyyMMddformat}}
        </span>
      </div>

      <div class="announcement-body-wrapper">

        <!-- announcement body -->
        <div class="announcement-body">

          <p class="keep announcement-body__content"
             ng-class="{'overflow-ellipsis': displayStatus.minimized}"
             ng-bind-html="announcementBody"></p>
        </div>
        
        <!-- announcement 오른쪽 위 화살표 -->
		<div class="announcement-arrow-container announcement-option jnd-cursor-pointer"
         	 ng-click="onAnnouncementArrowClicked();">
		  <i class="announcement-minimize__arrow"
		  	 ng-class="{'icon-arrow-up-fill': !displayStatus.minimized,
                      'icon-arrow-down-fill': displayStatus.minimized}"></i>
		  <span>더보기</span>
    	</div>

      </div>

    </div>

    

  </div>
  
  <!-- announcement 옵션들 -->
  <div class="announcement-option-container"
       ng-if="!displayStatus.minimized && !displayStatus.hide">
    
    <div class="announcement-creator"
               ng-if="!displayStatus.minimized">
            <i class="icon-bullhorn-fill"></i>
            by
            <span class="announcement-creator__name jnd-cursor-pointer"
                  ng-click="onAnnouncementCreatorClicked();">
              {{announcementCreator.name}}
            </span>
            
            <span class="announcement-creted__time">
            -
            {{announcementCreator.time | getyyyyMMddformat}}
            </span>
    </div>
    
    <!-- announcement 오른쪽 위 화살표 -->
    <div class="announcement-arrow-container announcement-option pull-right jnd-cursor-pointer "
         ng-click="onAnnouncementArrowClicked();">
      <i class="announcement-minimize__arrow"
         ng-class="{'icon-arrow-up-fill': !displayStatus.minimized,
                      'icon-arrow-down-fill': displayStatus.minimized}"></i>
      <span>접어두기</span>
    </div>
    
    <!-- 삭제하기 -->
    <div class="announcement-delete-container announcement-option pull-right jnd-cursor-pointer"
         ng-click="deleteAnnouncement();">
      <i class="icon-trash maximized-announcement__icon"></i>
      <span class="maximized-announcement-icon__text" translate>
        @btn-delete
      </span>
    </div>
    
    <!-- 최소화하기 -->
    <div class="announcement-hide-container announcement-option pull-right jnd-cursor-pointer"
         ng-click="toggleAnnouncementStatus();">
      <i class="icon-minimize maximized-announcement__icon"></i>
      <span class="maximized-announcement-icon__text" translate>
        @announcement-hide
      </span>
    </div>

  </div>
  
  <span ng-if="false" translate>@announcement-create-confirm</span>
  <span ng-if="false" translate>@announcement-delete-confirm</span>
</div>
