.common-announcement-size-padding {
  padding-right: 12px;
  padding-left: 12px;
}

.center-announcement-container {
  position: relative;
  z-index: 13;
  margin: 10px 15px 10px 10px;
  max-height: 50%;
  /*min-height: 132px;*/
}

.center-announcement-container.center-announcement-container-hide {
  position: absolute;
  right: 0;
}

.rpanel-show .scroll-gray .center-announcement-container {
  margin-right: 24px;
}

.center-announcement-container__inner {

}
.announcement-horn {
  width: 48px;
  height: 48px;
  line-height: 48px;
  margin: 8px;

  border-radius: 48px;

  opacity: 0.9;
  
  background-color: rgba(255,255,255,0.7);

  color: #154a67;
  font-size: 20px;

  -webkit-box-shadow: 0 0 5px rgba(54, 100,128, 0.4);
  -moz-box-shadow: 0 0 5px rgba(54, 100, 128, 0.4);
  box-shadow: 0 0 5px rgba(54, 100, 128, 0.4);
}

.announcement-horn:hover {
  opacity: 1;
  background-color: #d7e0e8;
}

.minimized.announcement-container {
  /*background-color: rgba(215, 224, 232, 0.3);*/
}
.announcement-container {
  background-color: rgba(215, 224, 232, 0.9);

  border: 1px solid #f1f4f8;
  border-radius: 10px;

  padding-top: 12px;

  position: relative;
  /*min-height: 92px;*/
}
.announcement-container:hover {
  background-color: rgba(215, 224, 231, 1);
}

.announcement-container.minimized {
  padding-bottom: 8px;
  /*min-height: ;*/
}
.announcement-arrow-container {
  position: absolute;
  right: 20px;
  top: 20px;
}
.announcement-minimize__arrow {
  color: #154a67;
  font-size: 18px;
}

.announcement-inner {
  position: relative;
  min-height: 36px;
}

.announcement-owner__thumbnail {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  overflow: hidden;
  margin-left: -1px;
}

.announcement-wrapper {
  padding-left: 44px;
  padding-bottom: 40px;
}
.minimized .announcement-wrapper {
  padding-bottom: 0;
}
.announcement-header {
  font-size: 12px;
  color: #154a67;
  padding-bottom: 2px;
}
.announcement-header .icon-clock{
  padding-left: 4px;
}

.minimized .announcement-body {
  margin-bottom: 0;
}
.announcement-body-wrapper {
  overflow-y: auto;
  padding-right: 35px;
}

.announcement-body__content {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  margin: 0;
}
.announcement-creator {
  margin: 10px 0;
  font-size: 12px;
  color: #999999;
}
.announcement-creator__name {
  font-weight: 700;
}
.announcement-option-container {
  height: 40px;
  line-height: 40px;

  border-top: 1px solid white;

  color: #154a67;

  position: absolute;
  bottom: 0;
  left:0;
  right: 0;

  padding-right: 18px;
}
.announcement-option {
  margin-left: 30px;
  color: #3A687F;
}
.announcement-option:hover {
  color: #154a67;
}
.maximized-announcement__icon {
  font-size: 14px;
  vertical-align: text-top;
}

.maximized-announcement-icon__text {
  font-size: 14px;
}
