<li ng-repeat="joinedEntity in joinEntities | orderBy: ['isStarred', '-name']: true track by $index"
    ng-class="{active: $state.params.entityId == joinedEntity.id}"
    data-ng-click="onTopicClicked(joinedEntity);"
  class="cursor_pointer">
  <a data-channel-id="{{joinedEntity.id}}">
      {{ joinedEntity.entityId }}
    <i class="icon-star left-star" ng-class="{'icon-star-fill': joinedEntity.isStarred}"
       data-ng-click="onStarClick(joinedEntity.type, joinedEntity.id);
                          $event.preventDefault(); $event.stopPropagation();"></i>

    <span class="inline-overflow-ellipsis left-panel__name"
          ng-class="{'has-unread-msg': joinedEntity.alarmCnt > 0}"
          ng-mouseenter="onTooltipShow($event, joinedEntity.name)"
          ng-mouseleave="onTooltipHide($event)"
          tooltip="{{tooltip}}"
          tooltip-placement="right-center-topic-title"
          tooltip-append-to-body="true"
          tooltip-trigger="show"
          >
      <i class="icon-private-group" ng-if="joinedEntity.type=='privategroups'"></i>
      {{joinedEntity.name}}
    </span>

    <badge content="{{joinedEntity.alarmCnt}}" group="topic" key="{{joinedEntity.id}}" entity="{{joinedEntity}}"></badge>
    <!--<span class="badge left-panel_badge green_badge pull-right">{{joinedEntity.alarmCnt}}</span>-->
  </a>
</li>
