<a data-channel-id="{{currentRoom.id}}" id="topic{{currentRoom.id}}" topic-draggable>
  <i class="icon-star-off left-star" ng-class="{'icon-star-on': currentRoom.isStarred}"
     data-ng-click="onStarClick(currentRoom.id);$event.preventDefault(); $event.stopPropagation();"></i>

    <span class="inline-overflow-ellipsis left-panel__name private-effect _topicName"
          ng-class="{'has-unread-msg': currentRoom.alarmCnt > 0, 'with-bell': isNotificationOff}"
          tooltip="{{currentRoom.name}}"
          tooltip-is-open="isTooltipShown"
          tooltip-trigger="none"
          tooltip-placement="right-center-topic-title"
          tooltip-append-to-body="true">

        {{currentRoom.name}}
    </span>

  <i class="noti-indicator"></i>
  <i class="icon-lock topic-setting-icon" ng-if="currentRoom.type=='privategroups'"></i>
  <i class="off-topic-notification-indicator icon-bell-slash topic-setting-icon" ng-if="isNotificationOff"></i>

  <badge content="currentRoom.alarmCnt" group="topic" key="currentRoom.id""></badge>
</a>
