/*Header*/
.hpanel {
    border-bottom: 1px solid #e1e1e1;
}
.header {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    min-width: 700px;
    padding-left: 20px;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);*/
}

.header > div {
    margin-right: 15px;
}
/*Search bar*/
.header-search {
    height: inherit;
    line-height: inherit;
}

/*Header toolbar*/
.header-toolbar {
    display: inline-block;
    height: inherit;
}

.header-toolbar-options,
.header-toolbar-toggle {
    display: inline;
    margin-right: 8px;
    font-size: 13px;
    position: relative;
}

.header-toolbar-toggle {
    margin-right: 0 !important;
    padding: 0 10px;
    border-left: 1px solid #e1e1e1;
}
.header-toolbar-toggle.green_background    {
    color: white;
}


/*
    old header stuff maybe to be used later in center panel. -jihoon
*/
.header-title {
    position:relative;
    height: inherit;
    line-height: inherit;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transitionDISABLED: .15s .2s ease-out;
    -moz-transitionDISABLED: .15s .2s ease-out;
    -o-transitionDISABLED: .15s .2s ease-out;
    transitionDISABLED: .15s .2s ease-out;
    -webkit-transitionDISABLED: .15s;
    -moz-transitionDISABLED: .15s;
    -o-transitionDISABLED: .15s;
    transitionDISABLED: .15s;
    max-width: 88%;
}
.header-title-info {
    max-width: 93%;
}
.header-title-info,
.header-title-member {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: inherit;
}

.header-title-info .star {
    visibility:hidden;
    color:#9e9ea6;
    -moz-opacity:1;
    -khtml-opacity:1;
    -webkit-opacity:1;
    opacity:1;
    -ms-filter:alpha(opacity=100);
    filter:alpha(opacity=100);
    display:block;
    position:absolute;
    top:.8rem;
    left:0px;
    padding:.5rem;
    text-shadow:none;
    font-size:.8rem;
}
.header-title-info:hover .star {
    visibility:visible;
}
.header-title-info .star:hover {
    color:#fc0;
}
.header-title-info .star.starred {
    visibility:visible;
    color:#fc0;
    -moz-opacity:.5;
    -khtml-opacity:.5;
    -webkit-opacity:.5;
    opacity:.5;
    -ms-filter:alpha(opacity=50);
    filter:alpha(opacity=50);
}
.header-title-info:hover .star.starred{
    visibility:visible;
    -moz-opacity:1;
    -khtml-opacity:1;
    -webkit-opacity:1;
    opacity:1;
    -ms-filter:alpha(opacity=100);
    filter:alpha(opacity=100);
}
.header-title-info:hover .header-title-info__name,
.header-title-info:hover .header-title-info__more {
    color: #1d1d1d;
}
.header-padding-for-prefix {
    padding-left: 16px;
}
.header-title-info-name-container {
    color:#555459;
    cursor:pointer;
    display:inline-block;
    height: inherit;
    width: 100%;
}
.header-title-info .prefix {
    color:#9e9ea6;
    padding-right:.1rem;
    font-weight:500;
    -webkit-transitionDISABLED:color .15s ease-out;
    -moz-transitionDISABLED:color .15s ease-out;
    -o-transitionDISABLED:color .15s ease-out;
    transitionDISABLED:color .15s ease-out;
    cursor:pointer;
    position: absolute;
    left:   0;
}
.header-title-info__name {
    width: 100%;
    padding-right: 15px;
}
.header-title-info__more {
    color:#9e9ea6;
    -webkit-transitionDISABLED:color .15s ease-out;
    -moz-transitionDISABLED:color .15s ease-out;
    -o-transitionDISABLED:color .15s ease-out;
    transitionDISABLED:color .15s ease-out;
    cursor:pointer;
    line-height: inherit;
    position: absolute;
    right: 0;
}
.header-title-info__more:hover {
    /*color: #000;*/
}
.header-title-info__dropdown {
    top: 50px;
}
.header-title-member__more {
    position: relative;
    padding-left: 20px;
    margin-left: 8px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.header-title-member__more:hover {

}
.header-title-member__more-icon {
    left: 0;
    bottom: 2px;
}
.header-title-member__dropdown {
    top: 50px;
    left: 7px;
}