/* Header */
.hpanel {
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
.header {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    min-width: 700px;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);*/
}
.header-navbar,
.header-toolbar {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    vertical-align: top;
}
.header-navbar-menu,
.header-navbar-file,
.header-navbar-settings {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 13px;
}
.header-navbar-menu.open,
.header-navbar-file.open,
.header-navbar-settings.open {
    background: #31c08a;
    color: #fff;
}
.header-navbar__topmenu {
    display: block;
    padding: 0 11px 0 14px;
}
.header-navbar__title {
    margin: 0 2px;
    line-height: 40px;
}
.header-navbar__dropdown {
    position: absolute;
    top: 34px;
    left: 12px;
    min-width: 200px;
}
.header-navbar__dropdown .icon_signout {
    position: absolute;
    top: 8px;
    left: 16px;
}
.header-navbar__dropdown .icon_invite {
    position: absolute;
    top: 9px;
    left: 17px;
}
.header-navbar__dropdown .icon_team {
    position: absolute;
    top: 11px;
    left: 17px;
}
.header-toolbar-toggle,
.header-toolbar-search {
    display: inline-block;
    vertical-align: top;
}
.header-toolbar-search {
    padding: 0 10px;
}
.header-toolbar-toggle {
    padding: 0 20px;
    border-left: 1px solid #e1e1e1;
    font-size: 13px;
}
.header-toolbar-toggle .icon-filebox {
    font-size: 16px;
    vertical-align: text-bottom;
}
.header-toolbar-toggle.green_background {
    color: white;
}


#fileTutorial {
    position: fixed;
    right: 85px;
    top: 15px;
}
