<div>
  <div class="tutorial_dimm"
      ng-class="{
        'bottom_file_icon': step < 2,
        'center_file_msg': step === 2
      }">
  </div>
  <div ng-if="step === 1" class="tutorial_dropdown menu_file_upload" id="file-upload-menu">
    <ul>
      <li>
        <a class="enabled" ng-click="onClickUpload()"><i class="item-icon icon-notebook"></i><span translate>@file-upload-computer</span></a>
      </li>
      <li>
        <a class="enabled" ng-click="onClickUpload()"><i class="item-icon icon-google-drive"></i><span translate>@file-upload-google-drive</span></a>
      </li>
      <li>
        <a class="enabled" ng-click="onClickUpload()"><i class="item-icon icon-dropbox"></i><span translate>@file-upload-dropbox</span></a>
      </li>
    </ul>
  </div>

  <tutorial-purse options="purse"></tutorial-purse>
</div>
