<div class="help-messages-container cursor_pointer" ng-click="onButtonClicked($event);">

  <!-- WHEN I'M THE ONLY ONE IN ROOM  -->
  <div class="help-messages__img" ng-class="helpImageClass"></div>

  <div class="help-messages__heading">
    {{ helpMessages.heading }}
  </div>

  <div class="help-messages__message">
    {{ helpMessages.message }}
  </div>

  <div ng-if="isButtonRequired" class="help-messages__button btn btn-ok">
    {{ helpButtonText }}
  </div>

  <span ng-if="false" translate>@emptyMsg-your-file-drawer-is-empty-heading</span>
  <span ng-if="false" translate>@emptyMsg-click-to-share-file</span>

  <span ng-if="false" translate>@emptyMsg-you-are-all-alone-heading</span>
  <span ng-if="false" translate>@emptyMsg-click-to-invite-to-current-topic</span>

  <span ng-if="false" translate>@emptyMsg-start-chatting-heading</span>

  <span ng-if="false" translate>@emptyMsg-no-team-member-joined</span>
  <span ng-if="false" translate>@emptyMsg-click-to-invite-to-current-team</span>

</div>



