.private-topic-icon {
  width: 9px;
  height: 12px;
  display: inline-block;
  opacity: 0.6;
  background-size: 9px 12px;
}
.active .private-topic-icon {
  opacity: 1;
}
.tooltip.right-center-topic-title.in {
  opacity: 1;
}
.right-center-topic-title .tooltip-inner {
  font-size: 13px;
  color: #333333;
  background-color: #f4f4f4;
  padding: 5px;
  box-shadow: 0px 0px 4px #cbcbcb;
}
