<div>
  <!--    HEADER  -->
  <div class="lpanel-list__header topic-header cursor_pointer" ng-click="onTopicHeaderClick($event);"
       ng-class="{'collapsed': leftListCollapseStatus.isTopicsCollapsed}"
       tutorial-tooltip="{{::'@tutorial-tooltip-1'|translate}}"
       tutorial-tooltip-placement="bottom"
       tutorial-tooltip-name="topic"
       tutorial-tooltip-class="tutorial-tooltip-topic">

    <i class="fa lpanel-collapse-arrow" ng-class="{'icon-arrow-up-fill': !leftListCollapseStatus.isTopicsCollapsed,
                                                  'icon-arrow-down-fill': leftListCollapseStatus.isTopicsCollapsed}"></i>

    <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-topics</span>


    <div class="lpanel-list-option pull-right" ng-click="openModal('channel'); $event.stopPropagation(); $event.preventDefault();"
         tooltip="{{'@create-new-topic-tooltip' | translate}}" tooltip-placement="top" tooltip-append-to-body="true">
      <i class="icon-plus"></i>
    </div>

    <div class="lpanel-list-option pull-right" ng-click="openModal('join'); $event.stopPropagation(); $event.preventDefault();"
         tooltip="{{'@browse-more-topics' | translate}}" tooltip-placement="top" tooltip-append-to-body="true">
      <i class="icon-reorder"></i>
    </div>
    <span class="left-header-badge">
      <badge content="{{totalAlarmCnt}}" group="header" key="0"></badge>
    </span>
    <!--<div class="lpanel-list-option-cog pull-right" ng-click="createTopicFolder($event);">-->
      <!--<i class="fa fa-cog"></i>-->
    <!--</div>-->

  </div>
  <!-- TOPICS -->
  <div class="lpanel-list__topics">
    <div id="topics-list">
      <div ng-repeat="folder in folderData.folderList">
        <topic-folder></topic-folder>
      </div>
    </div>
  </div>
  <div ng-if="false">
    <span translate>@folder-item-already-exists</span>
    <span translate>@folder-rename</span>
    <span translate>@folder-remove</span>
    <span translate>@folder-new</span>
    <span translate>@folder-enter-name</span>
    <span translate>@folder-name-taken</span>
  </div>
</div>
