<page-tracker page="topic/profile" title="Member Profile"></page-tracker>
<!-- Modal: Mini Profile View -->
<div class="modal-body profile-view-body">
  <div class="profile-view-general-container">
    <img class="user-profile__photo view" data-ng-src="{{ curBot.exProfileImg }}"/>
    <div class="user-profile__fullName">{{ curBot | getName }}</div>
    <div class="user-profile__nickName"></div>
  </div>

  <div class="profile-view-info-container" ng-if="!isDeactivatedUser">
    <div class="profile-view__info border-bottom_grey">
      <div class="info-title"><span translate>@common-department</span></div>
      <div class="info-content"></div>
    </div>
    <div class="profile-view__info border-bottom_grey">
      <div class="info-title"><span translate>@common-position</span></div>
      <div class="info-content"></div>
    </div>
    <div class="profile-view__info border-bottom_grey">
      <div class="info-title"><span translate>@common-phone</span></div>
      <div class="info-content"></div>
    </div>
    <div class="profile-view__info">
      <div class="info-title"><span translate>@common-email</span></div>
      <div class="info-content email"></div>
    </div>
  </div>

  <div class="profile-view-action-container">
    <div class="profile-view-action border-right_grey disabled-member-opac-overlay">
      <div class="profile-view-action__img">
        <i class="icon-mail"></i>
      </div>
      <div class="profile-view-action__text"><span translate>@common-send-mail</span></div>
    </div>

    <div class="profile-view-action disabled-member-opac-overlay">
      <div class="profile-view-action__img">
        <i class="icon-file"></i>
      </div>
      <div class="profile-view-action__text"><span translate>@common-file-list</span></div>
    </div>

    <div class="profile-view-action border-left_grey" ng-click="onDmClick();">
      <div class="profile-view-action__img">
        <i class="icon-chat"></i>
      </div>
      <div class="profile-view-action__text"><span translate>@common-chat-dm</span></div>
    </div>
  </div>

  <span ng-if="false">
    <span translate>@common-deleted-member-profile-msg</span>
  </span>
</div>
