.rpanel-search {
  padding-left: 11px;
  padding-top: 9px;
  height: 40px;
  background-color: #F9F9F9;
}

.rpanel-search .add-on-left {
  position: absolute;
  top: 13px;
  left : 18px;
  font-size: 18px;
}
.rpanel-search input.search-input {
  width: 380px;
  height: 26px;
  font-size: 13px;
  padding: 2px 12px 2px 25px;

  border: 1px solid #e1e1e1;
  border-radius: 22px;

  background-color: #fff;
}
.rpanel-search input:focus {
  border-color: #8EAFC3;
}
.rpanel-header-toolbar {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}
