.rpanel-search {
  /*padding: 8px 18px;*/
  padding-left: 18px;
  padding-top: 9px;
  height: 40px;
}

.rpanel-search .add-on-left {
  position: absolute;
  top: 14px;
  left : 26px;
}
.rpanel-search input {
  width: 436px;
  height: 22px;
  font-size: 12px;
  padding: 4px 12px 2px 30px;

  border: 1px solid #d2d2d2;
  border-radius: 22px;

  background-color: white;
}
.rpanel-header-toolbar {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}