.rpanel-search {
  /*padding: 8px 18px;*/
  padding-left: 13px;
  padding-top: 7px;
  height: 40px;
  background-color: #556979;
}

.rpanel-search .add-on-left {
  position: absolute;
  top: 12px;
  left : 24px;
  font-size: 16px;
}
.rpanel-search input {
  width: 449px;
  height: 26px;
  font-size: 13px;
  padding: 2px 12px 2px 30px;

  border: 1px solid #FFFFFF;
  border-radius: 22px;

  background-color: white;
}
.rpanel-search input:focus {
  border-color: #192d3e;
}
.rpanel-header-toolbar {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}
