  <div class="introduction-container">
    <h3 class="introduction-title" translate>@jnd-connect-160</h3>
              <span class="introduction-desc" translate>
                @jnd-connect-161
              </span>
    <div class="clear"></div>
  </div>

  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-147</span>
    <span class="introduction-desc" translate>@jnd-connect-162</span>
    <input class="setting-input form-control"
           jnd-input-model="formData.webhookUrl"
           jnd-is-trim="on"
           ng-click="selectInput($event)"
           readonly/>

    <span class="introduction-desc" ng-bind-html="'@jnd-connect-163'|translate"></span>
    <div class="introduction-code-view short">
      <div class="code-line indent-0depth"><span>Accept: application/vnd.tosslab.jandi-v2+json</span></div>
      <div class="code-line indent-0depth"><span>Content-Type: application/json</span></div>
    </div>
    <span class="introduction-desc" translate>
      @jnd-connect-164
    </span>
    <div class="clear"></div>
  </div>

  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-149</span>
    <span class="introduction-desc" translate>@jnd-connect-165</span>
    <div class="introduction-code-view">
	    
	  <table>
		<tbody>
	      <tr>
            <td class="code-line indent-0depth"><span>{</span></td>
	      </tr>
	      <tr>
            <td class="code-line indent-1depth">
              <span>"body" : "[[PizzaHouse]](http://url_to_text) You have a new Pizza order.",</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-1depth">
              <span>"connectColor" : "#FAC11B",</span>
		    </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-1depth">
              <span>"connectInfo" : [{</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-2depth">
              <span>"title" : "Topping",</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-2depth">
              <span>"description" : "Pepperoni",</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-1depth">
              <span>},</span>
		    </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-1depth">
              <span>{</span>
		    </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-2depth">
              <span>"title": "Location",</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-2depth">
              <span>"description": "Empire State Building, 5th Ave, New York",</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-2depth">
              <span>"imageUrl": "http://url_to_text"</span>
            </td>
	      </tr>
	      <tr>
		    <td class="code-line indent-1depth">
              <span>}]</span>
		    </td>
	      </tr>
	      <tr>
            <td class="code-line indent-0depth"><span>}</span></td>
	      </tr>
        
      </div>
	    </tbody>
	  </table>
	  
	  <table class="pull-right no-select">
		<tbody class="pull-right">
	      <tr>
            <td class="invisible">-</td>
	      </tr>
	      <tr>
            <td class="">
	          <span>//Body text (Required)</span>	        
            </td>
	      </tr>
		  <tr>
			<td class="">
	          <span>//Hex code color of attachment bar</span>	        
            </td>
		  </tr>
		  <tr>
            <td class="invisible">-</td>
	      </tr>
	      <tr>
		    <td class="">
              <span>//1st attachment area title</span>
            </td>
	      </tr>
	      <tr>
		    <td class="">
              <span>//1st attachment description</span>
            </td>
	      </tr>
	      <tr>
            <td class="invisible">-</td>
	      </tr>
	      <tr>
            <td class="invisible">-</td>
	      </tr>
	      <tr>
		    <td class="">
              <span>//2nd attachment area title</span>
            </td>
	      </tr>
	      <tr>
		    <td class="">
              <span>//2nd attachment description</span>
            </td>
	      </tr>
	      <tr>
		    <td class="">
              <span>//Image URL</span>
            </td>
	      </tr>
	      <tr>
            <td class="invisible">-</td>
	      </tr>
	      <tr>
            <td class="invisible">-</td>
	      </tr>
	      
	    </tbody>
	  </table>
	  
	</div>
	    

    <span class="introduction-desc" translate>@jnd-connect-166</span>
    <div class="introduction-code-view long">
      <div class="code-line indent-0depth">
	    <span>curl \</span>
      </div>
      <div class="code-line indent-2depth">
	    <span>-X POST <b>WebHookUrl</b> \</span>
      </div>
      <div class="code-line indent-2depth">
	    <span>-H "Accept: application/vnd.tosslab.jandi-v2+json" \</span>
      </div>
      <div class="code-line indent-2depth">
	    <span>-H "Content-Type: application/json" \</span>
      </div>
      <div class="code-line indent-2depth">
	    <span>--data-binary '{"body":"[[PizzaHouse]](http://url_to_text) You have a new Pizza order.","connectColor":"#FAC11B","connectInfo":[{"title":"Topping","description":"Pepperoni"},</span>
      </div>
      <div class="code-line indent-0depth">
	    <span>{"title":"Location","description":"Empire State Building, 5th Ave, New York","imageUrl":"Url_to_text"}]}'</span>
      </div>
    </div>
    <span class="introduction-desc" translate>@jnd-connect-167</span>
    <img class="example" src="assets/images/jnd-connect-introduction-webhook-example.png" />
    <span class="introduction-desc" ng-bind-html="'@jnd-connect-168'|translate"></span>

    <div class="clear"></div>
  </div>
