  <div class="introduction-container">
    <h3 class="introduction-title" translate>@jnd-connect-160</h3>
              <span class="introduction-desc" translate>
                @jnd-connect-161
              </span>
    <div class="clear"></div>
  </div>

  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-147</span>
    <span class="introduction-desc" translate>@jnd-connect-162</span>
    <input class="setting-input form-control"
           jnd-input-model="formData.webhookUrl"
           jnd-is-trim="on"
           ng-click="selectInput($event)"
           readonly/>

    <span class="introduction-desc" ng-bind-html="'@jnd-connect-163'|translate"></span>
    <div class="introduction-code-view short">
      <div class="code-line indent-0depth"><span>Accept: application/vnd.tosslab.jandi-v2+json</span></div>
      <div class="code-line indent-0depth"><span>Content-Type: application/json</span></div>
    </div>
    <span class="introduction-desc" translate>
      @jnd-connect-164
    </span>
    <div class="clear"></div>
  </div>

  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-149</span>
    <span class="introduction-desc" translate>@jnd-connect-165</span>
    <div class="introduction-code-view">
      <div class="code-line indent-0depth"><span>{</span></div>
      <div class="code-line indent-1depth">
        <span>body: '[[PizzaHouse]](http://url_to_text) You have a new Pizza order.',</span>
        <span class="pull-right">//Body text (Required)</span>
      </div>
      <div class="code-line indent-1depth">
        <span>connectColor: '#FAC11B'</span>
        <span class="pull-right">//Hex code color of attachment bar</span>
      </div>
      <div class="code-line indent-1depth">
        <span>connectInfo: [{</span>
      </div>
      <div class="code-line indent-2depth">
        <span>title: 'Topping',</span>
        <span class="pull-right">//1st attachment area title</span>
      </div>
      <div class="code-line indent-2depth">
        <span>description: 'Pepperoni'</span>
        <span class="pull-right">//1st attachment description</span>
      </div>
      <div class="code-line indent-1depth">
        <span>},</span>
      </div>
      <div class="code-line indent-1depth">
        <span>{</span>
      </div>
      <div class="code-line indent-2depth">
        <span>title: 'Location',</span>
        <span class="pull-right">//2nd attachment area title</span>
      </div>
      <div class="code-line indent-2depth">
        <span>description: 'Empire State Building, 5th Ave, New York',</span>
        <span class="pull-right">//2nd attachment description</span>
      </div>
      <div class="code-line indent-2depth">
        <span>imageUrl: 'http://url_to_text'</span>
        <span class="pull-right">//Image URL</span>
      </div>
      <div class="code-line indent-1depth">
        <span>}</span>
      </div>
      <div class="code-line indent-1depth">
        <span>]</span>
      </div>
      <div class="code-line indent-0depth">
        <span>}</span>
      </div>

    </div>

    <span class="introduction-desc" translate>@jnd-connect-166</span>
    <div class="introduction-code-view long">
      <div class="code-line indent-0depth"><span>curl -X POST https://webhookURL -d "{body: ''[PizzaHouse](http://url_to_text) You have a new Pizza order.'}"</span></div>
    </div>
    <span class="introduction-desc" translate>@jnd-connect-167</span>
    <img class="example" src="assets/images/jnd-connect-introduction-webhook-example.png" />
    <span class="introduction-desc" ng-bind-html="'@jnd-connect-168'|translate"></span>

    <div class="clear"></div>
  </div>
