  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-147</span>
    <span class="introduction-desc" ng-bind-html="'@jnd-connect-148'|translate"></span>
    <img src="assets/images/jnd-connect-introduction-jira-01.png" />
    <div class="clear"></div>
  </div>


  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-149</span>
    <span class="introduction-desc" ng-bind-html="'@jnd-connect-150'|translate"></span>
    <img src="assets/images/jnd-connect-introduction-jira-02.png" />
    <div class="clear"></div>
  </div>

  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-151</span>
    <span class="introduction-desc" ng-bind-html="'@jnd-connect-152'|translate"></span>
    <input class="setting-input form-control"
           jnd-input-model="formData.webhookUrl"
           jnd-is-trim="on"
           ng-click="selectInput($event)"
           readonly/>
    <div class="clear"></div>
  </div>

  <div class="introduction-container step">
    <span class="introduction-label shortcuts-label" translate>@jnd-connect-153</span>
    <span class="introduction-desc" ng-bind-html="'@jnd-connect-154'|translate"></span>
    <img src="assets/images/jnd-connect-introduction-jira-03.png" />
    <div class="clear"></div>
  </div>
