.topic-folder {
  position: relative;
}

.topic-folder.has-folder {
  background: #f2f2f2;
}

.topic-folder.has-folder ul {
  background: transparent;
}

.topic-folder.hover {
  background-color:#f2fbff;
}
.topic-folder.hover ul {
  background-color:#f2fbff;
}

.topic-folder-border {
  top: -3px;
  z-index: 730;
  position: absolute;
  height: 4px;
  width:100%;
  background: transparent;
}

.topic-folder-border.on{
  background: #00abe6;
  opacity: 0.5;
}

.topic-folder-area {
  margin-top: 2px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.topic-folder-title {
  font-size: 14px;
  line-height:28px;
  height: 28px;
}
.topic-folder-area ul {
  background: transparent;
}
.topic-folder-dropzone-active {
  min-height: 28px;
}

.topic-folder-draggable {
  bottom: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  overflow: hidden;
}