<div class="topic-folder"
     ng-class="{
     'has-folder': folder.id !== -1,
     'open': isExpand
     }">
  <div class="topic-folder-border _border">
    <!--upper line-->
  </div>
  <!--folder 에 포함되지 않은 영역일 때, 순서 변경 시 border 로 사용될 영역-->
  <div ng-if="::folder.id === -1" class="topic-folder-border" topic-folder-draggable="folder">
  </div>

  <!-- 모든 토픽이 foldering 되어 있을 경우, folder 에서 제거하기 위한 여백 공간 -->
  <div ng-if="hasEmptyArea" style="height: 12px;">
  </div>

  <div ng-if="!hasEmptyArea"
       ng-class="{'topic-folder-area': folder.id !== -1}">
    <!--folder title-->
    <div ng-if="::folder.id !== -1" class="topic-folder-title cursor_pointer"
         topic-folder-draggable="folder"
         ng-click="collapse()">
      <span class="topic-folder-area-icon">
        <i class="fa "
           ng-class="{
                'fa-folder-open-o': isOpen,
                'fa-folder-o': !isOpen
              }"></i>
      </span>
      <span class="topic-folder-title-text">
        <span class="_folderTitle private-effect"
            ng-class="{
              'topic-folder-current': folder.isCurrent
            }">{{folder.name}}</span>
        <input style="display:none"
               type="text"
               ng-mousedown="$event.stopPropagation()"
               ng-click="$event.stopPropagation()"
               placeholder="{{ ::'@folder-enter-name' | translate }}"/>
      </span>
      <span class="topic-folder-title-count private-effect">({{folder.entityList.length}})</span>
      <span class="topic-folder-badge _badge">
        <badge group="folder" key="{{folder.id}}" content="{{alarmCnt}}"></badge>
      </span>
      <span class="topic-folder-more"
          left-folder-dropdown
          ng-mouseenter="showTooltip($event);"
          ng-mouseleave="hideTooltip($event);">
        <i class="icon-more-fill cursor_pointer"></i>
      </span>
    </div>

    <!-- 토픽 리스트 -->
    <ul ng-if="folder.entityList.length"
        ng-style="{
      'display': isExpand ? 'block' : 'none'
    }">
      <li ng-repeat="joinedEntity in folder.entityList | orderBy: ['isStarred', '-name']: true track by joinedEntity.id"
          ng-class="{
            active: entityId == joinedEntity.id,
            invited: joinedEntity.extHasInvitedFlag
          }"
          data-ng-click="enterEntity(joinedEntity);"
          class="cursor_pointer">
        <topic current-room="joinedEntity"></topic>
      </li>
    </ul>
  </div>
</div>
