<div>
  <span class="writer">
    {{ message.memberId | getName}}
  </span>
  <span class="file-indicator" ng-if="isFile">
    <span class="type-icon" ng-class="{ 'icon-share': isShared,
                                        'icon-icon-unshare': isUnShared}">

    </span>
    <img class="file-icon" src="assets/images/fileicon_etc.png" ng-if="isComment"></span>
    <span class="file-title">{{ message.file.title }}</span>
  </span>

  <span class="message-content">{{ message.text }}</span>
</div>