<!-- Modal: Invite Members to Channel/Group -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel(); clear();"><i class="icon-delete"></i></button>
    <h3 class="modal-header__title">
        <span translate>@modal-dm-invite</span><span>: {{ currentEntity | getName }}</span>
    </h3>
</div>

<form name="user_to_channel_invite_form" data-ng-submit="onInviteClick(inviteChannelId);">
    <div class="modal-body">
        <h4 class="modal-body__description">
            <span translate>@modal-dm-invite-msg1</span>
        </h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">
                    <span translate>@common-dm-invite-to</span>
                </label>
                <div class="col-sm-9">
                  <jnd-selectbox-room jnd-data-model="inviteChannelId"
                                       jnd-data-list="inviteOptions"
                                       jnd-only-topics="yes"></jnd-selectbox-room>
                    <!--<select class="form-control"-->
                            <!--data-ng-model="inviteChannel"-->
                            <!--data-ng-options="channel as channel|getName group by channel.channel.typeCategory for channel in inviteOptions">-->
                        <!--<option value="">{{ '@option-choose' | translate }}</option>-->
                    <!--</select>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-ok pull-right _modalSubmit" type="submit" ng-disabled="!inviteChannelId" id="private_invite" value="{{ '@btn-invite' | translate }}"/>
        <button type="button" class="btn btn-cancel pull-right" data-ng-click="cancel(); clear();"><span translate>@btn-close</span></button>
    </div>
</form>

<jnd-loading></jnd-loading>
