.quick-launcher-modal .modal-content {
  opacity: .9;
  background-color: transparent;
}

.quick-launcher-modal .modal-dialog {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 500px;
  margin-left: -200px;
}

.quick-launcher-modal .modal-body {
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

.quick-launcher-modal .quick-launcher-search-box .input-group-addon{
  font-size: 22px;
  color: #333;
  background-color: #c1c1c1;
}

.quick-launcher-modal .quick-launcher-search-box .form-control{
  height: 52px;
  font-size: 18px;
  color: #999;
  background-color: #c1c1c1;
}

.quick-launcher-modal .quick-launcher-list {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

.quick-launcher-modal .empty-matches {
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

.quick-launcher-modal .empty-matches .empty-matches-msg {
  display: inline-block;
  max-width: 320px;
  min-width: 250px;
}

.quick-launcher-modal .empty-matches .empty-matches-button {
  margin-top: 20px;
  border: 0;
  /*color: #00abe6;*/
}

.quick-launcher-modal .empty-matches .empty-matches-button i.icon-plus {
  margin-right: 4px;
}

/* QUICK LAUNCHER BUTTONS */
.quick-launcher-modal .quick-launcher-buttons {
  height: 48px;
  border-top: 1px solid #e1e1e1;
}

.quick-launcher-buttons button {
  display: inline-block;
  width: 50%;
  padding: 0;
  line-height: 48px;
  float: left;
  text-align: center;
  border: 0;
  font-weight: 600;
  background-color: #c1c1c1;
}

.quick-launcher-buttons button i {
  margin-right: 7px;
}

.quick-launcher-buttons .browse-topic-button {
  border-right: 1px solid #e1e1e1;
  color: #666;
}

.quick-launcher-buttons .create-topic-button {
  color: #00abe6;
}

.quick-launcher-buttons .create-topic-button:hover,
.quick-launcher-buttons .browse-topic-button:hover {
  color: #e8f3f9;
}
