<page-tracker page="topic/browse" title="Browse Topics"></page-tracker>
<!-- Modal: Join Channel -->
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span translate>@modal-browse-ch</span>
  </h3>
</div>

<div class="modal-body">
  <div class="join-modal-search">
    <div class="input-group">
      <span class="input-group-addon"><i class="icon-search"></i></span>
      <input class="form-control"
             id="invite-member-filter"
             type="text"
             jnd-input-model="channelTitleQuery"
             placeholder="{{'@input-search-channel-name' | translate}}" />
    </div>
  </div>
  <div class="modal_topic_list" ng-click="onListClick();">
    <tabset class="list-tabs">
      <tab class="joinable-topic-list-container tab-title overflow-ellipsis" active="unJoinedChannelListActive" deselect="onTabDeselect('unJoinedChannel')">
        <tab-heading>
          <div translate>@modal-join-ch-you-can</div>
        </tab-heading>
        <list-on-modal type="unJoinedChannel"
                       list="unJoinedChannelList"
                       item-type="topic"
                       item-class="join-modal-channel_container"
                       model="channelTitleQuery"
                       filter="#invite-member-filter"
                       on-select="onSelect"
                       get-matches="getMatches"
                       activeted="unJoinedChannelListActive"
                       item-height="getItemHeight"
                       buffer-length="5"></list-on-modal>
        <div class="no-result-container" ng-show="joinableLength === 0">
          <span translate>@alert-no-result</span>
        </div>
      </tab>  <!-- END OF JOINABLE TOPIC LIST -->
      <tab class="joined-topic-list-container tab-title tab-title-overflow-ellipsis" active="joinedChannelListActive" deselect="onTabDeselect('joinedChannel')">
        <tab-heading>
          <span translate>@modal-join-ch-you-belong</span>
        </tab-heading>
        <list-on-modal type="joinedChannel"
                       list="joinedChannelList"
                       item-type="topic"
                       item-class="join-modal-channel_container"
                       model="channelTitleQuery"
                       filter="#invite-member-filter"
                       on-select="onSelect"
                       get-matches="getMatches"
                       activeted="joinedChannelListActive"
                       item-height="getItemHeight"
                       buffer-length="5"></list-on-modal>
        <div class="no-result-container" ng-show="joinedChannelList.length === 0">
          <span translate>@alert-empty-ch-belong</span>
        </div>
        <div class="no-result-container" ng-show="joinedChannelList.length !== 0 && joinedLength === 0">
          <span translate>@alert-no-result</span>
        </div>
      </tab>  <!-- END OF JOINED TOPIC LIST  -->
    </tabset> <!--  END OF TABSET -->
  </div>
</div>
<div class="modal-footer">
  <button class="new_channel_btn btn btn-ok pull-right" data-ng-click="newChannel();"><span translate>@common-create-ch</span></button>
  <button type="button" class="btn btn-cancel pull-right" data-ng-click="cancel()"><span translate>@btn-close</span></button>
</div>
<jnd-loading></jnd-loading>
