.join-modal-channel_container {
  position: absolute;
  width: 100%;
  padding: 15px 15px;
  font-size: 13px;
  line-height: 1;
}

.join-modal-channel_title {
  margin-bottom: 10px;
}
.join-modal-channel_title_area {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  max-width: 250px;
  line-height: 17px;
}
.join-modal-channel_title .icon-topic,
.join-modal-channel_title .icon-clock {
  margin-right: 4px;
}
.join-modal-channel_container .topic-description {
  line-height: 21px;
  height: 40px;
  max-width: 400px;
  margin-bottom: 13px;
  color: #575757;
  font-size: 14px;
  padding-left: 19px;
}

.join-modal-channel_container .icon-group {
  padding-right: 2px;
  padding-left: 1px;
}
.topic-general-info {
  line-height: 17px;
}
.topic-general-info > * {
  vertical-align: middle;
}
.topic-general-info .join-button {
  color: #00abe6;
  font-weight: 600;
}
.topic-general-info .join-button:hover {
  border-bottom: 1px solid #00abe6;
  font-weight: 800;
}
.topic-general-info .join-button:hover .icon-arrow-right {
  font-weight: 800;
}
.topic-general-info .join-button .icon-arrow-right {
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
}
.topic-general-info .join-modal-channel_creator {
  max-width: 230px;
}

.create_channel_on_top {
  float: right;
  color: white;
  margin-right: 15px;
  cursor: pointer;
  padding: 3px 5px;
  margin-top: -4px;
}

.create_channel_on_top:hover {
  text-decoration: underline;
}
