<div class="jandi-navbar navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="//www.jandi.com" target="_blank">
                <strong><img src="assets/images/header-logo.png" class="jandi-navbar__logo"></strong>
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="" data-ng-if="false">
                    <a href="#"><span translate>@common-customer-service</span> &RightArrow;</a>
                </li>
                <li data-ng-if="false">
                    <a href="//www.jandi.com"><span translate>@common-visit-homepage</span> &RightArrow;</a>
                </li>
            </ul>
        </div>

    </div>
</div>