/*****************************************

                 FILE LIST

********************************************/
.panel-title-container.file-detail {
  height: 41px;
  line-height: 41px;
}

.rpanel-body-content.file-detail {
  top: 35px;
}
.file__name {
  font-weight: 900;
  font-size: 1rem;
}
.file__owner {
  color: #4bbe2e !important;
  font-weight: 900;
}

.emo_menu{position:absolute;right:6px;top:6px;width:30px;height:30px;line-height:1.6rem;-moz-opacity:.6;-khtml-opacity:.6;-webkit-opacity:.6;opacity:.6;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);-webkit-transitionDISABLED:opacity .1s .2s ease-out;-moz-transitionDISABLED:opacity .1s .2s ease-out;-o-transitionDISABLED:opacity .1s .2s ease-out;transitionDISABLED:opacity .1s .2s ease-out;-webkit-transitionDISABLED:opacity .1s;-moz-transitionDISABLED:opacity .1s;-o-transitionDISABLED:opacity .1s;transitionDISABLED:opacity .1s;z-index:1}
.emo_menu:hover,.emo_menu:active{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);comment-item-header__action__icon:none}



.file-upload__dropdown {
  width: 180px;
  top: 25px;
}
.file-upload__dropdown-list {
  position: relative;
}
.file-upload__dropdown-list:hover,
.file-upload__dropdown-list:hover a {
  cursor: pointer;
  background-color: #31c08a;
  color: #fff;
}

.file-uploader-tab {
  font-size: 12px;
  padding: 8px 10px;
  margin: 0;
  line-height: normal;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.file-uploader-tab.active {
  background-color: #fff;
  color: #333;
}

.file-uploader-tab__more {
  margin-left: 4px;
  vertical-align: middle;
}
.file-uploader-dropdown {
  left: 175px;
  top: 25px;
}

.file-detail-body__image,
.file-detail-body__meta .fileicon,
.file-detail-body__meta .file-detail-body__meta-info,
.file-detail-body__meta .file-detail-body__meta-info-down,
.rpanel-detail-body-comment
{
  display: block;
  -webkit-animation: opacIn-from-0 0.5s; /* Chrome, Safari, Opera */
  animation: opacIn-from-0 0.5s;
}

.file-detail-body__image {
  display: inline-block;
}

.file-detail-body {
  padding: 15px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
}

.file-detail-body .image_wrapper.zoom-in {
  cursor: zoom-in;
}
.file-detail-body .image_wrapper img {
}
.file-detail-body .loading_bar {
  margin-top: 0;
  margin-bottom: 15px;
}
.file-item-body-title-author {
  max-width: 76px;
}
.file-detail-body__image {
  border: 1px solid #f5f5f5;
  max-width: 100%;
  cursor: -webkit-zoom-in;
}

.delete-item__msg {
  line-height: 3;
}

.file_action {
  cursor:pointer;
  color: #1C6C88;
  font-size: 20px;
}
.file_action:focus,
.file_action:hover {
  text-decoration: none;
  color: #154a67;
}
.fileicon-left {
  float: left;
  margin-top: 3px;
}

.file-detail-archive-status-container {
  text-align: center;
  padding: 15px 15px 15px 15px;
  font-size: 15px;
  color: #999999;
  line-height: 22px;
  background-color: white;
}
.file-detail-archive-status-container__inner {
  padding: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.archived-file-icon-center {
  margin: 17px auto;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.file-detail-disabled-member .file-detail-header__thumbnail,
.file-detail-disabled-member .comment-item__thumbnail {
  opacity: 0.4;
}
.file-detail-disabled-member .file-detail-header__writer,
.file-detail-disabled-member .comment-item-header__name {
  text-decoration: line-through;
  opacity: 0.4;
}
.archived-file__title {
  font-size: 15px;
  color: #b7b7b7;
}

.file-not-available-msg-container {
  margin: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  color: #575757;
}
/********************************************

                 STAR

********************************************/
.rpanel-body-content.file-detail .comment-star .icon-star-on,
.rpanel-body-content.file-detail .action-star .icon-star-on {
  color: #f9bb00;
}

.file-detail-body .no-image-preview {
  width: 370px;
  height: 141px;
  background-size: 370px 141px;
  cursor: default !important;
}
