<file-detail-title file="file"
                   has-initial-loaded="hasInitialLoaded"
                   is-archived-file="isArchivedFile"
                   back-to-prev-state="backToPrevState"></file-detail-title>
<div class="rpanel-body">

  <!-- FILE -->
  <div class="rpanel-body-content file-detail private-effect" ng-if="hasInitialLoaded" ng-class="{'archived-file-detail': isArchivedFile || isInvalidRequest}">
    <div class="file-detail-body-container">
      <page-tracker page="files/detail" title="File Detail"></page-tracker>
      <file-detail-header file="file"
                          download-url="downloadUrl"
                          original-url="originalUrl"
                          is-archived-file="isArchivedFile"
                          is-invalid-request="isInvalidRequest"
                          is-external-shared="isExternalShared"
                          is-admin="isAdmin"
                          is-integrate-file="isIntegrateFile"
                          on-member-click="onMemberClick"
                          back-to-prev-state="backToPrevState"></file-detail-header>
      <div class="file-detail-body">
        <file-detail-preview ng-if="!isArchivedFile && !isInvalidRequest"
                             file="file"
                             original-url="originalUrl"
                             is-external-shared="isExternalShared"
                             is-integrate-file="isIntegrateFile"></file-detail-preview>
        <file-detail-meta  file="file"
                           is-archived-file="isArchivedFile"
                           is-invalid-request="isInvalidRequest"></file-detail-meta>
      </div>
      <file-detail-comments ng-if="!isInvalidRequest"
                            file="file"
                            comments="comments"
                            error-comments="errorComments"
                            is-archived-file="isArchivedFile"
                            is-invalid-request="isInvalidRequest"
                            is-admin="isAdmin"
                            post-comment="postComment($comment, $sticker)"
                            on-member-click="onMemberClick"></file-detail-comments>
    </div>
    <file-detail-comment-input ng-if="!isArchivedFile && !isInvalidRequest"
                               file="file"
                               has-initial-loaded="hasInitialLoaded"
                               post-comment="postComment($comment, $sticker)"
                               set-mentions-getter="setMentionsGetter($getter)"
                               on-member-click="onMemberClick"></file-detail-comment-input>
  </div>
</div>
