<div class="rpanel-body message-list">
  <!-- SEARCH QUERY -->
  <right-search></right-search>

  <!--    ADVANCED SEARCH OPTION  -->
  <div class="advanced-search-option-container">
    <!--   장소  -->
    <div class="advanced-search-option__category">
      <div class="advanced-search-option__title">
        <span>{{::'@common-entity-location'|translate}}</span>
      </div>
      <jnd-selectbox-room jnd-data-model="messageLocationId"
                          jnd-has-all="yes"
                          jnd-has-disabled="yes"></jnd-selectbox-room>
    </div>
    <!--  END OF 장소 -->

    <!--   작성자  -->
    <div class="advanced-search-option__category">
      <div class="advanced-search-option__title">
        <span>{{::'@common-message-writer'|translate}}</span>
      </div>
      <jnd-selectbox-member jnd-data-model="messageWriterId"
                            jnd-data-list="selectOptionsUsers"></jnd-selectbox-member>
    </div>
    <!-- END OF FILE 작성자 -->
  </div>
  <!-- END OF ADVANDCE FILE SEARCH OPTION -->

  <div class="rpanel-body-content" infinite-scroll-bottom="searchMessages();">
    <div ng-if="!isSearchQueryEmpty">
      <right-loading-keyword-search search-status="searchStatus"></right-loading-keyword-search>

      <!--    MESSAGE WHEN THERE IS NO ITEM TO SHOW   -->
      <div class="break-word rpanel-alert-msg-container" ng-if="messageList.length==0 && !isSearching">
        <img class="rpanel-alert-msg-container__img" src="assets/images/message-search-no-result.png">

        <div class="rpanel-alert-msg-container__text">
          <div ng-if="!apiError">
            <span>{{::'@alert-no-messages-found'|translate}}</span>:
            <span class="search-keyword">{{searchQuery.q}}</span>
          </div>

          <div ng-if="apiError">
            <span>{{::'@common-api-error-msg'|translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rpanel-alert-msg-container no-search-input-container" ng-if="isSearchQueryEmpty" ng-click="setSearchInputFocus();">
      <img class="icon-search" src="assets/images/icon-search.png"/>
      <div class="rpanel-alert-msg-container__text">
        <span>{{::'@input-to-search'|translate}}</span>
      </div>
    </div>

    <div class="rpanel-message-list infinite-scroll-bottom-list">
      <right-message-group class="private-effect" ng-repeat="message in messageList"></right-message-group>
      <right-loading-list ng-if="isSearching && messageList.length > 0"></right-loading-list>
      <right-end-of-list ng-if="isEndOfList"></right-end-of-list>
    </div>
  </div>
</div>
