<div>
  <div class="tutorial_dimm"
      ng-class="{
        'dm_add': step === 0,
        'member_select': step === 1,
        'center': step === 2 || step === 6,
        'center_msg': step === 3,
        'center_msg_sticker': step === 4 || step === 5,
      }">
  </div>
  <div ng-if="step === 1">
    <tutorial-modal-member-list></tutorial-modal-member-list>
    <div class="tutorial_dm_member_item cursor_pointer"
         ng-click="onClickMember();">
    </div>
  </div>
  <div ng-if="step === 2" class="tutorial_input_center">
    <input type="text" id="tutorial_text_input" maxlength="200"
        ng-keydown="onKeyDown($event);"/>
  </div>
  <div ng-if="step === 5"
       class="tutorial_layer tutorial_sticker">
  </div>

  <tutorial-purse options="purse"></tutorial-purse>
</div>
