<div class="_selectbox">
  <div class="custom-select-box-btn"
      ng-click="toggleShow($event);">
    <i class="fa custom-selectbox-arrow icon-angle-down"></i>
    <span translate=""><span>{{selectedName || '모든 대화방'}}</span></span>
  </div>
  <div ng-if="isShown"
       class="custom-select-box shared-menu dropdown-menu active" style=""
      jnd-custom-focus="onChange"
      jnd-data-selected="selectedValue">

    <div class="custom-select-box__search-container">
      <span class="add-on-left"><i class="icon-search"></i></span>
      <input type="text"
             ng-keyup="onKeyUp($event);"
             class="form-control custombox-search__input search-input" placeholder="검색어를 입력하세요">
    </div>
    <!--검색-->
    <div ng-if="searchList.length" class="custom-select-box__search-result _container">

      <!-- saearc-result -->
      <div class="custom-select-box__search-result-items">
        <span translate class="ng-scope menulist-item-header"><span>{{searchList.length}} 개의 검색결과</span></span>

        <ul class="menulist-item-result">

          <li class="topic-title menu-item _selectable" ng-repeat="item in searchList">
            <a>
              <span translate=""><span ng-bind-html="item.extSearchName"></span></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--일반 리스트-->
    <div ng-if="!searchList.length" class="custom-select-box__menulist _container">
      <div ng-if="hasAll">
        <a class="select-all _selectable">
          <i class="icon-topic-fill"></i>
          <span translate=""><span>모든 대화방</span></span>
        </a>
      </div>

      <div class="custom-select-box__menulist-category">

        <!-- topic -->
        <div class="custom-select-box__menulist-items">
          <span translate class="ng-scope menulist-item-header"><span>토픽</span></span>

          <ul class="menulist-item-topics"
              ng-repeat="folder in folderData.folderList"
              ng-class="{
              'has-folder': folder.id !== -1
              }">
            <li ng-if="folder.id !== -1" class="folder-title">
              <a>
                <i class="fa fa-folder-open-o"></i>
                <span translate=""><span>{{folder.name}}</span></span>
              </a>
            </li>

            <li class="topic-title menu-item _selectable"
                ng-repeat="item in folder.entityList | orderBy: ['isStarred', '-name']: true">
              <a>
                <span translate=""><span>{{item.name}}</span></span>
              </a>
            </li>
          </ul>
        </div>


        <!-- direct message -->
        <div class="custom-select-box__menulist-items">
          <span translate class="ng-scope menulist-item-header">
            <span>1:1 메시지</span>
          </span>

          <ul class="menulist-item-dm">

            <li class="topic-title menu-item _selectable" ng-repeat="item in memberData.enabledList">
              <a>
                <span translate=""><span>{{item.name}}</span></span>
              </a>
            </li>
          </ul>

        </div>

        <!-- blocked -->
        <div ng-if="hasDisabled"
             class="custom-select-box__menulist-items toggle-menulist"
             ng-class="{
               'collapsed': !isShowDisabled
             }">
          <div ng-click="toggleDisabled();">
            <i class="fa custom-selectbox-arrow icon-angle-down"></i>
            <span translate class="ng-scope menulist-item-header"><span>차단된 멤버</span></span>
          </div>

          <ul ng-if="isShowDisabled" class="menulist-item-block">

            <li class="topic-title menu-item _selectable" ng-repeat="item in memberData.disabledList">
              <a>
                <span translate=""><span>{{item.name}}</span></span>
              </a>
            </li>
          </ul>

        </div>

      </div>

    </div>
  </div>
</div>