<div class="_selectbox private-effect">
  <div class="custom-select-box-btn"
       ng-class="{
        'active': isShown,
        'disabled': isDisabled
       }"
       ng-click="toggleShow($event);">
    <i class="fa custom-selectbox-arrow icon-angle-down"></i>
    <span>{{selectedName}}</span>
  </div>
  <div ng-if="isShown"
       class="custom-select-box member-menu dropdown-menu active" style=""
       jnd-custom-focus="onChange"
       jnd-callback-close="close"
       jnd-data-selected="selectedValue">

    <div class="custom-select-box__search-container">
      <span class="add-on-left"><i class="icon-search"></i></span>
      <input type="text"
             ng-model="searchKeyword"
             ng-keyup="onKeyUp($event);"
             class="form-control custombox-search__input search-input" placeholder="{{::'@input-to-search' | translate }}">
    </div>
    <!--검색-->
    <div ng-if="searchKeyword" class="custom-select-box__search-result _container">
      <!-- no-search-result container-->
      <div ng-if="!searchList.length" class="no-result-container">
        <!-- translate:  -->
        <span translate>@alert-no-result</span>
      </div>
      <!-- saearc-result -->
      <div ng-if="searchList.length" class="custom-select-box__search-result-items">
        <span class="menulist-item-header">{{searchList.length}}<span translate>@selectbox-query-matches</span></span>
        <ul class="menulist-item-result">
          <li class="menu-item" ng-repeat="item in searchList" ng-class="{
                      '_selectable': !item.isDisabled,
                      'item-disabled': item.isDisabled
                    }">
            <a>
              <span ng-bind-html="item.extSearchName"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--일반 리스트-->
    <div ng-if="!searchKeyword" class="custom-select-box__menulist _container">
      <div ng-repeat="item in list">
        <!-- group 일 경우 -->
        <div ng-if="item.groupName">
          <div class="custom-select-box__menulist-category">
            <!-- filetype -->
            <div class="custom-select-box__menulist-items">
              <span translate class="menulist-item-header">{{item.groupName}}</span>
              <ul class="menulist-item-result">
                <li class="menu-item"
                    ng-repeat="item in item.groupList"
                    ng-class="{
                      '_selectable': !item.isDisabled,
                      'item-disabled': item.isDisabled
                    }">
                  <a>
                    <span>{{ item.text }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-if="!item.groupName">
          <a class="select-all" ng-class="{
                      '_selectable': !item.isDisabled,
                      'item-disabled': item.isDisabled
                    }">
            <span>{{ item.text }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
