<div class="_selectbox private-effect">
  <div class="custom-select-box-btn"
       ng-class="{
        'active': isShown,
        'disabled': isDisabled
       }"
      ng-click="toggleShow($event);">
    <i class="fa custom-selectbox-arrow icon-angle-down"></i>
    <span>{{selectedName}}</span>
  </div>
  <div ng-if="isShown"
       class="custom-select-box shared-menu dropdown-menu active" style=""
       jnd-custom-focus="onChange"
       jnd-callback-close="close"
       jnd-data-key="id"
       jnd-data-selected="selectedValue">

    <div class="custom-select-box__search-container">
      <span class="add-on-left"><i class="icon-search"></i></span>
      <input type="text"
             ng-model="searchKeyword"
             ng-keyup="onKeyUp($event);"
             class="form-control custombox-search__input search-input" placeholder="{{::'@input-to-search' | translate }}">
    </div>
    <!--검색-->
    <div ng-if="searchKeyword" class="custom-select-box__search-result _container">
      <!-- no-search-result container-->
      <div ng-if="!searchList.length" class="no-result-container">
        <!-- translate:  -->
        <span translate>@alert-no-result</span>
      </div>

      <!-- saearc-result -->
      <div ng-if="searchList.length" class="custom-select-box__search-result-items">
        <span class="menulist-item-header">{{searchList.length}}<span translate>@selectbox-query-matches</span></span>

        <ul class="menulist-item-result">

          <li class="topic-title menu-item _selectable" ng-repeat="item in searchList">
            <a>
              <span ng-bind-html="item.extSearchName"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!--일반 리스트-->
    <div ng-if="!searchKeyword" class="custom-select-box__menulist _container">
      <div ng-if="hasAll">
        <a class="select-all _selectable">
          <i class="icon-topic-fill"></i>
          <span translate>@option-all-rooms</span>
        </a>
      </div>

      <div class="custom-select-box__menulist-category">

        <!-- topic -->
        <div class="custom-select-box__menulist-items">
          <span class="menulist-item-header"><span translate>@common-topics</span></span>

          <ul class="menulist-item-topics"
              ng-repeat="folder in folderData.folderList"
              ng-class="{
              'has-folder': folder.id !== -1
              }">
            <li ng-if="folder.id !== -1" class="folder-title">
              <a>
                <i class="fa fa-folder-open-o"></i>
                <span>{{folder.name}}</span>
              </a>
            </li>

            <li class="topic-title menu-item _selectable"
                ng-repeat="item in folder.entityList | orderBy: ['isStarred', '-name']: true">
              <a>
                <span>{{item.name}}</span>
              </a>
            </li>
          </ul>
        </div>


        <!-- direct message -->
        <div ng-if="!onlyTopics" class="custom-select-box__menulist-items">
          <span translate class="menulist-item-header">
            @user
          </span>

          <ul class="menulist-item-dm">

            <li class="topic-title menu-item _selectable" ng-repeat="item in memberData.enabledList | orderBy:'name'">
              <a>
                <span>{{item.name}}</span>
              </a>
            </li>
          </ul>

        </div>

        <!-- blocked -->
        <div ng-if="!onlyTopics && hasDisabled && memberData.disabledList.length"
             class="custom-select-box__menulist-items toggle-menulist"
             ng-class="{
               'collapsed': !isShowDisabled
             }">
          <div ng-click="toggleDisabled();">
            <i class="fa custom-selectbox-arrow icon-angle-down"></i>
            <span class="menulist-item-header"><span translate>@selectbox-disabled-members</span></span>
          </div>

          <ul ng-if="isShowDisabled" class="menulist-item-block">

            <li class="topic-title menu-item _selectable" ng-repeat="item in memberData.disabledList | orderBy:'name'">
              <a>
                <span><del>{{item.name}}</del></span>
              </a>
            </li>
          </ul>

        </div>

      </div>

    </div>
  </div>
</div>
