.custom-select-box-btn,
.advanced-search-option__category .custom-select-box-btn {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  height: 24px;
  font-size: 13px;
  background-color: white;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;

  -webkit-transition: background-color 150ms, box-shadow 150ms, border-color 150ms;
  -o-transition: background-color 150ms, box-shadow 150ms, border-color 150ms;
  -moz-transition: background-color 150ms, box-shadow 150ms, border-color 150ms;
  transition: background-color 150ms, box-shadow 150ms, border-color 150ms;
}
/*.custom-select-box-btn:hover,*/
/*.advanced-search-option__category .custom-select-box-btn:hover {*/
/*/!*background-color:#FCFCFC;*/
/*border-color:#CACACA;*!/*/
/*background-color:#FFFFFF;*/
/*border-color:#8EAFC3 !important;*/
/*cursor: pointer;*/
/*}*/
.custom-select-box-btn:hover,
.custom-select-box-btn.active {
  cursor: pointer;
  background-color:#EFEFEF;
  border-color:#BDC0C2;
}
.custom-select-box-btn.active {
  background-color:#E7E7E8;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.07);
}
.custom-select-box-btn.active span {
  color: #424C53;
}
.custom-select-box-btn.disabled,
.custom-select-box-btn.disabled:hover,
.custom-select-box-btn.disabled:active {
  background-color: #ECECEC;
  color: #BBB;
  border-color: #CBCBCB;
}
.item-disabled span{
  color: #CCC !important;
}
.custom-selectbox-arrow {
  position:absolute;
  top:8px;
  right:4px;
  font-size: 12px;
  
  -webkit-transform:rotate(0deg) translateY(0px);
  -ms-transform:rotate(0deg) translateY(0px);
  -o-transform:rotate(0deg) translateY(0px);
  transform:rotate(0deg) translateY(0px);
  -moz-transform:rotate(0deg) translateY(-1px);
  
  -webkit-transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
  -webkit-transition: -webkit-transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms; /* prefix for Safari */
  -moz--transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
  -o-transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
  -moz-transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
  transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
}
.custom-select-box-btn > .icon-angle-down {
  top: 5px;
}
.custom-select-box-btn.active > .icon-angle-down {
  -webkit-transform:rotate(-180deg) translateY(0px);
  -ms-transform:rotate(-180deg) translateY(0px);
  -o-transform:rotate(-180deg) translateY(0px);
  transform:rotate(-180deg) translateY(0px);
  -moz-transform:rotate(-180deg) translateY(-1px);
}

.custom-select-box-btn span {
  line-height: 22px;
  margin-left: 8px;
}

.custom-select-box {
  width:385px; /* 252px; */
  max-height: 380px;
  min-height: 90px;
  top:26px;
  left:-4px;
  display: none;
  opacity: 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  border-color:#D2D2D2;
  overflow: hidden;

  -webkit-transition: opacity ease-in-out .15s;
  -o-transition:opacity ease-in-out .15s;
  -moz-transition: opacity ease-in-out .15s;
  transition: opacity ease-in-out .15s;
}
.custom-select-box.shared-menu.active,
.custom-select-box.member-menu.active,
.custom-select-box.filetype-menu.active {
  left:8px;
}

.custom-select-box__search-container .custombox-search__input.search-input {
  border-radius: 22px ;
  box-shadow: none ;
  position: relative;
  padding-left: 28px;
  height: 26px;
  font-size: 13px;
}
.custom-select-box__search-container .custombox-search__input.search-input:focus {
  border-color: #8EAFC3;
  z-index: 5;
}

.custom-select-box__search-container > span.add-on-left {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 13px;
  z-index: 7;
}
.modal-dialog .custom-select-box-btn {
  margin-top:6px;
  margin-bottom:6px;
}
.modal-dialog .custom-select-box.active {
  top:34px;
  left:15px;
  width: 337px;
  background-color:#FFFFFF;
}
.modal-dialog .custom-select-box.active input.search-input {
  width: 316px;
}
.custom-select-box.active {
  padding-top: 0px !important;
  opacity: 1;
  display: block;
  top:126px;
}
.custom-select-box__search-container {
  padding:9px 10px 9px 9px;
  width: 100%;
  height: 47px;
  border-bottom:1px solid #e1e1e1;
  background-color: #F9F9F9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.custom-select-box__menulist,
.custom-select-box__search-result {
  overflow-y: auto;
  width: 100%;
  max-height: 332px;
  padding-bottom: 3px;
}
.custom-select-box__menulist .select-all {
  height: 32px;
  margin-top:4px;
  margin-bottom:4px;
  padding-left: 36px;
  border-width: 0;
}


/*.custom-select-box__menulist .select-all:hover,*/
/*.menulist-item-topics .menu-item:hover,*/
/*.menulist-item-dm .menu-item:hover,*/
/*.menulist-item-block .menu-item:hover,*/
/*.menulist-item-members .menu-item:hover,*/
/*.menulist-item-filetype .menu-item:hover,*/
/*.menulist-item-result .menu-item:hover {*/
  /*background-color: #e8f3f9;*/
  /*cursor: pointer;*/
/*}*/

.custom-select-box__search-result-items .active,
.custom-select-box__menulist .active {
  background-color: #e8f3f9;
  cursor: pointer;
}

.custom-select-box__search-result-items .selected,
.custom-select-box__menulist .selected {
  background-color: #F1F4F8;
  cursor: pointer;
}

.custom-select-box__menulist .select-all i {
  position: absolute;
  top:5px;
  left:10px;
  font-size: 19px;
  color:#A0A0A0;
}
.select-all i.icon-topic-fill {
  font-size: 16px;
  top:7px;
}
.select-all i.icon-file-fill {
  font-size: 15px;
  top:7px;
}

.custom-select-box__menulist .select-all span {
  line-height: 30px;
}
.custom-select-box__menulist span,
.custom-select-box__search-result span {
  color: #333;
}
.custom-select-box__menulist .menulist-item-header,
.custom-select-box__search-result .menulist-item-header {
  width:100%;
  background-color: #EEEEEE;
  padding:6px;
  display: block;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 700;
  color:#969696;
}

.custom-select-box__menulist-items ul,
.custom-select-box__search-result-items ul {
  margin-top:4px;
  margin-bottom:4px;
}
.custom-select-box__menulist-items.toggle-menulist {
  position: relative;
  height: auto;
  overflow: hidden;
}
.custom-select-box__menulist-items.toggle-menulist.collapsed {
  height: 28px;
}
.custom-select-box__menulist-items.toggle-menulist span.menulist-item-header:hover {
  cursor: pointer;
  background-color:#E5E5E5;
}
.custom-select-box__menulist-items.toggle-menulist.collapsed .custom-selectbox-arrow {
  -webkit-transform:rotate(0deg) translateY(0px);
  -ms-transform:rotate(0deg) translateY(0px);
  -o-transform:rotate(0deg) translateY(0px);
  transform:rotate(0deg) translateY(0px);
  -moz-transform:rotate(0deg) translateY(-1px);
}
.custom-select-box__menulist-items.toggle-menulist .custom-selectbox-arrow {
  -webkit-transform:rotate(-180deg) translateY(0px);
  -ms-transform:rotate(-180deg) translateY(0px);
  -o-transform:rotate(-180deg) translateY(0px);
  transform:rotate(-180deg) translateY(0px);
  -moz-transform:rotate(-180deg) translateY(-1px);
}
.menulist-item-topics li,
.menulist-item-dm li,
.menulist-item-block li,
.menulist-item-result li {
  padding:5px;
  padding-left: 14px;
}
.menulist-item-members li {
  padding:10px;
  padding-left:40px;
}
.menulist-item-filetype li {
  padding:10px;
  padding-left: 34px;
}
.menulist-item-filetype li .fileicon {
  position: absolute;
  top:4px;
  left:5px;
  
  -webkit-transform: scale(0.48);
  -moz-transform: scale(0.48);
  -o-transform: scale(0.48);
  -ms-transform: scale(0.48);
  transform: scale(0.48);
}

.menulist-item-topics li.folder-title span,
.menulist-item-header > span,
.custom-select-box__menulist-items.toggle-menulist i,
.custom-select-box__menulist-items .menulist-item-header span {
  color:#A2A2A2;
}
.menulist-item-topics li.folder-title i {
  color:#ACACAC;
}
.menulist-item-topics li.folder-title a,
.menulist-item-topics li.topic-title a,
.menulist-item-dm li a,
.menulist-item-block li a,
.menulist-item-members a,
.menulist-item-filetype a,
.menulist-item-result a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 1px;
  padding-right: 0px;
}
.menulist-item-topics li.folder-title span {
  margin-left:1px;
  font-size: 14px;
  line-height: 14px;
}

.menulist-item-topics.has-folder li.topic-title {
  padding-left:24px;
}

.custom-select-box .no-result-container {
  background-color: #fff;
  width: 100%;
  padding: 12px 16px;
}
.custom-select-box .no-result-container span {
  color: #999;
}
