.file-detail-preview {
  position: relative;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.file-detail-preview .preview-body {
  text-align: center;
}

.file-detail-preview .preview-body img {
  max-width: 100%;
  height: auto;
}

.file-detail-preview .image_wrapper {
  display: inline-block;
}

.filter-type-preview-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.filter-type-preview-wrapper:hover > div {
  display: block;
}

.filter-type-preview-bg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
}

.filter-type-preview-text {
  display: none;
  position: absolute;
  top: 52px;
  width: 100%;
}

.filter-type-preview-text > span {
  display: inline-block;
  padding: 8px 30px;
  border: 2px solid #999;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.file-detail-preview .external-share-btn {
  top: -6px;
  right: -6px;
  padding: 6px;
  font-size: 22px;
}

.file-detail-preview ._fileExpand {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
