.lpanel-user {
  width: inherit;
  overflow: visible;
  position: relative;
  cursor: default;
}

.lpanel-user .lpanel-user__team {
  padding: 9px 15px;
  background-color: #366480;
  color: white;
}

.lpanel-user .lpanel-user__user {
  padding: 8px 15px;
  background-color: #f1f4f8;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.lpanel-user__team {
  height: 35px;
  color: #333;
  line-height: 1;
}
.lpanel-user__team .icon {
  font-size: 16px;
  vertical-align: text-top;
}

.lpanel-user__team .team-name {
  font-size: 14px;
  font-weight: 500;
}
/*.lpanel-user__team .team-setting-icon {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 11px;
  color: #666;
}*/

.lpanel-user__user {
  height: 53px;
  position: relative;
  cursor: pointer;
}

.lpanel-user__avatar {
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  border-radius: 37px;
  float: left;
  width: 37px;
  height: 37px;
  margin-right: 6px;
}

.lpanel-user__container {
  position: relative;
  max-width: 152px;
  display: inline-block;
  line-height: 18px;
  color: #333;
}
.lpanel-user__position {
  font-size: 12px;
  padding-left: 3px;
  width: 100%;
}
.lpanel-user__name {
  font-size: 14px;
  font-weight: 500;
  padding-left: 3px;
  width: 100%;
}

.user-setting-icon {
  font-size: 15px;
  color: #666;
  display: none;
  position: absolute;
  right: 10px;
  top: 18px;
  opacity: 0.7;
}

.lpanel-user__user:hover .user-setting-icon {
  display: block;
}
.user-setting-icon:hover {
  opacity: 1;
}

#current-user-dropdown {
  left: 230px;
  top: 65px;
}