.lpanel-user {
    width: inherit;
    height: 67px;
    padding: 15px 0;
    overflow: hidden;
    border-right: 1px solid #e1e1e1;
    padding-left: 15px !important;
    z-index: 99;
    position: relative;
}
.background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f2f2f2;
    z-index: -1;
}
.lpanel-user__avatar {
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    border-radius: 37px;
    float: left;
    width: 37px;
    height: 37px;
    margin-right: 9px;
}

.lpanel-user__container {
    position: relative;
}
.lpanel-user__name {
    max-width: 142px;
    font-size: 14px;
    display: inline-block;
    line-height: 18px;
}
