.split-bar {
  position: absolute;
  z-index: 30;
  opacity: 0;
  border: 1px solid #e1e1e1;
  border-left-width: 0px;
  background-color: #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.split-bar > i {
  position: absolute;
  color: #d1dae7;
  font-size: 14px;
}

.split-bar:hover,
.split-bar.active {
  opacity: 1;
}

.split-bar.horizontal-bar {
  width: 7px;
  height: 100%;
  cursor: col-resize;
}

.split-bar.horizontal-bar > i {
  top: 50%;
  left: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.split-bar.vertical-bar {
  widht: 100%;
  height: 7px;
  cursor: row-resize;
}

.split-bar.vertical-bar > i {
  left: 50%;
  top: -2px;
}

.splitter-cursor-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 1040;
}

.col-resize {
  cursor: col-resize;
}

.row-resize {
  cursor: row-resize;
}

.non-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
