.dialog-modal {
  text-align: center;
  padding: 20px 30px 18px;
  border-radius: 5px;
}

.dialog-modal .normal-title {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.dialog-modal .normal-body {
  color: #333;
  font-size: 15px;
  line-height: 24px;
}

.dialog-modal .btn-container {
  text-align: center;
  margin-top: 25px;
}

.dialog-modal .btn-container .btn {
  margin-top: 0;
  padding: 4px 10px;
  min-width: 60px;
}

.dialog-modal .btn-cancel {
  margin-right: 3px;
}
