<div class="tutorial_bg">
  <tutorial-top></tutorial-top>
  <tutorial-team></tutorial-team>
  <tutorial-entity-header></tutorial-entity-header>
  <tutorial-profile></tutorial-profile>
  <tutorial-center></tutorial-center>
  <tutorial-left topic-list="topicList" dm-list="dmList"></tutorial-left>
  <tutorial-tutor ng-if="!isShowComplete" current="currentStep" completed="completedStep"></tutorial-tutor>
  <tutorial-completion ng-if="isShowComplete"></tutorial-completion>
  <ui-view></ui-view>
  <div ng-if="false">
    <span translate>@common_skip_all</span>
    <span translate>@tutorial_team_desc</span>
    <span translate>@tutorial_team_click</span>
    <span translate>@tutorial_profile_desc</span>
    <span translate>@tutorial_profile_setup</span>
    <span translate>@tutorial_dm_sticker_success</span>
    <span translate>@tutorial_dm_success</span>
    <span translate>@tutorial_dm_sticker_let</span>
    <span translate>@tutorial_dm_post</span>
    <span translate>@tutorial_dm_talk</span>
    <span translate>@tutorial_dm_try</span>
    <span translate>@tutorial_dm_click_list</span>
    <span translate>@tutorial_upload_preview</span>
    <span translate>@tutorial_upload_sources</span>
    <span translate>@tutorial_upload_title</span>
    <span translate>@tutorial_great</span>
    <span translate>@tutorial_file_download_desc</span>
    <span translate>@tutorial_file_comment</span>
    <span translate>@tutorial_file_comment_click</span>
    <span translate>@tutorial_file_comment_title</span>
    <span translate>@tutorial_leave_success_desc</span>
    <span translate>@tutorial_leave_success</span>
    <span translate>@tutorial_leave_lets</span>
    <span translate>@tutorial_there_we_go</span>
    <span translate>@tutorial_leave_click_title</span>
    <span translate>@tutorial_topic_join</span>
    <span translate>@tutorial_topic_click_list</span>
    <span translate>@tutorial_topic_click_join</span>
    <span translate>@tutorial_awesome</span>
    <span translate>@tutorial_topic_created</span>
    <span translate>@tutorial_topic_create_own</span>
    <span translate>@tutorial_topic_click_plus</span>
    <span translate>@tutorial_topic_let_create</span>
    <span translate>@tutorial_topic_definition</span>
    <span translate>@tutorial_team_explain_invitation</span>
    <span translate>@tutorial_team_click_invite</span>
    <span translate>@tutorial_team_definition</span>
    <span translate>@tutorial_team_title</span>
    <span translate>@tutorial_get_started</span>
    <span translate>@tutorial_team_intro</span>
    <span translate>@tutorial_congratulations</span>
    <span translate>@tutorial_congratulations_content</span>
    <span translate>@tutorial_help_remember</span>
    <span translate>@tutorial_welcome_title</span>
  </div>
</div>