<div class="rpanel-message-search">
  <!--    ADVANCED SEARCH OPTION  -->
  <div class="advanced-search-option-container">
    <!--   장소  -->
    <div class="advanced-search-option__category">
      <div class="advanced-search-option__title">
        <span>{{::'@common-entity-location'|translate}}</span>
      </div>
      <jnd-selectbox-room jnd-data-model="messageLocationId"
                          jnd-has-all="yes"
                          jnd-has-disabled="yes"></jnd-selectbox-room>
    </div>
    <!--  END OF 장소 -->

    <!--   작성자  -->
    <div class="advanced-search-option__category">
      <div class="advanced-search-option__title">
        <span>{{::'@common-message-writer'|translate}}</span>
      </div>
      <jnd-selectbox-member jnd-data-model="messageWriterId"
                            jnd-data-list="selectOptionsUsers"></jnd-selectbox-member>
    </div>
    <!-- END OF FILE 작성자 -->
  </div>
  <!-- END OF ADVANDCE FILE SEARCH OPTION -->

  <div class="rpanel-body-content" infinite-scroll-bottom="searchMessages();">
    <div ng-if="!isSearchQueryEmpty">
      <div class="search-status-container">
        <span class="search-result-summary-ing" ng-if="isSearching">
          <span class="three-quarters-loader jnd-three-quarters-loader"></span>
          <span>{{::'@search-in-progress'|translate}}</span>
        </span>

        <div class="search-result-summary" ng-if="!isSearching && messageList.length > 0">
          <span>{{::'@search-result-summary'|translate}}</span>
        </div>
      </div>

      <!--    MESSAGE WHEN THERE IS NO ITEM TO SHOW   -->
      <div class="break-word rpanel-alert-msg-container" ng-if="messageList.length==0 && !isSearching">
        <img class="rpanel-alert-msg-container__img" src="assets/images/message-search-no-result.png">

        <div class="rpanel-alert-msg-container__text">
          <div ng-if="!apiError">
            <span>{{::'@alert-no-messages-found'|translate}}</span>:
            <span class="searchQuery">{{searchQuery.q}}</span>
          </div>

          <div ng-if="apiError">
            <span>{{::'@common-api-error-msg'|translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="rpanel-alert-msg-container no-search-input-container" ng-if="isSearchQueryEmpty" ng-click="setSearchInputFocus();">
      <img class="icon-search" src="assets/images/icon-search.png"/>
      <div class="rpanel-alert-msg-container__text">
        <span>{{::'@input-to-search'|translate}}</span>
      </div>
    </div>

    <div class="rpanel-message-list infinite-scroll-bottom-list">
      <message-search-card class="private-effect" ng-repeat="message in messageList"></message-search-card>

      <div class="file-list__item loading" ng-if="isSearching && messageList.length > 0">
        <div class="loading_container_background scroll_loading_container_background"></div>
        <div class="loading_bar scroll_loading_bar">
          <span class="three-quarters-loader jnd-three-quarters-loader"></span>
        </div>
      </div>
      <div class="end-of-list" ng-if="isEndOfList">
        <div class="end-of-list-dot"></div>
      </div>
    </div>
  </div>
</div>
