.rpanel-message-search .advanced-search-option__category {
  width: 206px;
}

.rpanel-message-search  .no-search-input-container {
  margin-top: 67px;
  text-align: center;
  cursor: pointer;
}

.rpanel-message-search  .no-search-input-container:hover .no-search-input-container__text {
  text-decoration: underline;
}


.rpanel-message-search  .no-search-input-container .icon-search {
  font-size: 64px;
}

.rpanel-message-search  .no-search-input-container .no-search-input-container__text {
  margin-top: 20px;
}
