.rpanel-message-search .advanced-search-option__category {
  width: 188px;
}

.rpanel-message-search .search-status-container {
  color: #999999;
  font-size: 14px;
}
.rpanel-message-search .search-status-container .search-result-summary,
.rpanel-message-search .search-status-container .search-result-summary-ing {
  padding: 13px 17px 13px 40px;
  border-bottom: 1px solid #e1e1e1;
  display: block;
}
.rpanel-message-search .search-status-container .search-result-summary {
  padding-left: 16px;
}
.searchQueryKeyword {
  color: #333333;
}

.rpanel-message-search  .no-search-input-container {
  margin-top: 67px;
  text-align: center;
  cursor: pointer;
}
.no-search-input-container:hover .rpanel-alert-msg-container__text {
  text-decoration: underline;
}

.rpanel-message-search  .no-search-input-container .icon-search {
  width: 65px;
}
.rpanel-alert-msg-container {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
  padding: 0 30px 0 30px;
}
.rpanel-alert-msg-container__img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 100px;
  height: 80px;
}
.rpanel-alert-msg-container__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 22px;
  color: #575757;
}
.rpanel-alert-msg-container .searchQuery {
  color: #333;
}
.highlight {
  background-color: #ffff00;
}
