.rpanel-message-search .advanced-search-option__category {
  width: 213px;
}

.rpanel-message-search .search-status-container {
  margin-left: 40px;
  color: #999999;
  font-size: 14px;
  margin-top: 10px;
}

.searchQueryKeyword {
  color: #333333;
}

.rpanel-message-search  .no-search-input-container {
  margin-top: 67px;
  text-align: center;
  cursor: pointer;
}
.no-search-input-container:hover .rpanel-alert-msg-container__text {
  text-decoration: underline;
}

.rpanel-message-search  .no-search-input-container .icon-search {
  font-size: 64px;
}
.rpanel-alert-msg-container {
  text-align: center;
  margin-top: 70px;
  color: #999;
}
.rpanel-alert-msg-container__img {
  display: block;
  margin: auto;
}
.rpanel-alert-msg-container__text {
  margin-top: 16px;
}
.rpanel-alert-msg-container .searchQuery {
  color: #333;
}
.rpanel-message-search .highlight {
  background-color: #ffff00;
}
