.dialog-modal .external-share-uri {
  cursor: text;
  height: 34px!important;
  background-color: #fff;
  color: #333;
  border-bottom: 3px;
  border: 1px solid #d1d1d1;
}

.dialog-modal .external-unshare-title,
.dialog-modal .external-share-title {
  margin-bottom: 16px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.dialog-modal .external-share-title {
  text-align: left;
}

.dialog-modal .external-share-title > .title-icon {
  display: inline-block;
  padding: 3px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 18px;
  margin-right: 8px;
  vertical-align: middle;
  color: #1C6C88;
  background-color: rgba(255,255,255,0.8);
}

.dialog-modal .external-share-title > .title-text {
  line-height: 27px;
}

.dialog-modal .external-share-body {
  text-align: left;
}

.dialog-modal .external-share-body > span {
  display: inline-block;
  margin-top: 12px;
}
