.dialog-modal .external-share-uri {
  cursor: text;
  height: 34px!important;
  background-color: #fff;
  color: #333;
  border-bottom: 3px;
  border: 1px solid #d1d1d1;
}

.dialog-modal .external-unshare-title,
.dialog-modal .external-share-title {
  margin-bottom: 16px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.dialog-modal .external-share-title {
  text-align: left;
}

.dialog-modal .external-share-title > .title-icon {
  display: inline-block;
  padding: 3px;
  border-radius: 4px;
  font-size: 18px;
  margin-right: 8px;
  margin-top: -4px;
  vertical-align: middle;
  color: #1C6C88;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 0 1px #DEDEDE;
}
.dialog-modal .external-share-title > .title-text {
  line-height: 28px;
}

.dialog-modal .external-share-body {
  text-align: left;
}

.dialog-modal .external-share-body > span {
  display: inline-block;
  margin-top: 12px;
}

.external-share-btn {
  position: absolute;
  border-radius: 7px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  color: #1C6C88;
}

.external-share-btn:hover {
  background-color: white;
  color: #1C6C88;
  opacity: 1;
}
