<div ng-if="!isShowConnectionWarning && isMember"
     entity-header-dm></div>
<div ng-if="!isShowConnectionWarning && !isMember"
     entity-header-topic></div>
<div ng-if='isShowConnectionWarning'
     entity-header-connection>
</div>

<span ng-if="false" translate>@no-topic-description</span>
<span ng-if="false" translate>@turn-off-topic-alarm</span>
<span ng-if="false" translate>@turn-on-topic-alarm</span>
<span ng-if="false" translate>@topic-joined-member</span>
<span ng-if="false" translate>@confirm-kickout</span>