<!-- Modal: Invite to Team by Email -->
<page-tracker page="invite" title="Invite Members To Team"></page-tracker>
<div class="invite-modal-content" invitation-modal>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel();"><i class="icon-delete"></i></button>
    <h3 class="modal-header__title">
      <span translate>@team-invite</span>
    </h3>
  </div>

  <div class="invite-disalbed ng-hide" ng-show="::inviteDisabled">
    <div class="modal-body">
      <img ng-src="{{::disabledImage}}">
      <div class="disabled-desc">
        <span ng-if="::isAdmin">
          <span translate>@invitation-disabled-amdin-prefix</span>
          <br>
          <a ng-click="toAdmin();"><span translate>@invitation-disabled-amdin-postfix</span></a>
        </span>
        <span ng-if="::!isAdmin" translate>@invitation-disabled</span>
      </div>
    </div>
  </div>

  <div class="invite-enalbed ng-hide" ng-hide="::inviteDisabled">
    <div class="modal-body">
      <div class="invite-work ng-hide" ng-show="!isInviteDone">
        <div invite-emails invite-emails-model="emails" on-change-invite-list="setInviteBtnText($list)" active="isInviteDone" ></div>
        <button id="team-invite-btn" class="send-invite invite-btn cursor_pointer btn-ok btn _modalSubmit" ng-click="send();"></button>
      </div>
      <div class="invite-done ng-hide" ng-show="isInviteDone">
        <img ng-src="{{::doneImage}}">
        <span>{{inviteResultDesc}}</span>
        <span class="invite-more">
          <span class="cursor_pointer" ng-click="inviteMore()" translate>@team-invite-more</span>
        </span>
      </div>
    </div>

    <div class="modal-footer">
      <div class="progress-content">
        <div class="invite-link-desc">
          <span translate>@invitation-link-desc</span>
        </div>
        <div class="invite-link-copy">
          <input id="invite-link" autofocus class="invite-public-link form-control invite" type="text" value="{{::seedUri}}" readonly="true" ng-disabled="{{::disableSeedUri}}">
          <div id="clip-invite" class="clip-invite invite-btn cursor_pointer btn-ok btn ng-hide" ng-show="::isSupportClip" ng-disabled="{{::disableSeedUri}}">
            <span translate>@common-copy</span>
          </div>
        </div>
        <div class="invite-link-message ng-hide" ng-show="(isSupportClip && isCopySuccess)"><span translate>@invitation_success_copy_link</span></div>
        <div class="invite-link-message ng-hide" ng-show="(!isSupportClip && isLinkTextFocus)"><span translate>@team-invite-link-copy-desc</span></div>
        <!--<div class="invite-contact-desc"><span translate>@invitation-contact-desc</span></div>-->
      </div>
    </div>
  </div>
</div>

<jnd-loading></jnd-loading>

<div ng-if="false">
  <span translate>@common-email</span>
  <span translate>@common-done</span>
  <span translate>@invitation-already-member</span>
  <span translate>@team-invite-invalid-email</span>
  <span translate>@team-invite-send</span>
  <span translate>@team-invite-done</span>
  <span translate>@team-invite-done-with-fail</span>
</div>
