/*
  DISABLED INVITE
*/
/* body */
.invite-disalbed .modal-body {
  text-align: center;
  padding: 20px;
}
.invite-disalbed .modal-body img {
  width: 130px;
}

.invite-disalbed .modal-body .disabled-desc {
  font-size: 15px;
  color: #575757;
  padding: 10px 40px 20px 25px;
  line-height: 24px;
}
/*
    ENABLED INVITE USER TO TEAM
*/
/* body */
.invite-enalbed .modal-body {
  padding: 20px 20px 24px;
  text-align: center;
}

.invite-enalbed .form-control {
  height: 34px !important;
}

.invite-enalbed .modal-body .alert-jandi {
  margin: 0;
  color: #9b5050;
}

.invite-modal-content hr {
  border-top: 1px solid #d1d1d1;
}

.invite-btn.send-invite {
  width:inherit;
  min-width: 180px;
  height: 35px !important;
}

.invite-btn {
  width: 180px;
  height: inherit !important;
  padding:10px 12px 10px 12px;
  border-radius: 2px;
  line-height: 14px;
}
.invite-btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.invite-btn:focus,
.invite-btn:hover,
.invite-btn:active {
  background-color: #154a67;
}

.clip-invite,
.clip-invite:focus,
.clip-invite:hover,
.clip-invite:active {
  color: #fff;
}
.clip-invite {
  width: inherit;
}
.clip-invite.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* footer */
.invite-enalbed .modal-footer.invite-done {
  border-top: 0;
}

/* footer > done */
.invite-enalbed .modal-footer.invite-done {
  border-top: 0;
}
.invite-enalbed .modal-footer.invite-done img{
  padding-bottom: 40px;
}

.invite-done {
  color: #fff;
  text-align: center;
  margin-bottom:4px;
}
.invite-done > img {
  width: 130px;
}
.invite-done > span {
  color:#333;
  display: block;
  padding-top:12px;
}
.invite-done .invite-more > span {
  text-decoration: underline;
  color:#337ab7;
}
.invite-done .invite-more > span:hover {
  color:#23527c;
}

/* footer > progress */
.invite-enalbed .modal-footer {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  border-top: 1px solid #d1d1d1;
}
.modal-footer .invite-link-desc {
  font-size: 16px;
  color: #666;
}
.modal-footer .invite-link-copy {
  margin-top: 10px;
  margin-bottom: 18px;
}
.modal-footer .invite-link-copy .invite-public-link {
  vertical-align: middle;
  width: 60%;
  margin-right: 5px;
  cursor: text;
}
.modal-footer .invite-link-copy>* {
  display: inline-block;
}
.modal-footer .invite-contact-desc {
  font-size: 12px;
  color: #575757;
}
.modal-footer .invite-link-copy .btn-ok {
  vertical-align: middle;
  color: white;
}
.modal-footer .invite-link-copy .btn-ok:active,
.modal-footer .invite-link-copy .btn-ok:hover {
  background-color: #00abe6;
}

.modal-footer .invite-link-message {
  font-size: 14px;
  line-height: 22px;
  color: #154a67;
  background-color: #f2fbff;
  padding: 9px 25px;
  border-radius: 3px;
  border: 1px solid #d7e0e8;
  margin: 24px auto 12px;
  max-width: 450px;
}
