.profile-view-modal.modal {
  text-align: center;
  padding: 0!important;
}

.profile-view-modal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.profile-view-modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: inherit;
}

.profile-view-modal .modal-content {
  overflow: hidden;
}

.profile-view-body.modal-body {
  padding: 0;
  margin: 0;
  width: 270px;
}

.profile-view-modal .profile-image-wrapper {
  position: relative;
  height: 112px;
}

.profile-view-modal .bot-profile-image-backdrop,
.profile-view-modal .profile-image-backdrop {
  width: 100%;
  height: 100%;
}

.profile-view-modal .profile-image-backdrop {
  background-color: rgba(0,0,0,.25);
}
.profile-view-modal .default-profile-image {
  background-color: #f3b14c;
}
.profile-view-modal .bot-profile-image-backdrop {
  background-color: #000066;
}

.profile-view-modal .profile-image-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.profile-view-modal .profile-image-backdrop > .icon-delete {
  position: absolute;
  color: #fff;
  font-size: 11px;
  top: 10px;
  right: 10px;
}

.profile-view-modal .profile-condition {
  position: absolute;
  top: 30px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  text-align: center;
}
.profile-view-modal .profile-condition.editing {
  margin-left: -86px;
}

.profile-view-modal .bot-profile-image,
.profile-view-modal .profile-image {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 76px;
  margin-left: -38px;
  border-radius: 38px;
}

.profile-view-modal .profile-image {
  height: 76px;
  margin-top: -38px;
  background-color: #fff;
  border: 2px solid #fff;
  overflow: hidden;
}

.profile-view-modal .profile-image img {
  width: 100%;
  height: 100%;
}
.profile-view-modal .profile-image-change {
  position: absolute;
  bottom: 0;
  top: 50px;
  width: 100%;
  background-color: rgba(0, 0,0, .5);
  cursor: pointer;
}

.profile-view-modal .profile-image-change > span {
  display: inline-block;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.profile-view-modal .bot-profile-image {
  height: 92px;
  margin-top: -54px;
  background-color: transparent;
}

.profile-view-modal .user-star {
  position: absolute;
  top: 122px;
  right: 10px;
}

.profile-view-modal .user-star.icon-star-on {
  color: #f9bb00;
}

.profile-view-modal .bot-profile-text,
.profile-view-modal .profile-text {
  margin-top: 48px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.profile-view-modal .profile-text.readonly > div {
  height: 15px;
}
.profile-view-modal .profile-text.editing > div {
  margin-left: 20px;
}

.profile-view-modal .profile-text .profile-name {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.profile-view-modal .profile-department {
  margin-top: 16px;
}
.profile-view-modal .profile-position,
.profile-view-modal .profile-phone-number,
.profile-view-modal .profile-email {
  margin-top: 6px;
}

.profile-view-modal .profile-description {
  font-size: 12px;
  color: #666;
  margin: 0 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 20px;
}

.profile-view-modal .profile-connect-setting {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #00abe6;
}

.profile-view-modal .profile-email {
  font-size: 12px;
  color: #428bca;
}

.profile-view-modal .profile-text.editing .profile-name {
  height: inherit;
}
.profile-view-modal .profile-text.editing .profile-name-status {
  font-size: 14px;
}
.profile-view-modal .profile-text.editing .profile-name-status i {
  margin-top: 6px;
  margin-left: 1px;
}

.profile-view-modal .profile-actions {
  margin-top: 26px;
  text-align: center;
}

.profile-view-modal .action-buttons {
  height: 30px;
}

.profile-view-modal .action-buttons i {
  margin-right: 2px;
  font-size: 14px;
  color: #9e9ea6;
  vertical-align: text-top;
}
.profile-view-modal .action-buttons .action-email,
.profile-view-modal .action-buttons .action-file,
.profile-view-modal .action-buttons .action-dm,
.profile-view-modal .action-buttons .action-mention {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 22px;
  font-size: 12px;
  color: #666;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 12px;
}

.profile-view-modal .action-buttons .disabled {
  color: #d1d1d1;
  cursor: default;
}
.profile-view-modal .action-buttons .disabled i {
  color: #d1d1d1;
}

.profile-view-modal .action-direct-message {
  position: relative;
  height: 46px;
  padding: 8px 7px;
  background-color: #f2f2f2;
}

.profile-view-modal .action-direct-message > input {
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  padding: 2px 10px;
  background-color: #fff;
  font-size: 13px;
  color: #999;
}

.profile-view-modal .message-submit-bg {
  position: absolute;
  top: 16px;
  left: 10px;
  right: 10px;
  bottom: 50px;
  opacity: 0;
  background-color: #fff;
  cursor: pointer;
  font-size: 0;
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
}

.profile-view-modal .message-submit-bg.show-submit-done {
  opacity: 1;
  bottom: 16px;
  font-size: 13px;
}
