.profile-view-modal.modal {
  text-align: center;
  padding: 0!important;
}

.profile-view-modal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.profile-view-modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: inherit;
}

.profile-view-modal .modal-content {
  overflow: hidden;
}

.profile-view-body.modal-body {
  padding: 0;
  margin: 0;
  width: 316px;
}

.profile-view-modal .profile-image-wrapper {
  position: relative;
  height: 160px;
}

.profile-view-modal .bot-profile-image-backdrop,
.profile-view-modal .profile-image-backdrop {
  width: 100%;
  height: 100%;
}

.profile-view-modal .profile-image-backdrop {
  position: relative;
  overflow: hidden;
}
.profile-view-modal .default-profile-image {
  background-color: #f3b14c;
}
.profile-view-modal .bot-profile-image-backdrop {
  background-color: #000066;
}

.profile-view-modal .profile-default-image-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.profile-view-modal .profile-image-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.25);
}

.profile-view-modal .profile-image-backdrop > .icon-delete {
  position: absolute;
  color: #fff;
  font-size: 11px;
  top: 10px;
  right: 10px;
}
.profile-view-modal .profile-condition {
  position: absolute;
  top: 48px;
  width: 245px;
  left: 44%;
  margin-left: -100px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.profile-view-modal .profile-condition.readonly {
  height: 68px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
}

.profile-view-modal .profile-condition.editing {
  margin-left: -97px;
}
.profile-view-modal .profile-text.editing .input-text  {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-view-modal .bot-profile-image,
.profile-view-modal .profile-image {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 76px;
  margin-left: -38px;
  border-radius: 38px;
}

.profile-view-modal .profile-image {
  height: 76px;
  margin-top: -38px;
  background-color: rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.08);
  overflow: hidden;
}

.profile-view-modal .profile-image img {
  /*width: 100%;*/
  /*height: 100%;*/
}
.profile-view-modal .profile-image-change {
  position: absolute;
  bottom: 0;
  top: 46px;
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0,0, .5);
  cursor: pointer;
}
.profile-view-modal .profile-image-change:hover {
  background-color: rgba(0, 0,0, .55);
}

.profile-view-modal .profile-image-change > span {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}

.profile-view-modal .bot-profile-image {
  height: 92px;
  margin-top: -54px;
  background-color: transparent;
}

.profile-view-modal .user-star {
  position: absolute;
  top: 175px;
  right: 15px;
  color: #a7a7a7;
}
.profile-view-modal .user-star:hover {
  color: #154a67;
}

.profile-view-modal .user-star.icon-star-on {
  color: #f9bb00;
}

.profile-view-modal .bot-profile-text,
.profile-view-modal .profile-text {
  margin-top: 48px;
  font-size: 14px;
  color: #575756;
  text-align: center;
}
.profile-view-modal .profile-text.readonly > div {
  height: 17px;
  width: 216px;
}
.profile-view-modal .profile-text.editing > div {
  width: 236px;
  margin-left: 20px;
}
.profile-view-modal .profile-text.editing > div input {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-view-modal .profile-text > div.profile-name {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.profile-view-modal .profile-department {
  margin-top: 16px;
}
.profile-view-modal .profile-position,
.profile-view-modal .profile-phone-number,
.profile-view-modal .profile-email {
  margin-top: 6px;
}

.profile-view-modal .profile-description {
  font-size: 12px;
  color: #666;
  margin: 0 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 20px;
}

.profile-view-modal .profile-connect-setting {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #00abe6;
}

.profile-view-modal .profile-email {
  font-size: 14px;
  color: #428bca;
  line-height: 25px;
}

.profile-view-modal .profile-text.editing .profile-name {
  height: inherit;
}
.profile-view-modal .profile-text.editing .profile-name-status {
  font-size: 14px;
}

.profile-view-modal .profile-text.editing .profile-department .input-text,
.profile-view-modal .profile-text.editing .profile-position .input-text,
.profile-view-modal .profile-text.editing .profile-phone-number .input-text {
  height: 16px;
  line-height: 16px;
}

.profile-view-modal .profile-text.editing .profile-department .expanding-input-status ,
.profile-view-modal .profile-text.editing .profile-position .expanding-input-status ,
.profile-view-modal .profile-text.editing .profile-phone-number .expanding-input-status {
  line-height: 24px;
}

.profile-view-modal .profile-text.editing .profile-name .input-text {
  height: 24px;
  line-height: 24px;
}
.profile-view-modal .profile-text.editing .profile-name .expanding-input-status {
  line-height: 29px;
}

.profile-view-modal .profile-condition.editing .expanding-input-status,
.profile-view-modal .profile-text.editing .profile-email .expanding-input-status {
  line-height: 26px;
}

.profile-view-modal .profile-text.editing .profile-name-status i {
  margin-left: 1px;
}

.profile-view-modal .profile-actions {
  margin-top: 26px;
  text-align: center;
}

.profile-view-modal .action-buttons {
  height: 40px;
}

.profile-view-modal .action-buttons i {
  margin-right: 4px;
  font-size: 15px;
  color: #154a67;
  vertical-align: text-top;
}
.profile-view-modal .action-buttons .action-email,
.profile-view-modal .action-buttons .action-file,
.profile-view-modal .action-buttons .action-dm,
.profile-view-modal .action-buttons .action-mention {
  display: inline-block;
  width: 96px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  color: #154a67;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
  border-radius: 18px;
}
.profile-view-modal .action-buttons .action-email:hover,
.profile-view-modal .action-buttons .action-file:hover,
.profile-view-modal .action-buttons .action-dm:hover,
.profile-view-modal .action-buttons .action-mention:hover {
  background-color: #f1f4f8;
}

.profile-view-modal .action-buttons .disabled {
  color: #d1d1d1;
  cursor: default;
}
.profile-view-modal .action-buttons .disabled i {
  color: #d1d1d1;
}

.profile-view-modal .action-direct-message {
  position: relative;
  height: 46px;
  padding: 8px 7px;
  background-color: #f2f2f2;
}

.profile-view-modal .action-direct-message > input {
  width: 100%;
  height: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  padding: 7px 10px;
  background-color: #fff;
  font-size: 13px;
  color: #333;
}
.profile-view-modal .action-direct-message > input:focus {
  border-color: #8EAFC3;
}

.profile-view-modal .message-submit-bg {
  position: absolute;
  top: 14px;
  left: 15px;
  right: 15px;
  bottom: 14px;
  opacity: 0;
  background-color: #fff;
  cursor: pointer;
  font-size: 0;
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
}

.profile-view-modal .message-submit-bg.show-submit-done {
  opacity: 1;
  font-size: 15px;
  color: #00abe6;
  text-align: left;
}
