.email-box {
    text-align: start;
    margin: 5px 0;
    position: relative;
    border: 1px solid #e1e1e1;
    background-color: white;
    padding: 11px;
}

.email-box:hover {
    border-color: #d1d1d1;
}
.email-box a {
    color: #1d1d1d;
}