.tutorial_completion_wrap {
  position:absolute;
  background: #FFFFFF;
  border: 0;
  border-radius: 5px;
  width: 500px;
  top: 130px;
  margin-left: 300px;
  text-align: center;
  z-index: 15;
  padding-left: 20px;
  padding-right: 20px;
}

.tutorial_completion_header {
  margin-top: 30px;
}
.tutorial_completion_body {
  margin-top: 25px;
  max-width: 450px;
}

.tutorial_completion_title {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.tutorial_completion_content {
  margin-top: 25px;
  font-size:12px;
  line-height: 20px;
}

.tutorial_completion_footer {
  margin-top: 20px;
  margin-bottom: 20px;
}