.search-result-container .rpanel-list-empty {
  margin-bottom: 20px;
  width: 100px;
  height: 80px;
}

.rpanel-body.star-tab .search-result-container,
.rpanel-body.mention-tab .search-result-container {
  border-bottom-width: 0px;
}

.rpanel-body.star-tab .search-result-container .search-result-summary-ing,
.rpanel-body.mention-tab .search-result-container .search-result-summary-ing {
  margin-top: 70px;
  margin-left: 0px;
  text-align: center;
  border:0px;
}
