<page-tracker page="files/share" title="File Share"></page-tracker>
<!-- Modal: File Share -->
<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel();"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span translate>@common-share-file</span>
  </h3>
</div>
<form name="file_share_form" data-ng-submit="onFileShareClick();">
  <div class="modal-body">
    <div class="form-horizontal">
      <!-- FILE INFO -->
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span translate>@common-file</span>
        </label>
        <div class="col-sm-9 modal-share__file">
          <div class="modal-share__file-type">
            <!-- IMAGE -->
            <div class="image_wrapper msg-file-body__img__background jnd-text-center" ng-if="hasPreview">
              <div class="opac-zero msg-file-body__img cursor_pointer"
                   image-loader="{{::thumbnailImage}}"
                   image-max-height="65" image-max-width="65" image-is-square="true">
              </div>
            </div>

            <!-- OTHER TYPE -->
            <div class="modal-share__file-type__other" ng-if="!hasPreview">
              <div class="fileicon fileicon-{{file.content | fileIcon}}"></div>
            </div>
          </div>
          <div class="modal-share__file-body">
            <span class="modal-share__file-body__writer">{{ file.extWriter|getName }}</span>
            <span class="modal-share__file-body__time">{{ file.createTime | date: 'yyyy/MM/dd h:mm a' }}</span>
            <div class="modal-share__file-body__title keep">{{ file.content | fileTitle }}</div>
            <div class="modal-share__file-body__meta">
                            <span class="modal-share__file-body__meta-size"
                                  data-ng-if="file.content.size > 0"
                                  data-ng-bind="file.content.size | bytes"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- FILE SHARE OPTION -->
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span translate>@common-share-in</span>
        </label>
        <div class="col-sm-9">
          <!--<select ng-if="selectOptions.length"-->
                  <!--id="_modalShareEntitySelect"-->
                  <!--class="form-control"-->
                  <!--ng-model="selected.data"-->
                  <!--ng-options="channel as channel|getName group by channel.extGroupName for channel in selectOptions">-->
          <!--</select>-->
          <jnd-selectbox-room jnd-data-model="selected.id" jnd-data-list="selectOptions"></jnd-selectbox-room>
          <span ng-if="!selectOptions.length"
                class="modal-share-span"
                translate>@common-all-shared</span>
        </div>
      </div>
      <!-- FILE COMMENT -->
      <div class="form-group hidden">
        <label class="control-label col-sm-3">
          <span translate>@common-comment</span>
        </label>
        <div class="col-sm-9">
          <textarea class="form-control"
                    name="file_share_comment"
                    rows="3"
                    data-ng-model="comment"
                    data-ng-maxlength="256"
                    maxlength="256"
                    style="resize:none;"
                    disabled>
            </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input class="btn btn-ok pull-right _modalSubmit" type="submit" id="file_share_btn" value="{{ '@btn-share' | translate }}"/>
    <button type="button" class="btn btn-cancel pull-right" data-ng-click="cancel();"><span translate>@btn-cancel</span></button>
  </div>
</form>

<jnd-loading></jnd-loading>

<span ng-if="false" translate>@common-file-share-jump-channel-confirm-msg</span>
