<div class="rpanel-body star-tab">
  <tabset>
    <!--  ALL TAB  -->
    <tab active="tabs.all.active" heading="{{::tabs.all.name}}" select="onTabSelect('all');">
      <div class="tab-contents"
           right-scroll-loading
           load-more="loadMore()"
           is-load-more="tabs.all.searchStatus.isScrollLoading">
        <div class="scroll-loading-list">
          <right-loading-search status="tabs.all.searchStatus" type="starAll"></right-loading-search>
          <div class="private-effect" ng-repeat="item in tabs.all.list track by item.message.id">
            <right-message ng-if="item.message.contentType !== 'file'"  message-data="item" message-type="messageType"></right-message>
            <right-file ng-if="item.message.contentType === 'file'" file-data="item" file-type="fileType"></right-file>
          </div>
          <right-loading-list is-scroll-loading="tabs.all.isScrollLoading"
                              is-end-of-list="tabs.all.isEndOfList"></right-loading-list>
        </div>
      </div>
    </tab>
    <!--  FILES TAB -->
    <tab active="tabs.files.active" heading="{{::tabs.files.name}}" select="onTabSelect('files');">
      <div class="tab-contents"
           right-scroll-loading
           load-more="loadMore()"
           is-load-more="tabs.files.searchStatus.isScrollLoading">
        <div class="scroll-loading-list">
          <right-loading-search status="tabs.files.searchStatus" type="starFiles"></right-loading-search>
          <div class="private-effect" ng-repeat="file in tabs.files.list track by file.message.id">
            <right-file file-data="file" file-type="fileType"></right-file>
          </div>
          <right-loading-list is-scroll-loading="tabs.files.isScrollLoading"
                              is-end-of-list="tabs.files.isEndOfList"></right-loading-list>
        </div>
      </div>
    </tab>
  </tabset>
</div>
