.rpanel-body.star-tab .tab-contents{
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 78px;
}

.star-tab .nav-tabs > li {
  width: 50%;
  text-align: center;
}

.star-tab .nav-tabs > li > a {
  font-size: 15px;
  color: #999;
  border: 0;
  border-radius: 0;
  margin: 0;
  background-color: #fff;
}

.star-tab .nav-tabs > li > a:hover {
  color: #333;
  border: 0;
}

.star-tab .nav-tabs > li.active > a {
  font-weight: 600;
  color: #333;
  border: 0;
  border-bottom: 2px solid #154a67;
}

.star-tab .nav-tabs > li:last-child > a,
.star-tab .nav-tabs > li.active:last-child > a,
.star-tab .nav-tabs > li:last-child > a:hover {
  border-right: 0;
}

.star-tab .file-card,
.star-tab .message-card {
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.7s;
}

.star-tab .file-card:hover,
.star-tab .message-card:hover {
  background-color: #f2fbff;
}
