<div ng-if="isShow" class="tutorial-popup topic-foldering dropdown-menu">
  <div class="popup-left-arrow"><div class="popup-inner-arrow"></div></div>
  <button type="button" class="close" ng-click="close();"><i class="icon-delete"></i></button>
  <span class="badge left-panel_badge green_badge ng-binding">NEW</span>
	<span class="dropdown-title" translate>
		<span>토픽을 폴더로 분류하세요!</span>
	</span>
  <div class="tuto-img-container"><img src="assets/images/new-feature/topic_foldering.gif"></div>
  <span class="dropdown-contents" translate><span>많아지는 업무만큼 늘어나기만 하는 토픽 수가 곤란하셨나요? 이제 토픽을 폴더로 분류하여 관리할 수 있습니다. 지금 한 토픽을 다른 토픽 위에 드래그 & 드롭 하여 폴더를 만들어 보세요!</span></span>
  <div class="dont-show-again-container">
    <input type="checkbox" /><span translate>다시보지 않기</span>
  </div>
</div>
