<div class="attachment-content-wrapper">
  <div class="attachment-content-bar"></div>
  <div class="attachment-content">
    <div class="social-image" ng-if="!!msg.message.linkPreview.imageUrl">
      <a ng-href="{{msg.message.linkPreview.linkUrl}}" target="_blank">
        <img ng-src="{{msg.message.linkPreview.imageUrl}}"/>
      </a>
    </div>
    <div class="social-body" ng-class="{'has-image': !!msg.message.linkPreview.imageUrl}">
      <div class="social-title neighbor" ng-if="!!msg.message.linkPreview.title">
        <a ng-href="{{msg.message.linkPreview.linkUrl}}" target="_blank">
          <span>{{msg.message.linkPreview.title}}</span>
        </a>
      </div>
      <div class="social-desc neighbor" ng-class="{'has-domain': !!msg.message.linkPreview.domain}" ng-if="!!msg.message.linkPreview.description">
        <a ng-href="{{msg.message.linkPreview.linkUrl}}" target="_blank">
          <span>{{msg.message.linkPreview.description}}</span>
        </a>
      </div>
      <div class="social-domain" ng-if="!!msg.message.linkPreview.domain">
        <span>{{msg.message.linkPreview.domain}}</span>
      </div>
    </div>
  </div>
</div>
