.current-member-profile .modal-dialog {
  width: inherit;
}

.current-member-profile .modal-content {
  background: transparent;
  box-shadow: none;
}

.current-member-profile-modal-content {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f1f4f8;
  border: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.current-member-profile-modal-content.profile-pic-selected {
  width: 680px;
}

.cropArea {
  overflow: hidden;
  width:100%;
  height:640px;
  margin: 20px 0;
}
