<page-tracker page="profile" title="Profile"></page-tracker>
<div class="current-member-profile-modal-content" ng-class="{'profile-pic-selected': isProfilePicSelected}">
  <!-- Modal: Profile Setting -->
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel();"><i class="icon-delete"></i></button>
    <h3 class="modal-header__title">
      <span translate>@common-profile-settings</span>
    </h3>
  </div>

  <form name="profileForm" data-ng-submit="onProfileChangeClick()">
    <div class="modal-body profile-body">
      <h4 class="modal-body__description">
        <span translate>@modal-setting-profile-msg1</span>
      </h4>

      <div class="cropArea" ng-if="isProfilePicSelected">
        <img-crop image="profilePic" result-image="croppedProfilePic" on-change="onchange($dataURI);"></img-crop>
      </div>

      <div class="user-profile-photo-container img-circle opac-zero" ng-if="!isProfilePicSelected">
        <img on-image-load on-image-load-opac-parent="true" class="user-profile__photo" ng-src="{{ profileImg }}" />
        <div class="user-profile-photo__overlay">
          <div class="black-opac__background"></div>
          <div class="overlay__text"><span translate>@btn-change</span></div>
          <input type="file"
                 id="profile_image_uploader"
                 class="file_upload_btn"
                 data-ng-file-select="onFileSelect($files);"
                 accept="image/*">
        </div>
      </div>

      <span ng-if="false" translate>@ie9-profile-image-support</span>

      <div class="form-horizontal" ng-if="!isProfilePicSelected">
        <div class="user-profile-general-container">
          <h4 class="profile-body__title">
            <span translate>@common-info-basic</span>
          </h4>

          <!--    USER NAME   -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-name</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name"
                     id="member-profile-name"
                     jnd-input-model="curUser.name"
                     jnd-is-trim="on"
                     jnd-on-change="validate()"/>
              <alert ng-if="!validate('curUser.name')" type="warning" class="profile-settings-body__alert">
                {{ '@input-max-length-error' | translate}}
              </alert>
            </div>
          </div>

          <!--    USER EMAIL  -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3" ><span translate>@common-email</span></label>
            <div class="col-sm-9">
              <select ng-model="curUser.u_email" class="form-control" name="email"
                      ng-options="email.id as email.id for email in account.emails | filter : {status:'confirmed'} ">
              </select>
            </div>
          </div>

          <!--    STATUS MESSAGE  -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-status-msg</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="nickName"
                     jnd-input-model="curUser.u_statusMessage"
                     jnd-is-trim="on"
                     jnd-on-change="validate()"/>
              <alert ng-if="!validate('curUser.u_statusMessage')" type="warning" class="profile-settings-body__alert">
                {{ '@input-max-length-error' | translate}}
              </alert>
            </div>
          </div>

        </div>

        <div class="user-profile-optional-container">
          <h4 class="profile-body__title">
            <span translate>@common-info-optional</span>
          </h4>

          <!--    PHONE NUMBER    -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-phone</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="phoneNumber"
                     jnd-input-model="curUser.u_extraData.phoneNumber"
                     jnd-is-trim="on"
                     jnd-on-change="validate()"/>
              <alert ng-if="!validate('curUser.u_extraData.phoneNumber')" type="warning" class="profile-settings-body__alert">
                {{ '@input-max-length-error' | translate}}
              </alert>
            </div>
          </div>

          <!--    DEPARTEMENT -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-department</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="department"
                     jnd-input-model="curUser.u_extraData.department"
                     jnd-is-trim="on"
                     jnd-on-change="validate()"/>
              <alert ng-if="!validate('curUser.u_extraData.department')" type="warning" class="profile-settings-body__alert">
                {{ '@input-max-length-error' | translate}}
              </alert>
            </div>
          </div>

          <!--    POSITION    -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-position</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="position"
                     jnd-input-model="curUser.u_extraData.position"
                     jnd-is-trim="on"
                     jnd-on-change="validate()"/>
              <alert ng-if="!validate('curUser.u_extraData.position')" type="warning" class="profile-settings-body__alert" data-ng-if="profileForm.position.$error.maxlength">
                {{ '@input-max-length-error' | translate}}
              </alert>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer profile-footer">
      <div ng-if="!isProfilePicSelected">
        <button type="button" class="btn btn-cancel" data-ng-click="cancel();"><span translate>@btn-close</span></button>
        <input class="btn btn-ok" type="submit" id="change_profile" value="{{ '@btn-edit' | translate }}" ng-disabled="!isValid || (isPristine() && !hasUpdatedProfilePic)"/>
      </div>

      <div ng-if="isProfilePicSelected">
        <button type="button" class="btn btn-cancel" data-ng-click="onProfilePicCancel();">
          <span translate>@btn-cancel</span>
        </button>
        <button type="button" class="new_channel_btn btn btn-ok" data-ng-click="onCropDone();"><span translate>@btn-change</span></button>
      </div>
    </div>
  </form>
</div>
<div ng-if="false">
  <span translate>@input-max-length-60-error</span>
  <span translate>@input-max-length-20-error</span>
</div>

