<!--  User Thumbnail -->
<div class="msg-item-float cursor_pointer" data-ng-click="onUserClick(msg.fromEntity);"
     disabled-member-detector="center-panel-disabled-member">
  <img on-image-load class="user-profile user-thumb"
       ng-src="{{ msg.exProfileImg }}"/>
</div>

<div class="msg-item-header"
     disabled-member-detector="center-panel-disabled-member">
  <!--    WRITER-->
    <span class="msg-item-header__name cursor_pointer" data-ng-click="onUserClick(msg.fromEntity);">
      <span class="msg-item-header__nameSpace">
        {{msg.extWriterName}}
      </span>

      <!--    CREATED TIME    -->
      <span class="msg-item-header__created">
        {{::msg.extTime}}
      </span>

      <span class="badge unread-badge">{{ msg.unreadCount }}</span>
    </span>
</div>

<div class="msg-item-body">
  <!-- FILE -->
  <div class="msg-file" ng-cloak>

    <!--  FILE PREVIEW IMAGE  -->
    <div class="msg-file-body-float pull-left preview-container">
      <!--  FILE NOT ARCHIVED -->
      <div ng-if="msg.message.status != 'archived'" >
        <!--    IMAGE THUMBNAIL -->
        <div ng-if="msg.message.content.extHasPreview">

          <div class="image_wrapper msg-file-body__img__background jnd-text-center">
            <div class="opac-zero msg-file-body__img cursor_pointer" id="{{::msg.id}}-image-preview-small"
                 image-loader="{{::imageUrlToBeLoaded}}" image-max-height="65" image-max-width="65" image-is-square="true"
                 ng-click="onSmallThumbnailClick();">
            </div>
          </div>
        </div>

        <div class="ie9-image-rotator cursor_pointer" ng-if="msg.message.content.extHasPreview &&  isIE9" ng-click="onImageRotatorClick($event);">
          <i id="fromCenterLargeThumbnail" class="fa fa-rotate-right"></i>
        </div>

        <!--    FILE TYPE THUMBNAIL -->
        <div class="msg-file-body__thumbnail" ng-if="!msg.message.content.extHasPreview">
          <div class="fileicon fileicon-{{::msg.message.content | fileIcon}}" ></div>
        </div>
      </div>

      <!--  ARCHIVED FILE -->
      <div ng-if="msg.message.status == 'archived'">
        <!--    FILE TYPE THUMBNAIL -->
        <div class="msg-file-body__thumbnail">
          <img class="fileicon" ng-src="assets/images/fileicon_archived.png"/>
        </div>
      </div>
    </div>

    <!--  FILE INFO -->
    <div class="msg-file-meta">

      <div class="msg-file-meta-up">

        <!--  NOT ARCHIVED FILE -->
        <div ng-if="msg.message.status != 'archived'">
          <!--    TITLE   -->
          <a class="msg-file-meta__title file__name break-word"
             ui-sref="files({ userName: msg.message.writer.name, itemId: msg.message.id })">
            {{ ::msg.message.content.extFileTitle }}
          </a>

          <span class="bullet" ng-if="msg.message.content.size > 0">•</span>
          <!--    SIZE AND FILE TYPE  -->
          <span class="msg-file-meta-info" ng-if="msg.message.content.size > 0">{{::msg.message.content.extFileSize}}</span>
          <span class="msg-file-meta-info">{{ ::msg.message.content.extFileType }}</span>
        </div>

        <!--  ARCHIVED FILE -->
        <div class="archived-file-title" ng-if="msg.message.status == 'archived'">
          <a class="msg-file-meta__title file__name"
             ui-sref="files({ userName: msg.message.writer.name, itemId: msg.message.id })">
            <span translate>@common-deleted-file-title</span>
          </a>

        </div>
      </div>

      <div ng-if="msg.message.status != 'archived'" class="msg-file-meta-down">
        <!--  DOWNLOAD  -->
        <span class="file-uploaded-download" ng-if="!isIntegrateFile">
          <a download-file file-url="{{::msg.message.content.fileUrl}}"
             download-tracker="{{track(msg.message)}}" file-title="{{::msg.message.content.title}}">
            <i class="icon-download cursor_pointer file-action"
               tooltip="{{'@common-download' | translate}}" tooltip-placement="top" append-to-body="true"></i>
          </a>

        </span>

        <span class="separator" ng-if="!isIntegrateFile"></span>

        <!--  SHARE -->
        <i class="icon-share cursor_pointer file-action" ng-click="onShareClick(msg.message);"
           tooltip="{{'@btn-share' | translate}}" tooltip-placement="top" append-to-body="true"></i>

        <span class="separator"></span>

        <!--  MORE  -->
        <span class="file-uploaded-more" tooltip="{{'@file-action-more' | translate}}" tooltip-placement="top" append-to-body="true">
          <i class="fa fa-cog cursor_pointer file-action" center-file-dropdown></i>
        </span>

      </div>
    </div>
  </div>

</div>
