.union-selectbox-wrapper {
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  cursor: pointer;
}

.union-selectbox-wrapper .union-selectbox {
  position: relative;
  height: 30px;
  padding-left: 10px;
  padding-right: 23px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background-color: #fff;
}
.union-selectbox-wrapper.active .union-selectbox {
  background-color: #E7E7E8;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.07);
}

.union-selectbox-wrapper ul {
  max-height: 300px;
  overflow-y: auto;
}

.union-selectbox-wrapper li.active {
  background-color: #e8f3f9;
}

.union-selectbox-wrapper li > span {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.union-selectbox-wrapper .union-selectbox > span {
  display: inline-block;
  width: 100%;
}

.union-selectbox-wrapper .union-selectbox > i {
  position: absolute;
  top: 8px;
  right: 5px;
  -webkit-transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
  transition: transform cubic-bezier(0.250, 1.075, 0.480, 1.235) 350ms;
}

.union-selectbox-wrapper.active .union-selectbox > i {
  -webkit-transform: rotate(-180deg) translateY(0px);
  transform: rotate(-180deg) translateY(0px);
}
