/********************************************

                 FILE LIST

********************************************/
.panel-title-container.file-detail {
  height: 42px;
  line-height: 42px;
}

.rpanel-body-content.file-detail {
  top: 41px;
}
.file__name {
  font-weight: 900;
  font-size: 1rem;
}
.file__owner {
  color: #4bbe2e !important;
  font-weight: 900;
}

.emo_menu{position:absolute;right:6px;top:6px;width:30px;height:30px;line-height:1.6rem;-moz-opacity:.6;-khtml-opacity:.6;-webkit-opacity:.6;opacity:.6;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);-webkit-transitionDISABLED:opacity .1s .2s ease-out;-moz-transitionDISABLED:opacity .1s .2s ease-out;-o-transitionDISABLED:opacity .1s .2s ease-out;transitionDISABLED:opacity .1s .2s ease-out;-webkit-transitionDISABLED:opacity .1s;-moz-transitionDISABLED:opacity .1s;-o-transitionDISABLED:opacity .1s;transitionDISABLED:opacity .1s;z-index:1}
.emo_menu:hover,.emo_menu:active{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);text-decoration:none}



.file-upload__dropdown {
  width: 180px;
  top: 25px;
}
.file-upload__dropdown-list {
  position: relative;
}
.file-upload__dropdown-list:hover,
.file-upload__dropdown-list:hover a {
  cursor: pointer;
  background-color: #31c08a;
  color: #fff;
}

.file-uploader-tab {
  font-size: 12px;
  padding: 8px 10px;
  margin: 0;
  line-height: normal;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.file-uploader-tab.active {
  background-color: #fff;
  color: #333;
}

.file-uploader-tab__more {
  margin-left: 4px;
  vertical-align: middle;
}
.file-uploader-dropdown {
  left: 175px;
  top: 25px;
}


.file-detail-header,
.file-detail-body__image,
.file-detail-body__other,
.file-detail-body__meta .fileicon,
.file-detail-body__meta .file-detail-body__meta-info,
.file-detail-body__meta .file-detail-body__meta-info-down,
.rpanel-detail-body-comment
{
  display: block;
  -webkit-animation: opacIn-from-0 0.5s; /* Chrome, Safari, Opera */
  animation: opacIn-from-0 0.5s;
}

.file-detail-body__image {
  display: inline-block;
}

.file-detail-header {

  padding: 15px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  font-size: 14px;
  color: #666;
  background-color: white;

}
.file-detail-header-box {
  padding: 0px 10px 0px 38px;
  position: relative;
}
.file-detail-header__thumbnail {
  position: absolute;
  left: 0;
  top: 3px;
}
.file-detail-header__writer {
  font-size: 12px;
  margin-bottom: 3px;
}
.file-detail-header__title {
  word-wrap: break-word;
}
.file-detail-header__title > a {
  color: #333;
}
.file-detail-body {
  padding: 15px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;

}

.file-detail-body .image_wrapper {
  text-align: center;
  margin-bottom: 10px;
  cursor: -webkit-zoom-in;
}
.file-detail-body .image_wrapper img {
  border: 1px solid #F5F5F5;
}
.file-detail-body .image_wrapper .loading_bar {
  margin-top: 0;
}
.file-item-body-title-author {
  max-width: 76px;
}
.file-detail-body__image {
  border: 1px solid #f5f5f5;
  max-width: 100%;
  cursor: -webkit-zoom-in;
}
.file-detail-body__other {
  position: relative;
  padding: 10px 12px;
  margin: 0px 0 16px;
  background-color: #f2f2f2;
  min-height: 60px;
}
.file-detail-body__other .fileicon a {
  display: block;
  width: 100%;
  height: 100%;
}
.file-detail-body__other-meta {
  margin: 0 120px 0 36px;
}
.file-detail-body__other-meta .file-item-meta__type {
  margin : 0;
}
.delete-item__msg {
  line-height: 3;
}
.file-detail-body__other-action {
  position: absolute;
  top: 9px;
  right: 12px;
}

.file-detail-body__other-action a {
  width: 100%;
  height: 100%;
  display: block;
}

.file-detail-body__meta {
  position: relative;
}
.file-detail-body__meta .fileicon {
  position: absolute;
  top: 4px;
  left: 0px;
}
.file-detail-body__meta-info {
  margin: 0px 36px 0;
}
.file-detail-body__meta-info-up {
  margin-bottom: 0px;
}
.file-item-meta__action {
  position: absolute;
  top: 5px;
  right: 0px;
}
.file-item-meta__action__dropdown {
  top: 28px;
}
.file_actions:hover {
  text-decoration: none;
}
.file_actions {
  font-size: 21px;
  color: rgb(153, 153, 153);
}
.fileicon-left {
  float: left;
  margin-top: 3px;
}

.archived-file-detail .file-detail-body__other {
  margin: 0;
}

.file-detail-archive-status-container {
  text-align: center;
  padding: 15px 15px 15px 15px;
  font-size: 15px;
  color: #999999;
  line-height: 22px;
  background-color: white;
}
.file-detail-archive-status-container__inner {
  padding: 10px;
  background-color: #f2f2f2;

}
.archived-file-icon-center {
  display: block;
  width: 45px;
  height: 55px;
  margin: 10px auto;
}
/********************************************

                 COMMENT

********************************************/

.rpanel-detail-body-comment {
  background-color: white;
  padding: 15px;
}
.archived-file-detail .rpanel-detail-body-comment {
  padding: 8px;
}
.comment-item {
  position: relative;
  font-size: 14px;
  color: #333;
  padding: 5px 10px 5px 38px;
  margin: 0 0 8px;
}
.comment-item__thumbnail {
  position: absolute;
  left: 0;
  top: 0;
}
.comment-item-header {
  line-height: 14px;
  margin-bottom: 5px;
}
.comment-item-header > span {
  margin-right: 3px;
}
.comment-item-header__name {
  font-weight: 700;
}
.comment-item-header__created {
  color: #999;
  font-size: 12px;
}
.comment-item-header__action .comment-item-header__action__icon {
  display: none;
}
.comment-item:hover .comment-item-header__action .comment-item-header__action__icon {
  display: block;
}
.comment-item-dropdown {
  top: -5px;
  right: -3px !important;
}
.comment-item-body {
  position: relative;
  line-height: 14px;
}
.comment-input-box {
  position: relative;
  padding: 0 15px 15px 53px;
  background-color: white;
}
.comment-input-box .comment-item__thumbnail {
  left: 15px;
}
#comment-form {
  padding-bottom: 40px;
  position: relative;
}
.comment-input {
  width:100%;
  background:white;
  font-size:.95rem;
  line-height:1.2rem;
  border: 1px solid #D2D2D2;
  -webkit-border-top-right-radius:.2rem;
  -webkit-border-bottom-right-radius:.2rem;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
  -moz-border-radius-topright:.2rem;
  -moz-border-radius-bottomright:.2rem;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  border-top-right-radius:.2rem;
  border-bottom-right-radius:.2rem;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  -moz-background-clip:padding-box;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  font-family:'Lato',sans-serif;
  color:#3d3c40;
  -webkit-appearance:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline:0;
  height:80px !important;
  padding:9px 30px 9px 8px;
  max-height:10rem;
  overflow-y:auto !important;
  resize:none !important;
}
.comment-input:focus { -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }
.comment-input.offline { background-color:#fdf1c1; }
.comment-input__tip {
  color: #babbbf;
  font-size: .8rem;
}
.comment-btn {
  position: absolute;
  right: 0;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background: #00abe6;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  bottom: 0;
  letter-spacing: 0.05em;
}
.comment-btn:hover{
  color: white;
}
.comment-item__profile {
  width: 40px;
  height: 40px;
}
.comment-item-float {
  float: left;
  margin: 0 0 0 -50px;
}
.comment-item-body p {
  margin: 0;
  line-height: 20px;
}
.comment-textarea-wrap {
  position: relative;
    margin-bottom: 8px;
}

.file-detail-disabled-member .file-detail-header__thumbnail,
.file-detail-disabled-member .comment-item__thumbnail {
  opacity: 0.4;
}
.file-detail-disabled-member .file-detail-header__writer,
.file-detail-disabled-member .comment-item-header__name {
  text-decoration: line-through;
  opacity: 0.4;
}
.archived-file__title {
  font-size: 15px;
  color: #b7b7b7;
}


.file-not-available-msg-container {
  margin: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  color: #575757;
}
