.integration-service-header .service-info .union-selectbox-wrapper {
  width: 64%;
}

.integration-service-header .service-info  .union-selectbox-wrapper .union-selectbox {
  width: 100%;
  height: inherit;
  max-width: 100%;
  padding-right: 25px;
  line-height: 33px;
  border-color: rgba(32,75,96,0.15);
}
.integration-service-header .service-info  .union-selectbox-wrapper .union-selectbox:hover {
  border-color:rgba(33,75,96,0.35);
}
.integration-service-header .service-info .union-selectbox-wrapper .union-selectbox:hover .dropdown-status {
  border-color: rgba(33,75,96,0.2);
  background-color:rgba(60,100,125,0.1);
}
.integration-service-header .service-info  .union-selectbox-wrapper.active .union-selectbox {
  border-color: #9CB7C9;
  background-color: #F7F8FA;
  box-shadow: inset 0 2px 3px rgba(17,71,104, 0.1);
}
.integration-service-header .service-info  .union-selectbox-wrapper.active .union-selectbox .dropdown-status {
  background-color: rgba(21, 74, 103, 0.15);
  color: #214B60;
  border-color: #9CB7C9;
  box-shadow: inset 0 2px 3px rgba(17,71,104, 0.1);
}

.integration-service-header .service-info .union-selectbox-wrapper .union-selectbox .dropdown-status {
  border-left: 1px solid rgba(32,75,96,0.15);
  width: 24px;
}
.integration-service-header .service-info .union-selectbox-wrapper .union-selectbox .dropdown-status i {
  top:10px;
}
.integration-service-header .service-info .union-selectbox-wrapper .dropdown-menu {
  width: 100%;
  margin-left: -1px !important;
}
