<div class="rpanel-header">
  <i class="icon-cancel"></i>
  <span>Mention</span>
</div>
<div class="rpanel-body mention-list">
  <mention ng-repeat="record in records"></mention>
  <!--<mention-card ng-repeat="mention in mentionList"></mention-card>-->
  <div class="file-list__item loading" ng-if="isSearching && mentionList.length > 0">
    <div class="loading_container_background scroll_loading_container_background"></div>
    <div class="loading_bg scroll_loading_bg"></div>
    <div class="loading_bar icon-loading scroll_loading_bar"></div>
  </div>
</div>
