<div class="rpanel-header">
  <i class="icon-cancel"></i>
  <span>Mention</span>
</div>
<div class="rpanel-body">
  <div class="mention-card">
    <div class="mention-card-header">
      <div class="mention-profile">
        <img class="cursor_pointer">
      </div>
      <div class="mention-meta">
        <div class="mention-title">
          <span class="mention-talker">Markqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwe</span>
          <span class="mention-date">qlewkjqlwkjelqwj</span>
        </div>
        <div class="mention-start">
          <a>qweqwqweqweqweqweqweqeqweqweqweqweqweqweqweqweqweqweqweqewqeqweqwee</a>
        </div>
      </div>
    </div>
    <div class="mention-card-body break-word">
      <p>qwerqwerqerwqwrqewrqewr <span class="mention-highlight">@mark</span> qwerqwerw qrqwerqwerqrqwerqwerqwerqwerqerwqwrqewrqewrqwerqwerwqrqwerqwerqrqwerqwerqwerqwerqerwqwrqewrqewrqwerqwerwqrqwerqwerqrqwerqwerqwerqwerqerwqwrqewrqewrqwerqwerwqrqwerqwerqrqwerqwerqwerqwerqerwqwrqewrqewrqwerqwerwqrqwerqwerqrqwerqwer</p>
    </div>
  </div>
  <!--<mention-card ng-repeat="mention in mentionList"></mention-card>-->
  <div class="file-list__item loading" ng-if="isSearching && mentionList.length > 0">
    <div class="loading_container_background scroll_loading_container_background"></div>
    <div class="loading_bg scroll_loading_bg"></div>
    <div class="loading_bar icon-loading scroll_loading_bar"></div>
  </div>
</div>
