.rpanel-body.mention-list {
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 35px;
}
.rpanel .rpanel-body.mention-list .mention {
  line-height: 24px;
}

.rpanel-body.mention-list .search-result-summary-ing > span {
  display: inline-block;
}
.rpanel-body.mention-list .search-result-summary-ing .three-quarters-loader {
  position: absolute;
  top:39px;
  left:-38px;
}