<div class="tutorial_left">
  <div class="tutorial_left_topic">
    <li class="cursor_pointer ng-scope" ng-repeat="topic in topicList">
      <a data-channel-id="11156828" class="ng-binding">
        <i class="icon-star left-star icon-star-fill"></i>
        <span class="inline-overflow-ellipsis left-panel__name ng-binding" >{{ topic.name }}</span>
      </a>
    </li>
  </div>

  <div class="tutorial_left_dm">
    <li class="cursor_pointer ng-scope" ng-repeat="dm in dmList">
      <a data-channel-id="11156828" class="ng-binding">
        <i class="icon-star left-star icon-star-fill"></i>
        <span class="inline-overflow-ellipsis left-panel__name ng-binding" >{{ dm.name }}</span>
      </a>
    </li>
  </div>
</div>