.tutorial_left {
  position: absolute;
  top:128px;
  width: 237px;
  height: 100%;
}

.tutorial_left_topic {
  float: left;
  position: relative !important;
  min-height: 100px;
  width: 237px;
  clear: both;
  top: auto;
}

.tutorial_left_dm {
  float: left;
  position: relative !important;
  min-height: 100px;
  height: 300px;
  width: 237px;
  top: auto;
}
