<div class="tutorial_left">

  <!-- TOPIC LIST -->
  <div class="lpanel-list tutorial_left_topic">
    <!--    HEADER  -->
    <div class="lpanel-list__header cursor_pointer">
      <i class="fa lpanel-collapse-arrow fa-caret-down"></i>
      <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-topics</span>
      <div class="lpanel-list-option pull-right">
        <i class="icon-add"></i>
      </div>
      <div class="lpanel-list-option pull-right">
        <i class="icon-list"></i>
      </div>
    </div>
    <!-- BODY -->
    <ul class="in">
      <li class="cursor_pointer"
          ng-repeat="topic in topicList"
          ng-class="{
            'active': topic.isActive
          }">
        <a>
          <i class="icon-star left-star"
             ng-class="{'icon-star-fill': topic.isStarred}"></i>
          <span class="inline-overflow-ellipsis left-panel__name" >{{ topic.name }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="lpanel-list lpanel-list__users tutorial_left_dm">
    <!-- HEADER -->
    <div class="lpanel-list__header cursor_pointer">
      <i class="fa lpanel-collapse-arrow fa-caret-down"></i>

      <i class="lpanel-list-left icon-user"></i>
      <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-direct-messages</span>
      <div class="lpanel-list-option pull-right">
        <i class="icon-add"></i>
      </div>
    </div>
    <ul class="in">
      <li class="cursor_pointer"
          ng-repeat="dm in dmList"
          ng-class="{
            'active': dm.isActive
          }">
        <a>
          <i class="icon-star left-star"
             ng-class="{'icon-star-fill': dm.isStarred}"></i>
          <span class="inline-overflow-ellipsis left-panel__name" >{{ dm.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>