<page-tracker page="topic/invite" title="Invite Members To Topic"></page-tracker>
<!-- Modal: Invite to Channel/Group -->
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel(); clear();"><i class="icon-cancel"></i></button>
  <h3 class="modal-header__title">
    <span translate>@modal-invite-members</span>
  </h3>
</div>

<div class="invite-channel">
  <div class="invite-channel-full" ng-if="!inviteChannel">
    <div class="modal-body form-invite-body">
      <div class="image help-invite-members"></div>
      <div class="invite-members-desc">
        <span ng-bind-html="inviteTeamMsg1"></span>
        <span ng-bind-html="inviteTeamMsg2"></span>
      </div>
    </div>

    <div class="modal-footer">
      <input class="btn btn-ok" type="button" id="private_invite" value="{{ '@btn-invite' | translate }}" ng-click="onInviteTeamClick();" />
    </div>
  </div>

  <div class="invite-channel-extra" ng-if="inviteChannel">
    <div class="modal-body form-invite-body">
      <!--    LIST OF USERS WHO WILL BE INVITED WHEN BUTTON IS CLICKED    -->
      <div class="form-invite-body__selected">
        <span class="cursor_pointer"
              ng-repeat="user in (availableMemberList | filter : { selected : true })"
              ng-click="onRemove(user);">
          <span class="form-invite-body__selected-user btn-ok">
            {{ user | getName }} <span class="fa fa-times"></span>
          </span>
        </span>
      </div>
      <div class="input-group custom-typeahead form-invite-body__list">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="text"
          class="form-control green-input-box"
          ng-model="selectedUser"
          invitation-channel
          typeahead="user as user|getName for user in availableMemberList | filter : { selected : false } | userByName:$viewValue"
          typeahead-on-select="onSelect($item); selectedUser=''; $event.stopPropagation();"
          typeahead-template-url="customTemplate.html"
          typeahead-min-length="0"
          placeholder="{{ '@input-search-user-name' | translate }}" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-cancel" ng-click="cancel(); clear();"><span translate>@btn-close</span></button>
      <input class="btn btn-ok" type="button" id="private_invite" value="{{ '@btn-invite' | translate }}" ng-click="onInviteClick(currentEntity.type);"/>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
      <a class="match_container">
        <span ng-click="match.model.selected = true" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span ng-if="isMember(match.model)">check</span>
      </a>
    </script>
  </div>
</div>

<div class="loading_container" ng-if="isLoading">
  <div class="loading_container_background"></div>
  <div class="loading_bg"></div>
  <div class="loading_bar icon-loading"></div>
</div>

<div ng-if="false">
  <span></span>
</div>
