<page-tracker page="topic/invite" title="Invite Members To Topic"></page-tracker>
<!-- Modal: Invite to Channel/Group -->
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel(); clear();"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span translate>@modal-invite-members</span>
  </h3>
</div>
<div class="modal-container invite-channel non-selectable">
  <div class="invite-channel-full" ng-if="!isInviteChannel">
    <div class="modal-body form-invite-body cursor_pointer"  ng-click="onInviteTeamClick();">
      <div class="image help-send-invitations"></div>
      <div class="invite-members-desc">
        <span ng-bind-html="inviteTeamMsg1"></span>
        <span ng-bind-html="inviteTeamMsg2"></span>
      </div>
    </div>

    <div class="modal-footer">
      <input class="btn btn-ok"
             type="button"
             id="private_invite"
             value="{{ '@btn-invite' | translate }}"
             ng-click="onInviteTeamClick();" />
    </div>
  </div>

  <div class="invite-channel-extra" ng-if="isInviteChannel">
    <div class="modal-body form-invite-body">
      <!--    LIST OF USERS WHO WILL BE INVITED WHEN BUTTON IS CLICKED    -->
      <div class="form-invite-body__selected">
        <span class="cursor_pointer"
              ng-repeat="user in inviteUsers"
              ng-click="onMemberClick(user, false);">
          <span class="form-invite-body__selected-user btn-ok">
            {{ user | getName }} <span class="fa fa-times"></span>
          </span>
        </span>
      </div>

      <div class="input-group invite-member-filter-container">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input class="form-control green-input-box"
               id="invite-member-filter"
               type="text"
               jnd-input-model="selectedUser"
               placeholder="{{'@input-search-user-name' | translate}}" />
      </div>
      <div class="member-list-container">
        <list-on-modal type="avaliableMember"
                       list="availableMemberList"
                       item-type="member"
                       item-class="member-item"
                       model="selectedUser"
                       filter="#invite-member-filter"
                       on-select="onMemberClick"
                       get-matches="getMatches"
                       activeted="true"
                       item-height="44"
                       buffer-length="10"></list-on-modal>
      </div>
      <div class="no-result-container" ng-show="!hasAllMembers && selectingMembers.length === 0">
        <span translate>@no-match-members</span>
      </div>
      <div class="no-result-container" ng-show="hasAllMembers">
        <span translate>@no-more-invite-members</span>
      </div>
      <div class="select-all-container checkbox">
        <label><input type="checkbox" id="select-all-members" ng-click="onSelectAll()"/><span translate>@select-all-members</span></label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-cancel" ng-click="cancel(); clear();"><span translate>@btn-close</span></button>
      <input class="btn btn-ok send-invite _modalSubmit" ng-class="{'disabled': inviteUsers.length === 0}" type="button" id="private_invite" value="{{ '@btn-invite' | translate }}" ng-click="onInviteClick(currentEntity.type);"/>
    </div>
  </div>
</div>
<jnd-loading></jnd-loading>
