.modal-dialog .invite-channel .help-invite-members {
	display: inline-block;
	width: 76px;
	height: 89px;
	background-size: 76px 89px;
	margin-top: 32px;
	margin-bottom: 20px;
}
.modal-dialog .invite-channel .help-send-invitations {
	display: inline-block;
	width: 130px;
	height: 130px;
	background-size: 130px 130px;
	margin-top: 32px;
	margin-bottom: 20px;
}

.modal-dialog .invite-channel .member-list-container {
	margin-top: 20px;
	max-height: 500px;
	overflow-y: auto;
}

.invite-channel .invite-channel-full {
	text-align: center;
}

.invite-channel .invite-channel-full .modal-body {
	padding-bottom: 40px;
}

.invite-channel .invite-channel-full span {
	display: block;
}

.invite-channel .invite-channel-full span:first-child {
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}

.invite-channel .invite-channel-full span:last-child {
	font-size: 14px;
	color: #666;
}

.invite-channel .select-all-container {
	margin-top: 12px;
	padding: 4px;
	line-height: 20px;
}

.invite-channel .select-all-container span:hover {
	text-decoration: underline;
}

.invite-channel .select-all-container input {
	height: 12px;
}
