.tutorial-jump {
  top: 45px;
  left: 150px;
}

.tutorial-jump img {
  width: 260px !important;
  margin: 15px 10px 10px 20px !important;
  border: none !important;
}

.tutorial-jump .tutorial-popover-arrow.top {
  left: 110px;
}