.tutorial-star {
  left: auto;
  top: 40px;
  right: 25px;
}
.tutorial-star .tutorial-popover-arrow.top {
  left: auto;
  right: 30px
}
.tutorial-star video {
  width: 300px;
  margin: 5px 15px 10px 15px;
  border: 1px solid #e1e1e1;
}
