<ul class="dropdown-menu grey_dropdown center-item-dropdown-layer" role="menu">
  <li role="presentation" tabindex="-1"
      ng-if="showAnnouncement"
      ng-click="createAnnouncement()">
    <a role="menuitem" tabindex="-1">
      <i class="icon-bullhorn"></i>
      <span translate>@announcement-create</span>
    </a>
  </li>
  <li ng-if="hasStar"
      role="presentation" tabindex="-1"
      star-view="msg.message.isStarred"
      star-view-id="{{ msg.message.id }}"
      event-bubble="on">
    <a role="menuitem" tabindex="-1">
      <i ng-if="!msg.message.isStarred" class="icon-star-off"></i><span ng-if="!msg.message.isStarred" translate>@star-add</span>
      <i ng-if="msg.message.isStarred" class="icon-star-on"></i><span ng-if="msg.message.isStarred" translate>@star-remove</span>
    </a>
  </li>
  <li role="presentation" tabindex="-1"
      ng-if="isMyMessage || isAdmin"
      ng-click="deleteMessage()">
    <a role="menuitem" tabindex="-1">
      <i class="icon-trash msg-item-action-icon"></i>
      <span translate>@message-delete</span>
    </a>
  </li>
</ul>
