<div>
  <!--    HEADER  -->
  <div class="lpanel-list__header cursor_pointer" ng-click="onMessageHeaderClick($event);"
     ng-class="{'collapsed': isMessageListCollapsed}">
    <i class="lpanel-collapse-arrow" ng-class="{'icon-arrow-up-fill': !isMessageListCollapsed,
                                                'icon-arrow-down-fill': isMessageListCollapsed}"></i>
    <span class="lpanel-list__title inline-overflow-ellipsis" translate>@common-direct-messages</span>

    <div class="lpanel-list-option pull-right" ng-click="openModal('memberList'); $event.stopPropagation(); $event.preventDefault();"
         tooltip="{{'@more-dm-list' | translate}}" tooltip-placement="bottom" tooltip-append-to-body="true">
      <i class="icon-plus"></i>
    </div>
    <span class="left-header-badge">
      <badge content="totalAlarmCnt" group="header" key="'1'"></badge>
    </span>
  </div>

  <!--    LIST    -->
  <ul id="dm-list">
    <!--    WHEN THERE IS NO ONE IN MESSAGE LIST    -->
    <div class="empty-message-list-container cursor_pointer" ng-if="messageList.length == 0"
         ng-click="openModal('memberList');">
      <img class="empty-message-list__img" src="../assets/images/center/help-dm.png"/>
      <div class="empty-message-list__new-message" translate>
        @common-start-new-message
      </div>
    </div>

    <!-- WHERE THERE IS AT LEAST ONE PERSON IN MESSAGE LIST -->
    <div ng-if="messageList.length > 0">
      <li class="member cursor_pointer"
          ng-repeat="userEntity in messageList track by userEntity.id"
          ng-class="{'active': entityId == userEntity.id,
                    'messages-list-disabled-member': isDisabledMember(userEntity)}">

        <a ng-class="{'has-unread-msg': userEntity.alarmCnt > 0}"
           data-member-id="{{userEntity.id}}"
           data-ng-click="enterEntity(userEntity);">
          <i class="icon-star-off left-star" ng-class="{'icon-star-on': userEntity.isStarred}"
             data-ng-click="onStarClick(userEntity.id); $event.preventDefault(); $event.stopPropagation();"></i>

          <span class="inline-overflow-ellipsis left-panel__name private-effect" ng-class="{'has-unread-msg': userEntity.alarmCnt > 0}">{{userEntity | getName}}</span>
          <badge content="userEntity.alarmCnt" group="user" key="userEntity.id"></badge>
          <!--<span class="badge left-panel_badge green_badge pull-right">{{userEntity.alarmCnt}}</span>-->
          <span class="left-panel_leave pull-right"
                ng-click="onMeesageLeaveClick(userEntity.id); $event.preventDefault(); $event.stopPropagation();"
                tooltip="{{'@common-conversation-leave' | translate}}" tooltip-append-to-body="true">
            <i class="icon-delete"></i>
          </span>
        </a>
      </li>
    </div>
  </ul>

  <div class="clear-both"></div>
  <div ng-if="false" translate>@common-conversation-leave-confirm</div>
</div>
