.empty-message-list-container {
  padding: 10px 11px 0 24px;
  text-align: center;
  color: #999999;
}
.empty-message-list-container:hover .empty-message-list__new-message {
  text-decoration: underline;
}
.empty-message-list__img {
  width: 40px;
  display: block;
  margin: 10px auto;
}
.lpanel-list ul li:hover .left-panel_leave {
    opacity: 0.6;
}
.has-unread-msg .left-panel_leave {
    display: none;
}
.left-panel_leave {
    margin-right: 5px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.left-panel_leave:hover {
    opacity: 1 !important;
}
.has-unread-msg {
    /*color: #31c08a;*/
}

:lang(ja) {  }
:lang(ko) {  }
:lang(en) {  }

