.empty-message-list-container {
  padding: 10px 30px 15px 30px;
  text-align: center;
  color: #777;
  font-size: 13px;
  line-height: 1.6em;
}
.empty-message-list-container:hover .empty-message-list__new-message {
  text-decoration: underline;
}
.empty-message-list__img {
  width: 35px;
  height: 35px;
  display: block;
  margin: 10px auto;
  opacity: 0.6;
}
.lpanel-list ul li:hover .left-panel_leave {
    opacity: 0.6;
}
.lpanel-list ul li:hover .left-panel_leave .icon-delete {
    font-size: 8px;
}
.has-unread-msg .left-panel_leave {
    display: none;
}
.left-panel_leave {
    margin-right: 5px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  font-size: 8px !important;
}
.left-panel_leave:hover {
    opacity: 1 !important;
}
.has-unread-msg {
    /*color: #31c08a;*/
}
#dm-list .tooltip:lang(en),
#dm-list .tooltip:lang(ko) {
  width: 48px;
}
#dm-list .tooltip-inner:lang(ko) {
}
:lang(ja) {  }
:lang(ko) {  }
:lang(en) {  }



.messages-list-disabled-member .left-panel__name {
  text-decoration: line-through;
}