<div class="dropup sticker_panel_wrap non-selectable" dropdown on-toggle="onToggled(open);" is-open="status.isOpen">
  <!-- 스티커 패널 오픈 버튼-->
  <a class="dropdown dropdown-toggle sticker_panel_btn cursor_pointer"
          ng-class="{'on': status.isOpen}"
          dropdown-toggle>
    <i class="icon-sticker"></i>
    <div class="lip"></div>
    <div class="mouse"></div>
  </a>
  <!-- 스티커 패널 -->
  <div class="sticker_panel dropdown-menu dropdown-menu-right" dropdown-menu>
    <!-- 스티커 리스트-->
    <div class="sticker_panel_contents" ng-switch="isRecentEmpty">
      <div class="sticker_empty" ng-switch-when="true">
        <div class="sticker_panel_empty_icon">
          <i class="icon-sticker"></i>
        </div>
        <div class="sticker_panel_empty_text">
          Recent Stickers
        </div>
      </div>
      <ul class="sticker_panel_ul" ng-switch-default >
        <li class="sticker_panel_li cursor_pointer"
            ng-repeat="item in list"
            ng-class="{'active': isActiveSticer($index)}"
            ng-mouseenter="selectActiveSticker($index)"
            ng-mousedown="selectSticker()">
          <div class="sticker size_1" ng-style="::{'background-image': 'url({{::item.url}})'}"></div>
        </li>
      </ul>
    </div>
    <!-- 스티커 탭-->
    <div class="sticker_panel_tab">
      <ul>
        <li ng-repeat="group in groups"
            ng-click="onClickGroup($event, group)"
            ng-class="{'on': isActiveGroup($index)}">
          <div class="sticker_panel_tab_item {{::group.className}}">
            <i ng-if="isRecentGroup($index)" class="icon-clock"></i>
          </div>
          <span class="new-sticker on">
            N
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
