<div class="dropup sticker_panel_wrap">
  <a class="dropdown dropdown-toggle sticker_panel_btn"
          data-toggle="dropdown"
          ng-class="{'on': status.isOpen}"
          on-toggle="onToggled(open);">
  <i class="fa fa-smile-o"></i> </a>

  <div class="sticker_panel dropdown-menu dropdown-menu-right" role="menu">
    <div class="sticker_panel_contents">
      <ul class="sticker_panel_ul">
        <li class="sticker_panel_li"
            data-ng-repeat="item in list"
            ng-click="onClickItem(item)">
          <img src="{{item.url}}"/>
        </li>
      </ul>
    </div>
    <div class="sticker_panel_tab">
      <ul>
        <li>
          <a class="sticker_panel_tab_item recent"
             ng-click="onClickTabRecent($event)">
            <i class="fa fa-clock-o"></i>
          </a>
        </li>
        <li>
          <a class="sticker_panel_tab_item"
             ng-click="onClickTabGroup($event)">
            <img src="./assets/images/sticker/tab_on.svg"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>