.msg-item.comment-title,
.msg-item.comment-continue{
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 15px 0 67px;
}

.msg-item .continue-comment-body {
  position: relative;
  padding-top: 2px;
  padding-left: 36px;
  display: inline-block;
  width: 100%;
}

.continue-comment-body p {
  margin: 0;
}
.continue-comment-body .msg-hidden {
  visibility: hidden;
}

/*.continue-comment-body .comment-guide {*/
  /*position: relative;*/
/*}*/
.continue-comment-body .comment-guide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 29px;
}

.comment-guide .guide-line {
  position: absolute;
  top: 0;
  width: 2px;
  bottom: 0;
  left: 12px;
  background-color: #d7e0e8;
}

.comment-guide .guide-line-bg {
  position: absolute;
  width: 28px;
  height: 33px;
  background-color: #fff;
}

.comment-guide .comment-writer {
  position: relative;
  width: 26px;
  height: 26px;
  margin-top: 2px;
}

.continue-comment-body .comment-content {
  padding-top: 2px;
  padding-bottom: 1px;
  line-height: 1.5rem;
  min-height: 33px;
}

.comment-content .comment-text {
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
}
