.integration-preview-wrapper {
  font-size: 14px;
  line-height: 18px;
  clear: both;
}

.integration-preview-wrapper .preview-title,
.integration-preview-wrapper .preview-subset-title {
  color: #505050;
  font-weight: 700;
}

.integration-preview-wrapper .preview-description,
.integration-preview-wrapper .preview-subset-description {
  margin-top: 4px;
  color: #808080;
  font-weight: 500;
}

.integration-preview-wrapper .preview-image {
  margin-top: 4px;
  font-weight: 500;
}

.attachment-content .integration-preview-wrapper:not(:first-child),
.integration-preview-wrapper .preview-item:not(:first-child),
.integration-preview-wrapper .preview-subsets .preview-subset:not(:first-child){
  margin-top: 14px;
}

/* integration-preview-wrapper가 두개 연속으로 올 수 있기 때문에 float으로 하지 않고 inline-block으로 처리함 */
.integration-preview-wrapper .preview-subsets .preview-subset.subset-short {
  display: inline-block;
  margin-top: 0;
  margin-right: 8px;
  width: calc(50% - 28px);
}
