<!-- UNREAD BOOKMARK  -->
<div class="msg-item" id="unread-bookmark">
  <div class=" msg-unread-bookmark system-event-msg">
    <div class="msg-item-float cursor_pointer">
      <img class="member-profile member-thumb"/>
    </div>

    <div class="msg-item-body">
      <span>{{translate '@unread-bookmark-message'}}</span>
    </div>
  </div>
</div>