.msg-file .msg-file-meta {
  margin-top: 5px;
  min-height: 0 !important;
}

/*.medium-thumbnail > div[image-loader] {*/
  /*width: 360px;*/
  /*height: 270px;*/
/*}*/
.medium-thumbnail.msg-file-body__img__background,
.medium-thumbnail.medium-thumbnail-wrapper {
  position: relative;
  margin-top: 10px;
}

.medium-thumbnail.msg-file-body__img__background img {
  width: 100%;
  height: 100%;
}

.medium-thumbnail .msg-file-actions-bg {
  display: block;
}

.file-action {
  line-height: 16px !important;
  font-size: 16px;
  color: #575757;
  margin-top: 7px;
}
.file-action:hover {
  color: #154a67;
  text-decoration: none !important;
}

.msg-file-meta-up .preview-icon {
  vertical-align: middle;
  cursor: pointer;
  font-size: 18px;
  color: #575757;
  margin-left: -2px;
}

.msg-file-actions-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #f5f5f5;
  opacity: .85;
}
.msg-file-actions-bg .msg-file-actions {
  position: absolute;
  top: 14px;
  right: 14px;
}

.msg-file-actions .action-group {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  float: left;
  margin-left: 6px;
}

.action-group .action-item {
  float:left;
  padding: 4px 7px;
}

.action-group .action-item .icon-arrow-right {
  font-weight: bold;
  font-size: 15px;
}

.action-group .action-item:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.msg-file-actions .action-comment span {
  font-size: 12px;
  color: #333;
}
.msg-file-actions i {
  font-size: 18px;
  color: #575757;
  vertical-align: middle;
}

.file-uploaded-extra {
  margin-right: 20px;
}

.preview-container .no-image-preview {
  background-repeat: no-repeat;
  background-size: 360px 150px;
  background-position: 0 60px;
  cursor: default;
}

/* FILE DOWN */
.msg-file-meta-down {
   padding-top: 3px;
}
.msg-file-meta-down .separator {
   width: 1px;
   height: 17px;
   background-color: #e2e2e2;
   margin: 0px 4px -3px 3px;
   display: inline-block;
}

.file-uploaded-more {
  position: relative;
}
.msg-file-meta-down .icon-cog-fill{
  font-size: 14px;
  padding-left: 0px;
}
.msg-file-meta-down .icon-share-right-fill{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
}
