<div class="attachment-content-wrapper">
  <div class="attachment-content-bar" style="{{style.bar}}"></div>
  <div class="attachment-content">
    {{{html.content}}}
  </div>  <!-- end of attachment-content  -->
</div>  <!--  end of attachment-content-wrapper -->
