<div class="integration-preview-wrapper">
  <div class="preview-title"></div>
  <div class="preview-description"></div>
  <div class="integration-preview-subsets">
    <div class="preview-subset">
      <div class="preview-subset-title"></div>
      <div class="preview-subset-description"></div>
    </div>
    <div class="preview-subset">
      <div class="preview-subset-title"></div>
      <div class="preview-subset-description"></div>
    </div>
  </div>
</div>
