.msg-file .msg-file-meta {
  margin-top: 10px;
  min-height: 50px !important;
}

.medium-thumbnail > div[image-loader] {
  width: 360px;
  height: 270px;
}

.medium-thumbnail.medium-thumbnail-wrapper {
  margin-top: 10px;
}

.file-action {
  line-height: 16px !important;
  font-size: 16px;
  color: #575757;
  margin-top: 7px;
}
.file-action:hover {
  color: #154a67;
  text-decoration: none !important;
}

.msg-file-meta-up .preview-icon {
  vertical-align: middle;
  cursor: pointer;
  font-size: 18px;
  color: #575757;
}

.msg-file-meta-down {
   padding-top: 5px;
}
.msg-file-meta-down .separator {
   width: 1px;
   height: 17px;
   background-color: #e2e2e2;
   margin: 0px 4px -3px 3px;
   display: inline-block;
}

.file-uploaded-more {
  position: relative;
}
.msg-file-meta-down .icon-cog-fill{
  font-size: 14px;
  padding-left: 0px;
}
.msg-file-meta-down .icon-share-right-fill{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
}

.file-uploaded-extra {
  margin-right: 20px;
}

.preview-container .no-image-preview {
  background-repeat: no-repeat;
  background-size: 360px 150px;
  background-position: 0 60px;
  cursor: default;
}
