.text-msg-item-container {
  /*z-index: 1;*/
}
.text-msg-item-container .msg-item-body {
  /*z-index: 1;*/
}
.text-highlight-background {
  background-color: #f2fbff;
}
.text-highlight-background .guide-line-bg {
  background-color: #f2fbff;
}

.msg-item__action {
  display:none;
}

.msg-item-action-icon {
  font-size: 16px;
  /*color: #c5c5c5;*/
}
.msg-item-action-icon:hover {
  /*color: #9a9a9a;*/
}

.msg-item:hover .msg-item__action {
  display:inline-block;
}

/********************
       RIGHT ICONS
********************/
.msg-item-icon {
  width: 20px;
  height: 20px;
  background: transparent;
  float: right;
}
.msg-item-circle {
  border-radius: 10px;
}

.msg-item-star {
  margin-right: 5px;
  padding: 2px 0 0 1.5px !important;
  font-size: 16px !important;
  color: #f9bb00;
  background: transparent;
}

.msg-item-star.off {
  padding: 3px 0 0 3px !important;
  font-size: 14px !important;
  color: #ffffff;
  background: #d7e0e8;
}
.msg-item-star.off:hover {
  background: #f9bb00;
}
.comment-continue .msg-item-star i {
  vertical-align: top;
  display: inline-block;
}


.msg-item-more {
  padding: 2px;
  font-size: 16px;
  color: #FFFFFF;
  background: #d7e0e8;
}

.msg-item-more:hover {
  background: #366480;
}

.msg-item.bot-text {
  background-color: #FAFBFD;
  border: 1px solid #edeeed;
  border-left-width: 0;
  border-right-width: 0;
  padding:18px 18px 18px 78px;
  margin: 10px 0;
}
.msg-item.bot-text.text-child {
  border-top: 1px dashed #E1E5E8;
  margin-top:-11px;
}
.bot-text .msg-item-header {
  padding: 0px;
  line-height: 25px;
}
.bot-text .msg-item-float {
  top:16px;
  left: 16px;
}
.bot-text .member-thumb {
  width: 48px;
  height: 48px;
}
.bot-text .attachment-content-wrapper {
  padding: 12px 0 0 0;
}