

<span translate>@common-start-using-jandi</span>
<span translate>@common-get-started</span>


<span translate>@tutorial-slide-1</span>
<span translate>@tutorial-slide-2</span>
<span translate>@tutorial-slide-3</span>
<span translate>@tutorial-tooltip-1</span>
<span translate>@tutorial-tooltip-2</span>
<span translate>@tutorial-tooltip-3</span>
<span translate>@tutorial-tooltip-4</span>
<span translate>@tutorial-modal1-title</span>
<span translate>@tutorial-modal1-content</span>
<span translate>@tutorial-modal2-title</span>
<span translate>@tutorial-modal2-content</span>
<span translate>@tutorial-modal3-title</span>
<span translate>@tutorial-modal3-content</span>
<span translate>@tutorial-modal4-title</span>
<span translate>@tutorial-modal4-content</span>
<span translate>@tutorial-modal5-title</span>
<span translate>@tutorial-modal5-content</span>
<span translate>@tutorial-modal6-title</span>
<span translate>@tutorial-modal6-content</span>
<span translate>@tutorial-modal7-title</span>
<span translate>@tutorial-modal7-content</span>





<span translate>@common-send</span>
<span translate>@message-mention</span>



<span translate>@common-try-again</span>
<span translate>@upload-all</span>
<span translate>@announce-more</span>
<span translate>@announce-hide</span>
<span translate>@announce-fold</span>
<span translate>@tutorial-slide-1</span>
<span translate>@tutorial-slide-2</span>
<span translate>@tutorial-slide-3</span>



<span translate>@common-off</span>
<span translate>@sounds-arise</span>
<span translate>@sounds-chime</span>
<span translate>@sounds-ding</span>
<span translate>@sounds-marimba</span>
<span translate>@sounds-mouse</span>
<span translate>@sounds-nursery</span>
<span translate>@sounds-point</span>
<span translate>@sounds-pop</span>
<span translate>@sounds-super</span>



<span translate>@ch-menu-invite-for-mac</span>
<span translate>@ch-menu-invite-for-win</span>
<span translate>@ch-menu-leave-private-confirm</span>
<span translate>@setting-notification-preview-all</span>
<span translate>@setting-notification-preview-public</span>
<span translate>@setting-notification-preview-none</span>

<span translate>@setting-notification-preview-content</span>
<span translate>@setting-notification-desktop</span>

<span translate>@setting-notification-dm-n-mention</span>
<span translate>@setting-notification-sounds</span>
<span translate>@setting-notification-sounds-topic</span>
<span translate>@setting-notification-sounds-mention</span>

<span translate>@setting-notification-permission-denied</span>


<span translate>@common-disable</span>
<span translate>@jandi-bot-status</span>
<span translate>@jandi-bot-role</span>
<span translate>@common-connect-setting</span>
<span translate>@common-unsupport-image</span>
<span translate>@folder-tutorial-title</span>
<span translate>@folder-tutorial-content</span>
<span translate>@shortcut-files</span>
<span translate>@shortcut-messages</span>
<span translate>@shortcut-stars</span>
<span translate>@shortcut-mentions</span>

<span translate>@common-download</span>
<span translate>@btn-share</span>
<span translate>@file-action-more</span>
<span translate>@common-deleted-file-title</span>
<span translate>@msg-invited-postfix</span>
<span translate>@msg-joined</span>
<span translate>@msg-left</span>
<span translate>@msg-invited</span>
<span translate>@msg-create-ch</span>
<span translate>@msg-create-pg</span>
<span translate>@system-msg-announcement-deleted</span>
<span translate>@system-msg-announcement-created</span>
<span translate>@star-forbidden</span>
<span translate>@unread-bookmark-message</span>

<span translate>@suffix-year</span>
<span translate>@suffix-month</span>
<span translate>@suffix-day</span>

<span translate>@monday</span>
<span translate>@tuesday</span>
<span translate>@wednesday</span>
<span translate>@thursday</span>
<span translate>@friday</span>
<span translate>@saturday</span>
<span translate>@sunday</span>

<span translate>@web-notification-sample-body-text</span>
<span translate>@setting-notification-turn-on</span>
<span translate>@setting-notification-turn-off</span>

<span translate>@web-notification-body-topic-pre</span>
<span translate>@web-notification-body-topic-mid</span>
<span translate>@web-notification-body-topic-post</span>

<span translate>@web-notification-body-messages-pre</span>
<span translate>@web-notification-body-messages-post</span>

<span translate>@web-notification-body-message-file-comment-pre</span>
<span translate>@web-notification-body-message-file-comment-mid</span>
<span translate>@web-notification-body-message-file-comment-post</span>

<span translate>@web-notification-body-other-team-pre</span>
<span translate>@web-notification-body-other-team-post</span>

<span translate>@web-notification-body-file-share</span>
<span translate>@web-notification-file-share</span>

<span translate>@web-notification-body-topic-invited</span>
<span translate>@web-notification-body-private-topic-invited</span>

<span translate>@common-unknown-error</span>

<span translate>@header-nav-language</span>
<span translate>@header-nav-jump</span>

<span translate>@quick-launcher-unjoin-topic</span>
<span translate>@quick-launcher-no-matches</span>
<span translate>@quick-launcher-placeholder</span>
<span translate>@quick-launcher-tooltip-for-win</span>
<span translate>@quick-launcher-tooltip-for-mac</span>
<span translate>@quick-launcher-create-topic</span>
<span translate>@quick-launcher-create-topic-with-query</span>
<span translate>@quick-launcher-browse-topics</span>

<span translate>@no-match-members</span>
<span translate>@no-more-invite-members</span>

<span translate>@only-one-team</span>
<span translate>@team-create-info-help-msg</span>
<span translate>@common-create-team</span>

<span translate>@topic-rename-title</span>
<span translate>@common-rename</span>
<span translate>@common-name</span>
<span translate>@input-max-length-error</span>
<span translate>@topic-description</span>
<span translate>@topic-description-placeholder</span>
<span translate>@btn-cancel</span>
<span translate>@common-done</span>
<span translate>@common-duplicate-name-err</span>
<span translate>@common-send-dm</span>
<span translate>@common-invalid-access</span>
<span translate>@common-edit</span>
<span translate>@common-send-dm-success</span>
<span translate>@common-joined</span>

<span translate>@external-share-create</span>
<span translate>@external-share-create-msg</span>
<span translate>@external-share-create-title</span>
<span translate>@external-share-create-desc</span>
<span translate>@external-share-remove</span>
<span translate>@external-share-remove-msg</span>
<span translate>@external-share-remove-title</span>
<span translate>@external-share-remove-desc</span>
<span translate>@common-open-new-window</span>

<span translate>@selectbox-query-matches</span>
<span translate>@selectbox-current-members</span>
<span translate>@selectbox-disabled-members</span>

<span translate>@common-kicked-out</span>
<span translate>@search-cond-reset</span>

<span translate>@markdown-code</span>
<span translate>@markdown-strikethrough</span>
<span translate>@markdown-italics</span>
<span translate>@markdown-bold</span>
<span translate>@markdown-bold-italics</span>

<span translate>@external-share-copy</span>

<span translate>@common-auto-join</span>
<span translate>@common-invite-all</span>

<span translate>@common-privacy-lock-msg</span>

<span translate>@topic-invite-public</span>
<span translate>@topic-invite-private</span>

<span translate>@btn-file-detail</span>
<span translate>@btn-image-expand</span>
<span translate>@comment-all-desc</span>

<span translate>@common-text-size</span>

<span translate>@shortcut-open-shortcut</span>
<span translate>@shortcut-switch-teams</span>
<span translate>@shortcut-rpanel-prev</span>
<span translate>@shortcut-rpanel-next</span>
<span translate>@shortcut-upload</span>
<span translate>@shortcut-rpanel-file</span>
<span translate>@shortcut-rpanel-message</span>
<span translate>@shortcut-rpanel-stars</span>
<span translate>@shortcut-rpanel-mentions</span>
<span translate>@shortcut-invite-topic</span>
<span translate>@shortcut-scroll-up</span>
<span translate>@shortcut-scroll-down</span>
<span translate>@shortcut-zoom-in</span>
<span translate>@shortcut-zoom-out</span>
<span translate>@shortcut-zoom-reset</span>
<span translate>@shortcut-toggle-rpanel</span>
<span translate>@shortcut-show-sticker</span>
<span translate>@shortcut-confirm-modal</span>
<span translate>@shortcut-jump</span>
<span translate>@shortcut-focus-input</span>
<span translate>@shortcut-lock-screen</span>
<span translate>@shortcut-new-line</span>

<span translate>@shortcut-title-basic</span>
<span translate>@shortcut-title-message</span>
<span translate>@shortcut-title-rpanel</span>
<span translate>@shortcut-title-view</span>
<span translate>@shortcut-title-advanced</span>

<span translate>@jnd-connect-1</span>
<span translate>@jnd-connect-2</span>
<span translate>@jnd-connect-3</span>
<span translate>@jnd-connect-4</span>
<span translate>@jnd-connect-5</span>
<span translate>@jnd-connect-6</span>
<span translate>@jnd-connect-7</span>
<span translate>@jnd-connect-8</span>
<span translate>@jnd-connect-9</span>
<span translate>@jnd-connect-10</span>
<span translate>@jnd-connect-11</span>
<span translate>@jnd-connect-12</span>
<span translate>@jnd-connect-13</span>
<span translate>@jnd-connect-14</span>
<span translate>@jnd-connect-15</span>
<span translate>@jnd-connect-16</span>
<span translate>@jnd-connect-17</span>
<span translate>@jnd-connect-18</span>
<span translate>@jnd-connect-19</span>
<span translate>@jnd-connect-20</span>
<span translate>@jnd-connect-21</span>
<span translate>@jnd-connect-22</span>
<span translate>@jnd-connect-23</span>
<span translate>@jnd-connect-24</span>
<span translate>@jnd-connect-25</span>
<span translate>@jnd-connect-26</span>
<span translate>@jnd-connect-27</span>
<span translate>@jnd-connect-28</span>
<span translate>@jnd-connect-29</span>
<span translate>@jnd-connect-30</span>
<span translate>@jnd-connect-31</span>
<span translate>@jnd-connect-32</span>
<span translate>@jnd-connect-33</span>
<span translate>@jnd-connect-34</span>
<span translate>@jnd-connect-35</span>
<span translate>@jnd-connect-36</span>
<span translate>@jnd-connect-37</span>
<span translate>@jnd-connect-38</span>
<span translate>@jnd-connect-39</span>
<span translate>@jnd-connect-40</span>
<span translate>@jnd-connect-41</span>
<span translate>@jnd-connect-42</span>
<span translate>@jnd-connect-43</span>
<span translate>@jnd-connect-44</span>
<span translate>@jnd-connect-45</span>
<span translate>@jnd-connect-46</span>
<span translate>@jnd-connect-47</span>
<span translate>@jnd-connect-48</span>
<span translate>@jnd-connect-49</span>
<span translate>@jnd-connect-50</span>
<span translate>@jnd-connect-51</span>
<span translate>@jnd-connect-52</span>
<span translate>@jnd-connect-53</span>
<span translate>@jnd-connect-54</span>
<span translate>@jnd-connect-55</span>
<span translate>@jnd-connect-56</span>
<span translate>@jnd-connect-57</span>
<span translate>@jnd-connect-58</span>
<span translate>@jnd-connect-59</span>
<span translate>@jnd-connect-60</span>
<span translate>@jnd-connect-61</span>
<span translate>@jnd-connect-62</span>
<span translate>@jnd-connect-63</span>
<span translate>@jnd-connect-64</span>
<span translate>@jnd-connect-65</span>
<span translate>@jnd-connect-66</span>
<span translate>@jnd-connect-67</span>
<span translate>@jnd-connect-68</span>
<span translate>@jnd-connect-69</span>
<span translate>@jnd-connect-70</span>
<span translate>@jnd-connect-71</span>
<span translate>@jnd-connect-72</span>
<span translate>@jnd-connect-73</span>
<span translate>@jnd-connect-74</span>
<span translate>@jnd-connect-75</span>
<span translate>@jnd-connect-76</span>
<span translate>@jnd-connect-77</span>
<span translate>@jnd-connect-78</span>
<span translate>@jnd-connect-79</span>
<span translate>@jnd-connect-80</span>
<span translate>@jnd-connect-81</span>
<span translate>@jnd-connect-82</span>
<span translate>@jnd-connect-83</span>
<span translate>@jnd-connect-84</span>
<span translate>@jnd-connect-85</span>
<span translate>@jnd-connect-86</span>
<span translate>@jnd-connect-87</span>
<span translate>@jnd-connect-88</span>
<span translate>@jnd-connect-89</span>
<span translate>@jnd-connect-90</span>
<span translate>@jnd-connect-91</span>
<span translate>@jnd-connect-92</span>
<span translate>@jnd-connect-93</span>
<span translate>@jnd-connect-94</span>
<span translate>@jnd-connect-95</span>
<span translate>@jnd-connect-96</span>
<span translate>@jnd-connect-97</span>
<span translate>@jnd-connect-98</span>
<span translate>@jnd-connect-99</span>
<span translate>@jnd-connect-100</span>
<span translate>@jnd-connect-101</span>
<span translate>@jnd-connect-102</span>
<span translate>@jnd-connect-103</span>
<span translate>@jnd-connect-104</span>
<span translate>@jnd-connect-105</span>
<span translate>@jnd-connect-106</span>
<span translate>@jnd-connect-107</span>
<span translate>@jnd-connect-108</span>
<span translate>@jnd-connect-109</span>
<span translate>@jnd-connect-110</span>
<span translate>@jnd-connect-111</span>
<span translate>@jnd-connect-112</span>
<span translate>@jnd-connect-113</span>
<span translate>@jnd-connect-114</span>
<span translate>@jnd-connect-115</span>
<span translate>@jnd-connect-116</span>
<span translate>@jnd-connect-117</span>
<span translate>@jnd-connect-118</span>
<span translate>@jnd-connect-119</span>
<span translate>@jnd-connect-120</span>
<span translate>@jnd-connect-121</span>
<span translate>@jnd-connect-122</span>
<span translate>@jnd-connect-123</span>
<span translate>@jnd-connect-124</span>
<span translate>@jnd-connect-125</span>
<span translate>@jnd-connect-126</span>
<span translate>@jnd-connect-127</span>
<span translate>@jnd-connect-128</span>
<span translate>@jnd-connect-129</span>
<span translate>@jnd-connect-130</span>
<span translate>@jnd-connect-131</span>
<span translate>@jnd-connect-132</span>
<span translate>@jnd-connect-133</span>
<span translate>@jnd-connect-134</span>
<span translate>@jnd-connect-135</span>
<span translate>@jnd-connect-136</span>
<span translate>@jnd-connect-137</span>
<span translate>@jnd-connect-138</span>
<span translate>@jnd-connect-139</span>
<span translate>@jnd-connect-140</span>
<span translate>@jnd-connect-141</span>
<span translate>@jnd-connect-142</span>
<span translate>@jnd-connect-143</span>
<span translate>@jnd-connect-144</span>
<span translate>@jnd-connect-145</span>
<span translate>@jnd-connect-146</span>
<span translate>@jnd-connect-147</span>
<span translate>@jnd-connect-148</span>
<span translate>@jnd-connect-149</span>
<span translate>@jnd-connect-150</span>
<span translate>@jnd-connect-151</span>
<span translate>@jnd-connect-152</span>
<span translate>@jnd-connect-153</span>
<span translate>@jnd-connect-154</span>
<span translate>@jnd-connect-155</span>
<span translate>@jnd-connect-156</span>
<span translate>@jnd-connect-157</span>
<span translate>@jnd-connect-158</span>
<span translate>@jnd-connect-159</span>
<span translate>@jnd-connect-160</span>
<span translate>@jnd-connect-161</span>
<span translate>@jnd-connect-162</span>
<span translate>@jnd-connect-163</span>
<span translate>@jnd-connect-164</span>
<span translate>@jnd-connect-165</span>
<span translate>@jnd-connect-166</span>
<span translate>@jnd-connect-167</span>
<span translate>@jnd-connect-168</span>
<span translate>@jnd-connect-169</span>
<span translate>@jnd-connect-170</span>
<span translate>@jnd-connect-171</span>
<span translate>@jnd-connect-172</span>
<span translate>@jnd-connect-173</span>
<span translate>@jnd-connect-174</span>
<span translate>@jnd-connect-175</span>
<span translate>@jnd-connect-176</span>
<span translate>@jnd-connect-177</span>
<span translate>@jnd-connect-178</span>
<span translate>@jnd-connect-179</span>
<span translate>@jnd-connect-180</span>
<span translate>@jnd-connect-181</span>
<span translate>@jnd-connect-182</span>
<span translate>@jnd-connect-183</span>
<span translate>@jnd-connect-184</span>
<span translate>@jnd-connect-185</span>
<span translate>@jnd-connect-186</span>
<span translate>@jnd-connect-187</span>
<span translate>@jnd-connect-188</span>
<span translate>@jnd-connect-189</span>
<span translate>@jnd-connect-190</span>
<span translate>@jnd-connect-191</span>
<span translate>@jnd-connect-192</span>
<span translate>@jnd-connect-193</span>
<span translate>@jnd-connect-194</span>
<span translate>@jnd-connect-195</span>
<span translate>@jnd-connect-196</span>
<span translate>@jnd-connect-197</span>
<span translate>@jnd-connect-198</span>
<span translate>@jnd-connect-199</span>
<span translate>@jnd-connect-200</span>
<span translate>@jnd-connect-201</span>
<span translate>@jnd-connect-202</span>
<span translate>@jnd-connect-203</span>
<span translate>@jnd-connect-204</span>
<span translate>@jnd-connect-205</span>
<span translate>@jnd-connect-206</span>
<span translate>@jnd-connect-207</span>
<span translate>@jnd-connect-208</span>
<span translate>@jnd-connect-209</span>
<span translate>@jnd-connect-210</span>
<span translate>@jnd-connect-211</span>
<span translate>@jnd-connect-212</span>
<span translate>@jnd-connect-213</span>
<span translate>@jnd-connect-214</span>
<span translate>@jnd-connect-215</span>
<span translate>@jnd-connect-216</span>
<span translate>@jnd-connect-217</span>
<span translate>@jnd-connect-218</span>
<span translate>@jnd-connect-219</span>
<span translate>@jnd-connect-220</span>
<span translate>@jnd-connect-221</span>
<span translate>@jnd-connect-222</span>
<span translate>@jnd-connect-223</span>
<span translate>@jnd-connect-224</span>
<span translate>@jnd-connect-225</span>
<span translate>@jnd-connect-226</span>
<span translate>@jnd-connect-227</span>


<span translate>@common-text-size</span>
<span translate>@common-zoom-in</span>
<span translate>@common-zoom-out</span>
<span translate>@common-zoom-reset</span>

<span translate>@common-file-type-archive</span>

<span translate>@common-team-admin</span>
<span translate>@common-topic-admin</span>

