<span translate>@common-download</span>
<span translate>@btn-share</span>
<span translate>@file-action-more</span>
<span translate>@common-deleted-file-title</span>
<span translate>@msg-invited-postfix</span>
<span translate>@msg-joined</span>
<span translate>@msg-left</span>
<span translate>@msg-invited</span>
<span translate>@msg-create-ch</span>
<span translate>@msg-create-pg</span>
<span translate>@system-msg-announcement-deleted</span>
<span translate>@system-msg-announcement-created</span>
<span translate>@star-forbidden</span>
<span translate>@unread-bookmark-message</span>

<span translate>@suffix-year</span>
<span translate>@suffix-month</span>
<span translate>@suffix-day</span>

<span translate>@monday</span>
<span translate>@tuesday</span>
<span translate>@wednesday</span>
<span translate>@thursday</span>
<span translate>@friday</span>
<span translate>@saturday</span>
<span translate>@sunday</span>

