<span translate>@common-download</span>
<span translate>@btn-share</span>
<span translate>@file-action-more</span>
<span translate>@common-deleted-file-title</span>
<span translate>@msg-invited-postfix</span>
<span translate>@msg-joined</span>
<span translate>@msg-left</span>
<span translate>@msg-invited</span>
<span translate>@msg-create-ch</span>
<span translate>@msg-create-pg</span>
<span translate>@system-msg-announcement-deleted</span>
<span translate>@system-msg-announcement-created</span>
<span translate>@star-forbidden</span>
<span translate>@unread-bookmark-message</span>

<span translate>@suffix-year</span>
<span translate>@suffix-month</span>
<span translate>@suffix-day</span>

<span translate>@monday</span>
<span translate>@tuesday</span>
<span translate>@wednesday</span>
<span translate>@thursday</span>
<span translate>@friday</span>
<span translate>@saturday</span>
<span translate>@sunday</span>

<span translate>@web-notification-sample-body-text</span>
<span translate>@setting-notification-turn-on</span>
<span translate>@setting-notification-turn-off</span>

<span translate>@web-notification-body-topic-pre</span>
<span translate>@web-notification-body-topic-mid</span>
<span translate>@web-notification-body-topic-post</span>

<span translate>@web-notification-body-messages-pre</span>
<span translate>@web-notification-body-messages-post</span>

<span translate>@web-notification-body-message-file-comment-pre</span>
<span translate>@web-notification-body-message-file-comment-mid</span>
<span translate>@web-notification-body-message-file-comment-post</span>

<span translate>@web-notification-body-other-team-pre</span>
<span translate>@web-notification-body-other-team-post</span>

<span translate>@web-notification-body-file-share</span>
<span translate>@web-notification-file-share</span>

<span translate>@web-notification-body-topic-invited</span>
<span translate>@web-notification-body-private-topic-invited</span>

<span translate>@common-unknown-error</span>

<span translate>@header-nav-language</span>
<span translate>@header-nav-jump</span>

<span translate>@quick-launcher-unjoin-topic</span>
<span translate>@quick-launcher-no-matches</span>
<span translate>@quick-launcher-placeholder</span>
<span translate>@quick-launcher-tooltip-for-win</span>
<span translate>@quick-launcher-tooltip-for-mac</span>
<span translate>@quick-launcher-create-topic</span>
<span translate>@quick-launcher-create-topic-with-query</span>
<span translate>@quick-launcher-browse-topics</span>

<span translate>@no-match-members</span>
<span translate>@no-more-invite-members</span>

<span translate>@only-one-team</span>
<span translate>@team-create-info-help-msg</span>
<span translate>@common-create-team</span>

<span translate>@topic-rename-title</span>
<span translate>@common-rename</span>
<span translate>@common-name</span>
<span translate>@input-max-length-error</span>
<span translate>@topic-description</span>
<span translate>@topic-description-placeholder</span>
<span translate>@btn-cancel</span>
<span translate>@common-done</span>
<span translate>@common-duplicate-name-err</span>

<span translate>@common-invalid-access</span>

<span translate>@external-share-create</span>
<span translate>@external-share-create-msg</span>
<span translate>@external-share-create-title</span>
<span translate>@external-share-create-desc</span>
<span translate>@external-share-remove</span>
<span translate>@external-share-remove-msg</span>
<span translate>@external-share-remove-title</span>
<span translate>@external-share-remove-desc</span>
<span translate>@common-open-new-window</span>

<span translate>@selectbox-query-matches</span>
<span translate>@selectbox-current-members</span>
<span translate>@selectbox-disabled-members</span>

<span translate>@common-kicked-out</span>
<span translate>@search-cond-reset</span>

<span translate>@markdown-code</span>
<span translate>@markdown-strikethrough</span>
<span translate>@markdown-italics</span>
<span translate>@markdown-bold</span>
<span translate>@markdown-bold-italics</span>

<span translate>@external-share-copy</span>
