<div class="msg-item text">
  <div class="text-msg-item-container ng-scope">
    <!--  User Thumbnail -->
    <div class="msg-item-float cursor_pointer">
      <img class="user-profile user-thumb" ng-src="{{ msg.profileUrl }}">
    </div>
    <div class="msg-item-header">
      <!--    WRITER-->
        <span class="msg-item-header__name cursor_pointer">
          <span class="msg-item-header__nameSpace">
            <span>{{ msg.name }}</span>
          </span>
        </span>
    </div>
    <div class="msg-item-body">
      <!-- TEXT -->
      <div class="msg-text">
        <img ng-if="msg.contentType === 'sticker'"  class="sticker size_5" ng-src="{{ msg.content }}"/>
        <span ng-if="msg.contentType === 'text'" class="keep msg-text-body" ng-bind-html="(msg.content) || ''"></span>
        <span class="msg-item-header__created">{{msg.time | gethmmaFormat}}</span>
        <span ng-if="msg.unreadCount" class="badge unread-badge">{{ msg.unreadCount }}</span>
      </div>
    </div>
  </div>
</div>
