.tutorial_profile_area {
  z-index: 16;
  width: 238px;
  height: 55px;
  position: absolute;
  top: 75px;
  left: 0;
}

.tutorial_dropdown.menu_profile {
  top: 100px;
  left: 220px;
  width: 200px;
}

.tutorial_dropdown.menu_profile i {
  width: 10px;
}