<div>
  <div class="tutorial_dimm"
      ng-class="{
        'profile': step === 0 || step === 1,
        'full': step === 2
      }">
  </div>
  <div ng-if="step === 0" class="tutorial_profile_area cursor_pointer"
       ng-click="onClickProfile();">
  </div>
  <div ng-if="step === 1" class="tutorial_dropdown menu_profile">
    <ul>
      <li>
        <a class="enabled" ng-click="onClickProfile();">
          <i class="fa fa-user"></i>
          <span translate>@common-profile-settings</span>
        </a>
      </li>
      <!-- 로그아웃 -->
      <li>
        <a>
          <i class="icon-logout"></i>
          <span translate>@common-sign-out</span>
        </a>
      </li>
    </ul>
  </div>
  <div ng-if="step === 2" class="tutorial_modal">
    <tutorial-modal-profile></tutorial-modal-profile>
  </div>
  <tutorial-purse options="purse"></tutorial-purse>
</div>
