<page-tracker page="topic/create" title="Create Topic"></page-tracker>
<!-- Modal: Create Topic -->
<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>
  <h3 class="modal-header__title">
    <span translate>@common-create-ch</span>
  </h3>
</div>

<form name="entityCreateForm" ng-submit="onCreateClick(entityCreateForm);" novalidate="">
  <div class="modal-body topic-create">

    <!--  TOPIC TITLE  -->
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2"><span translate>@common-name</span></label>
        <div class="col-sm-10">
          <input type="text"
                 class="form-control"
                 name="entityName"
                 jnd-input-model="topicName"
                 jnd-is-trim="on"
                 placeholder="{{ '@input-create-ch' | translate }}"
                 ng-maxlength="60"/>
          <alert type="warning" class="profile-settings-body__alert" data-ng-if="entityCreateForm.entityName.$error.maxlength">
            {{ '@input-max-length-error' | translate}}
          </alert>

        </div>
      </div>
    </div>

    <!--  TOPIC TYPE  -->
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2 entity-type-title"><span translate>@common-entity-type</span></label>
        <div class="col-sm-10">
          <div class="radio-container">
            <input type="radio" ng-model="entityType" value="public"/><span class="radio-title" translate>@common-type-public</span>
            <input type="radio" ng-model="entityType" value="private"/><span class="radio-title" translate>@common-type-private</span>
          </div>
          <!-- TOPIC TYPE HELP MESSAGE  -->
          <div class="modal-body-type-container">
            <span translate>@modal-create-entity-title</span>

            <div class="private-topic-help-msg-container modal-body__description-help" ng-if="entityType == 'private'">
              <div translate>@modal-create-private-topic-help-msg-1</div>
              <div translate>@modal-create-private-topic-help-msg-2</div>
              <div translate>@modal-create-private-topic-help-msg-3</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- TOPIC DESCRIPTION  -->
    <div class="form-horizontal topic-description-container">
      <div class="form-group">
        <label class="control-label col-sm-2">
          <span translate>@topic-description</span>
        </label>
        <div class="col-sm-10">
          <textarea
            class="form-control topic-description-input"
            name="topicDescription"
            jnd-input-model="topicDescription"
            jnd-is-trim="on"
            placeholder="{{ '@topic-description-placeholder' | translate }}"
            ng-maxlength="300"
            autocorrect="off"
            autocomplete="off">
          </textarea>
          <alert type="warning" class="profile-settings-body__alert" data-ng-if="entityCreateForm.topicDescription.$error.maxlength">
            {{ '@input-max-length-error' | translate}}
          </alert>
        </div>
      </div>
    </div>


  </div>


  <div class="modal-footer">
    <span class="btn btn-cancel" data-ng-click="cancel();" translate>@btn-close</span>
    <input class="btn btn-ok" type="submit" id="create_new_channel" value="{{ '@btn-create' | translate }}" ng-disabled="!topicName.length" />
  </div>
</form>

<span ng-if="false" translate>@common-duplicate-name-err</span>

<jnd-loading></jnd-loading>

