.topic-create,
.topic-rename {
  padding-bottom: 3px;
}
.topic-create .modal-body__description,
.topic-rename .modal-body__description {
  margin: 0;
}

.topic-create .modal-body__description-help,
.topic-rename .modal-body__description-help {
  height: auto;
  margin-top: 10px;
}

.modal-body-type-container {
  line-height: 22px;
}
.modal-body-type-container.alert-danger {
  margin-top:5px;
  padding:8px 14px;
  border: 1px solid #ebccd1 !important;
  border-radius: 3px;
}
.entity-type-title {
  padding-right: 0;
}
.entity-type-title:lang(ja) {
  font-size: 12px;
}
.entity-type-title:lang(en) {
  padding-right: 15px;
}

.topic-description-container .control-label {
  padding-right: 0;
  line-height: 24px;
}
.topic-description-container .form-group {
  margin-bottom: 0;
}
.topic-description-input {
  resize: none !important;
  height: 115px !important;
}
