<page-tracker page="topic/create" title="Create Topic"></page-tracker>
<!-- Modal: Create Topic -->
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel();"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span>{{ ::'@common-create-ch' | translate }}</span>
  </h3>
</div>

<form name="entityCreateForm" ng-submit="onCreateClick(entityCreateForm);" novalidate="">
  <div class="modal-body topic-create">

    <!--  TOPIC TITLE  -->
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3"><span>{{ ::'@common-name' | translate }}</span></label>
        <div class="col-sm-9">
          <input class="form-control"
                 type="text"
                 name="entityName"
                 id="topic-create-name"
                 jnd-input-model="form.topicName"
                 jnd-is-trim="on"
                 placeholder="{{ ::'@input-create-ch' | translate }}"/>
          <alert type="warning" class="profile-settings-body__alert" ng-if="form.topicName.length > nameMaxLength">
            {{ ::'@input-max-length-error' | translate}}
          </alert>
        </div>
      </div>
    </div>

    <!--  TOPIC TYPE  -->
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3 entity-type-title"><span>{{ ::'@common-entity-type' | translate }}</span></label>
        <div class="col-sm-9">
          <div class="radio-container">
            <input type="radio" ng-model="entityType" value="public"/><span class="radio-title">{{ ::'@common-type-public' | translate }}</span>
            <input type="radio" ng-model="entityType" value="private"/><span class="radio-title">{{ ::'@common-type-private' | translate }}</span>
          </div>
          <!-- TOPIC TYPE HELP MESSAGE  -->
          <div class="modal-body-type-container alert-danger">
            <span>{{ ::'@modal-create-entity-title' | translate }}</span>

            <div class="private-topic-help-msg-container modal-body__description-help" ng-if="entityType === 'private'">
              <div>{{ ::'@modal-create-private-topic-help-msg-1' | translate }}</div>
              <div>{{ ::'@modal-create-private-topic-help-msg-2' | translate }}</div>
              <div>{{ ::'@modal-create-private-topic-help-msg-3' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  TOPIC AUTO INVITE  -->
    <div class="form-horizontal">
	  <div ng-if="entityType !== 'private'" class="form-group">
      <label class="control-label col-sm-3 auto-invite-title">
        <span translate>@common-auto-join</span>
      </label>
      <div class="col-sm-9">
        <div class="modal-body-auto-invite-container">
          <input type="checkbox" id="topic-auto-invite" ng-model="form.isAutoJoin">
          <label for="topic-auto-invite">
            <div class="auto-invite-description">
              <span translate>@common-invite-all</span>
            </div>
          </label>
        </div>
      </div>
	  </div>
	</div>

    <!-- TOPIC DESCRIPTION  -->
    <div class="form-horizontal topic-description-container">
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span>{{ ::'@topic-description' | translate }}</span>
        </label>
        <div class="col-sm-9">
          <textarea
            class="form-control topic-description-input"
            name="topicDescription"
            jnd-input-model="form.topicDescription"
            jnd-is-trim="on"
            placeholder="{{ ::'@topic-description-placeholder' | translate }}"
            autocorrect="off"
            autocomplete="off">
          </textarea>
          <alert type="warning" class="profile-settings-body__alert" ng-if="form.topicDescription.length > descMaxLength">
            {{ ::'@input-max-length-error' | translate}}
          </alert>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <span class="btn btn-cancel" ng-click="cancel();">{{ ::'@btn-close' | translate }}</span>
    <input class="btn btn-ok _modalSubmit" type="submit" id="create_new_channel" value="{{ ::'@btn-create' | translate }}" ng-disabled="!form.topicName.length" />
  </div>
</form>
<jnd-loading></jnd-loading>
<div ng-if="false">
  <span translate>@common-create-ch</span>
  <span translate>@common-name</span>
  <span translate>@input-create-ch</span>
  <span translate>@input-max-length-error</span>
  <span translate>@common-entity-type</span>
  <span translate>@common-type-public</span>
  <span translate>@common-type-private</span>
  <span translate>@modal-create-entity-title</span>
  <span translate>@modal-create-private-topic-help-msg-1</span>
  <span translate>@modal-create-private-topic-help-msg-2</span>
  <span translate>@modal-create-private-topic-help-msg-3</span>
  <span translate>@topic-description</span>
  <span translate>@topic-description-placeholder</span>
  <span translate>@btn-close</span>
  <span translate>@btn-create</span>
  <span translate>@common-duplicate-name-err</span>
</div>
