.topic-create,
.topic-rename {
  padding-bottom: 20px;
}
.topic-create .modal-body__description,
.topic-rename .modal-body__description {
  margin: 0;
}

.topic-create .modal-body__description-help,
.topic-rename .modal-body__description-help {
  height: auto;
  margin-top: 10px;
}

.modal-body-type-container {
  line-height: 22px;
}
.modal-body-type-container.alert-danger {
  margin-top:5px;
  padding:8px 14px;
  border: 1px solid #ebccd1 !important;
  border-radius: 3px;
}
.radio-container input:nth-child(3) {
  margin-left: 8px;
}
.modal-body-auto-invite-container {
  padding-left: 22px;
}
.auto-invite-description {
  line-height: 22px;
      padding: 6px 14px 8px 0;	
}
#topic-auto-invite {
  position: absolute;
  top:7px;
  margin-left: -21px;
}
.entity-type-title {
  padding-right: 0;
}
.control-label.auto-invite-title {
  padding-right: 0;
}

/* 레이블 컬럼 너비 확대로, 언어별 폰트 사이즈 조정 코드 조절이 불필요.
.entity-type-title:lang(ja) {
  font-size: 12px;
}
.entity-type-title:lang(en) {
  padding-right: 15px;
}
.control-label.auto-invite-title:lang(en) {
  line-height: 22px;
  padding: 6px 0 6px 15px !important;
  font-size: 13px;
}
*/

.topic-description-container .control-label {
  padding-right: 0;
  line-height: 24px;
}
.topic-description-container .form-group {
  margin-bottom: 0;
}
.topic-description-input {
  resize: none !important;
  height: 115px !important;
}
