#create-entity-body {
  padding-bottom: 0;
  margin-bottom: -19px;
}
#create-entity-body .modal-body__description {
  margin: 0;
}

#create-entity-body .modal-body__description-help {
  height: auto;
  margin-top: 10px;
}

.modal-body-type-container {
  line-height: 22px;
}
.entity-type-title {
  padding-right: 0;
}
.entity-type-title:lang(ja) {
  font-size: 12px;
}
.entity-type-title:lang(en) {
  padding-right: 15px;
}