.invite-email-item {
  display: inline-block;
  background-color: #82C0D6;
  color: #fff;
  text-align: center;
  margin: 3px;
  padding: 4px 8px 3px;
  border-radius: 2px;
}

.invite-email-item:hover {
  background-color: #6797B1;
}

.invite-email-item .fa {
  margin-left: 3px;
}
