<span ng-if="false" translate>@common-invalid-request</span>

<title>{{ title }}</title>

<div id="header" ng-include="headerTemplate"></div>

<div class="jandi-container">
    <div class="jandi-header">
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
        <div class="col-lg-4">
            <img src="assets/images/logo-ci.png" alt="logo-ci" class="jandi-header__logo" />
            <h2 class="jandi-header__title"><span translate>@modal-setting-account-password</span></h2>
            <p class="jandi-header__message"><span translate>@password-reset-message</span></p>
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
    </div>

    <div class="jandi-body">
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
        <div class="col-lg-4">

            <form class="jandi-body__form" role="form" name="passwordResetForm" ng-submit="resetPassword(user);">

                <div class="passwordRestFromWrapper"
                     ng-class="{'level1':   (   passwordResetForm.newPassword.passwordStrengthLevel >= 0
                                            ||  passwordResetForm.newPassword.passwordStrengthLevel  >= 1)
                                            &&  passwordResetForm.newPassword.$dirty
                                            &&  passwordResetForm.newPassword.$viewValue,
                                'level2':       passwordResetForm.newPassword.passwordStrengthLevel >= 2,
                                'level3':       passwordResetForm.newPassword.passwordStrengthLevel >= 3,
                                'level4':       passwordResetForm.newPassword.passwordStrengthLevel >= 4}">

                    <alert type="success" ng-if="resetDone">
                        {{ '@password-reset-done' | translate}}
                    </alert>

                    <input type="password" name="newPassword"
                           ng-model="user.password"
                           class="jandi-body__form-input form-control password-input-border"
                           data-ng-disabled="resetDone"
                           placeholder="{{ '@common-new-password' | translate }}"
                           data-ng-required="true"
                           autofocus
                           password-strength/>

                    <div class="password-strength-indicator">
                        <div class="password-level-block-container">
                            <span class="password-level-block password-level-1"></span>
                            <span class="password-level-block password-level-2"></span>
                            <span class="password-level-block password-level-3"></span>
                            <span class="password-level-block password-level-4"></span>
                        </div>

                        <div class="password-level-warning-msg"
                             ng-if="passwordResetForm.newPassword.$dirty && passwordResetForm.newPassword.$viewValue"
                             ng-switch="passwordResetForm.newPassword.passwordStrengthLevel">
                            <span ng-switch-when="0"><span translate> @input-password-very-weak </span> </span>
                            <span ng-switch-when="1"><span translate> @input-password-very-weak </span> </span>
                            <span ng-switch-when="2"><span translate> @input-password-average   </span> </span>
                            <span ng-switch-when="3"><span translate> @input-password-good      </span> </span>
                            <span ng-switch-when="4"><span translate> @input-password-excellent </span> </span>
                        </div>
                    </div>

                    <alert type="danger"
                           data-ng-if="passwordResetForm.newPassword.passwordStrengthLevel <= 2 && passwordResetForm.$dirty && passwordResetForm.newPassword.$viewValue">
                        {{ '@input-user-password-error' | translate}}
                    </alert>

                </div>



                <button class="btn btn-jandi btn-block jandi-body__form-submit" type="submit" ng-disabled="passwordResetForm.$invalid || resetDone"><span translate>@btn-edit</span></button>
            </form>
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md"></div>
    </div>
    <div class="clear-both"></div>
</div>

<div id="footer" ng-include="footerTemplate"></div>


<div class="loading_container" data-ng-if="isLoading" style="z-index:1031;">
    <div class="loading_container_background"></div>
    <div class="loading_bg"></div>
    <div class="loading_bar icon-loading"></div>
</div>
