@font-face {
	font-family: 'jandi-icon';
	src:url('../../../assets/fonts/jandi-icon.eot?x6qtun');
	src:url('../../../assets/fonts/jandi-icon.eot?x6qtun#iefix') format('embedded-opentype'),
	url('../../../assets/fonts/jandi-icon.ttf?x6qtun') format('truetype'),
	url('../../../assets/fonts/jandi-icon.woff?x6qtun') format('woff'),
	url('../../../assets/fonts/jandi-icon.svg?x6qtun#jandi-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'jandi-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-member-disabled:before {
	content: "\e670";
}
.icon-member-disabled-fill:before {
	content: "\e66f";
}
.icon-users-line:before {
	content: "\e66e";
}
.icon-comment-fill:before {
	content: "\e66d";
}
.icon-bullhorn-fill:before {
	content: "\e66c";
}
.icon-wrench:before {
	content: "\e66b";
}
.icon-warning:before {
	content: "\e66a";
}
.icon-warning-triangle:before {
	content: "\e669";
}
.icon-warning-fill:before {
	content: "\e668";
}
.icon-volume-up:before {
	content: "\e667";
}
.icon-volume-off:before {
	content: "\e666";
}
.icon-volume-down:before {
	content: "\e665";
}
.icon-users:before {
	content: "\e664";
}
.icon-user:before {
	content: "\e663";
}
.icon-user-plus:before {
	content: "\e662";
}
.icon-user-plus-fill:before {
	content: "\e661";
}
.icon-user-plus-circle:before {
	content: "\e660";
}
.icon-user-plus-circle-fill:before {
	content: "\e65f";
}
.icon-user-fill:before {
	content: "\e65e";
}
.icon-user-circle:before {
	content: "\e65d";
}
.icon-user-circle-fill:before {
	content: "\e65c";
}
.icon-upload:before {
	content: "\e65b";
}
.icon-upload-fill:before {
	content: "\e65a";
}
.icon-trash:before {
	content: "\e659";
}
.icon-trash-fill:before {
	content: "\e658";
}
.icon-topic:before {
	content: "\e657";
}
.icon-topic-private:before {
	content: "\e656";
}
.icon-topic-plus:before {
	content: "\e655";
}
.icon-topic-fill:before {
	content: "\e654";
}
.icon-switch:before {
	content: "\e653";
}
.icon-sticker:before {
	content: "\e652";
}
.icon-star-on:before {
	content: "\e651";
}
.icon-star-off:before {
	content: "\e650";
}
.icon-star-circle-on:before {
	content: "\e64f";
}
.icon-star-circle-off:before {
	content: "\e64e";
}
.icon-star-circle-fill-on:before {
	content: "\e64d";
}
.icon-star-circle-fill-off:before {
	content: "\e64c";
}
.icon-sign-out:before {
	content: "\e64b";
}
.icon-sign-out-fill:before {
	content: "\e64a";
}
.icon-share-right:before {
	content: "\e649";
}
.icon-share-right-fill:before {
	content: "\e648";
}
.icon-share-right-circle:before {
	content: "\e647";
}
.icon-share-left:before {
	content: "\e646";
}
.icon-share-left-fill:before {
	content: "\e645";
}
.icon-share-left-circle:before {
	content: "\e644";
}
.icon-search:before {
	content: "\e643";
}
.icon-reorder:before {
	content: "\e642";
}
.icon-remove-circle:before {
	content: "\e641";
}
.icon-refresh:before {
	content: "\e640";
}
.icon-plus:before {
	content: "\e63f";
}
.icon-plus-circle:before {
	content: "\e63e";
}
.icon-phone:before {
	content: "\e63d";
}
.icon-phone-fill:before {
	content: "\e63c";
}
.icon-pencil:before {
	content: "\e63b";
}
.icon-pencil-line:before {
	content: "\e63a";
}
.icon-pencil-fill:before {
	content: "\e639";
}
.icon-more:before {
	content: "\e638";
}
.icon-more-vertical:before {
	content: "\e637";
}
.icon-more-vertical-circle:before {
	content: "\e636";
}
.icon-more-fill:before {
	content: "\e635";
}
.icon-more-circle:before {
	content: "\e634";
}
.icon-minus-circle:before {
	content: "\e633";
}
.icon-minimize:before {
	content: "\e632";
}
.icon-microphone:before {
	content: "\e631";
}
.icon-mail:before {
	content: "\e630";
}
.icon-long-arrow-right:before {
	content: "\e62f";
}
.icon-long-arrow-left:before {
	content: "\e62e";
}
.icon-lock:before {
	content: "\e62d";
}
.icon-laptop:before {
	content: "\e62c";
}
.icon-laptop-mini:before {
	content: "\e62b";
}
.icon-info:before {
	content: "\e62a";
}
.icon-info-fill:before {
	content: "\e629";
}
.icon-help:before {
	content: "\e628";
}
.icon-help-fill:before {
	content: "\e627";
}
.icon-global:before {
	content: "\e626";
}
.icon-folder:before {
	content: "\e625";
}
.icon-folder-fill:before {
	content: "\e624";
}
.icon-file:before {
	content: "\e623";
}
.icon-file-fill:before {
	content: "\e622";
}
.icon-download:before {
	content: "\e621";
}
.icon-download-fill:before {
	content: "\e620";
}
.icon-delete:before {
	content: "\e61f";
}
.icon-comment:before {
	content: "\e61e";
}
.icon-cog:before {
	content: "\e61d";
}
.icon-cog-fill:before {
	content: "\e61c";
}
.icon-clock:before {
	content: "\e61b";
}
.icon-clock-fill:before {
	content: "\e61a";
}
.icon-check:before {
	content: "\e619";
}
.icon-check-circle:before {
	content: "\e618";
}
.icon-chat:before {
	content: "\e617";
}
.icon-chat-plus-circle:before {
	content: "\e616";
}
.icon-bullhorn:before {
	content: "\e615";
}
.icon-bell:before {
	content: "\e614";
}
.icon-bell-slash:before {
	content: "\e613";
}
.icon-bell-slash-fill:before {
	content: "\e612";
}
.icon-bell-fill:before {
	content: "\e611";
}
.icon-bars:before {
	content: "\e610";
}
.icon-at:before {
	content: "\e60f";
}
.icon-arrow-up:before {
	content: "\e60e";
}
.icon-arrow-right:before {
	content: "\e60d";
}
.icon-arrow-right-circle:before {
	content: "\e60c";
}
.icon-arrow-left:before {
	content: "\e60b";
}
.icon-arrow-left-circle:before {
	content: "\e60a";
}
.icon-arrow-down:before {
	content: "\e609";
}
.icon-angle-up:before {
	content: "\e608";
}
.icon-angle-right:before {
	content: "\e607";
}
.icon-angle-left:before {
	content: "\e606";
}
.icon-angle-down:before {
	content: "\e605";
}
.icon-angle-double-up:before {
	content: "\e604";
}
.icon-angle-double-right:before {
	content: "\e603";
}
.icon-angle-double-left:before {
	content: "\e602";
}
.icon-angle-double-down:before {
	content: "\e601";
}
.icon-accounthome:before {
	content: "\e600";
}
.icon-link-broken:before {
	content: "\e900";
}
.icon-link:before {
	content: "\e901";
}

