@font-face {
  font-family: 'jandi-light';
  src:url('../../../assets/fonts/jandi-light.eot?-2ufb4c');
  src:url('../../../assets/fonts/jandi-light.eot?#iefix-2ufb4c') format('embedded-opentype'),
  url('../../../assets/fonts/jandi-light.woff?-2ufb4c') format('woff'),
  url('../../../assets/fonts/jandi-light.ttf?-2ufb4c') format('truetype'),
  url('../../../assets/fonts/jandi-light.svg?-2ufb4c#jandi-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'jandi-light';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minimize:before {
  content: "\e633";
}
.icon-bullhorn:before {
  content: "\e632";
}
.icon-account-home:before {
  content: "\e631";
}
.icon-add:before {
  content: "\e600";
}
.icon-cancel:before {
  content: "\e601";
}
.icon-chat:before {
  content: "\e602";
}
.icon-chat-fill:before {
  content: "\e603";
}
.icon-current-members:before {
  content: "\e604";
}
.icon-delete:before {
  content: "\e605";
}
.icon-delete-circle-fill:before {
  content: "\e606";
}
.icon-disabled-members:before {
  content: "\e607";
}
.icon-down:before {
  content: "\e608";
}
.icon-download:before {
  content: "\e609";
}
.icon-down-long:before {
  content: "\e60a";
}
.icon-edit-fill:before {
  content: "\e60b";
}
.icon-file:before {
  content: "\e60c";
}
.icon-filebox:before {
  content: "\e60d";
}
.icon-file-fill:before {
  content: "\e60e";
}
.icon-group:before {
  content: "\e60f";
}
.icon-invite-fill:before {
  content: "\e610";
}
.icon-invite-topic-fill:before {
  content: "\e611";
}
.icon-language:before {
  content: "\e612";
}
.icon-list:before {
  content: "\e613";
}
.icon-login:before {
  content: "\e614";
}
.icon-logout:before {
  content: "\e615";
}
.icon-more:before {
  content: "\e616";
}
.icon-more-fill:before {
  content: "\e617";
}
.icon-next:before {
  content: "\e618";
}
.icon-next-long:before {
  content: "\e619";
}
.icon-notebook:before {
  content: "\e61a";
}
.icon-ok:before {
  content: "\e61b";
}
.icon-pc:before {
  content: "\e61c";
}
.icon-phone:before {
  content: "\e61d";
}
.icon-prev:before {
  content: "\e61e";
}
.icon-prev-long:before {
  content: "\e61f";
}
.icon-private-group:before {
  content: "\e620";
}
.icon-private-topic:before {
  content: "\e621";
}
.icon-refresh:before {
  content: "\e622";
}
.icon-search:before {
  content: "\e623";
}
.icon-setting:before {
  content: "\e624";
}
.icon-share:before {
  content: "\e625";
}
.icon-star:before {
  content: "\e626";
}
.icon-star-fill:before {
  content: "\e627";
}
.icon-switch:before {
  content: "\e628";
}
.icon-topic:before {
  content: "\e629";
}
.icon-topic-fill:before {
  content: "\e62a";
}
.icon-unshare:before {
  content: "\e62b";
}
.icon-up:before {
  content: "\e62c";
}
.icon-upload:before {
  content: "\e62d";
}
.icon-up-long:before {
  content: "\e62e";
}
.icon-user:before {
  content: "\e62f";
}
.icon-wrench:before {
  content: "\e630";
}
