.modal-body .member-item.active {
  background-color: #f2fbff;
}

.modal-body .member-item .member-profile-image {
  display: block;
  width: 25px;
  border-radius: 25px;
  float: left;
}

.modal-body .member-item .right-star {
  float: right;
  line-height: 25px;
}

.modal-body .member-item .icon-star-fill {
  color: #f9bb00;
  opacity: 1;
}
.modal-body .member-item .member-name {
  line-height: 25px;
  margin-left: 7px;
  width: 350px;
}

.modal-body .member-item.active {
  background-color: #f2fbff;
}
