.rpanel-search-message-card {
  padding: 10px 0 6px 0;
  border-bottom: 1px solid #e1e1e1;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.rpanel-search-message-card .message-card .message-card-body {
  margin-left: 38px;
  font-size: 14px;
}
.rpanel-search-message-card .main-message-card.message-card .message-card-body {
  font-size: 16px;
}
.rpanel-search-message-card .main-message-card.message-card .message-writer {
  font-size: 16px;
}
.rpanel-search-message-card .main-message-card.message-card .message-writer-highlight {
  font-size: 16px;
}
.rpanel-search-message-card .sub-message-card.message-card {
  color: #999;
}

.rpanel-search-message-card:hover {
  background: #f2fbff;
}

.rpanel-search-message-card .message-card {
  padding: 3px 40px 9px 14px;
  border: 0;
}

.rpanel-search-message-card:hover .message-star {
  display: none;
}

.rpanel-search-message-card:hover .message-star {
  display: block;
  color: #999999;
}
.rpanel-search-message-card:hover .message-star:hover {
  color: #154a67;
}


.rpanel-search-message-card .sub-message-card .message-card-body > span {
  max-height: 24px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1.5;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rpanel-search-message-card .message-start {
  padding-top: 2px;
}

.rpanel-search-message-card .message-star {
  position: absolute;
  top: 26px;
}

.search-message-footer {
  margin-left: 36px;
  padding: 4px 15px 0 16px;
  font-size: 12px;
}
.search-message-footer .search-message-title {
  display: inline-block;
  max-width: 200px;
  color: #00a4e6;
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search-message-footer .search-message-title:hover {
  color: #00709E;
}
.search-message-footer .search-message-time {
  color: #999;
}

/*.rpanel-search-message-card .entity {*/
  /*margin-bottom: 16px;*/
/*}*/
/*.rpanel-search-message-card .entity-icon {*/
  /*font-size: 15px;*/
  /*margin-right: -4px;*/
/*}*/
/*.rpanel-search-message-card .title {*/
  /*color: #333333;*/
  /*font-weight: 500;*/
  /*font-size: 16px;*/
/*}*/
/*.rpanel-search-message-card .time {*/
  /*font-size: 12px;*/
  /*color: #999999;*/
/*}*/


/*.rpanel-search-message-card .writer {*/
  /*font-weight: 700;*/
  /*color: #333333;*/
  /*margin-right: 5px;*/
/*}*/

/*.rpanel-search-message-card .file-item-meta__comments {*/
  /*font-size: 16px;*/
  /*padding: 0;*/
  /*width: 12px;*/
  /*height: 12px;*/
  /*display: inline-block;*/
  /*margin-right: 1px;*/
/*}*/

/*.rpanel-search-message-card .icon-share {*/
  /*font-size: 16px;*/
  /*padding: 0;*/
  /*width: 12px;*/
  /*height: 12px;*/
  /*display: inline-block;*/
  /*margin-right: 2px;*/
  /*margin-left: -1px;*/
/*}*/


/*.rpanel-search-message-card .file-writer,*/
/*.rpanel-search-message-card .file-title {*/
  /*font-weight: 700;*/
/*}*/




/*.rpanel-search-message-card .neighbor {*/
  /*max-height: 50px;*/
  /*display: -webkit-box;*/
  /*max-width: 100%;*/
  /*line-height: 1.5;*/
  /*-webkit-line-clamp: 2;*/
  /*-webkit-box-orient: vertical;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*margin-bottom: 10px;*/
/*}*/
/*.rpanel-search-message-card .neighbor:last-child {*/
  /*margin-bottom: 0;*/
/*}*/

/*.rpanel-search-message-card .neighbor .writer,*/
/*.rpanel-search-message-card .neighbor  {*/
  /*color: #999999;*/
/*}*/

/*.rpanel-search-message-card .current {*/
  /*margin-bottom: 10px;*/
  /*max-width: 100%;*/
  /*line-height: 1.5;*/
  /*font-size: 16px;*/
/*}*/
/*.show4lines {*/
  /*display: -webkit-box;*/
  /*max-height: 65px;*/
  /*-webkit-line-clamp: 4;*/
  /*-webkit-box-orient: vertical;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
/*}*/
/*.rpanel-search-message-card .current .writer {*/
  /*margin-right: 5px;*/
/*}*/
/*.rpanel-search-message-card .current .file-item-meta__comments {*/
  /*color: #333333;*/
/*}*/

/*.file-indicator .file-icon {*/
  /*height: 15px;*/
  /*vertical-align: baseline;*/
  /*margin-bottom: -1px;*/
/*}*/

