<page-tracker page="notifications" title="Notifications"></page-tracker>
<div class="modal-header">
  <button type="button" class="close" ng-click="onClose()"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span>{{::'@web-notification'|translate}}</span>
  </h3>
</div>

<div class="modal-body notification-modal-body" ng-class="{'notification-switch-disable non-selectable': !isAllowSwitch}">
  <alert class="notification-alert" type="danger">
    <i class="icon-warning"></i>
    <span translate>@setting-notification-permission-denied</span>
  </alert>
  <div class="notification-role">
    <div class="notification-role-header">{{::'@setting-notification-desktop'|translate}}</div>
    <div class="notification-role-body">{{::'@setting-notification-recommendation-msg'|translate}}</div>
    <div class="notification-switch">
      <switch-button is-active="setting.on"
                     toggle="onNotificationToggle($value)"
                     is-disabled="!isAllowSwitch"></switch-button>
    </div>
    <div class="notification-image">
      <img ng-src="{{::notificationImage}}">
    </div>
  </div>
  <div class="notification-setting" ng-class="{'notification-setting-disable non-selectable': !isAllowSetting}">
    <div class="notification-target">
      <label>
        <input type="checkbox" ng-model="setting.type"
                               ng-true-value="'dmNmention'"
                               ng-false-value="'all'"
                               ng-disabled="!isAllowSetting"/>
        <span>{{::'@setting-notification-dm-n-mention'|translate}}</span>
      </label>
    </div>
    <div class="notification-options">
      <div class="notification-message-preview col-sm-6">
        <div class="message-preview-header"><i class="icon-chat"></i>
          <span>{{::'@setting-notification-preview-content'|translate}}</span>
        </div>
        <div class="message-preview-options">
          <div>
            <label><input type="radio" ng-model="setting.showContent" value="all" ng-disabled="!isAllowSetting">
              {{::'@setting-notification-preview-all'|translate}}
            </label>
          </div>
          <div>
            <label><input type="radio" ng-model="setting.showContent" value="public_only" ng-disabled="!isAllowSetting">
              {{::'@setting-notification-preview-public'|translate}}
            </label>
          </div>
          <div>
            <label><input type="radio" ng-model="setting.showContent" value="none" ng-disabled="!isAllowSetting">
              {{::'@setting-notification-preview-none'|translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="notification-message-alert col-sm-6">
        <div class="message-alert-header"><i class="icon-volume-up"></i>
          {{::'@setting-notification-sounds'|translate}}
        </div>
        <div class="message-alert-options">
          <div class="message-normal message-audio">
            <div>{{::'@setting-notification-sounds-topic'|translate}}:</div>
            <notification-audio-menu list="alertSelectList"
                                     value="setting.soundNormal"
                                     is-disabled="!isAllowSetting"
                                     on-select="onSoundSelect('normal', $index)"></notification-audio-menu>
          </div>
          <div class="message-mention message-audio">
            <div>{{::'@setting-notification-sounds-mention'|translate}}:</div>
            <notification-audio-menu list="alertSelectList"
                                     value="setting.soundMention"
                                     is-disabled="!isAllowSetting"
                                     on-select="onSoundSelect('mention', $index)"></notification-audio-menu>
          </div>
          <div class="message-dm message-audio">
            <div>{{::'@common-chat-dm'|translate}}:</div>
            <notification-audio-menu list="alertSelectList"
                                     value="setting.soundDM"
                                     is-disabled="!isAllowSetting"
                                     on-select="onSoundSelect('dm', $index)"></notification-audio-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-cancel btn-notification-sample" ng-disabled="!isAllowSetting" ng-click="onSampleClick()">
    {{::'@send-test-notification'|translate}}
  </button>
  <button class="btn btn-ok" ng-click="onClose()">{{::'@common-done'|translate}}</button>
</div>
