.notification-modal-body {
  margin: 18px 20px 15px;
  padding: 15px 0;
}

.notification-modal-body i {
  margin-right: 2px;
  vertical-align: text-bottom;
}

.notification-modal-body .nav-tabs,
.notification-modal-body .nav-tabs a {
  border: 0 !important;
}

.notification-modal-body .tab-content {
  padding: 15px;
  background: #FFFFFF;
}
.notification-modal-body .notification-role {
  position: relative;
  width: 280px;
  margin-bottom: 20px;
}

.notification-role .notification-role-header {
  padding-top: 5px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.notification-role .notification-role-body {
  margin-top: 18px;
  font-size: 14px;
  color: #777;
  line-height: 22px;
}

.notification-role .notification-switch {
  position: absolute;
  top: 0;
  left: 230px;
}

.notification-role .notification-image {
  position: absolute;
  top: 0;
  left: 295px;
  width: 236px;
}
.notification-role .notification-image img {
  width: 100%;
  height: auto;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.notification-modal-body .notification-setting {
  position: relative;
  height: 340px;
  margin-top: 8px;
  overflow: visible;
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}

.notification-modal-body .nav-tabs .active,
.notification-modal-body .tab-pane.active {
  background: transparent !important;
}

.notification-modal-body .notification-modal-tab tab-heading {
  color: #366480;
}
.notification-modal-body .notification-modal-tab.active tab-heading {
  color: #154968;
}

.notification-modal-body .notification-modal-tab a:hover {

  background: #E6ECF2 !important;
}
.notification-modal-body .notification-modal-tab.active a:hover {
  background: #FFFFFF !important;
}

.notification-modal-body .notification-setting.is-setting-switch {
  overflow: hidden;
}

.notification-setting .notification-target {
  font-size: 14px;
  color: #333;
}

.notification-target > label {
  line-height: 30px;
  margin-bottom: 0;
}

.notification-target > label > input,
.notification-target > label > span {
  margin-top: 0;
  margin-right: 2px;
  vertical-align: middle;
  font-weight: normal !important;
}

.notification-setting .notification-options {
  width: 100%;
  height: calc(100% - 78px);
  padding: 12px;
  background-color: #f6f6f6;
  border: 0;
  border-radius: 5px;
  margin-top: 7px;
}

.notification-options .notification-message-alert,
.notification-options .notification-message-preview {
  padding: 0;
}

.notification-options .notification-message-alert {
  padding-left: 15px;
  border-left: 1px solid #d1d1d1;
}

.notification-message-alert .message-alert-header,
.notification-message-preview .message-preview-header {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 24px;
}
.notification-message-alert .message-alert-header i,
.notification-message-preview .message-preview-header i {
  font-size: 15px;
  color: #666;
}

.notification-options .message-preview-options,
.notification-options .message-alert-options {
  margin-top: 5px;
}

.notification-message-preview .message-preview-options {
  padding-left: 20px;
}
.notification-message-preview .message-preview-options > label {
  display: inline-block;
}
.notification-message-preview-content > label {
  font-weight: normal !important;
  margin-top: 5px;
}

.notification-message-alert .message-alert-options {
  padding-left: 20px;
}
.notification-options .message-audio {
  margin-bottom: 10px;
  margin-top: 11px;
}
.notification-options .message-audio > div:first-child {
  margin-bottom: 7px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.btn.btn-notification-sample {
  float: left;
  background-color: #fff;
  color: #575757;
}
.btn.btn-notification-sample:hover {
  background-color: #f2f2f2;
}

.notification-modal-body .notification-alert {
  display: none;
  padding: 7px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}

.notification-modal-body .notification-switch-disable .notification-alert {
  display: block;
}

.btn.btn-notification-sample[disabled],
.notification-switch-disable .notification-role-header,
.notification-switch-disable .notification-role-body,
.notification-setting-disable .notification-target {
  opacity: .5;
}

.notification-modal-body .notification-setting.notification-setting-disable {
  height: 0;
  overflow: hidden;
}

.notification-setting-disable .notification-message-preview,
.notification-setting-disable .notification-message-alert,
.notification-message-alert .message-normal-disabled .btn {
  opacity: .4;
}

@media (max-width: 767px) {
  .notification-modal-body .notification-setting {
    height: 420px;
  }
  .notification-message-alert.col-sm-6 {
    padding: 0;
    border: none;
  }
}

