.notification-modal-body {
  margin: 18px 20px 15px;
  padding: 18px 0 15px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.notification-modal-body i {
  margin-right: 4px;
}

.notification-modal-body .notification-role {
  position: relative;
  width: 300px;
}

.notification-role .notification-role-header {
  padding-top: 5px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.notification-role .notification-role-body {
  margin-top: 15px;
  font-size: 14px;
  color: #999;
  line-height: 22px;
}

.notification-role .notification-switch {
  position: absolute;
  top: 0;
  left: 230px;
}

.notification-role .notification-image {
  position: absolute;
  top: 0;
  left: 324px;
  width: 236px;
}
.notification-role .notification-image img {
  width: 100%;
  height: auto;
}

.notification-modal-body .notification-setting {
  margin-top: 8px;
}

.notification-setting .notification-target {
  font-size: 14px;
  color: #333;
}

.notification-target > label {
  line-height: 30px;
}

.notification-target > label > input,
.notification-target > label > span {
  margin-top: 0;
  margin-right: 5px;
  vertical-align: middle;
}

.notification-setting .notification-options {
  width: 100%;
  height: 245px;
  padding: 15px;
  background-color: #e9e9e9;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.notification-options .notification-message-alert,
.notification-options .notification-message-preview {
  padding: 0;
  height: 100%;
}

.notification-options .notification-message-alert {
  padding-left: 15px;
  border-left: 1px solid #d1d1d1;
}

.notification-message-alert .message-alert-header,
.notification-message-preview .message-preview-header {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 24px;
}
.notification-message-alert .message-alert-header i,
.notification-message-preview .message-preview-header i {
  font-size: 15px;
  color: #666;
}

.notification-options .message-preview-options,
.notification-options .message-alert-options {
  margin-top: 5px;
}

.notification-message-preview .message-preview-options {
  padding-left: 20px;
}
.notification-message-preview .message-preview-options > label {
  display: block;
}

.notification-message-alert .message-alert-options {
  padding-left: 20px;
}
.notification-options .message-audio {
  margin-bottom: 10px;
}
.notification-options .message-audio > div:first-child {
  margin-bottom: 4px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.btn-notification-sample {
  float: left;
}
