<page-tracker page="notifications" title="Notifications"></page-tracker>
<div class="modal-header">
  <button type="button" class="close" ng-click="onClose()"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span>{{::'@web-notification'|translate}}</span>
  </h3>
</div>

<div class="modal-body notification-modal-body">
  <tabset>
    <tab class="notification-modal-tab" active="true">
      <tab-heading> <span translate>@알림설정</span> </tab-heading>
      <setting-notification-alert></setting-notification-alert>
    </tab>
    <tab class="notification-modal-tab" active="false">
      <tab-heading> <span translate>@이메일 설정</span> </tab-heading>
      <setting-notification-email></setting-notification-email>
    </tab>
  </tabset>
</div>

<div class="modal-footer">
  <button class="btn btn-ok" ng-click="onClose()">{{::'@common-done'|translate}}</button>
</div>
