<div class="tutorial_tutor"
    ng-style="{
      'top': options.top + 'px',
      'left': options.left + 'px'
    }">
  <div class="tutorial_tutor_header">
    <div class="tutorial_tutor_charactor">
      <img src="../../../../assets/images/tutorial/tutor/character_top.png" />
    </div>
    <div class="tutorial_tutor_btn">
      <span ng-if="options.hasSkip" class="btn btn-cancel" ng-click="onClickSkip()">@btn-skip-all</span>
      <span ng-if="options.hasNext" class="btn btn-ok" ng-click="onClickNext()">@btn-next</span>
    </div>
  </div>
  <div class="tutorial_tutor_body">
    <div class="tutorial_tutor_body_subject" ng-bind-html="(options.title)">
    </div>
    <div class="tutorial_tutor_body_content" ng-bind-html="(options.content)">
    </div>
    <div>
      <div class="tutorial_tutor_body_line">
      </div>
    </div>
    <div class="tutorial_tutor_body_progress">
      <div class="tutorial_tutor_body_progress_text">
        <span class="tutorial_tutor_step" ng-repeat="item in stepList track by $index"
            ng-class="{
              'circle': current == $index || $index <= completed,
              'on': current === $index
            }">
          <span>{{ $index + 1 }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
