<div class="tutorial_tutor">
  <div class="tutorial_tutor_header">
    <div class="tutorial_tutor_charactor">
      <img src="../../../../assets/images/tutorial/tutor/character_top.png" />
    </div>
    <div class="tutorial_tutor_btn">
      <span ng-if="options.hasSkip" class="btn btn-cancel" ng-click="onClickSkip()">스킵</span>
      <span class="btn btn-ok" ng-click="onClickNext()">다음</span>
    </div>
  </div>
  <div class="tutorial_tutor_body">
    <div class="tutorial_tutor_body_subject">
      {{ options.title }}
    </div>
    <div class="tutorial_tutor_body_content">
      {{ options.content }}
    </div>
    <div>
      <div class="tutorial_tutor_body_line">
      </div>
    </div>
    <div class="tutorial_tutor_body_progress">
      <div class="tutorial_tutor_body_progress_text">
        <span class="tutorial_tutor_step circle">
          <span>1</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>2</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>3</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>4</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>5</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>6</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>7</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>8</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>9</span>
        </span>
        <span class="tutorial_tutor_step circle">
          <span>10</span>
        </span>

      </div>
    </div>
  </div>
</div>
