.tutorial_tutor {
  position: absolute;
  background:transparent;
  z-index: 15;
  width: 488px;
}

.tutorial_tutor_header {
}

.tutorial_tutor_charactor {
  float: left;
  margin-left: 27px;
}

.tutorial_tutor_btn {
  vertical-align: text-bottom;
  float: right;
  padding-right: 7px;
  margin-top: 83px;
}

.tutorial_tutor_body {
  float: left;
  width: 100%;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
}

.tutorial_tutor_body > div {
  padding-left: 16px;
  padding-right:16px;
}

.tutorial_tutor_body_subject {
  margin-top: 16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #333333;
}

.tutorial_tutor_body_content {
  margin-top: 14px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.tutorial_tutor_body_line {
  width: 100%;
  height: 1px;
  background: #e1e1e1;
}


.tutorial_tutor_body_progress_text {
  padding: 6px 0 0 8px;
}
/*.tutorial_tutor_step:before {*/
  /*background:white;*/
  /*width: 200px;*/
/*}*/
.tutorial_tutor_step {
  display:block;
  float:left;
  position:relative;
  height:19px;
}
.tutorial_tutor_step:nth-child(odd) {
  width: 47px;
}
.tutorial_tutor_step:nth-child(even) {
  width: 47px;
}

.tutorial_tutor_step > span.tutorial_tutor_step_num{
  display: inline-block;
  width: 19px;
  height: 19px;
  font-size: 11px;
  padding-top: 4px;
  text-align: center;
  font-weight: 800;
  color:#154a67;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  position:absolute;
  z-index: 10;
}

.tutorial_tutor_step.circle {
  /*background: #FFFFFF;*/
}
.tutorial_tutor_step.circle > span.tutorial_tutor_step_num {
  color: #00abe6;
  background-color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}
.tutorial_tutor_step.circle.on > span.tutorial_tutor_step_num {
  color: #FFFFFF;
  background-color: #00abe6;
  cursor: pointer;
}


.tutorial_tutor_step:last-of-type {
  width: 19px;
  left: -2px;
}

.tutorial_tutor_progress_bar {
  position: absolute;
  background: transparent;
  left: 5px;
  top: 6px;
  width: inherit;
  height: 7px;
  z-index: 0;
}
.tutorial_tutor_progress_bar.complete {
  background: #FFFFFF;
}