<!-- Modal: TEAM MEMBER LIST  -->
<div class="modal-header">
  <!--  CLOSE BUTTON  -->
  <button type="button" class="close" data-ng-click="cancel();"><i class="icon-delete"></i></button>

  <!--  TITLE -->
  <h3 class="modal-header__title">
    <span translate>@modal-member-list-title</span>
  </h3>

</div>  <!-- END OF MODAL-HEADER  -->

<div class="modal-body modal_team_member_list_body non-selectable">

  <center-help-message-container class="team-member-empty-list" ng-if="!hasUser" status="emptyMessageStateHelper"></center-help-message-container>
  <div class="tab-container" ng-if="hasUser">

    <div class="input-group search-user">
      <span class="input-group-addon"><i class="icon-search"></i></span>
      <input class="form-control"
             id="team-member-filter"
             type="text"
             jnd-input-model="keyword.value"
             autofocus
             placeholder="{{ '@input-search-user-name' | translate }}">
      <search-type-user keyword-types="keywordTypes"
                        keyword-type="keyword.type"
                        on-keyword-type-select="onKeywordTypeSelect($newValue, $oldValue)"></search-type-user>
    </div>

    <div class="modal_team_member_list" ng-click="onMemberListClick();">
      <tabset class="list-tabs">
        <tab class="enabled-member-list-container tab-title overflow-ellipsis"
             active="memberListSetting.enabledMemberList.active"
             select="onTabSelect()"
             deselect="onTabDeselect('enabledMember')">
          <page-tracker ng-if="memberListSetting.enabledMemberList.active" page="currentmembers" title="Member List (Current Members)"></page-tracker>
          <tab-heading>
            <div translate>@common-active-member</div>
          </tab-heading>
          <list-on-modal type="enabledMember"
                         list="enabledMemberList"
                         item-type="member"
                         item-class="member-item"
                         model="keyword.value"
                         model-type="keyword.type"
                         filter="#team-member-filter"
                         on-select="onMemberClick"
                         get-matches="getMatches"
                         activeted="memberListSetting.enabledMemberList.active"
                         item-height="68"
                         buffer-length="10"></list-on-modal>
          <div class="no-result-container" ng-show="enableMembersLength === 0">
            <span translate>@no-match-members</span>
          </div>
        </tab>  <!-- END OF ENABLED MEMBER LIST -->

        <tab class="disabled-member-list-container tab-title tab-title-overflow-ellipsis"
             active="memberListSetting.disabledMemberList.active"
             select="onTabSelect()"
             deselect="onTabDeselect('disabledMember')"
             ng-if="hasDisabledMember">
          <page-tracker ng-if="memberListSetting.disabledMemberList.active" page="disabledmembers" title="Member List (Disabled Members)"></page-tracker>
          <tab-heading>
            <span translate>@common-inactive-member</span>
          </tab-heading>
          <list-on-modal type="disabledMember"
                         list="disabledMemberList"
                         item-type="member"
                         item-class="member-item"
                         model="keyword.value"
                         model-type="keyword.type"
                         filter="#team-member-filter"
                         on-select="onMemberClick"
                         get-matches="getMatches"
                         activeted="memberListSetting.disabledMemberList.active"
                         item-height="68"
                         buffer-length="10"></list-on-modal>
          <div class="no-result-container" ng-show="disableMembersLength === 0">
            <span translate>@no-match-members</span>
          </div>
        </tab>  <!-- END OF DISABLED MEMBER LIST  -->
      </tabset> <!--  END OF TABSET -->
    </div>
  </div>  <!-- END OF MEMBER LIST -->
</div>  <!-- END OF MODAL BODY  -->
<div ng-if="false">
  <span translate>@common-inactive-member</span>
  <span translate>@common-active-member</span>
</div>
