.modal_team_member_list_body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal_team_member_profile_pic_thumbnail,
.modal_team_member_name {
  display: inline-block;
}
.modal_team_member_profile_pic_thumbnail {
  width: 25px;
  border-radius: 25px;
  vertical-align: middle;
}
