<div ng-if="!$index">
  <!--  User Thumbnail -->
  <div class="msg-item-float cursor_pointer" data-ng-click="onUserClick(unsentMsg.fromEntity);"
       ng-class="{'center-panel-disabled-member' : isDisabledMember(unsentMsg.fromEntity) }">
    <img on-image-load class="user-profile user-thumb"
         ng-src="{{ unsentMsg.fromEntity | getSmallThumbnail }}"/>
  </div>

  <div class="msg-item-header"
       ng-class="{'center-panel-disabled-member' : isDisabledMember(unsentMsg.fromEntity) }">
    <!--    WRITER-->
      <span class="msg-item-header__name cursor_pointer" data-ng-click="onUserClick(unsentMsg.fromEntity);">
        <span class="msg-item-header__nameSpace">
          <span ng-if="msg.message.contentType !== 'file'"> {{unsentMsg.fromEntity | getName}}</span>
        </span>
      </span>
  </div>
  <div class="msg-item-body">
    <!-- TEXT -->
    <div class="msg-text">
      <span class="keep msg-text-body" data-ng-bind-html="(unsentMsg.content) || ''"></span>
         <span class="msg-item-header__created">
          {{unsentMsg.time | gethmmaFormat}}
        </span>
      <span ng-if="unsentMsg.hasLoading" class="icon-loading-small"></span>
      <span ng-if="!unsentMsg.hasLoading" class="badge alert-badge">!</span>
      <a ng-if="!unsentMsg.hasLoading" class="cursor_pointer"  data-ng-click="repostMessage($index);">
        <span class="msg-item-header__created">Retry</span>
      </a>
      <!--    DELETE ICON APPEARS ON HOVER    -->
      <a class="msg-item__action pull-right cursor_pointer"
         data-ng-click="deleteUnsentMessage($index)"
         tooltip="{{ '@message-delete' | translate }}" tooltip-append-to-body="true">
        <i class="fa fa-trash action-icon"></i>
      </a>
    </div>
  </div>
</div>

<div ng-if="$index">
  <div class="msg-item-body">
    <!-- TEXT -->
    <div class="msg-text">
      <span class="keep msg-text-body" data-ng-bind-html="(unsentMsg.content) || ''"></span>
      <span class="msg-item-header__created">
        {{unsentMsg.time | gethmmaFormat}}
      </span>
      <span ng-if="unsentMsg.hasLoading" class="icon-loading-small"></span>
      <span ng-if="!unsentMsg.hasLoading" class="badge alert-badge">!</span>
      <a ng-if="!unsentMsg.hasLoading" class="cursor_pointer"  data-ng-click="repostMessage($index);">
        <span class="msg-item-header__created">Retry</span>
      </a>

      <!--    DELETE ICON APPEARS ON HOVER    -->
      <a class="msg-item__action pull-right cursor_pointer"
         data-ng-click="deleteUnsentMessage($index)"
         tooltip="{{ '@message-delete' | translate }}" tooltip-append-to-body="true">
        <i class="fa fa-trash action-icon"></i>
      </a>
    </div>
  </div>
</div>
