/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #666; }  /* plain text */

@media screen {
  .str { color: #154a67; }  /* string content */
  .kwd { color: #00abe6; }  /* a keyword */
  .com { color: #888; }  /* a comment */
  .typ { color: #00abe6; }  /* a type name */
  .lit { color: #D62C50; }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #333; }
  .tag { color: #D62C50; }  /* a markup tag name */
  .atn { color: #758A29; }  /* a markup attribute name */
  .atv { color: #154a67; }  /* a markup attribute value */
  .dec, .var { color: #00abe6; }  /* a declaration; a variable name */
  .fun { color: red; }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #154a67; }
  .kwd { color: #00abe6; font-weight: bold; }
  .com { color: #888; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #D62C50; }
  .pun, .opn, .clo { color: #333 }
  .tag { color: #D62C50; font-weight: bold; }
  .atn { color: #758A29; }
  .atv { color: #154a67; }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  position:relative;
  min-height: 45px;
  padding: 14px 14px 8px 14px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  margin-bottom: 4px;
  background-color: rgba(249, 249, 249, 0.3);
  margin-top: 6px;
  font-size: 13px;
  line-height: 20px;
  white-space: pre-wrap;
}
pre.prettyprint:before {
  content:'< / >';
  font-size: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  color:rgba(21, 74, 103, 0.6);
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:28px;
  padding-top:4px;
  padding-left: 15px;
  background-color:rgba(21, 74, 103, 0.06);
  border-bottom:1px solid #e1e1e1;
}
div.prettyprint-header-spacer {
  height:22px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none; }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee; }
