/*
  MEMBER LIST
*/
.modal-body .member-list {
  position: relative;
}

.modal-body .member-auth-label {
  top: 10px;
  right: 30px;
}

.modal-body .room-item {
  position: absolute;
}

.modal-body .member-item {
  position: absolute;
  padding: 9px 9px 0 9px;
  background-color: white;
  width: 100%;
  height: 44px;
}

.modal-body .member-item:hover .icon-star {
  opacity: 1;
}

.modal-body .member-item.active {
  background-color: #f2fbff;
}

.modal-body .member-item.active i {
  opacity: 1;
}

.modal-body .member-item .member-profile-image {
  display: block;
  width: 25px;
  border-radius: 25px;
  float: left;
}
.modal-body .member-item.jandi-bot .member-profile-image {
  border-radius: 0;
  margin-top: -4px;
}
.modal-body .member-item .right-star {
  float: right;
  line-height: 25px;
}

.modal-body .member-item .icon-star-on {
  color: #f9bb00;
  opacity: 1;
}

.modal-body .member-profile-description {
  margin-left: 32px;
}

.modal-body .member-item .member-name {
  line-height: 25px;
  margin-left: 7px;
  width: 290px;
}

.modal-body .member-item .member-name.short {
  width: 260px;
}

.modal-body .member-item .member-extra-text {
  width: 370px;
  color: #969696;
  font-size: 13px;
}

.modal-body .member-item .member-extra-text strong {
  background-color: #ffe900;
  color: #333;
}

.modal-body .member-item.active {
  background-color: #f2fbff;
}

.member-item .resend-invitation {
  top: 8px;
  right: 30px;
  position: absolute;
  color: #154D6B;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 4px 6px 4px 24px;
  box-shadow: -7px 0 7px 3px rgba(255,255,255,1);
}
.member-item.active .resend-invitation {
  box-shadow: -7px 0 7px 3px rgba(242,251,255,1);
}
.member-item .resend-invitation:hover {
  background: #F7FBFE;
  border: 1px solid rgba(21, 77, 107, 0.25);
}
.member-item .resend-invitation:active {
  background: #d7e0e8;
  border: 1px solid rgba(21, 77, 107, 0.2);
}

.member-item .resend-invitation > i {
  position: absolute;
  left: 5px;
  top:5px;
}
