<div class="room-item" style="height: {{itemHeight}}px;">
  <img class="room-image" src="{{imageUrl}}"/>
  <span class="room-name inline-overflow-ellipsis">{{{content}}}</span>
  {{#if hasCount}}
    <span class="badge-count">{{count}}</span>
  {{/if}}
</div>
