<div class="room-item" style="height: {{itemHeight}}px;">
  <div class="room-type-content">
    {{{html.roomTypeImage}}}
  </div>
  <span class="room-name inline-overflow-ellipsis pull-left">{{{content}}}</span>
  {{#if hasCount}}
    <span class="badge red_badge pull-right">{{count}}</span>
  {{/if}}
</div>
