.tutorial-tooltip {
  z-index: 700;
}
.tutorial-tooltip .tooltip-inner {
  padding: 3px 12px 4px 12px;
  min-width: 50px;
  border: 1px solid #008dbe;
  background-color: #00abe6;
  border-radius: 3px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  display: inline-flex;
}
.tutorial-tooltip.bottom .tooltip-arrow {
  width: 10px;
  height: 10px;
  background-color: #00abe6;
  transform: rotate(45deg);
  border: 0;
  border-bottom-color: transparent;
  margin-left: 0;
  border-left: 1px solid #008dbe;
  border-top: 1px solid #008dbe;
}
.tutorial-tooltip.top .tooltip-arrow {
  width: 10px;
  height: 10px;
  background-color: #00abe6;
  transform: rotate(45deg);
  border: 0;
  border-top-color: transparent;
  margin-left: 0;
  border-right: 1px solid #008dbe;
  border-bottom: 1px solid #008dbe;
}

.tutorial-tooltip i.icon-delete {
  margin-top:5px;
  margin-left:12px;
  float: right;
  font-size:11px;
  color: #FFFFFF;
}
.tutorial-tooltip-topic {
  left: auto !important;
  right: 3px;
}
.tutorial-tooltip-topic .tooltip-arrow {
  left: auto !important;
  right: 15px;
}
.tutorial-tooltip-sticker {
  top: auto !important;
  bottom: 40px;
  left: 289px !important;
}
.tutorial-tooltip-sticker .tooltip-arrow {
  left: 23.5px !important;
  right: auto;
}
.tutorial-tooltip-upload {
  top: auto !important;
  bottom: 93px;
  left: 103px !important;
}
.tutorial-tooltip-upload:lang(zh-cn),
.tutorial-tooltip-upload:lang(zh-tw) {
  left: 133px !important;
}
.tutorial-tooltip-upload .tooltip-arrow {
  left: 162px !important;
}
.tutorial-tooltip-upload .tooltip-arrow:lang(zh-cn),
.tutorial-tooltip-upload .tooltip-arrow:lang(zh-tw) {
  left: 132px !important;
}
.tutorial-tooltip-filetab {
  left: auto !important;
  right: 60px !important;
}
.tutorial-tooltip-filetab .tooltip-arrow {
  left: 115px !important;
}
