<div>
  <div class="tutorial_modal topic_create">
    <img src="../../../../assets/images/tutorial/modal/modal_create.png"/>
    <div class="tutorial_disable_block"></div>
    <div class="tutorial_modal_header">
      <span translate>@common-create-ch</span>
    </div>
  </div>
  <!-- CREATE TOPIC MODAL -->
  <div class="tutorial_topic_create_layer modal-dialog">
    <div class="modal-body" id="create-entity-body">
      <!--  TOPIC TITLE  -->
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2"><span translate>@common-name</span></label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="entityName"
                   placeholder="{{ '@input-create-ch' | translate }}"
                   ng-required="true"
                   ng-keydown="onKeyDown($event);"
                   ng-maxlength="60"/>
          </div>
        </div>
      </div>
      <!--  TOPIC TYPE  -->
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2 entity-type-title"><span translate>@common-entity-type</span></label>
          <div class="col-sm-10">
            <div class="radio-container">
              <input type="radio" name="radio" value="public" checked disabled/><span class="radio-title" translate>@common-type-public</span>
              <input type="radio" name="radio" value="private" disabled/><span class="radio-title" translate>@common-type-private</span>
            </div>
            <!-- TOPIC TYPE HELP MESSAGE  -->
            <div class="modal-body-type-container">
              <span translate>@modal-create-entity-title</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span class="btn btn-cancel">{{ '@btn-close' | translate }}</span>
      <span class="btn btn-ok" ng-click="onClickCreate();">{{ '@btn-create' | translate }}</span>
    </div>
  </div>
</div>
