<div class="connect-union-plug-wrapper">
  <div class="connect-union-plug-icon">
    plug icon
  </div>
  <div>
    <div class="connect-union-plug-title">
      <span>사람 아이콘</span>
      <span>ted</span>
    </div>
    <div class="connect-union-plug-desc">
      <span>자물쇠 아이콘</span>
      <span>비공개 또는 1:1 메시지</span>
    </div>
  </div>
  <div class="connect-union-float-right connect-union-plug-btn-wrapper on">
    <span class="connect-union-plug-btn-text">작동중</span>
    <span class="connect-union-plug-btn-switch">버튼</span>
    <span class="connect-union-plug-btn-pencil">연필</span>
    <span class="connect-union-plug-btn-trash">쓰레기통</span>
  </div>
</div>