.connect-union-plug-container {
  width: 100%;
  height: 100px;
  background-color: #FFF;
  border-top: 1px solid #E4E4E4;
  box-sizing: border-box;
  padding: 10px 18px 10px 26px;
}

.connect-union-plug-container:hover {
  background: #FAFAFA;
}

.connect-union-plug-container > div {
  float: left;
}

.connect-union-plug-icon {
  width:32px;
  height: 32px;
  margin: 8px 38px 8px 0;
  border: 1px solid #E4E4E4;
}

.connect-union-plug-title,
.connect-union-plug-desc {
  color: #505050;
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
}

.connect-union-plug-tool-container {
  color: #B3B3B3;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 15px;
  line-height: 80px;
  font-weight: 700;
}

.connect-union-plug-tool-container.on {

}

.connect-union-plug-tool-container.on .connect-union-plug-tool-btn {
  color: #13A4EB;
  background: #FAFAFA;
  border-top: 1px solid #E4E4E4;
  box-sizing: border-box;
}

.connect-union-plug-tool-container.on .connect-union-plug-tool-text {
  color: #13A4EB;
  background: #FAFAFA;
}

