<div class="member-item cursor_pointer" ng-class="{active: isActive($index)}"
     ng-click="onSelect(member);"
     ng-mouseenter="focusItem($index, $event);">
  <img class="member-profile-image" on-image-load ng-src="{{::profileImage}}"/>
  <span class="member-name">{{::name}}</span>
  <i class="icon-star right-star opac-zero" ng-class="{'icon-star-fill': member.isStarred}"
     ng-click="onStarClick('users', member); $event.preventDefault(); $event.stopPropagation();"
     ng-if="!isDisabledMember && !isMySelf"></i>
</div>
