<div>
  <div class="tutorial_dimm"
       ng-class="{
        'topic_list': step === 0,
        'topic_add': step === 1,
        'full': step === 2,
        'center': step === 3
      }">
  </div>
  <tutorial-modal-topic-create
      ng-if="step === 2"></tutorial-modal-topic-create>

  <!-- TOPIC TOP -->
  <!--<div ng-if="step === 3" class="panel-title-container tutorial_topic_create_entity">-->
    <!--<span class="panel-title-info">-->
      <!--<span class="inline-overflow-ellipsis panel-title-info__name">-->
        <!--{{ entityName }}-->
        <!--<i class="fa fa-caret-down header-title-info__more"></i>-->
      <!--</span>-->
    <!--</span>-->
    <!--<span class="panel-title-member">-->
      <!--<span class="panel-title-member__more">-->
        <!--<i class="icon-user"></i>-->
        <!--<span>1</span>-->
      <!--</span>-->
    <!--</span>-->
  <!--</div>-->
  <tutorial-purse options="purse"></tutorial-purse>
</div>
