.file-detail-body__meta {
  position: relative;
}

.file-detail-body__meta .fileicon {
  position: absolute;
  top: 4px;
  left: 0px;
}

.file-detail-body__meta-info {
  margin: 0 0 0 36px;
}

.file-detail-body__meta-info-up {
  margin-bottom: 0px;
}
