<div class="tutorial_modal profile">
  <img src="../../../../assets/images/tutorial/modal/modal_profile.png"/>

  <div class="tutorial_modal_profile_wrap">
    <div class="modal-body profile-body">
      <h4 class="modal-body__description">
        <span translate>@modal-setting-profile-msg1</span>
      </h4>

      <div class="user-profile-photo-container img-circle">
        <img class="user-profile__photo" ng-src="{{ profileUrl }}" />
        <div class="user-profile-photo__overlay">
          <div class="black-opac__background"></div>
          <div class="overlay__text"><span translate>@btn-change</span></div>
        </div>
      </div>

      <div class="form-horizontal">
        <div class="user-profile-general-container">
          <h4 class="profile-body__title">
            <span translate>@common-info-basic</span>
          </h4>

          <!--    USER NAME   -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-name</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="name" data-ng-model="curUser.name"/>
            </div>
          </div>

          <!--    USER EMAIL  -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3" ><span translate>@common-email</span></label>
            <div class="col-sm-9">
              <select ng-model="curUser.u_email" class="form-control" name="email"
                      ng-options="email.id as email.id for email in account.emails | filter : {status:'confirmed'} ">
              </select>
            </div>
          </div>

          <!--    STATUS MESSAGE  -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-status-msg</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="nickName" data-ng-model="curUser.u_statusMessage" ng-maxlength="60"/>
            </div>
          </div>

        </div>

        <div class="user-profile-optional-container">
          <h4 class="profile-body__title">
            <span translate>@common-info-optional</span>
          </h4>

          <!--    PHONE NUMBER    -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-phone</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="phoneNumber" data-ng-model="curUser.u_extraData.phoneNumber" ng-maxlength="20"/>
            </div>
          </div>

          <!--    DEPARTEMENT -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-department</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="department" data-ng-model="curUser.u_extraData.department" ng-maxlength="60"/>
            </div>
          </div>

          <!--    POSITION    -->
          <div class="form-group">
            <label class="profile-body__label control-label col-sm-3"><span translate>@common-position</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="position" data-ng-model="curUser.u_extraData.position" ng-maxlength="60"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer profile-footer">
      <div>
        <button type="button" class="btn btn-cancel" ><span translate>@btn-close</span></button>
        <input class="btn btn-ok" type="submit" id="change_profile" value="{{ '@btn-edit' | translate }}"/>
      </div>
    </div>
  </div>

</div>