<!doctype html>
<!--[if lt IE 7]>      <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ preferences.serverLang }}" ng-app="jandiApp" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

  <title data-ng-bind="'Welcome to JANDI'"></title>
  <link type="image/icon" rel="shortcut icon">

  <meta name="description" content="JANDI Web application">
  <meta name="keywords" content="JANDI, 잔디">
  <meta name="author" content="TossLab">
  <meta name="viewport" content="width=device-width">

  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../../client/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="../../client/bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="../../client/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../../client/bower_components/ngImgCrop/compile/minified/ng-img-crop.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,client}) app/app.css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <!-- injector:css -->
  <link rel="stylesheet" href="../../client/app/app.css">
  <link rel="stylesheet" href="../../client/app/banner/desktop.notification.banner.css">
  <link rel="stylesheet" href="../../client/app/center/announcement/announcement.css">
  <link rel="stylesheet" href="../../client/app/center/center.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_input_box/center.chat.input.box.css">
  <link rel="stylesheet" href="../../client/app/center/help_messages/help.messages.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.comment.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.file.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.text.css">
  <link rel="stylesheet" href="../../client/app/center/messages/services/renderers/templates/center.unread.bookmark.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/file/center.file.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/dropdown/item/center.item.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/center_chat_templates/text-sending/text.sending.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/entity.header.css">
  <link rel="stylesheet" href="../../client/app/center/view_components/entity_header/topic_description/topic.description.css">
  <link rel="stylesheet" href="../../client/app/disconnect/disconnect.css">
  <link rel="stylesheet" href="../../client/app/header/header.css">
  <link rel="stylesheet" href="../../client/app/left/left.css">
  <link rel="stylesheet" href="../../client/app/util/directive/custom-selectbox/jnd.selectbox.css">

  <link rel="stylesheet" href="../../client/app/left/member/member.css">
  <link rel="stylesheet" href="../../client/app/left/messages/messages.css">
  <link rel="stylesheet" href="../../client/app/left/topics/dropdown/left.folder.dropdown.layer.css">
  <link rel="stylesheet" href="../../client/app/left/topics/folder/topic.folder.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topic/topic.css">
  <link rel="stylesheet" href="../../client/app/left/topics/topics.css">
  <link rel="stylesheet" href="../../client/app/left/topics/tutorial/left.tutorial.folder.css">
  <link rel="stylesheet" href="../../client/app/loading/loading.center.css">
  <link rel="stylesheet" href="../../client/app/main.css">
  <link rel="stylesheet" href="../../client/app/mention/mention.view.css">
  <link rel="stylesheet" href="../../client/app/mobile/mobile.catcher.css">
  <link rel="stylesheet" href="../../client/app/modal/files/integration/integration.css">
  <link rel="stylesheet" href="../../client/app/modal/files/share/share.css">
  <link rel="stylesheet" href="../../client/app/modal/images/carousel/image.carousel.css">
  <link rel="stylesheet" href="../../client/app/modal/images/full_image/full.screen.image.css">
  <link rel="stylesheet" href="../../client/app/modal/modal.css">
  <link rel="stylesheet" href="../../client/app/modal/settings/notification/setting.notification.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_change/team.change.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_invite/team.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/teams/team_member_list/team.member.list.css">
  <link rel="stylesheet" href="../../client/app/modal/terms/terms.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_create/topic.create.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_invite/topic.invite.css">
  <link rel="stylesheet" href="../../client/app/modal/topics/topic_join/topic.join.css">
  <link rel="stylesheet" href="../../client/app/right/file.detail/file.detail.css">
  <link rel="stylesheet" href="../../client/app/right/file/file.css">
  <link rel="stylesheet" href="../../client/app/right/files/files.css">
  <link rel="stylesheet" href="../../client/app/right/mentions/mentions.css">
  <link rel="stylesheet" href="../../client/app/right/message/message.css">
  <link rel="stylesheet" href="../../client/app/right/right.css">
  <link rel="stylesheet" href="../../client/app/right/rpanel_search/rpanel.search.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.message/search.message.css">
  <link rel="stylesheet" href="../../client/app/right/search.messages/search.messages.css">
  <link rel="stylesheet" href="../../client/app/right/stars/stars.css">
  <link rel="stylesheet" href="../../client/app/signin/signin.css">
  <link rel="stylesheet" href="../../client/app/sticker/sticker.css">
  <link rel="stylesheet" href="../../client/app/tpl/503/503.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/tutorial.main.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/center/tutorial.center.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/completion/tutorial.completion.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/entity_header/tutorial.entity.header.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/dm/send/lecture.dm.send.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/comment/lecture.file.comment.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/file/upload/lecture.file.upload.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/menu/team/lecture.menu.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/profile/change/lecture.profile.change.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/lecture/topic/leave/lecture.topic.leave.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/left/tutorial.left.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/invitation/tutorial.modal.team.invitation.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/member_list/tutorial.modal.member.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/profile/tutorial.modal.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_create/tutorial.modal.topic.create.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/modal/topic_list/tutorial.modal.topic.list.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/profile/tutorial.profile.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/purse/tutorial.purse.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/team/tutorial.team.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/top/tutorial.top.css">
  <link rel="stylesheet" href="../../client/app/tutorial/popup/view_components/tutor/tutorial.tutor.css">
  <link rel="stylesheet" href="../../client/app/tutorial/tutorial.css">
  <link rel="stylesheet" href="../../client/app/tutorial/welcome/tutorial.welcome.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-common.css">
  <link rel="stylesheet" href="../../client/app/util/css/jandi-icon.css">
  <link rel="stylesheet" href="../../client/app/util/css/spinners.css">
  <link rel="stylesheet" href="../../client/app/util/directive/jnd.tooltip.css">
  <link rel="stylesheet" href="../../client/components/app/mention_ahead/mention.ahead.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/dialog.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/modal/modal.css">
  <link rel="stylesheet" href="../../client/components/jandi/dialog/toast/toast.css">
  <!-- endinjector -->
  <!-- endbuild -->
</head>
<body active-notifier window-title-manager jnd-main-key-handler>
<!--[if lte IE 9]>
  <![endif]-->
  
  
  <div class="body-wrapper full-screen">
	  
	<div class="hpanel non-selectable ng-scope" ui-view="headerpanel"><div class="header ng-scope"></div></div>
	<div class="rpanel non-selectable shadow">
	  <div class="files ng-scope opac_in extend" ui-view="rightpanel">
		<div class="rpanel-container opac-zero ng-scope opac-in" ng-class="{'opac-in': isReady}">
		  <div class="rpanel-header">
			<i class="icon-delete" ng-click="closeRightPanel()"></i>
			<span class="ng-binding">파일</span>
		  </div>
		  
		  <div class="rpanel-search add-on-group" ng-if="tabs.files.active || tabs.messages.active">
			<span class="add-on-left">
			  <i class="icon-search"></i>
			</span>
			
			<div class="rpanel-search-select-all-container" ng-click="">
			  <input type="checkbox" id="right-panel-search-select-all">
			  <!-- translate:  --><span translate="" class="ng-scope"><span class="ng-scope">전체 선택</span></span>
			</div>
			
			<input type="text" id="right-panel-search-box" class="form-control rpanel-body-search__input search-input" placeholder="검색어를 입력하세요" ng-disabled="!isConnected">
			
		  </div>
		  
		  <div class="rpanel-body-tab-container ng-isolate-scope">
			  
			<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
				
			  <!--  FILE TAB  -->
			  <li ng-class="{active: active, disabled: disabled}" active="tabs.files.active" class="ng-isolate-scope active">
			    <a href="" ng-click="select()" tab-heading-transclude="" class="ng-binding"></a>
			  </li>
			</ul>
		  </div>
		  
		  <div class="tab-content">
			  
			<!-- ngRepeat: tab in tabs -->
			<div class="tab-pane ng-scope active" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
				
			  <r-panel-file-tab class="ng-scope">
			  
			    <!--    ADVANCED SEARCH OPTION  -->
			    <div class="advanced-search-option-container">
				    
				  <!-- 01 SHARED -->
				  <div class="advanced-search-option__category advanced-shared-option">
					  
					<div class="advanced-search-option__title">
					  <!-- translate:  -->
					  <span translate="" class="ng-scope"><span class="ng-scope">공유된 곳</span></span>
					</div>
					
					<div class="custom-select-box-btn ng-pristine ng-untouched ng-valid">
					  <i class="fa custom-selectbox-arrow icon-angle-down"></i>
					  <span translate="" class="ng-scope"><span class="ng-scope">모든 대화방</span></span>
					</div>
					
				  </div>
				  
				  <!-- 02 MEMBER -->
				  <div class="advanced-search-option__category advanced-member-option">
					  
					<div class="advanced-search-option__title">
					  <!-- translate:  -->
					  <span translate="" class="ng-scope"><span class="ng-scope">업로드한 멤버</span></span>
					</div>
					
					<div class="custom-select-box-btn ng-pristine ng-untouched ng-valid">
					  <i class="fa custom-selectbox-arrow icon-angle-down"></i>
					  <span translate="" class="ng-scope"><span class="ng-scope">모든 멤버</span></span>
					</div>
					
					
					<!-- Start : Custom Select Box Dropdown Menu  -->
					<div class="custom-select-box member-menu dropdown-menu" style="">
					  
					  <div class="custom-select-box__search-container">
						<span class="add-on-left"><i class="icon-search"></i></span>
						<input type="text" id="right-panel-search-box" class="form-control rpanel-custombox-search__input search-input" placeholder="검색어를 입력하세요">
					  </div>
					  
					  <div class="custom-select-box__menulist">
						  
						<a class="select-all">
						  <i class="icon-users"></i>
						  <span translate="" class="ng-scope"><span class="ng-scope">모든 멤버</span></span>
						</a>
						
						<div class="custom-select-box__menulist-category">
							
						  <!-- members -->
						  <div class="custom-select-box__menulist-items">
							<span translate class="ng-scope menulist-item-header"><span class="ng-scope">현재 멤버</span></span>
							
							<ul class="menulist-item-members">
								
							  <li class="topic-title menu-item">
							    <img class="header-title-member__dropdown__thumb" src="imgur-spinner.gif">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">저는지금배가고픕니다샐로드만먹었네요</span></span>
								</a>
							  </li>
							  <li class="topic-title menu-item">
							    <img class="header-title-member__dropdown__thumb" src="imgur-spinner.gif">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">버그제너레이터</span></span>
								</a>
							  </li>
							  <li class="topic-title menu-item">
							    <img class="header-title-member__dropdown__thumb" src="imgur-spinner.gif">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">답은이미정해져있으니넌대답만하면돼</span></span>
								</a>
							  </li>
							  <li class="topic-title menu-item">
							    <img class="header-title-member__dropdown__thumb" src="imgur-spinner.gif">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">아이유와장기하는11살차이</span></span>
								</a>
							  </li>
							  <li class="topic-title menu-item">
							    <img class="header-title-member__dropdown__thumb" src="imgur-spinner.gif">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">호머심슨</span></span>
								</a>
						      </li>
						      
						    </ul>
						    
						  </div>
						  
						  
						  <!-- blocked -->
						  <div class="custom-select-box__menulist-items toggle-menulist collapsed">
							<i class="fa custom-selectbox-arrow icon-angle-down"></i>
							<span translate class="ng-scope menulist-item-header"><span class="ng-scope">차단된 멤버</span></span>
						
							<ul class="menulist-item-block">
								
							  <li class="topic-title menu-item">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">스패머1</span></span>
								</a>
							  </li>
							  <li class="topic-title menu-item">
							    <a>
								  <span translate="" class="ng-scope"><span class="ng-scope">스패머2</span></span>
								</a>
							  </li>
							  
							</ul>
							
						  </div>
						  
						</div>
						
					  </div>
					  
					</div>
					<!-- End : Custom Select Box Dropdown Menu  -->
	    			
	    		  </div>
	    		  
	    		  <!-- 03 FILE TYPE -->
	    		  <div class="advanced-search-option__category advanced-file-option">
		    		  
		    		<div class="advanced-search-option__title">
			    	  <!-- translate:  -->
			    	  <span translate="" class="ng-scope"><span class="ng-scope">파일 타입</span></span>
			    	</div>
			    	
			    	<div class="custom-select-box-btn ng-pristine ng-untouched ng-valid">
				      <i class="fa custom-selectbox-arrow icon-angle-down"></i>
				      <span translate="" class="ng-scope"><span class="ng-scope">모든 타입</span></span>
				    </div>
				    
				  </div>
				  
				</div>
				
			  </r-panel-file-tab>
			  
			</div>
			
		  </div>
		  
		</div>
		
	  </div>
	</div>
  </div>
<script>
  FileAPI = {
    debug   : false,
    cors    : true,
    jsUrl   : location.protocol + '//' + location.host + '/javascripts/FileAPI.min.js',
    flashUrl: location.protocol + '//' + location.host + '/etc/FileAPI.flash.swf'
  };
</script>
<script src="../../client/bower_components/jquery/dist/jquery.js"></script>
<script>
	
  var active_search_all = false;
  var active_custombox = false;
  var active_blocked = true;
  
  /* toggle event for select-all btn */
  $('.rpanel-search-select-all-container').click(function(){
	if(!active_search_all){
	  $(this).addClass('active');
	  $('#right-panel-search-select-all').attr('checked', true);
	  $('#right-panel-search-select-all').prop('checked', true);
	  
	  $('.advanced-search-option__category').addClass('collapsed');
	  $('.advanced-search-option-container').addClass('collapsed');
	}
	else {
	  $(this).removeClass('active');
	  $('#right-panel-search-select-all').attr('checked', false);
	  $('#right-panel-search-select-all').prop('checked', false);
	  
	  $('.advanced-search-option__category').removeClass('collapsed');
	  $('.advanced-search-option-container').removeClass('collapsed');
	}
	
	active_search_all=!active_search_all;
	
  });
  
  /* toggle event for custombox btn */
  $('.custom-select-box-btn').click(function(){
	if(!active_custombox){
	  $(this).addClass('active');
	  $(this).find('.custom-selectbox-arrow').removeClass('icon-angle-down');
	  $(this).find('.custom-selectbox-arrow').addClass('icon-angle-up');
	  
	  $('.custom-select-box.member-menu').addClass('active');
	}
	else {
	  $(this).removeClass('active');
	  $(this).find('.custom-selectbox-arrow').addClass('icon-angle-down');
	  $(this).find('.custom-selectbox-arrow').removeClass('icon-angle-up');
	  
	  $('.custom-select-box.member-menu').removeClass('active');
	}
	
	active_custombox=!active_custombox;
	
  });
  
  /* toggle event for blocked member list header */
  $('.menulist-item-header').click(function(){
	if(active_blocked){
	  $('.custom-select-box__menulist').find('.toggle-menulist').removeClass('collapsed');
	  
	  $('.toggle-menulist').find('.custom-selectbox-arrow').addClass('icon-angle-up');
	  $('.toggle-menulist').find('.custom-selectbox-arrow').removeClass('icon-angle-down');
	}
	else {
	  $('.custom-select-box__menulist').find('.toggle-menulist').addClass('collapsed');
	  
	  $('.toggle-menulist').find('.custom-selectbox-arrow').removeClass('icon-angle-up');
	  $('.toggle-menulist').find('.custom-selectbox-arrow').addClass('icon-angle-down');
	}
	
	active_blocked=!active_blocked;
	
  });
  
</script>
<!-- build:js(client) app/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,client}) app/app.js -->
<!--<script src="components/app/session/session.js"><script> &ndash;&gt;-->
<!-- injector:js -->
<!-- endinjector -->
<!-- endbuild -->
</body>
</html>
