.modal-dialog .topic-admin-transfer .custom-select-box-btn {
  margin-top: 0;
  margin-bottom: 0;
}

.topic-admin-transfer {
  margin-top: 10px;
}

.topic-admin-transfer .custom-select-box-btn {
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  height: auto;
}

.topic-admin-transfer  .custom-select-box-btn > .icon-angle-down {
  top: 9px;
}

.topic-admin-transfer .control-label {
  width: 25%;
  padding-right: 0;
}

.topic-admin-transfer .help-description {
  position: relative;
  top: auto;
  right: auto;
}
.topic-admin-transfer .description-container {
  left: -125px;
}
.topic-admin-transfer .description-arrow-up {
  left: 124px;
}
