<!-- Modal: Rename Channel -->
<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel();"><i class="icon-cancel"></i></button>
  <h3 class="modal-header__title">
    <span translate>@common-rename</span>
  </h3>
</div>

<form name="topicRenameForm" ng-submit="onRenameClick(topicRenameForm);" novalidate="">
  <div class="modal-body topic-rename">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span translate>@common-new-name</span>
        </label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="newTopicName"
                 ng-model="topicName"
                 placeholder="{{ '@input-rename' | translate }}"
                 ng-maxlength="60"
                 ng-required/>
          <alert type="warning" class="profile-settings-body__alert" data-ng-if="topicRenameForm.newTopicName.$error.maxlength">
            {{ '@input-max-length-error' | translate}}
          </alert>
        </div>
      </div>
    </div>

    <div class="form-horizontal topic-description-container">
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span translate>@topic-description</span>
        </label>
        <div class="col-sm-9">
          <textarea
            class="form-control topic-description-input"
            name="topicDescription"
            ng-model="topicDescription"
            ng-maxlength="300"
            autocorrect="off"
            autocomplete="off">
          </textarea>
          <alert type="warning" class="profile-settings-body__alert" data-ng-if="topicRenameForm.topicDescription.$error.maxlength">
            {{ '@input-max-length-error' | translate}}
          </alert>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" data-ng-click="cancel()"><span translate>@btn-cancel</span></button>
    <input class="btn btn-ok" type="submit" id="rename_channel" value="{{ '@btn-update-name' | translate }}"
           ng-disabled="hasValueChanged('name') && hasValueChanged('description') || topicRenameForm.$invalid"/>
  </div>
</form>

<div class="loading_container" data-ng-if="isLoading">
  <div class="loading_container_background"></div>
  <div class="loading_bg"></div>
  <div class="loading_bar icon-loading"></div>
</div>
