<!-- Modal: Rename Channel -->
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel();"><i class="icon-delete"></i></button>
  <h3 class="modal-header__title">
    <span>{{ ::'@topic-rename-title' | translate }}</span>
  </h3>
</div>

<form name="topicRenameForm" ng-submit="onRenameClick(topicRenameForm);" novalidate="">
  <div class="modal-body topic-rename">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span>{{ ::'@common-name' | translate }}</span>
        </label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="newTopicName"
                 id="topic-rename-name"
                 jnd-input-model="form.topicName"
                 jnd-is-trim="on"
                 placeholder="{{ ::'@input-rename' | translate }}"
                 ng-required/>
          <alert type="warning" class="profile-settings-body__alert" ng-if="form.topicName.length > nameMaxLength">
            {{ ::'@input-max-length-error' | translate }}
          </alert>
        </div>
      </div>
    </div>
    
    <!--  TOPIC AUTO INVITE  -->
    <div ng-if="allowAutoJoin" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3 auto-invite-title">
          <span translate>@common-auto-join</span>
        </label>
        <div class="col-sm-9">
          <div class="modal-body-auto-invite-container">
          <input type="checkbox" id="topic-auto-invite" ng-model="form.isAutoJoin">
            <label for="topic-auto-invite">
              <div class="auto-invite-description">
                <span translate>@common-invite-all</span>
              </div>
            </label>
          </div>
        </div>
      </div>
	  </div>

    <div class="form-horizontal topic-description-container">
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span>{{ ::'@topic-description' | translate }}</span>
        </label>
        <div class="col-sm-9">
          <textarea
            class="form-control topic-description-input"
            name="form.topicDescription"
            jnd-input-model="form.topicDescription"
            jnd-is-trim="on"
            placeholder="{{ ::'@topic-description-placeholder' | translate }}"
            autocorrect="off"
            autocomplete="off">
          </textarea>
          <alert type="warning" class="profile-settings-body__alert" ng-if="form.topicDescription.length > descMaxLength">
            {{ ::'@input-max-length-error' | translate }}
          </alert>
        </div>
      </div>
    </div>

    <div class="form-horizontal topic-admin-transfer" ng-show="showAdminTrans">
      <div class="form-group">
        <label class="control-label col-sm-3">
          <span>{{::'@common-topic-admin' | translate}}</span>
          <span class="help-description cursor_pointer">
            <i class="fa fa-info-circle">
              <div class="description-container">
                <div class="description-arrow-up"></div>
                <div class="description-content-container">
                  <div class="help-description__description">
                    <span translate>@topic-admin-transfer-tooltip</span>
                  </div>
                </div>
              </div>
            </i>
          </span>
        </label>
        <div class="col-sm-9">
          <jnd-selectbox-member jnd-data-model="form.adminId"
                                jnd-data-list="selectOptionsUsers"
                                is-show-profile-image="true"
                                is-allow-all-member="false"></jnd-selectbox-member>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input class="btn btn-ok pull-right _modalSubmit" type="submit" id="rename_channel" value="{{ ::'@common-done' | translate }}"
           ng-disabled="isInvalid()"/>
    <button type="button" class="btn btn-cancel pull-right" ng-click="cancel()"><span>{{ ::'@btn-cancel' | translate }}</span></button>
    
  </div>
</form>
<jnd-loading></jnd-loading>
