<!-- main text-->
<div class="text-msg-item-container" ng-if="!isChildText">
  <!--  User Thumbnail -->
  <div class="msg-item-float cursor_pointer" data-ng-click="onUserClick();"
       disabled-member-detector="center-panel-disabled-member">
    <img on-image-load class="user-profile user-thumb"
         ng-src="{{ msg.exProfileImg }}"/>
  </div>

  <div class="msg-item-header"
       disabled-member-detector="center-panel-disabled-member">
    <!--    WRITER-->
    <span class="msg-item-header__name cursor_pointer" data-ng-click="onUserClick();">
      <span class="msg-item-header__nameSpace">
        <span ng-if="::msg.message.contentType !== 'file'" ng-bind="msg.extWriterName"></span>
      </span>
    </span>
  </div>
  <div class="msg-item-body">
    <!-- TEXT -->
    <div class="msg-text">
      <img ng-if="::msg.message.contentType === 'sticker'"  class="sticker size_5" src="{{::msg.message.content.url}}"/>
      <span ng-if="::msg.message.contentType !== 'sticker'"
            class="keep msg-text-body"
            compile="(msg.message.content.body) || ''"></span>

      <!--  TIME  -->
      <span class="msg-item-header__created" ng-bind="msg.extTime"></span>

      <!--  UNREAD COUNT  -->
      <span ng-if="msg.unreadCount" class="badge unread-badge" ng-bind="msg.unreadCount"></span>
    </div>
    <div class="msg-text-extra">
      <!-- More -->
      <span ng-if="::msg.message.contentType !== 'sticker' || isMyMessage"
            class="msg-item-icon">
        <span center-item-dropdown>
          <i class="icon-more-fill msg-item__action msg-item-circle msg-item-more cursor_pointer"></i>
        </span>
      </span>

      <!-- Star -->
      <span ng-if="::msg.message.contentType !== 'sticker'"
            class="cursor_pointer msg-item-star msg-item-icon msg-item-circle"
            ng-class="{'off msg-item__action': !msg.message.isStarred}"
            star-view="msg.message.isStarred"
            event-bubble="on"
            message-id="{{ msg.message.id }}">
        <i class="icon-star-fill"></i>
      </span>
    </div>
  </div>
</div>

<div class="text-msg-item-container" ng-if="isChildText">
  <div class="msg-item-body">
    <!-- TEXT -->
    <div class="msg-text">
      <img ng-if="::msg.message.contentType === 'sticker'" class="sticker size_5" src="{{msg.message.content.url}}"/>
      <span ng-if="::msg.message.contentType !== 'sticker'"
            class="keep msg-text-body"
            compile="(msg.message.content.body) || ''"></span>

      <!--  TIME  -->
      <span class="msg-item-header__created" ng-bind="msg.extTime"></span>

      <!--  UNREAD COUNT  -->
      <span ng-if="msg.unreadCount"
            class="badge unread-badge" ng-bind="msg.unreadCount">
      </span>
    </div>
    <div class="msg-extra">
      <!-- More -->
      <span ng-if="::msg.message.contentType !== 'sticker' || isMyMessage"
            class="msg-item-icon">
        <span class="" center-item-dropdown>
          <i class="icon-more-fill msg-item__action msg-item-circle msg-item-more cursor_pointer"></i>
        </span>
      </span>
      <!-- Star -->
      <span ng-if="::msg.message.contentType !== 'sticker'"
            class="cursor_pointer msg-item-star msg-item-icon msg-item-circle"
            ng-class="{'off msg-item__action': !msg.message.isStarred}"
            star-view="msg.message.isStarred"
            event-bubble="on"
            message-id="{{ ::msg.message.id }}">
        <i class="icon-star-fill"></i>
      </span>
    </div>
  </div>
</div>

<social-snippet ng-if="hasLinkPreview"></social-snippet>
